<header class="{{ header_type }} {{ header_nav }} {{ header_action }}">
	<div class="uiowa-bar">
		<div class="page__container">
			{% render '@logo--tab' %}
			{% if header_type == 'header--primary' %}
			{% elseif header_type == 'header--secondary' %}
				{% include '@site-name' with {'site_name'} %}
			{% elseif header_type == 'header--tertiary' %}
				{% include '@site-slogan' with {'site_slogan'} %}
			{% endif %}
			{% if not (header_type == 'header--tertiary') and (header_nav == 'header--toggle') %}
				{% include '@off-canvas' %}
			{% endif %}
		</div>
	</div>
</header>
