<h1>Heading classes</h1>


<pre class="language-js"><code>
<p class="h6">First Level</p>
<p class="h5">Second level</p>
<p class="h4">Third level</p>
<p class="h3">Fourth level</p>
<p class="h2">Fifth level</p>
<p class="h1">Sixth level</p>
<h1 class="h6">First Level</h1>
<h2 class="h5">Second level</h2>
<h3 class="h4">Third level</h3>
<h4 class="h3">Fourth level</h4>
<h5 class="h2">Fifth level</h5>
<h6 class="h1">Sixth level</h6>
</code>
</pre>


{{ /markdown }}
