

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
        
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <nav aria-label="Quick Links" role="navigation" class="menu--quick-links">
  <ul>
          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
<i class="far fa-bookmark"></i>
    A-Z Search
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
<i class="fas fa-user"></i>
    People Directory
    </a>
</li>

      </ul>
</nav>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


  </html>

