@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

:root {
  --element-spacing-lg: var(--space-lg-width-gutter);
  --element-spacing-sm: var(--space-sm-width-gutter);
}

// === Element alignment classes  === //
.element--alignment-left {
  @include breakpoint(sm) {
    float: left;
    margin-block: var(--element-spacing-sm);
    margin-inline-end: var(--element-spacing-sm);

    &[class*="bg-"] {
      margin-inline-end: var(--element-spacing-lg);
    }
  }
}

.element--alignment-center {
  @include breakpoint(sm) {
    margin: 0 auto;

    &[class*="bg-"] {
      margin-block: var(--element-spacing-sm);
    }
  }
}

.element--alignment-right {
  @include breakpoint(sm) {
    float: right;
    margin-block: var(--element-spacing-sm);
    margin-inline-start: var(--element-spacing-sm);

    &[class*="bg-"] {
      margin-inline-start: var(--element-spacing-lg);
    }
  }
}

// Set container query max-width sizes for images.
@supports (contain: inline-size) {
  @container column (min-width: #{$break-xxsm}) and (max-width: #{$break-sm}) {
    .element--alignment-right {
      float: right;
      margin-block: var(--element-spacing-sm);
      margin-inline-start: var(--element-spacing-sm);
    }

    .element--alignment-left {
      float: left;
      margin-block: var(--element-spacing-sm);
      margin-inline-end: var(--element-spacing-sm);
    }
  }
}
// === End: element alignment classes === //

// === Element media sizes === //
*[class*="element--size-"] {
  width: 100%;
}

.element--size-small {
  @include breakpoint(sm) {
    width: 35%;
  }
}

.element--size-medium {
  @include breakpoint(sm) {
    width: 45%;
  }
}

.element--size-large {
  @include breakpoint(sm) {
    width: 55%;
  }
}

// Set container query max-width sizes for images.
@supports (contain: inline-size) {
  *[class*="element--size-"] {
    width: 100%;
  }

  @container column (min-width: #{$break-xxsm}) {
    .element--size-small {
      width: 55%;
    }
  }

  @container column (min-width: #{$break-xsm}) {
    .element--size-medium {
      width: 65%;
    }
  }

  @container column (min-width: #{$break-md}) {
    .element--size-small {
      width: 45%;
    }

    .element--size-medium {
      width: 55%;
    }

    .element--size-large {
      width: 65%;
    }
  }
}
// === End: element media sizes === //
