@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

// === Inline media sizes === //

.element--small {
  @include breakpoint(sm) {
    width: 35%;
  }
}

.element--medium {
  @include breakpoint(sm) {
    width: 45%;
  }
}

.element--large {
  @include breakpoint(sm) {
    width: 55%;
  }
}

// Set container query max-width sizes for images.
@supports (contain: inline-size) {
  @container column (min-width: 555px) and (max-width: 755px) {
    .element--small {
      width: 50%;
    }
    .element--medium {
      width: 60%;
    }
    .element--large {
      width: 70%;
    }
  }
  @container column (max-width: 555px) {
    .element--small,
    .element--medium,
    .element--large {
      width: 70%;
      height: auto;
    }
  }
}

// === End: element media sizes === //
