@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

header {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

// Settings for the default version of the IOWA bar.
.iowa-bar {
  position: relative;
  z-index: 1;
  display: block;
  min-height: auto;
  background: $secondary;

  @include breakpoint(menu) {
    min-height: 80px;
    background: $primary;
  }

  .logo--tab {
    margin-right: 20px;

    @include breakpoint(container) {
      margin-left: -12px;
      margin-bottom: -10px;

      // More padding on top in this variation.
      padding: 27px 20px 20px;
    }
  }

  .site-name {
    width: 100%;
    padding: $gutter;
    background: $primary;

    @include breakpoint(menu) {
      width: auto;
      background: transparent;
      padding: 0;
    }
  }

  &__container {
    max-width: $container-width;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    @include breakpoint(menu) {
      justify-content: flex-start;
      display: flex;
    }

    @include breakpoint(menu) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  // Styles for the narrow version of the IOWA bar.
  &--narrow {
    @include breakpoint(menu) {
      min-height: 50px;
    }

    // Overrides the logo tab styles when using
    // the narrow version of the IOWA bar.
    .logo--tab {
      margin-right: 10px;

      @include breakpoint(menu) {
        height: 56px;
        width: 119px;
        padding: 15px;
      }

      // @todo Move this to search or search-toggle?
      .search-is-open & {
        visibility: none;
        opacity: 0;

        @include breakpoint(menu) {
          display: flex;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .logo-icon {
      height: 20px;

      @include breakpoint(menu) {
        height: 26px;
      }
    }

    .site-name {
      font-size: 1rem;
      margin: 0;
      padding: $gutter;
      background: $primary;

      @include breakpoint(menu) {
        background: transparent;
        font-size: 1rem;
        padding: 0;
      }
    }
  }

  // Styles for container underneath
  &__below {
    z-index: 2;
    border-bottom: 1px solid #ccc;
    background: #fff;

    & .iowa-bar__container {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 0;
      margin-left: 0;

      @include breakpoint(menu) {
        display: flex;
        position: unset;
        min-height: 90px;
        justify-content: unset;
        margin-right: auto;
        padding-left: 1.25rem;
      }

      @include breakpoint(container) {
        margin-left: auto;
        padding-left: 0;
      }
    }

    // Override .site-name styles when
    // displayed underneath the iowa-bar.
    .site-name {
      margin: 0;
      text-align: left;
      font-size: 1.8rem;

      @include breakpoint(menu) {
        width: 75%;
        padding: 25px 20px 25px 0;
        background: transparent;
        font-size: 2rem;
      }

      @include breakpoint(container) {
        font-size: 2.2rem;
      }

      // @todo Move to search or search-toggle?
      .search-is-open & {
        @include breakpoint(menu) {
          display: none;
        }
      }
    }
  }
}
