blockquote {
  font-weight: 400;
  font-style: none;
  font-family: "Zilla Slab", serif;
  border-left: 10px solid #FFCD00;
  padding: 1.875rem;
  font-size: 1.4rem;
  line-height: 1.7;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: 1.875rem; }
  blockquote cite {
    display: block; }
  blockquote .blockquote__media {
    max-width: 200px; }
  .bg--gray blockquote,
  .bg--gray blockquote,
  .bg--white blockquote,
  .bg--white--pattern--brain blockquote,
  .bg-pattern--brain blockquote {
    border-color: #FFCD00; }
  .bg--gold blockquote,
  .bg--gold--pattern--brain blockquote,
  .bg-pattern--brain-reversed blockquote {
    border-color: #fff; }
  .bg--black blockquote,
  .bg--black--pattern--brain blockquote,
  .bg-pattern--brain-black blockquote {
    border-color: #FFCD00; }
  blockquote p {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4rem; }
  blockquote footer {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 1.05rem;
    font-size: 1.2rem; }
  blockquote p + footer {
    margin-top: 0; }
  blockquote.blockquote--center, blockquote.blockquote--left, blockquote.blockquote--right {
    width: 100%; }
  blockquote.blockquote--center,
  .blockquote-center blockquote {
    text-align: center;
    border: none;
    position: relative;
    padding-top: 2.5rem;
    padding-right: 0.325rem;
    padding-bottom: 0.325rem;
    padding-left: 0.325rem; }
    blockquote.blockquote--center img,
    .blockquote-center blockquote img {
      margin: 0 auto;
      display: block; }
    blockquote.blockquote--center:before,
    .blockquote-center blockquote:before {
      position: absolute;
      content: '';
      height: 10px;
      top: 11px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 130px;
      background: #FFCD00;
      transition: 0.5s; }
  blockquote.blockquote--right,
  .blockquote-right blockquote {
    text-align: end;
    border-left: none;
    border-right: 10px solid #FFCD00;
    padding-top: 0.325rem;
    padding-right: 1.875rem;
    padding-bottom: 0.325rem;
    padding-left: 0; }
  blockquote.blockquote--img-above.blockquote--left .blockquote__media, blockquote.blockquote--img-above.blockquote--right .blockquote__media, blockquote.blockquote--img-below.blockquote--left .blockquote__media, blockquote.blockquote--img-below.blockquote--right .blockquote__media {
    margin-bottom: 0.9rem; }
    @media (min-width: 768px) {
      blockquote.blockquote--img-above.blockquote--left .blockquote__media, blockquote.blockquote--img-above.blockquote--right .blockquote__media, blockquote.blockquote--img-below.blockquote--left .blockquote__media, blockquote.blockquote--img-below.blockquote--right .blockquote__media {
        margin-bottom: 0; } }
  blockquote.blockquote--img-above.blockquote--center .blockquote__media, blockquote.blockquote--img-above.blockquote--left .blockquote__media, blockquote.blockquote--img-below.blockquote--center .blockquote__media, blockquote.blockquote--img-below.blockquote--left .blockquote__media {
    margin-right: 1.05rem; }
  blockquote.blockquote--img-above.blockquote--right .blockquote__media, blockquote.blockquote--img-below.blockquote--right .blockquote__media {
    margin-left: 1.05rem; }
  @media (min-width: 768px) {
    blockquote.blockquote--img-above .blockquote__media {
      flex: 0 1 25%; } }
  blockquote.blockquote--img-above .blockquote__content {
    flex: 0 1 75%; }
  blockquote.blockquote--img-above .blockquote__paragraph {
    position: relative;
    padding-bottom: 1.875rem; }
    blockquote.blockquote--img-above .blockquote__paragraph:after {
      position: absolute;
      content: '';
      height: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 130px;
      background: #FFCD00;
      transition: 0.5s; }
  blockquote.blockquote--img-above.blockquote--left, blockquote.blockquote--img-above.blockquote--right {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; }
  blockquote.blockquote--img-above.blockquote--right {
    flex-direction: row-reverse; }
    blockquote.blockquote--img-above.blockquote--right .blockquote__paragraph:after {
      right: 0;
      left: inherit; }
  blockquote.blockquote--img-above.blockquote--center {
    padding-top: 0; }
    blockquote.blockquote--img-above.blockquote--center:before {
      position: absolute;
      content: '';
      height: 0;
      top: 0.9rem;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 0;
      background: none;
      transition: 0.5s;
      display: none; }
    blockquote.blockquote--img-above.blockquote--center .blockquote__media {
      position: relative;
      margin: 0 auto 0.9rem; }
    blockquote.blockquote--img-above.blockquote--center .blockquote__paragraph:after {
      margin: 0 auto; }
  blockquote.blockquote--img-below .blockquote__media {
    max-width: 120px; }
  blockquote.blockquote--img-below footer {
    display: flex;
    margin-top: 1.05rem; }
  blockquote.blockquote--img-below cite {
    display: block;
    text-align: start; }
  blockquote.blockquote--img-below.blockquote--center footer {
    margin: 1.05rem auto 0;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      blockquote.blockquote--img-below.blockquote--center footer {
        max-width: 40%; } }
  blockquote.blockquote--img-below.blockquote--right footer {
    text-align: end;
    flex-direction: row-reverse;
    align-content: end; }
  blockquote.blockquote--img-below.blockquote--right cite {
    text-align: end; }
