blockquote {
  font-weight: 400;
  font-style: none;
  font-family: "Zilla Slab", serif;
  border-left: 8px solid #FFCD00;
  padding: 1.875rem;
  font-size: 1.4rem;
  line-height: 1.7;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: 1.875rem; }
  blockquote cite {
    display: block; }
  blockquote .media {
    max-width: 20%; }
  .bg--gray blockquote,
  .bg--white blockquote,
  .bg--gray blockquote,
  .bg-pattern--brain blockquote,
  .bg--white--pattern--brain blockquote {
    border-color: #FFCD00; }
  .bg-pattern--brain-reversed blockquote,
  .bg--gold--pattern--brain blockquote,
  .bg--gold blockquote {
    border-color: #fff; }
  .bg--black--pattern--brain blockquote,
  .bg-pattern--brain-black blockquote,
  .bg--black blockquote {
    border-color: #FFCD00; }
  blockquote p {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4rem; }
  blockquote footer {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 1.05rem;
    font-size: 1.2rem; }
  blockquote p + footer {
    margin-top: 0; }
  .blockquote-center blockquote, blockquote.blockquote--center {
    text-align: center;
    border: none;
    position: relative;
    padding-top: 2.5rem;
    padding-right: 0.325rem;
    padding-bottom: 0.325rem;
    padding-left: 0.325rem; }
    .blockquote-center blockquote img, blockquote.blockquote--center img {
      margin: 0 auto;
      display: block; }
    .blockquote-center blockquote:before, blockquote.blockquote--center:before {
      position: absolute;
      content: '';
      height: 10px;
      top: 15px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 15%;
      background: #FFCD00;
      transition: 0.5s; }
  .blockquote-right blockquote, blockquote.blockquote--right {
    text-align: right;
    border-left: none;
    border-right: 8px solid #FFCD00;
    padding-top: 0.325rem;
    padding-right: 1.875rem;
    padding-bottom: 0.325rem;
    padding-left: 0; }

blockquote.blockquote--img-below .media {
  margin-right: 20px; }

blockquote.blockquote--img-below footer {
  display: flex; }

blockquote.blockquote--img-below cite {
  display: block;
  text-align: left; }

blockquote.blockquote--left.blockquote--img-above .media {
  max-width: 15%; }

blockquote.blockquote--left.blockquote--img-above {
  border-left: none;
  margin-left: 0;
  padding-left: 20%; }
  blockquote.blockquote--left.blockquote--img-above .media {
    float: left;
    margin-right: 20px;
    position: absolute;
    left: 0; }
  blockquote.blockquote--left.blockquote--img-above footer {
    position: relative; }
    blockquote.blockquote--left.blockquote--img-above footer:after {
      position: absolute;
      content: '';
      height: 10px;
      bottom: -35px;
      margin: 0;
      left: 0;
      right: 0;
      width: 15%;
      background: #FFCD00;
      transition: 0.5s; }

blockquote.blockquote--right.blockquote--img-above {
  border-right: none;
  margin-right: 0;
  padding-right: 24%; }
  blockquote.blockquote--right.blockquote--img-above .media {
    float: right;
    margin-right: 20px;
    position: absolute;
    right: 0; }
  blockquote.blockquote--right.blockquote--img-above footer {
    position: relative; }
    blockquote.blockquote--right.blockquote--img-above footer:after {
      position: absolute;
      content: '';
      height: 10px;
      bottom: -35px;
      margin: 0;
      right: 0;
      right: 0;
      width: 15%;
      background: #FFCD00;
      transition: 0.5s; }

blockquote.blockquote--img-below.blockquote--right footer {
  text-align: right;
  flex-direction: row-reverse;
  align-content: end; }

blockquote.blockquote--img-below.blockquote--center footer {
  max-width: 40%;
  margin: 0 auto;
  align-items: center;
  justify-content: center; }

blockquote.blockquote--center.blockquote--img-above .media {
  position: relative;
  margin-bottom: 50px;
  margin: 0 auto 50px; }
  blockquote.blockquote--center.blockquote--img-above .media:after {
    position: absolute;
    content: '';
    height: 10px;
    bottom: -35px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 15%;
    background: #FFCD00;
    transition: 0.5s; }

blockquote.blockquote--center.blockquote--img-above:before {
  position: absolute;
  content: '';
  height: 0px;
  top: 15px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  background: none;
  transition: 0.5s;
  display: none; }
