

<div class="media--video">
  <div class="video-controls video">
                <button class="video-btn video-btn__pause" id="video-btn">
        <span class="element-invisible">Pause</span>
      </button>
      </div>
  <video autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="">
    <source src="" type="">
  </video>
  <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
  <!--[if lt IE 9]> <img src="" alt="" class=" ie8-poster"> <![endif]-->
</div>

