@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-medium;
  line-height: 1.125;
  letter-spacing: 0;
}

h1, .h1 {
  @include h1;
  font-size: clamp(2.4rem, calc(2.1408vw + 1.5972rem), 3.35rem);
}

h2, .h2 {
  @include h2;
  font-size: clamp(1.95rem, calc(0.7887vw + 1.6542rem), 2.3rem);
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
  @include h5;
}

h6, .h6 {
  @include h6;
}
