@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-medium;
  line-height: 1.125;
  letter-spacing: 0;
}

h1, .h1 {
  @include h1;
  font-size: clamp(2.3rem, calc(2.3662vw + 1.4127rem), 3.35rem);
}

h2, .h2 {
  @include h2;
  font-size: clamp(1.95rem, calc(0.7887vw + 1.6542rem), 2.3rem);
}

h3, .h3 {
  @include h3;
  font-size: clamp(1.65rem, calc(0.5915vw + 1.4282rem), 1.9125rem);
}

h4, .h4 {
  @include h4;
  font-size: clamp(1.45rem, calc(0.338vw + 1.3232rem), 1.6rem);
}

h5, .h5 {
  @include h5;
  font-size: clamp(1.3rem, calc(0.2254vw + 1.2155rem), 1.4rem);
}

h6, .h6 {
  @include h6;
}
