.table__responsive-container {
  border: 1px solid #eee;
  width: 100%;
  position: relative; }
  .table__responsive-container table {
    width: 100%; }
    .table__responsive-container table caption {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px); }
  .table__responsive-container--width-default {
    width: unset;
    display: inline-block; }
    .table__responsive-container--width-default table.table--width-default {
      width: unset; }
  .table__responsive-container.table__row-headers--true .table__sticky-heading:first-child {
    left: 0; }
  .table__responsive-container.table__row-headers--true.table--left-sticky-minwidth .table__sticky-heading:first-child {
    position: sticky; }
  .table__responsive-container.table--is-sticky-top .table__responsive-header {
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)); }
  .table__responsive-container.table__responsive-container--gray-borders {
    border: unset; }
    .table__responsive-container.table__responsive-container--gray-borders .table__visual-caption {
      border: #7c7c7c 1px solid;
      border-bottom: none; }
    .table__responsive-container.table__responsive-container--gray-borders table > tbody > tr:first-child th, .table__responsive-container.table__responsive-container--gray-borders table > tbody > tr:first-child td {
      border-top: none; }
    .table__responsive-container.table__responsive-container--gray-borders .table__responsive-header .table__sticky-heading {
      border-left: #7c7c7c 1px solid;
      border-bottom: #ddd 1px solid;
      border-top: #ddd 1px solid; }
      .table__responsive-container.table__responsive-container--gray-borders .table__responsive-header .table__sticky-heading:first-child {
        border-left: 1px solid #ddd; }
  .table__responsive-container.table--is-sticky-left.table--left-sticky-minwidth tbody th {
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); }
  .table__responsive-container.table--is-sticky-left.table--left-sticky-minwidth .table__sticky-heading:first-child {
    border-right: 1px solid #ccc;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); }
  .table__responsive-container .table__responsive-header__sticky-heading:first-child {
    border-right: none;
    transition: border-right 0.3s ease-in-out; }
  .table__responsive-container.table--left-sticky-minwidth table tbody th {
    position: sticky; }
  .text-formatted .table__responsive-container div {
    line-height: inherit;
    font-size: 1rem;
    margin-bottom: 0; }

.table__responsive-header {
  position: sticky;
  z-index: 1;
  top: 0; }
  .table__responsive-header__scroller {
    white-space: nowrap;
    overflow-x: hidden; }

.table__sticky-heading {
  background: var(--brand-gold);
  border: none;
  color: #151515;
  display: inline-block;
  font-size: 1rem;
  padding: 1.05rem;
  text-align: left;
  text-transform: uppercase; }
  .table__sticky-heading .text-positioner {
    white-space: break-spaces;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-weight: bold; }

.table__container {
  overflow-x: auto; }

.table.table--static tbody th,
.table.table--static thead th {
  position: static; }
