.uiowa-bar__slogan {
  flex-basis: content;
  margin: 0;
  padding: 16px 0 30px 0;
  font-weight: $font-weight-light;


  @include breakpoint(menu) {
    display: flex;
    align-items: center;
    width: auto;
    padding: 1px 0 0;
  }
}
