.grid-panel .grid-panel__img {
  align-self: start;
  width: 100%; }

.grid-panel.grid-panel--split {
  padding-top: 3rem; }
  @media (min-width: 84.375em) {
    .grid-panel.grid-panel--split {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }
  .grid-panel.grid-panel--split .grid-panel__content {
    text-align: left;
    padding: 0 3rem; }

.grid-panel.grid-panel--asymmetrical {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap; }
  @media (min-width: 84.375em) {
    .grid-panel.grid-panel--asymmetrical {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }

.grid-panel__column:nth-child(1) {
  grid-area: 1 / 1 / 4 / 4; }

.grid-panel__column:nth-child(2) {
  grid-area: 1 / 4 / 4 / 7; }
  @media (min-width: 84.375em) {
    .grid-panel__column:nth-child(2) {
      padding: 0 3.5rem 0 3rem; } }

@media (min-width: 84.375em) {
  .grid-panel__column.grid-panel__content:nth-child(2) {
    padding: 0 3.5rem 0 3rem; } }

.grid-panel__column-image-left {
  order: 1;
  flex-basis: 100%; }
  @media (min-width: 84.375em) {
    .grid-panel__column-image-left {
      grid-area: 1 / 1 / 4 / 5; } }

.grid-panel__column-content-right {
  flex-basis: 100%; }
  @media (min-width: 84.375em) {
    .grid-panel__column-content-right {
      grid-area: 1 / 5 / 4 / 7; } }

.grid-panel__column-image-right {
  grid-area: 1 / 3 / 4 / 7; }

.grid-panel__column-content-left {
  grid-area: 1 / 1 / 4 / 3;
  align-items: center; }
  .grid-panel__column-content-left h2.bold-headline,
  .grid-panel__column-content-left h2.bold-headline--positive,
  .grid-panel__column-content-left h2.bold-headline--negative {
    font-size: calc(4em + 1vw); }

.grid-panel__content {
  padding: 3rem;
  text-align: center;
  width: 100%; }
  @media (min-width: 84.375em) {
    .grid-panel__content {
      padding: 3rem 3.5rem 0 3rem;
      text-align: left; } }
  .grid-panel__content h2.bold-headline,
  .grid-panel__content h2.bold-headline--positive,
  .grid-panel__content h2.bold-headline--negative {
    font-size: calc(4em + 1vw); }

@media (max-width: 100.688em) and (min-width: 93.75em) {
  .grid-panel--asymmetrical p {
    font-size: 1.1rem; }
  .grid-panel__content .bold-headline--caps.bold-headline {
    font-size: calc(3em + .9vw) !important; } }

@media (max-width: 93.75em) and (min-width: 84.375em) {
  .grid-panel__content .bold-headline--caps.bold-headline {
    font-size: calc(3em + .3vw) !important; }
  .grid-panel--asymmetrical p {
    font-size: 1.1rem; } }
