@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';


.grid-panel {

  .grid-panel__img {
    align-self: start;
    width: 100%;
  }

  &.grid-panel--split {
    padding-top: 3rem;

    @include breakpoint(container) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }

    .grid-panel__content {
      text-align: left;
      padding: 0 3rem;
    }

  }


  &.grid-panel--asymmetrical {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    @include breakpoint(container) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }

  &__column:nth-child(1) {
    grid-area: 1 / 1 / 4 / 4;
  }

  &__column:nth-child(2) {
    grid-area: 1 / 4 / 4 / 7;

    @include breakpoint(container) {
      padding: 0 3.5rem 0 3rem;
    }
  }

  &__column.grid-panel__content:nth-child(2) {
    @include breakpoint(container) {
      padding: 0 3.5rem 0 3rem;
    }
  }


  &__column-image-left {
    order: 1;
    flex-basis: 100%;

    @include breakpoint(container) {
      grid-area: 1 / 1 / 4 / 5;
    }
  }

  &__column-content-right {
    flex-basis: 100%;

    @include breakpoint(container) {
      grid-area: 1 / 5 / 4 / 7;
    }

  }

  &__column-image-right {
    grid-area: 1 / 3 / 4 / 7;
  }

  &__column-content-left {
    grid-area: 1 / 1 / 4 / 3;
    align-items: center;


    h2.bold-headline,
    h2.bold-headline--positive,
    h2.bold-headline--negative {
      font-size: calc(4em + 1vw)
    }
  }
}


// styles for content within grid panel

.grid-panel__content {
  padding: 3rem;
  text-align: center;
  width: 100%;

  @include breakpoint(container) {
    padding: 3rem 3.5rem 0 3rem;
    text-align: left;
  }

  h2.bold-headline,
  h2.bold-headline--positive,
  h2.bold-headline--negative {
    font-size: calc(4em + 1vw);
  }
}


// size adjustment to prevent container overflow before breakpoint
@media (max-width:93.750em) and (min-width:84.375em) {
  .grid-panel__content .bold-headline--caps.bold-headline {
    font-size: calc(3em + .3vw) !important;
  }
  .grid-panel--asymmetrical p {
    font-size: 1.1rem;
  }
}
