.uids-accordion h2 {
  margin: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700; }
  .uids-accordion h2:not(:first-child) {
    margin-top: 1rem; }
  .uids-accordion h2 button {
    all: inherit;
    font-size: 1.2rem;
    width: 100%;
    background-color: #edeceb;
    padding: 1.05rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    transition-property: background-color;
    cursor: pointer; }
    .uids-accordion h2 button:focus {
      outline: 5px auto -webkit-focus-ring-color; }
    .uids-accordion h2 button i, .uids-accordion h2 button svg {
      color: currentColor;
      transform: rotate(-180deg) translate(0px, -0.1em);
      transition: all 0.3s ease-in-out;
      transition-property: transform, background-color;
      background-color: transparent;
      width: 30px !important;
      height: 30px;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -0.3rem 0;
      border-radius: 50%; }
    .uids-accordion h2 button:hover, .uids-accordion h2 button:focus {
      background-color: #e3e2e0; }
      .uids-accordion h2 button:hover i, .uids-accordion h2 button:focus i {
        transform: rotate(-180deg) translate(0px, -0.2em); }
      .uids-accordion h2 button:hover[aria-expanded="true"] i, .uids-accordion h2 button:hover[aria-expanded="true"] svg, .uids-accordion h2 button:focus[aria-expanded="true"] i, .uids-accordion h2 button:focus[aria-expanded="true"] svg {
        transform: rotate(0deg) translate(0px, 0em); }
    .uids-accordion h2 button[aria-expanded="true"] i, .uids-accordion h2 button[aria-expanded="true"] svg {
      transform: rotate(0deg) translate(0px, 0.1em);
      background-color: #fafafa; }

.uids-accordion .uids-accordion__content {
  padding: 0.625rem 1.05rem;
  border: 1px solid #edeceb; }
  .uids-accordion .uids-accordion__content p {
    font-size: inherit; }
