.portrait {
  @include flexbox;
  @include flex-wrap($value: wrap);
  @include flex($fg: 1, $fs: 1, $fb: 0);

  @include breakpoint(sm) {
    @include margin($right: $md, $left: $md);
  }

  &:first-child {
    @include margin($left: 0);
    flex-basis: 100%;
    text-align: center;
    @include breakpoint(container) {
      flex: 1 1 0;
      text-align: left;

    }
  }

  &:nth-child(2) {
    @include margin($left: 0);
    @include breakpoint(container) {
      @include margin($left: $md);
    }
  }

  &:last-child {
    @include margin($right: 0);
  }

  &__wrapper {
    margin: $mobile-height-gutter $mobile-width-gutter;
    @include breakpoint(sm) {
      margin: $mobile-height-gutter $desktop-width-gutter;
    }
    @include breakpoint(container) {
      margin: $desktop-height-gutter $desktop-width-gutter;
    }
  }

  &__container {
    margin: 0;

    @include breakpoint(sm) {
      @include flexbox;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: $gutter;



    @include breakpoint(sm) {
      margin-bottom: 0;
    }
  }

  &__overlay {
    position: absolute;
    padding: $md;
    @include breakpoint(sm) {position: relative;padding: 0;}
     @include breakpoint(menu) {
       position: absolute;
       padding: $md;
        min-height: 150px;
     }
    z-index: 100;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    flex-flow: column nowrap;
    justify-content: center;

    color: $white;
    font-size: $h6-font-size;

    &.active {
      display: none;
    }
  }

  &__body {
    @include breakpoint(sm) {
      max-width: 60%;
      margin: $lg auto;
    }
     @include breakpoint(container) {
       max-width: 100%;
     }
  }

  &__sub {
    display: inline-block;
    margin: 0;
    color: $secondary;
    font-size: .9rem;

    span {
      padding: 5px 15px 5px 10px;
      background-color: $primary;
        @include breakpoint(sm) {
          display: block;
          width: 100%;
        }

        @include breakpoint(menu) {
          display: inline;
          width: auto;
        }
    }
  }

  &__title {
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    background: $secondary;
    font-family: $font-family-caps-light;
    font-size: $h6-font-size;
    font-weight: $font-weight-medium-bold;
    @include breakpoint(sm) {display: block;width: 100%;}
     @include breakpoint(menu) {
       display: inline-block;
       width: auto;
     }
  }
}


button.vidbttn>* {
  pointer-events: none;
}


.vidbttn {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 45%;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 50%;
  background: transparent;
  background: black;

  &:before {
    margin-left: -8px;
    content: "\f144";
    color: $primary;
    font-size: 3.5rem;
    @include fas();
  }

  &.paused:before {
    content: "\f28b";
  }

  span {
    display: none;
  }
}

@media (hover:none),
(hover:on-demand) {
  .vidbttn {
    display: none;
  }
}


.embed-responsive.active .vidbttn.active {
  display: none;
}

.embed-responsive.active:hover .vidbttn.active {
  display: block;
}

.underline--text-shadow {
  text-shadow:
    -2px -2px white,
    -2px 2px white,
    2px -2px white,
    2px 2px white;
}

.underline {
  display: inline;
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.2em #000;
}

.underline--gold {
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.25em $primary;
}

.bold-headline--serif {
     font-size: calc(100% + 5vw);

     @include breakpoint(sm) {
       font-size: calc(100% + 2vw);
     }
}


video::cue {
  font-size: 20px;
  line-height: 1;
  padding: 5px;
}

video::cue i {
  font-style: italic;
}

video::cue(v) {

}

video::cue(c) {

}
