.portrait {
  @include flexbox;
  @include flex-wrap($value: wrap);
  @include flex($fg: 1, $fs: 1, $fb: 0);

  @include breakpoint(sm) {
    @include margin($right: $md, $left: $md);
  }

  &:first-child {
    @include margin($left: 0);
  }

  &:last-child {
    @include margin($right: 0);
  }
  &__wrapper {
   margin: 4.10rem;
  }

  &__container {
    margin: 0;

    @include breakpoint(sm) {
      @include flexbox;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 150px;
    padding: $md;
    color: $white;
    font-size: $h6-font-size;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: baseline;
    &.active {
      display: none;
    }
  }

  &__sub {
    margin: 0;
    font-size: .9rem;
    color: $secondary;
    display: inline-block;
    span {
      background-color: $primary;
      padding: 5px 15px 5px 10px;
      }
  }

  &__title {
    margin: 0;
    font-size: $h6-font-size;
    font-family: $font-family-caps-light;
    font-weight: $font-weight-medium-bold;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    background: $secondary;
    display: inline-block;
  }
}


/*
.bttn--video {
  position: absolute;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  top: 50%;
  z-index: 100;
  left: 45%;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  &:hover {
    border-color: transparent transparent transparent #404040;
  }
}
*/

button.bttn--video >* {
  pointer-events: none;
}



.bttn--video {
    position: absolute;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    top: 50%;
    z-index: 100;
    left: 45%;
  background: black;
  width: 55px;
  border-radius: 50%;
  height: 55px;

  &:before {
    margin-left: -8px;
    content: "\f144";
    color: $primary;
    font-size: 3.5rem;
    @include fas();

  }

  &.paused:before {
    content: "\f28b";
  }

  span {
    display: none;
  }
}


.embed-responsive.active .bttn--video.active {
  display: none;
}

.embed-responsive.active:hover .bttn--video.active {
  display: block;
}


.bold-headline--serif {
  text-decoration: 1px solid $primary;
}


.underline--text-shadow {
  text-shadow:
    -2px -2px white,
    -2px 2px white,
    2px -2px white,
    2px 2px white;
}

.underline {
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.2em #000;
  display: inline;
}

.underline--gold {
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.25em gold;
}


.bold-headline--serif {
  font-size: 3.875rem;
}
