<li class="portrait">
	<div class="portrait__item">

		<div class="embed-responsive embed-responsive-9by16">
			<button class="vidbttn">
				<span id="label">Play</span>
			</button>

			<video class="player" preload="metadata" poster="{{ item.portrait_poster }}">
				<source src="{{ item.portrait_link }}" type="video/mp4">
				<track label="English" kind="subtitles" srclang="en" src="{{ item.portrait_srt }}" default="default"/>
				<p>Video is not Supporting</p>
			</video>

		</div>

		{% include "@highlight" with {
      "highlight_title" : item.portrait_title,
      "highlight_sub" : item.portrait_sub
    } %}

	</div>
</li>
