<div class="portrait__bg">
	<div class="portrait__wrapper">
		<ul class="portrait__container">
			<li class="portrait">
				<div class="portrait__item">
					{% include '@headline' with {
      "headline_level": 'h1',
			"headline_title": 'Hear from Hawkeyes',
			"headline_type": 'bold-headline bold-headline--serif underline--text-shadow underline underline--gold'
    } %}
					<p class="portrait__body">High rankings and cool buildings don’t make Iowa exceptional. Hawkeyes do. Meet just a few of the Hawkeyes making an impact.</p>
				</div>
			</li>

			{% for item in portrait.items %}
				{% include "@portraits-block--basic" %}
			{% endfor %}

		</ul>
	</div>
</div>
