


<div class="card bg--white card--stacked" >
            <div class="card__media ">
                  <img class="card__img" src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/feature1.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="headline card__title">
        <span class="headline__text">Dedicated to having an impact on human health</span>
    </h2>
          
                  <div class="card__details">
                                    <div class="card__subtitle">By Lee Hermiston</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                </div>
</div>

