@import "reset";

:root {
  // Colors
  --brand-primary: #FFCD00;
  --brand-secondary: #000000;
  // Margin/Padding
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

:focus:not(:focus-visible) {
  outline: none
}
