@import "reset";

:root {
  --brand-primary: #FFCD00;
  --brand-secondary: #000000;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 0em) and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

.mobile-display {
   @include breakpoint(sm) {
     display: none;
   }
}

:focus:not(:focus-visible) {
  outline: none
}

// utilities

.element--center {
  @extend %uids-component--center;
}

.element--flex-center {
  @extend %uids-component--flex-center;
}

.element--left {
  @extend %uids-component--left;
}

.element--flex-left {
  @extend %uids-component--flex-left;
}
