@import '../../assets/scss/variables';

// Media Queries ///////////////
@mixin breakpoint($class) {
  @if $class==xs {
    @media (max-width: calc(#{break-$sm} - 1px)) {
      @content;
    }
  }

  @if $class==xsm {
    @media (min-width: $break-xsm) {
      @content;
    }
  }

  @else if $class==sm {
    @media (min-width: $break-sm) {
      @content;
    }
  }

  @else if $class==md {
    @media (min-width: $break-md) {
      @content;
    }
  }

  @else if $class==lg {
    @media (min-width: $break-lg) {
      @content;
    }
  }

  @else if $class==page-container {
    @media (min-width: $break-page-container) {
      @content;
    }
  }

  @else if $class==xlg {
    @media (min-width: $break-xlg) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, xsm, sm, md, lg, page-container, xlg";
  }
}
