aside .region,
.layout-content .region {
  padding: 0;
  border: none;
}

.layout-container {
  @extend %container;
}

.page__container {
  @extend %container;

  &--mixed {
    @extend %container;
  }
}

.flex__wrapper {
  @include breakpoint(sm) {
    flex-wrap: wrap;
    @include flexbox;
  }
}
