@font-face {
  font-family: 'amnestyscript';
  src: url('../fonts/amnesty-script-webfont.woff2') format('woff2'),
    url('../fonts/amnesty-script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Antonio-fallback";
  text-transform: uppercase;
  size-adjust: 99%;
  //ascent-override: 20%;
  src: local("Arial Narrow");
}

@font-face {
  font-family: "Zilla-fallback";
  size-adjust: 91%;
  ascent-override: 99%;
  src: local("Georgia");
}
