// Utility color variables

$primary: #FFCD00;
$secondary: #151515;
$light: #f3f3f3;
$grey: #737373;
$grey-light: #cacaca;
$brand-cool-gray: #63666A;

$success: #00664F;
$success-light: lighten($success, 76%);

$info: #00558C;
$info-light: lighten($info, 70%);

$warning: $primary;
$warning-light: lighten($primary, 45%);

$danger: #BD472A;
$danger-light: lighten($danger, 50%);

// Links

$link-color: $info;

// img path

$imgpath: '../../assets/images' !default;

// Additional Colors

$white: #fff;
$blk: #000;
$dark-gray: lighten($blk, 20%);
$med-gray: lighten($blk, 40%);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);
$dark: #343a40;

// Borders

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$border-width: 1px;

// Typography

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Zilla Slab', 'Zilla-fallback', serif;
$font-family-serif-alt: 'Lora', serif;
$font-family-caps: 'Antonio', 'Antonio-fallback', sans-serif;
$font-family-caps-light: 'Antonio', 'Antonio-fallback', sans-serif;
$font-family-caps-bold: 'Antonio', 'Antonio-fallback', sans-serif;
$font-family-script: 'amnestyscript';

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 900;

$headings-font-weight: $font-weight-medium;

$h1-font-size: 3.35rem;
$h2-font-size: 2.3rem;
$h3-font-size: 1.9125rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.4rem;
$h6-font-size: 1.2rem;

$content-font-size: 1.2rem;
$base-font-size: 1rem;
$small-font-size: .8rem;

$text-muted: $grey;

// Container

$container-width: 81.875em;

// Margin/Padding

$mobile-width-gutter: 1.25rem; // 20px
$desktop-width-gutter: 3rem; // 20px
$mobile-height-gutter: 2rem; // 20px
$desktop-height-gutter: 8rem; // 20px

$gutter: 1.25rem; // 20px

$xsm: 0.325rem; // 5px
$xsm-sm: .425rem;
$sm: 0.625rem; // 10px
$sm-md: 0.9rem; // 15px
$md: 1.05rem;
$lg: 1.875rem; // 30px
$xlg: 2.5rem; // 40px
$xxlg: 3.15rem; // 50px
$xxxlg: 3.75rem; // 60px

// Breakpoints.

$break-xxsm: 400px;
$break-xsm: 600px;
$break-sm: 768px;
$break-md: 855px;
$break-lg: 1200px;
$break-page-container: 84.375em;
$break-xlg: 106em;

// Drop shadow.

$soft-drop-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);


:root {
  // Margin/Padding

  --space-lg-width-gutter: 3rem;
  --space-sm-width-gutter: 1.25rem;
}
