@import 'variables';
@import 'utilities';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-medium;
  line-height: 1.125;
  letter-spacing: 0;
}

h1, .h1 {
  @include h1;
}

.h1 {
  &.bold-headline--serif,
  &.headline--serif {
    @include h1;
    font-weight: $font-weight-bold;
  }
}

h2, .h2 {
  @include h2;
  // Overriding the size for Zilla so that the size is equal to Roboto.
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: containerClamp(1.75rem, 2.525rem);
  }
}

h3, .h3 {
  @include h3;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: containerClamp(1.65rem, 2.1375rem);
  }
}

h4, .h4 {
  @include h4;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: containerClamp(1.45rem, 1.825rem);
  }
}

h5, .h5 {
  @include h5;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: containerClamp(1.3rem, 1.625rem);
  }
}

h6, .h6 {
  @include h6;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: containerClamp(1.2rem, 1.425rem);
  }
}
