@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import '_variables.scss';
@import '_utilities.scss';
@import 'base';
@import '_layout-main.scss';
@import '_local-fonts.scss';
@import '_google-fonts.scss';
@import 'typography/paragraph/paragraph.scss';
