@import url('https://use.fontawesome.com/releases/v6.4.2/css/all.css');
@import 'abstracts/variables';
@import 'abstracts/utilities';
@import "abstracts/layout-main";
@import "abstracts/local-fonts";

@import 'paragraph.scss';
@import 'utility-classes';

@import "reset";

:root {
  // Colors
  --brand-primary: #FFCD00;
  --brand-secondary: #000000;
  // Margin/Padding
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

:focus:not(:focus-visible) {
  outline: none
}
