.uids-content fieldset {
  margin: 1rem 0;
  padding: 1.11111rem;
  border: 1px solid #cacaca; }

.uids-content legend {
  display: table;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
  margin-bottom: 0; }

.uids-content progress {
  vertical-align: baseline; }

.uids-content textarea {
  overflow: auto; }

.uids-content [type="checkbox"],
.uids-content [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.uids-content [type="number"]::-webkit-inner-spin-button,
.uids-content [type="number"]::-webkit-outer-spin-button {
  height: auto; }

.uids-content [type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

.uids-content [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.uids-content ::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

.uids-content details {
  display: block; }

.uids-content summary {
  display: list-item; }

.uids-content template {
  display: none; }

.uids-content [hidden] {
  display: none; }

.uids-content textarea {
  height: auto;
  min-height: 100px; }

.uids-content select {
  box-sizing: border-box;
  width: 100%; }

.uids-content pre {
  overflow: auto; }

.uids-content optgroup,
.uids-content select,
.uids-content textarea {
  font-family: inherit; }

.uids-content [type='text'],
.uids-content [type='password'],
.uids-content [type='date'],
.uids-content [type='datetime'],
.uids-content [type='datetime-local'],
.uids-content [type='month'],
.uids-content [type='week'],
.uids-content [type='email'],
.uids-content [type='number'],
.uids-content [type='search'],
.uids-content [type='tel'],
.uids-content [type='time'],
.uids-content [type='url'],
.uids-content [type='color'],
.uids-content textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  color: #0a0a0a;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.uids-content [type='text']:focus,
.uids-content [type='password']:focus,
.uids-content [type='date']:focus,
.uids-content [type='datetime']:focus,
.uids-content [type='datetime-local']:focus,
.uids-content [type='month']:focus,
.uids-content [type='week']:focus,
.uids-content [type='email']:focus,
.uids-content [type='number']:focus,
.uids-content [type='search']:focus,
.uids-content [type='tel']:focus,
.uids-content [type='time']:focus,
.uids-content [type='url']:focus,
.uids-content [type='color']:focus,
.uids-content textarea:focus {
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  border: 1px solid #8a8a8a;
  outline: none;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca; }

.uids-content textarea {
  max-width: 100%; }

.uids-content textarea[rows] {
  height: auto; }

.uids-content input:disabled,
.uids-content input[readonly],
.uids-content textarea:disabled,
.uids-content textarea[readonly] {
  cursor: not-allowed;
  background-color: #fff; }

.uids-content [type='submit'],
.uids-content [type='button'] {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 1.25rem;
  padding: 1rem 2rem 1rem;
  font-family: "antoniobold", sans-serif; }
  .uids-content [type='submit'] i,
  .uids-content [type='submit'] svg,
  .uids-content [type='button'] i,
  .uids-content [type='button'] svg {
    margin-left: 0.625rem;
    color: #FFCD00; }

.uids-content input[type='search'] {
  box-sizing: border-box; }

.uids-content input#edit-submit,
.uids-content input#edit-actions-submit {
  color: #151515;
  background: #FFCD00; }
  .uids-content input#edit-submit i,
  .uids-content input#edit-submit svg,
  .uids-content input#edit-submit span,
  .uids-content input#edit-actions-submit i,
  .uids-content input#edit-actions-submit svg,
  .uids-content input#edit-actions-submit span {
    color: #fff; }

.uids-content input#edit-preview {
  border: 1px solid #FFCD00;
  color: #151515;
  background: white;
  margin-left: 1.05rem; }
  .uids-content input#edit-preview i,
  .uids-content input#edit-preview span {
    color: #FFCD00; }
  .uids-content input#edit-preview svg {
    color: #FFCD00; }

.uids-content ::-webkit-input-placeholder {
  color: #cacaca; }

.uids-content :-ms-input-placeholder {
  color: #cacaca; }

.uids-content ::-ms-input-placeholder {
  color: #cacaca; }

.uids-content ::-moz-placeholder {
  color: #cacaca; }

.uids-content ::placeholder {
  color: #cacaca; }

.uids-content [type='file'],
.uids-content [type='checkbox'],
.uids-content [type='radio'] {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.625rem; }

.uids-content [type='checkbox'] + label,
.uids-content [type='radio'] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 0.625rem;
  margin-bottom: 0;
  margin-left: 0.325rem; }

.uids-content [type='checkbox'] + label[for],
.uids-content [type='radio'] + label[for] {
  cursor: pointer; }

.uids-content label > [type='checkbox'],
.uids-content label > [type='radio'] {
  margin-right: 0.625rem; }

.uids-content [type='file'] {
  width: 100%; }

.uids-content label {
  display: block;
  margin: 0;
  color: #151515;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.8; }

.uids-content .help-text {
  margin-top: -0.5rem;
  color: #151515;
  font-size: 0.8rem;
  font-style: italic; }

.uids-content select {
  height: 3.5rem;
  padding: 0.325rem;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  color: #151515;
  border: 1px solid #cacaca;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-repeat: no-repeat;
  background-position: right -1rem center;
  background-origin: content-box;
  background-size: 9px 6px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0.625rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 1.875rem;
  padding-left: 1.05rem; }

@media screen and (min-width: 0\0) {
  .uids-content select {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }

.uids-content select:focus {
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  border: 1px solid #8a8a8a;
  outline: none;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca; }

.uids-content select:disabled {
  cursor: not-allowed;
  background-color: #e6e6e6; }

.uids-content select::-ms-expand {
  display: none; }

.uids-content select[multiple] {
  height: auto;
  background-image: none; }

.uids-content .form-error {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: #c60f13;
  font-size: 0.75rem;
  font-weight: bold; }

.uids-content .form-error.is-visible {
  display: block; }

.uids-content .help-text,
.uids-content .description {
  margin-top: -0.5rem;
  color: #0a0a0a;
  font-size: 0.8125rem;
  font-style: italic; }

.uids-content .description {
  margin: 0.5rem 0; }
  .uids-content .description .webform-element-more {
    margin-top: 0.3rem; }

.uids-content .form-item,
.uids-content .form-actions {
  margin-top: 1em;
  margin-bottom: 1em; }

.uids-content .form-item {
  padding: 0rem 0rem; }

.uids-content .form-type-webform-multiple .webform-multiple-table {
  margin-bottom: 10px; }
  .uids-content .form-type-webform-multiple .webform-multiple-table thead th {
    border-top: none;
    padding: 0px; }
  .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable {
    position: relative; }
    .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--handle {
      padding: 0rem 0.75rem; }
      .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--handle .tabledrag-handle {
        margin: 0rem;
        height: 16px;
        width: 100%;
        display: flex;
        justify-content: center; }
        .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--handle .tabledrag-handle .handle {
          background-position: 0rem;
          width: 16px;
          height: 16px;
          padding: 0rem;
          margin: 0rem; }
      .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--handle + td {
        padding-left: 0rem; }
        .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--handle + td fieldset {
          margin-bottom: 0rem; }
        .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--handle + td input {
          margin: 0; }
    .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable td.webform-multiple-table--weight {
      vertical-align: middle; }
      .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable td.webform-multiple-table--weight .form-group {
        margin-bottom: 0px; }
    .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--operations {
      width: 16px;
      padding: 0rem 1rem 0rem 0rem; }
      .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable .webform-multiple-table--operations .form-control {
        display: inline-block;
        margin-bottom: -3px;
        border: none;
        width: 18px;
        height: 18px; }
    .uids-content .form-type-webform-multiple .webform-multiple-table tr.draggable.drag {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.uids-content .form-type-webform-multiple .webform-multiple-add {
  display: flex; }
  .uids-content .form-type-webform-multiple .webform-multiple-add .button {
    color: #151515;
    background: #FFCD00; }
    .uids-content .form-type-webform-multiple .webform-multiple-add .button i,
    .uids-content .form-type-webform-multiple .webform-multiple-add .button svg,
    .uids-content .form-type-webform-multiple .webform-multiple-add .button span {
      color: #fff; }
  .uids-content .form-type-webform-multiple .webform-multiple-add div[class*="-add-more-items"] {
    display: flex;
    margin: 0; }
    .uids-content .form-type-webform-multiple .webform-multiple-add div[class*="-add-more-items"] input {
      height: unset;
      width: unset;
      margin: 0 1rem; }
  .uids-content .form-type-webform-multiple .webform-multiple-add .form-control {
    width: unset; }
    .uids-content .form-type-webform-multiple .webform-multiple-add .form-control.form-number {
      display: inline-block; }
  .uids-content .form-type-webform-multiple .webform-multiple-add .field-suffix {
    display: inline-block;
    color: #666666;
    line-height: 1.4;
    font-size: 1.25rem;
    display: flex;
    align-items: center; }

.uids-content .form-type-webform-multiple .tabledrag-toggle-weight {
  font-size: inherit;
  color: #666666;
  padding: 1rem; }

.uids-content .form-type-webform-multiple .tabledrag-toggle-weight-wrapper {
  justify-content: flex-end; }

.uids-content .form-type-webform-multiple .webform-multiple-table--weight .webform-multiple-sort-weight {
  width: 4em; }

.uids-content .form-type-webform-multiple .webform-multiple-table--operations input[type="image"] {
  border: none; }

.uids-content .fieldgroup {
  padding: 0.75rem; }

.uids-content .webform-scale .webform-scale-options .webform-scale-option {
  display: inline-block; }

.uids-content .webform-scale .webform-scale-options input {
  transition: all 0.3s ease-in-out;
  transition-property: border-color, background-color; }

.uids-content .webform-scale .webform-scale-options input:checked + label {
  border-color: #FFCD00;
  background-color: rgba(255, 205, 0, 0.2); }

.uids-content .webform-scale label {
  width: 36px;
  height: 36px;
  font-size: 1.2em;
  line-height: 1.7em;
  margin: 0 .625rem;
  text-align: center;
  color: #666;
  border: 3px solid #ccc;
  border-radius: 50%;
  background-color: #fff; }

.uids-content .form-managed-file .button {
  color: #151515;
  background: #FFCD00;
  display: block; }
  .uids-content .form-managed-file .button i,
  .uids-content .form-managed-file .button svg,
  .uids-content .form-managed-file .button span {
    color: #fff; }

.uids-content .form-managed-file input[multiple="multiple"].button {
  margin: 0 0 1rem 0; }

.uids-content .webform-message {
  margin: 0.625rem 0; }
  .uids-content .webform-message div[role="alert"].alert {
    background: #f2faff;
    padding: 1.05rem 0;
    border: 1px solid;
    border-color: rgba(0, 85, 140, 0.03);
    border-bottom: 2px solid rgba(0, 85, 140, 0.8); }
    .uids-content .webform-message div[role="alert"].alert .close:before {
      background: rgba(0, 85, 140, 0.8); }
    .uids-content .webform-message div[role="alert"].alert.alert-danger {
      background: #fbeeeb;
      border-color: rgba(189, 71, 42, 0.03);
      border-bottom: 2px solid rgba(189, 71, 42, 0.8); }
      .uids-content .webform-message div[role="alert"].alert.alert-danger .close:before {
        background: rgba(189, 71, 42, 0.8); }
    .uids-content .webform-message div[role="alert"].alert.alert-success {
      background: #ebfffa;
      border-color: rgba(0, 102, 79, 0.03);
      border-bottom: 2px solid rgba(0, 102, 79, 0.8); }
      .uids-content .webform-message div[role="alert"].alert.alert-success .close:before {
        background: rgba(0, 102, 79, 0.8); }
    .uids-content .webform-message div[role="alert"].alert.alert-warning {
      background: #fffae6;
      border-color: rgba(255, 205, 0, 0.09);
      border-bottom: 2px solid rgba(255, 205, 0, 0.8); }
      .uids-content .webform-message div[role="alert"].alert.alert-warning .close:before {
        background: rgba(0, 0, 0, 0.7); }
  .uids-content .webform-message button {
    padding: 0 0 0 0.625rem;
    margin-right: 0; }
    .uids-content .webform-message button.close:before {
      width: 26px;
      height: 26px;
      margin-right: 5px;
      padding: 5px;
      font-size: 1rem; }
