{# @todo Add option for additional classes to <li>. #}
<li class="menu-item">
  {% include "@link" with {
    link: item.link,
  } %}

  {# If there is a child menu under this link, render it. #}
  {% if item.children %}
    {% include "@menu" with {
      items: item.children,
    } %}
  {% endif %}
</li>
