{# @todo Should the <nav role="navigation"></nav> element be added in here? #}
<nav role="navigation">
  <ul class="menu">
    {% for item in items %}
      {% include "@item" with {
        item: item,
      } %}
    {% endfor %}
  </ul>
</nav>
