.logo-icon {
  display: block;
  margin-left: -$xsm;
  &:hover {
    opacity: 0.7;
  }
  .logo-icon--primary & {
    fill: $secondary;
  }
  .logo-icon--secondary & {
    fill: $primary;
  }
  .uiowa-bar--home & {
    width: 180px;
    height: 70px;
  }
  .uiowa-bar--standard & {
    width: 120px;
    height: 40px;
  }
}

.logo-icon--tab  {
  width: 140px;
  height: 80px;
  background: $secondary;
  padding: 20px 15px 25px 20px;
  margin-left: -20px;
  @include breakpoint(menu) {
    width: 180px;
    height: auto;;
  }
  @include breakpoint(container) {
    margin-left: -16px;
  }
}

