.uiowa-bar__title {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  font-family: $font-family-sans-serif;
  a {
    color: $secondary;
    text-decoration: none;;
  }

  @include breakpoint(menu) {
    flex-basis: content;
    margin: 1px 0 0 20px;
    font-size: 2rem;
  }

  @include breakpoint(container) {
    margin: 5px 0 0 20px;
    text-align: left;
    font-size: 2.2rem;
  }

  .header--secondary & {
    .search-is-open & {
      //@include element-invisible;
      @include breakpoint(menu) {
        display: none;
      }
    }
  }

  .header--tertiary & {
    font-size: 1rem;
    margin: 0;
    padding: $gutter;
    background: $primary;
     @include breakpoint(menu) {
       background: transparent;
       font-size: 1rem;
       padding: 0;
     }
  }

  .header--tertiary {
    .site_name--wrapper & {
      margin: 0;
      padding: 10px 20px 20px 20px;
      text-align: left;
      font-size: 1.8rem;

      @include breakpoint(menu) {
        width: 75%;
        padding: 25px 20px 25px 0;
        background: transparent;
        font-size: 2rem;
      }

      @include breakpoint(container) {
        font-size: 2.2rem;
      }


      .search-is-open & {
        //@include element-invisible;
        @include breakpoint(menu) {
          display: none;
        }
      }
    }
  }


}
/*
@media (max-width: 1018px) and (min-width: 855px) {
  .header--tertiary .uiowa-bar__title {
    font-size: calc(100% + 1vw);
  }
}
*/
