{% if site_name %}
	<h1 class="uiowa-bar__title">
		{% if site_name_link %}
			<a href="{{ site_name_link }}">
			{% endif %}
			{{ site_name }}
		{% if site_name_link %}
		</a>
	</h1>
	{% endif %}
{% endif %}
