

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
        
            <link media="all" rel="stylesheet" href="../banner/banner.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  
<div class="banner banner--gradient-bottom banner--gradient-dark banner--large  banner--vertical-center banner--horizontal-center">
                    <div class="banner__image">
          <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/pano.jpg" alt="Alt Text">
        </div>
            
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="headline bold-headline--serif bold-headline bold-headline--negative bold-headline--fixed">
        <span class="headline__text">We’re in this together</span>
    </h2>
                  
        <div class="banner__text"><p>A member of the Association of American Universities since 1909 and the Big Ten Conference<br /> since 1899, the University of Iowa is home to one of the most acclaimed academic medical centers<br /> in the country, as well as globally recognized leadership in the study and craft of writing.</p></div>

                            <div class="banner__action">
                                          <a class="bttn bttn--primary bttn--caps" href="https://google.com">
                  Apply
                  <i class="fas fa-arrow-right"></i>
                </a>
                              <a class="bttn bttn--primary bttn--caps" href="https://example.com">
                  Request Information
                  <i class="fas fa-arrow-right"></i>
                </a>
                              <a class="bttn bttn--primary bttn--caps" href="https://example.com">
                  Visit
                  <i class="fas fa-arrow-right"></i>
                </a>
                                    </div>
                  
      </div>
    </div>

  </div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>

      <script src="../video/video.js"></script>
      <script src="../../assets/js/click-a11y.js"></script>
  
    </html>

