

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../banner/banner.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
        
            <link media="all" rel="stylesheet" href="../slider/slider.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <div class="slider">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

  
<div class="banner  banner--medium banner--reversed vertical-bottom horizontal-left">
                <div class="banner__image">
          <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/feature1.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="headline bold-headline--serif bold-headline bold-headline--negative bold-headline--fixed">
        <span class="headline__text">Having an Impact</span>
    </h2>
                  
        <div class="banner__text"><p>Jordan Kohlmeyer is researching new therapies for tumors</p></div>

                          
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="banner  banner--medium banner--reversed vertical-bottom horizontal-left">
                <div class="banner__image">
          <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/feature2.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="headline bold-headline--serif bold-headline bold-headline--negative bold-headline--fixed">
        <span class="headline__text">2019 Graduates</span>
    </h2>
                  
        <div class="banner__text"><p>Receiving a diploma signals both an ending and a beginning</p></div>

                          
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../slider/slider.js"></script>
    </html>

