<div class="portrait__bg">
  <div class="portrait__wrapper">
    <ul class="portrait__container">
      <li class="portrait">
        <div class="portrait__item">
          <div class="highlight__wrapper">
            <h3 class="highlight__title">
              <span class="headline__heading">"My communication skills have grown so much since coming here."</span>
            </h3>
          </div>
          <div class="embed-responsive embed-responsive-9by16">
            <div class="youtube-player" data-id="KBSqfjfhHp0"></div>
          </div>
        </div>
      </li>
      <li class="portrait">
        <div class="portrait__item">
          <div class="highlight__wrapper">
            <h3 class="highlight__title">
              <span class="headline__heading">"My communication skills have grown so much since coming here."</span>
            </h3>
          </div>
          <div class="embed-responsive embed-responsive-9by16">
            <div class="youtube-player" data-id="maLqE1na-5Q"></div>
          </div>
        </div>
      </li>
      <li class="portrait">
        <div class="portrait__item">
          <div class="highlight__wrapper">
            <h3 class="highlight__title">
              <span class="headline__heading">"My communication skills have grown so much since coming here."</span>
            </h3>
          </div>
          <div class="embed-responsive embed-responsive-9by16">
            <div class="youtube-player" data-id="ibbNN201oDA"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
