

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../tabs/tabs.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <nav class="tabs" role="navigation" aria-label="Tabs">
  <ul class="tabs primary">
    <li class="tab is-active">
      <a href="/user/6" data-drupal-link-system-path="user/6" class="is-active">View<span class="visually-hidden">(active tab)</span></a>
    </li>
    <li class="tab">
      <a href="/user/6/roles" data-drupal-link-system-path="user/6/roles">Roles</a>
    </li>
    <li class="tab">
      <a href="/user/6/edit" data-drupal-link-system-path="user/6/edit">Edit</a>
    </li>
  </ul>
</nav>

<div class="tabs">
  <div role="tablist" aria-label="Entertainment">
    <button role="tab"
            aria-selected="true"
            aria-controls="nils-tab"
            id="nils">
      Nils Frahm
    </button>
    <button role="tab"
            aria-selected="false"
            aria-controls="agnes-tab"
            id="agnes"
            tabindex="-1">
      Agnes Obel
    </button>
    <button role="tab"
            aria-selected="false"
            aria-controls="complexcomplex"
            id="complex"
            tabindex="-1"
            data-deletable="">
      Joke
    </button>
  </div>
  <div tabindex="0"
       role="tabpanel"
       id="nils-tab"
       aria-labelledby="nils">
    <p>
      Nils Frahm is a German musician, composer and record producer based in Berlin. He is known for combining classical and electronic music and for an unconventional approach to the piano in which he mixes a grand piano, upright piano, Roland Juno-60, Rhodes piano, drum machine, and Moog Taurus.
    </p>
  </div>
  <div tabindex="0"
       role="tabpanel"
       id="agnes-tab"
       aria-labelledby="agnes"
       hidden="">
    <p>
      Agnes Caroline Thaarup Obel is a Danish singer/songwriter. Her first album, Philharmonics, was released by PIAS Recordings on 4 October 2010 in Europe. Philharmonics was certified gold in June 2011 by the Belgian Entertainment Association (BEA) for sales of 10,000 Copies.
    </p>
  </div>
  <div tabindex="0"
       role="tabpanel"
       id="complexcomplex"
       aria-labelledby="complex"
       hidden="">
    <p>
      Fear of complicated buildings:
    </p>
    <p>
      A complex complex complex.
    </p>
  </div>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../tabs/tabs.js"></script>
    </html>

