<span class="badge badge--primary">Primary</span>
<span class="badge badge--secondary">Secondary</span>
<span class="badge badge--cool-gray">Cool Gray</span>
<span class="badge badge--blue">Blue</span>
<span class="badge badge--green">Green</span>
<span class="badge badge--orange">Orange</span>
<br />
<br />
<a href="#" class="badge badge--primary">Primary Link</a>
<a href="#" class="badge badge--secondary">Secondary Link</a>