@import '../../assets/scss/variables';

.badge {
  display: inline-block;
  padding: 0 7px;
  line-height: 18px;
  font-size: $small-font-size;
  font-weight: $font-weight-medium;
  color: $white;
  border: 1px solid transparent;
  border-radius: 1em;
}

.badge--primary {
  background: $primary;
  color: $blk;
}

.badge--secondary {
  background: $secondary;
}

.badge--cool-gray {
  background: $brand-cool-gray;
}

.badge--blue {
  background: $info;
}

.badge--green {
  background: $success;
}

.badge--orange {
  background: $danger;
}

a.badge {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}