{#
 # Renders an <a> tag if a url is provided or a
 # <span> if the url is not present.
 #
 # Available properties of the link object:
 # * url
 # * class
 # * icon_class
 # * text
 #
 # @todo Add 'target' property.
 #}
{% if link.url %}
<a href="{{ link.url }}"{% if link.class %} class="{{ link.class }}"{% endif %}>
  {% else %}
  <span class="nolink">
{% endif %}
    {% if link.icon_class %}
  <i class="{{ link.icon_class }}"></i>
  <span class="element-invisible">
    {% endif %}
    {{ link.text }}
    {% if link.icon_class %}
  </span>
  {% endif %}
    {% if not link.url %}
</span>
  {% else %}
</a>
{% endif %}