{% if site_slogan %}
	<div class="uiowa-bar__slogan">
		{% if site_slogan_link %}
			<a href="{{ site_slogan_link }}">
			{% endif %}
			{{ site_slogan }}
			{% if site_slogan_link %}
			</a>
		{% endif %}
	</div>
{% endif %}
