sudo: false

language: node_js

# Use .nvmrc file for Node version.
node_js:

matrix:
  fast_finish: true

install:
- npm install

script:
- npm run docs

before_deploy:
  - rm -rf src/ dist/
  - rm .nvmrc fractal.config.js gulpfile.js package.json package-lock.json README.md
  - mv -v www/* .

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: false
  on:
    branch: master
