

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <div class="media--video">
  <div class="video-controls video">
                <button class="video-btn video-btn__pause" id="video-btn">
        <span class="element-invisible">Pause</span>
      </button>
      </div>
  <video autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="">
    <source src="" type="">
  </video>
  <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
  <!--[if lt IE 9]> <img src="" alt="" class=" ie8-poster"> <![endif]-->
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


</html>

