@import '../../assets/scss/variables';

$backgrounds: (
  'bg--black': (
    'name': 'black',
    'type': 'color',
    'background': $secondary,
  ),
  'bg--gold': (
    'name': 'gold',
    'type': 'color',
    'background': $primary,
  ),
  'bg--gray': (
    'name': 'gray',
    'type': 'color',
    'background': $light,
  ),
  'bg-pattern--brain': (
    'name': 'white',
    'type': 'pattern',
    'background': #fff url("#{$imgpath}/brain-pattern.svg"),
  ),
  'bg-pattern--brain--black': (
    'name': 'black',
    'type': 'pattern',
    'background': $secondary url("#{$imgpath}/brain-pattern-black.svg"),
  ),
  'bg-pattern--brain--gold': (
    'name': 'gold',
    'type': 'pattern',
    'background': $primary url("#{$imgpath}/brain-pattern-reversed.svg"),
  ),
);

$bg-to-fg-color-map: (
  'default': 'black',
  'black': 'white',
  'gold': 'black',
  'gray': 'black',
  'white': 'black',
);

@mixin add-bg-rules($selector_before: '', $selector_after: '', $overrides...) {
  @each $bg-class, $background in $backgrounds {
    #{$selector_before}.#{$bg-class}#{$selector_after} {
      background: map-get($background, 'background');
      @if map-get($background, 'type') == 'pattern' {
        background-size: auto auto;
      }
    }
  }
}

@mixin add-fg-colors($selector_before: '', $selector_after: '') {
  @each $bg-class, $background in $backgrounds {
    #{$selector_before}.#{$bg-class}#{$selector_after} {
      @if map-get($bg-to-fg-color-map, map-get($background, 'name')) {
        color: unquote(map-get($bg-to-fg-color-map, map-get($background, 'name')));
      } @else {
        color: unquote(map-get($bg-to-fg-color-map, 'default'));
      }
    }
  }
}
