.bg--black {
  background: #151515;
  color: "white"; }

.bg--gold {
  background: #FFCD00;
  color: "black"; }

.bg--gray {
  background: #f3f3f3;
  color: "black"; }

.bg-pattern--brain {
  background: #fff url("../../assets/images/brain-pattern.svg");
  background-size: auto auto;
  color: "black"; }

.bg-pattern--brain--black {
  background: #151515 url("../../assets/images/brain-pattern-black.svg");
  background-size: auto auto;
  color: "black"; }

.bg-pattern--brain--gold {
  background: #FFCD00 url("../../assets/images/brain-pattern-reversed.svg");
  background-size: auto auto;
  color: "black"; }
