[class*="bg-pattern"] {
  background-size: auto auto; }

.bg--black {
  background-color: #151515;
  color: white; }

.bg--gold {
  background-color: #FFCD00;
  color: black; }

.bg--gray {
  background-color: #f3f3f3;
  color: black; }

.bg-pattern--brain {
  background-color: #fff;
  background-image: url("../../assets/images/brain-pattern.svg");
  color: black; }

.bg-pattern--brain--black {
  background-color: #151515;
  background-image: url("../../assets/images/brain-pattern-black.svg");
  color: white; }

.bg-pattern--brain--gold {
  background-color: #FFCD00;
  background-image: url("../../assets/images/brain-pattern-reversed.svg");
  color: black; }

.container--padded {
  padding: 10px; }
