:root {
  --brand-primary: #FFCD00;
  --brand-secondary: #000000; }

/*
 p:not(:last-child),
 dl:not(:last-child),
 ol:not(:last-child),
 ul:not(:last-child),
 blockquote:not(:last-child),
 pre:not(:last-child),
 table:not(:last-child) {
  @include margin($bottom: $sm);
}
*/
p,
dl,
ol,
ul,
blockquote,
pre,
table {
  font-weight: 400; }

p {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1.05rem; }

a {
  color: #00558C;
  text-decoration: underline; }

figcaption {
  font-size: 90%;
  line-height: 1.5; }

figure img {
  display: inline-block;
  margin-bottom: 1.05rem; }

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1.05rem;
  white-space: pre;
  word-wrap: normal; }

small {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.3; }
  small.small--inline {
    display: inline; }

sup,
sub {
  font-size: 75%; }

mark {
  background-color: var(--brand-primary); }

pre {
  font-family: "Zilla Slab", "Zilla-fallback", serif;
  line-height: 1.5; }

.is-small {
  font-size: 0.8rem; }

.is-medium {
  font-size: 1.2rem; }

.is-large {
  font-size: 1.6rem; }

.margin-top {
  margin-top: 0.9rem; }

.image {
  position: relative;
  display: block; }

.image img {
  display: block;
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  .element--two-column {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 3rem;
         column-gap: 3rem; } }

@media (min-width: 768px) {
  .element--three-column {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 3rem;
         column-gap: 3rem; } }

.element--spacer-separator {
  clear: both;
  float: none;
  width: 100%;
  height: 0;
  border: 1px solid transparent;
  margin: 1.25rem 0; }

.element--spacer-thin {
  border: 0;
  height: 0;
  clear: both;
  float: none;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.element--spacer-gold {
  clear: both;
  float: none;
  width: 100%;
  height: 0;
  border: 1px solid transparent;
  margin: 1.25rem 0; }
  .element--spacer-gold:after {
    content: "";
    display: block;
    width: 33%;
    height: 6px;
    margin: 0;
    background: var(--brand-primary); }
  .element--spacer-gold--centered:after {
    margin: 0 auto; }
  [class*="bg-"] .element--spacer-gold {
    border: none; }
  .bg-pattern--brain-reversed .element--spacer-gold:after,
  .bg--gold--pattern--brain .element--spacer-gold:after,
  .bg--gold .element--spacer-gold:after {
    background: #fff; }

.uids-component--bold-intro,
.element--bold-intro {
  font-family: "Zilla Slab", "Zilla-fallback", serif;
  font-weight: 600;
  line-height: 1.3;
  font-size: 2.2rem;
  font-size: clamp(1.6rem, calc(1.3521vw + 1.093rem), 2.2rem);
  margin-top: 0; }

.uids-component--light-intro,
.element--light-intro {
  font-weight: 300;
  line-height: 1.4;
  font-size: 2.1rem;
  font-size: clamp(1.6rem, calc(1.1268vw + 1.1775rem), 2.1rem);
  margin-top: 0; }
