

        
        
      
<div class="banner banner--gradient-bottom banner--gradient-dark banner--large  banner--vertical-center banner--horizontal-center click-container">
                    <div class="banner__image">
          <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/pano.jpg" alt="Alt Text">
        </div>
            
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="headline bold-headline--serif bold-headline bold-headline--negative bold-headline--fixed">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card" class="click-target">
        <span class="headline__text">We’re in this together</span>
        </a>
  </h2>
                  
        <div class="banner__text"><p>Every Hawkeye has a role to play in <a href="https://coronavirus.uiowa.edu">preventing</a> the spread of COVID-19.<br /> Find out what Iowa’s doing—and what you can do—to make your return to campus safer.</p></div>

                            <div class="banner__action">
                                                              </div>
                  
      </div>
    </div>

  </div>

