@import '../../assets/scss/variables';

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.bg-cool-gray {
  background: $brand-cool-gray;
}

.bg-blue {
  background: $info;
}

.bg-green {
  background: $success;
}

.bg-orange {
  background: $danger;
}

.text-white {
  color: $white;
}

// uids classes

.uids-component--gold {
  background: $primary;
}

.uids-component--black {
  background: $secondary;
}

.uids-component--gray {
  background: $light;
}

.uids-component--brain {
  background: #fff url("#{$imgpath}/brain-pattern.svg");
  background-size: auto auto;
}

.uids-component--brain-reversed {
  background: $primary url("#{$imgpath}/brain-pattern-reversed.svg");
  background-size: auto auto;
}

.uids-component--brain-black {
  background: $secondary url("#{$imgpath}/brain-pattern-black.svg");
  background-size: auto auto;
}

