@use '../abstracts/variables';
@use '../abstracts/utilities';
@use '../abstracts/headline-mixins';

.headline {
  @include headline-mixins.headline;

  [class*="bg-"] & {
    a {
      color: inherit;
    }
  }

  &.headline--negative {
    @include headline-mixins.headline-negative;
  }
}

.headline--center {
  text-align: center;
}

.headline--uppercase {
  @include headline-mixins.headline-uppercase;
}

.headline--serif {
  @include headline-mixins.headline-serif;
}

.headline--highlight {
  @include headline-mixins.headline-highlight;
}

.headline--highlight.headline--serif {
  span {
    padding: .2rem 1rem 0.5rem 1rem;
  }
}

.headline--highlight span {
  @include headline-mixins.headline-highlight-word;
}

.headline--uppercase .headline__heading span,
.headline--uppercase .headline__text span {
  @include headline-mixins.headline-highlight-word-uppercase;
}

.headline--underline {
  @include headline-mixins.headline-underline;
}

h5, .h5 {
  &.headline--underline {
    @include headline-mixins.headline-underline;
    &:after {
      height: 5px;
    }
  }
}

h6, .h6 {
  &.headline--underline {
    @include headline-mixins.headline-underline;
    &:after {
      height: 4px;
    }
  }
}

.headline--highlight.headline--serif {
  font-weight: 600;
}

.headline--highlight.headline--uppercase {
  span {
    padding: .4rem 1.2rem .8rem;
  }
}
