@import '../abstracts/variables';
@import '../abstracts/utilities';

[class*="inline--"] {
  --inline-margin-xs: 0.5rem;
  --inline-margin-sm: var(--space-sm-width-gutter);
  --inline-margin-md: var(--space-md-width-gutter);
  --inline-margin-lg: var(--space-lg-width-gutter);
}

// === Element media sizes === //
[class*="inline--size-"] {
  width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-bottom: var(--inline-margin-sm);
  margin-top: var(--inline-margin-xs);

  &.inline--align-left {
    margin-inline-end: var(--inline-margin-md);
  }

  &.inline--align-right {
    margin-inline-start: var(--inline-margin-md);
  }
}

figure[class*="inline--size-"] {
  img {
    width: 100%;
  }
}

.inline--size-full {
  margin-bottom: var(--inline-margin-sm);
  margin-top: var(--inline-margin-xs);
}

.inline--size-small {
  @include breakpoint(xxsm) {
    width: 50%;
  }
  @include breakpoint(xsm) {
    width: 40%;
  }
  @include breakpoint(md) {
    width: 33%;
  }
}

.inline--size-medium {
  @include breakpoint(xsm) {
    width: 67%;
  }
  @include breakpoint(xsm) {
    width: 50%;
  }
}

.inline--size-large {
  @include breakpoint(md) {
    width: 70%;
  }
  @include breakpoint(lg) {
    width: 75%;
  }
}

// Set container query max-width sizes for images.
@supports (contain: inline-size) {
  // Adding this to cover the smallest column size.
  // In most cases, we want to avoid targeting the smallest breakpoint through max-width.
  @container column (max-width: #{$break-xxsm}) {
    [class*="inline--size-"] {
      width: 100%;
    }
  }

  @container column (min-width: #{$break-xxsm}) {
    .inline--size-small {
      width: 50%;
    }
  }

  @container column (min-width: #{$break-xsm}) {
    .inline--size-small {
      width: 40%;
    }
    .inline--size-medium {
      width: 67%;
    }
  }

  @container column (min-width: #{$break-md}) {
    .inline--size-small {
      width: 33%;
    }

    .inline--size-medium {
      width: 50%;
    }

    .inline--size-large {
      width: 70%;
    }
  }

  @container column (min-width: #{$break-lg}) {
    .inline--size-large {
      width: 75%;
    }
  }
}
// === End: element media sizes === //

// === Element alignment classes  === //
.inline--align-left {
  float: left;
  clear: left;

  &:after {
    content: '';
  }
}

.inline--align-center {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.inline--align-right {
  float: right;
  clear: right;
}
// === End: element alignment classes === //
