@import '../abstracts/variables';
@import '../abstracts/utilities';

.media--border {
  img {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.media--circle {
  border-radius: 50%;
  margin-top: 0;
  height: auto;

  img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-top: 0;
    height: auto;
  }
}

.media--cover {
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.media--1-1 {
  iframe {
    aspect-ratio: 1 / 1;
  }
}

.media--4-3 {
  iframe {
    aspect-ratio: 4 / 3;
  }
}

.media--16-9 {
  iframe {
    aspect-ratio: 16 / 9;
  }
}

.media--21-9 {
  iframe {
    aspect-ratio: 21 / 9;
  }
}
