@use 'sass:color';
@use '../abstracts/variables';
@use '../abstracts/utilities';

.accordion__item {
  &:not(:first-child) {
    margin-top: 1rem;
  }

  border: 1px solid var(--border-color);
}

.accordion {
  --trans-time: 0.2s;
  $accordion-color: #edeceb;
  --accordion-color: #{$accordion-color};
  --border-color: var(--accordion-color);

  &.accordion--gold {
    --accordion-color: #{variables.$uiowa-gold};
    --border-color : #{variables.$dark};

    summary {
      &:hover, &:focus {
        background-color: color.scale(#FFCD00, $lightness: -6%);
      }
    }
  }

  details {
    &[open] {
      summary {
        i, svg {
          transform: rotate(0deg) translate(0px, 0.1em);
          background-color: #fafafa;
        }
      }
    }
  }

  summary {
    list-style: none;
    width: 100%;
    background-color: var(--accordion-color);
    display: flex;
    cursor: pointer;

    &:hover, &:focus {
      background-color: color.scale($accordion-color, variables.$lightness: -4%);
    }

    &::-webkit-details-marker {
      visibility: hidden;
    }

    i, svg {
      transform: rotate(-180deg) translate(0px, -0.1em);
      transition: all var(--trans-time) ease-in-out;
      transition-property: transform, background-color;
      background-color: transparent;
      width: variables.$h5-font-size;
      height: variables.$h5-font-size;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -0.3rem 0;
      border-radius: 50%;
    }
  }

  .accordion__heading :is(h2, h3, h4, h5, h6) {
    all: inherit;
    display: flex;
    font-size: variables.$content-font-size;
    font-weight: variables.$font-weight-bold;
    padding: variables.$md;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;

    &:focus {
      outline: 2px auto -webkit-focus-ring-color;
    }
  }

  .accordion__content {
    padding: variables.$md;
    border-top: 1px solid var(--border-color);

    p:last-child {
      margin-bottom: 0px;
    }
  }

  ul li,
  ol li,
  p {
    font-size: 1.3rem;
  }
  table ul li,
  table ol li,
  table p {
    font-size: inherit;
  }
}


