@use 'sass:color';
@use '../abstracts/variables';
@use '../abstracts/utilities';

.accordion__item {
  border: 1px solid var(--border-color);

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.accordion {
  --trans-time: 0.2s;
  --accordion-color: var(--uids-light);
  --border-color: var(--uids-grey-light);
  &.accordion--white {
    --accordion-color: #{variables.$white};

    summary {
      &:hover,
      &:focus {
        --border-color: var(--uids-grey-cool);
        background-color: var(--uids-light);
      }
    }
  }

  details {
    &[open] {
      summary {
        i, svg {
          transform: rotate(0deg) translate(0px, 0.1em);
        }
      }
    }
  }

  summary {
    list-style: none;
    background-color: var(--accordion-color);
    display: flex;
    cursor: pointer;

    &:hover, &:focus {
      background-color: variables.$lighter-gray;
      outline: 1px solid var(--uids-grey-cool);
    }

    &::-webkit-details-marker {
      visibility: hidden;
    }

    i, svg {
      transition: all var(--trans-time) ease-in-out;
      width: variables.$h5-font-size;
      height: variables.$h5-font-size;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -0.3rem .7rem 0 0;
      border-radius: 50%;
      transition-property: transform, background-color;
      background-color: transparent;
      transform: rotate(-180deg) translate(0px, -0.1em);
    }
  }

  .accordion__heading :is(h2, h3, h4, h5, h6) {
    all: inherit;
    border: none;
    display: flex;
    font-size: variables.$content-font-size;
    font-weight: variables.$font-weight-bold;
    padding: variables.$md;
    width: 100%;
    align-items: center;
    cursor: pointer;


    &:focus {
      outline: 2px auto -webkit-focus-ring-color;
    }
  }

  .accordion__content {
    padding: variables.$md;
    border-top: 1px solid var(--border-color);

    p:last-child {
      margin-bottom: 0px;
    }
  }

  ul li,
  ol li,
  p {
    font-size: 1.3rem;
  }
  table ul li,
  table ol li,
  table p {
    font-size: inherit;
  }
}


