@use 'sass:color';
@use '../abstracts/variables';
@use '../abstracts/utilities';

// === Accordion === //
.accordion {
  --trans-time: 0.2s;
  --accordion-label-color: var(--uiowa-accordion-label-color);
  --accordion-label-color-hover: var(--uiowa-accordion-label-color-hover);
  --accordion-outline-color: var(--uiowa-accordion-outline-color);
  --accordion-border-color: var(--uiowa-accordion-border-color);

  details {
    &[open] {
      summary {
        i, svg {
          transform: rotate(0deg) translate(0px, 0.1em);
        }
      }
    }
  }

  summary {
    list-style: none;
    background-color: var(--accordion-label-color);
    display: flex;
    cursor: pointer;

    &:hover, &:focus {
      background-color: var(--accordion-label-color-hover);
      outline: 1px solid var(--accordion-outline-color);
    }

    &::-webkit-details-marker {
      visibility: hidden;
    }

    i, svg {
      transition: all var(--trans-time) ease-in-out;
      width: var(--uiowa-accordion-icon-size);
      height: var(--uiowa-accordion-icon-size);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -0.3rem var(--uiowa-accordion-icon-gap) 0 0;
      border-radius: 50%;
      transition-property: transform, background-color;
      background-color: transparent;
      transform: rotate(-180deg) translate(0px, -0.1em);
    }
  }

  .accordion__heading :is(h2, h3, h4, h5, h6) {
    all: inherit;
    border: none;
    display: flex;
    font-size: var(--uiowa-accordion-heading-font-size);
    font-weight: var(--uiowa-accordion-heading-font-weight);
    padding: var(--uiowa-accordion-padding);
    width: 100%;
    align-items: center;
    cursor: pointer;


    &:focus {
      outline: 2px auto -webkit-focus-ring-color;
    }
  }

  .accordion__content {
    background-color: var(--uiowa-accordion-content-background);
    padding: var(--uiowa-accordion-padding);
    border-top: 1px solid var(--accordion-border-color);

    p:last-child {
      margin-bottom: 0px;
    }
  }

  ul li,
  ol li,
  p {
    font-size: var(--uiowa-accordion-content-text-font-size);
  }
  table ul li,
  table ol li,
  table p {
    font-size: inherit;
  }
}

.accordion__item {
  border: 1px solid var(--accordion-border-color);

  &:not(:first-child) {
    margin-top: var(--uiowa-accordion-item-gap);
  }
}

// === End: Accordion === //

// === Accordion modifiers === //
.accordion--white {
  --accordion-label-color: var(--uiowa-accordion-white-label-color);
  --accordion-label-color-hover: var(--uiowa-accordion-white-label-color-hover);
  --accordion-outline-color: var(--uiowa-accordion-white-outline-color);
  --accordion-border-color: var(--uiowa-accordion-border-color);
}
// === End: Accordion modifiers === //
