@use '../abstracts/variables';
@use '../abstracts/utilities';


// === Alert === //
.alert {
  --h2-font-size: var(--uiowa-alert-heading-h2);
  border-radius: var(--uiowa-alert-border-radius);
  padding: var(--uiowa-alert-padding);
  line-height: var(--uiowa-alert-line-height);
  font-size: variables.$content-font-size;
  @include utilities.border;

  h2 {
    font-size: var(--h2-font-size);
  }
  h3 {
    font-size: var(--uiowa-alert-heading-h3);
  }
  h4 {
    font-size: var(--uiowa-alert-heading-h4);
  }
  h5 {
    font-size: var(--uiowa-alert-heading-h5);
  }
  h6 {
    font-size: var(--uiowa-alert-heading-h6);
  }

  * {
    margin-bottom: 0;

    & + *:not(span):not(div):not(svg) {
      margin-top: .2rem;
      line-height: 1.6;
    }
  }
}
// === End: Alert === //

// === Alert Icon === //
.alert__icon {
  padding: 0  var(--uiowa-alert-icon-gap) 0 0;

  .fa-stack {
    width: 2em;
  }

  .svg-inline--fa.fa-stack-2x,
  .svg-inline--fa.fa-stack-1x {
    width: 100%;
  }

  .fa-1x {
    font-size: variables.$content-font-size;
  }
}
// === End: Alert Icon === //

// === Alert Colors === //
.alert--danger {
  background: var(--uiowa-alert-danger-background);

  .fa-circle {
    color: var(--uiowa-alert-danger-icon-color);
  }
}

.alert--success {
  background: var(--uiowa-alert-success-background);

  .fa-circle {
    color: var(--uiowa-alert-success-icon-color);
  }
}

.alert--warning {
  background: var(--uiowa-alert-warning-background);

  .fa-circle {
    color: var(--uiowa-alert-warning-icon-color);
  }

  .fa-exclamation-triangle {
    margin-top: -2px;
  }
}

.alert--info {
  background: var(--uiowa-alert-info-background);

  .fa-circle {
    color: var(--uiowa-alert-info-icon-color);
  }
}
// === End: Alert Icon === //

// === Modifiers === //
// === Alert horizontally centered === //
.alert--centered {
  display: flex;
  justify-content: center;
}
// === End: Alert horizontally centered === //

// === Alert vertically centered === //
.alert--vertically-centered  {
  display: flex;
  align-items: center;
}
// === End: Alert vertically centered === //

// === Alert dismissible === //
.alert--dismissible {
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    height: var(--uiowa-alert-dismiss-size);
    width: var(--uiowa-alert-dismiss-size);

    i {
      font-size: var(--uiowa-alert-dismiss-icon-font-size);
    }
  }
}
// === End: Alert dismissible === //

// === Alert icon flex property === //
.alert--icon {
  display: flex;
}
// === End: Alert icon flex property === //

// === End: Modifiers === //
