@use '../abstracts/variables';
@use '../abstracts/utilities';

.badge {
  display: inline-block;
  padding: var(--uiowa-badge-padding-block) var(--uiowa-badge-padding-inline);
  line-height: var(--uiowa-badge-line-height);
  font-size: var(--uiowa-badge-font-size);
  font-weight: var(--uiowa-badge-font-weight);
  color: var(--uiowa-badge-color);
  border: 1px solid transparent;
  border-radius: var(--uiowa-badge-border-radius);
}

.badge--primary {
  background: var(--uiowa-badge-primary-background);
  color: var(--uiowa-badge-primary-color);
}

.badge--secondary {
  background: var(--uiowa-badge-secondary-background);
}

.badge--cool-gray {
  background: var(--uiowa-badge-cool-gray-background);
}

.badge--blue {
  background: var(--uiowa-badge-blue-background);
}

.badge--green {
  background: var(--uiowa-badge-green-background);
}

.badge--orange {
  background: var(--uiowa-badge-orange-background);
}
