@use '../abstracts/variables';
@use '../abstracts/utilities';

.badge {
  display: inline-block;
  padding: 0 .75em;
  line-height: 1.67;
  font-size: 75%;
  font-weight: variables.$font-weight-medium;
  color: variables.$white;
  border: 1px solid transparent;
  border-radius: 1em;
}

.badge--primary {
  background: variables.$primary;
  color: variables.$blk;
}

.badge--secondary {
  background: variables.$secondary;
}

.badge--cool-gray {
  background: variables.$brand-cool-gray;
}

.badge--blue {
  background: variables.$info;
}

.badge--green {
  background: variables.$success;
}

.badge--orange {
  background: variables.$danger;
}
