@use '../abstracts/variables';
@use '../abstracts/utilities';
@use '../abstracts/breakpoints' as *;

// === Banner base === //
.banner {
  --banner-padding: #{variables.$gutter};
  --banner-text-max-width: 1;
  --banner-overlay-color-rbg: 0, 0, 0;
  --banner-overlay-solid-opacity: .5;
  --banner-overlay-gradient-midpoint: 40%;
  --banner-overlay-gradient: rgba(var(--banner-overlay-color-rbg), .9) 0%, rgba(var(--banner-overlay-color-rbg), .6) var(--banner-overlay-gradient-midpoint), transparent;

  @include utilities.breakpoint(sm) {
    --banner-padding: #{variables.$mobile-height-gutter};
  }

  @include container-query() {
    --banner-text-max-width: .75;
  }

  display: flex;
  flex-basis: 100%;
  // Default vertical alignment is centered.
  align-items: center;
  // Default horizontal alignment is centered.
  justify-content: center;
  min-height: 15rem;
  position: relative;
  overflow: hidden;

}
// === End: Banner base === //

// === Media/Overlay === //
.banner .media {
  // Background color for media element loading.
  background: variables.$secondary;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: visible;

  @include container-query() {
    position: absolute;
  }

  img,
  video {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    overflow: visible;
  }

  // Overlay/Gradient.
  &:after {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    will-change: opacity;
    // Default is dark overlay.
    background: rgb(var(--banner-overlay-color-rbg), var(--banner-overlay-solid-opacity));
  }

  // Video.
  .video-controls {
    position: absolute;
    z-index: 2;
    right: variables.$gutter;
    bottom: variables.$gutter;

    @include container-query {
      right: variables.$mobile-height-gutter;
      bottom: variables.$mobile-height-gutter;
    }
  }

  .video-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: variables.$secondary;
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    padding: 0;

    @include utilities.breakpoint(sm) {
      display: block;
    }

    &::after {
      content: "\f04b";
      @include utilities.fas();
      font-size: 1rem;
    }

    &.video-btn__play::after {
      margin-left: 3px;
    }

    &.video-btn__pause::after {
      content: "\f04c";
    }
  }
  @media (hover:none), (hover:on-demand) {
    .video-btn {
      display: none;
    }
  }
}
// === End: Media/Overlay === //

// === Content === //
.banner__content {
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  padding: var(--banner-padding);

  @include utilities.breakpoint(sm) {
    z-index: 1;
    max-width: variables.$container-width;
    top: 0;
  }

  > * {
    flex-basis: 100%;
  }
}

// === End: Content === //
// === Headline === //
.banner {
  .headline {
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    text-shadow: 0 1px 3px #000;
    z-index: 1;

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: underline;
      }
    }
  }

  &:focus-within .headline a:focus {
    text-decoration: underline;
  }

  // Overriding the serif font size set in base/_headings.scss
  :where(h2, h3, h4, h5, h6) {
    &.headline--large,
    &.headline--large.headline--serif {
      font-size: 2.6rem;

      @include container-query() {
        font-size: clamp(2.5rem, calc(4.9577vw + 0.6408rem), 4.7rem);
      }
    }
    // Set medium heading size
    &.headline--medium,
    &.headline--medium.headline--serif {
      font-size: 2.2rem;

      @include container-query() {
        font-size: clamp(2.2rem, calc(3.3803vw + 0.9324rem), 3.7rem);
      }
    }
    // Set small heading size
    &.headline--small,
    &.headline--small.headline--serif {
      font-size: 1.8rem;
      @include container-query() {
        font-size: clamp(2rem, calc(1.5775vw + 1.4085rem), 2.7rem);
      }
    }


  }

  // @todo Move to stacked section.
  &--stacked {

    &.banner--gradient-dark {
      .headline {
        color: variables.$secondary;
        text-shadow: none;

        @include container-query() {
          color: #fff;
          //text-shadow: 0 1px 1px #000;
        }

        a {
          color: variables.$secondary;
          @include container-query() {
            color: #fff;
          }
        }
      }
    }
  }

  // 'bg--*' selectors match solid color and patterns.
  &[class^="bg--gold"],
  &[class^="bg--white"],
  &[class^="bg--gray"],
  &.banner--overlay-light {
    .headline {
      color: variables.$secondary;
      text-shadow: none;

      a {
        color: variables.$secondary;
      }
    }
  }
}

// === End: Headline === //

// === Pre-title === //
.banner {
  &__pre-title {
    line-height: 1.1;

    &.headline.headline--serif {
      margin-bottom: 0;
      font-weight: 500;
    }

    &.headline.headline--uppercase {
      margin-bottom: 0.7rem;
      font-weight: 500;
    }

    &.headline--large {
      font-size: clamp(1.2rem, calc(0.9014vw + 0.862rem), 1.6rem);
    }

    &.headline--medium {
      font-size: clamp(1.2rem, calc(0.4507vw + 1.031rem), 1.4rem);
    }

    &.headline--small {
      font-size: variables.$h5-font-size;
    }
  }
}

// === End: Pre-title === //

// === Text/buttons === //

.banner__text {
  z-index: 1;
  color: #fff;
  margin-bottom: 1.05rem;

  blockquote {
    margin-left: 0;
  }

  a {
    color: #fff;
  }

  p {
    line-height: 1.5;
    margin-top: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;

    a {
      position: relative;
      z-index: 1;
      color: #fff;
    }
  }

  // Set max-width for line-length readability.
  @include container-query() {
    max-width: 75%;
  }
}

.banner {
  // bg color overrides.
  &.banner--gradient-dark:not(.banner--stacked) {
    .banner__text a {
      // Matches background colors and patterns.
      [class^="bg--gray"] &,
      [class^="bg--gold"] &,
      [class^="bg--white"] & {
        color: #fff;
      }
    }
  }

  // Match black background color and patterns.
  &[class^="bg--black"] {
    .banner__text p {
      color: #fff;
    }
  }

  &.banner--overlay-light {
    .banner__text {
      blockquote {
        // Match gold background color and patterns.
        [class^="bg--gold"] & {
          border-left-color: variables.$primary;
        }
      }
    }
  }

  // Match gray background color and patterns.
  &[class^="bg--gray"] {
    .banner__text {
      color: variables.$secondary;

      a {
        color: variables.$secondary;
      }

      p {
        color: variables.$secondary;
        font-weight: normal;
        text-shadow: none;

        a {
          color: variables.$secondary;
        }
      }
    }
  }

  // Matches white and gold background colors and patterns.
  &[class*="bg--gold"],
  &[class*="bg--white"],
  &.banner--overlay-light {
    .banner__text {
      color: variables.$secondary;

      p {
        color: variables.$secondary;
        font-weight: normal;
        text-shadow: none;

        a {
          color: variables.$secondary;
        }
      }

      a {
        color: variables.$secondary;
      }
    }
  }

  &--stacked {
    .banner__text {
      color: variables.$secondary;
      @include container-query() {
        color: #fff;
      }

      a {
        color: variables.$secondary;
        @include container-query() {
          color: #fff;
        }
      }
    }

    &.banner--gradient-dark {
      .banner__text * {
        color: variables.$secondary;
        text-shadow: none;
      }

      @include container-query() {
        .banner__text * {
          color: #fff;
          text-shadow: 0 1px 3px #000;
        }

        .headline {
          text-shadow: 0 1px 1px #000;
        }
      }
    }

    &.banner--overlay-light {
      @include container-query() {
        .banner__container {
          // This glow allows the text to sit over darker images better.
          filter: drop-shadow(0 1px 9px rgb(255, 255, 255, 50%));
        }
      }
    }

    // Match black background color and patterns.
    &[class^="bg--black"] {
      display: flex;

      .banner__text {
        color: #fff;

        a {
          color: #fff;
        }

        p {
          color: #fff;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}
// === End: Text/buttons === //

// === Buttons === //
.banner {
  .headline + .banner__action {
    margin-top: 1.5rem;
  }

  .banner__action .bttn {
    margin: 0 1rem 1rem 0;

    @include utilities.breakpoint(sm) {
      + .bttn {
        margin: 0 1rem 1rem 0;
      }
    }
  }

  // @todo Move to gradients section.
  // Transparent button styles for gradient dark banners.
  &.banner--gradient-dark {
    // Stacked banner transparent button styles.
    &.banner--stacked:not([class*="bg-"]) {
      .banner__action .bttn--transparent {
        @include container-query() {
          border-color: rgba(255, 255, 255, .525);
          color: #fff;
        }
      }
    }

    // Default transparent button styles for non-stacked banners.
    // @todo Add comment describing why class^="bg--*" is used.
    &:not(.banner--stacked):not([class^="bg--white"]):not([class^="bg--gold"]) {
      .banner__action .bttn--transparent {
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}
// === End: Buttons === //


// === Stacked === //
.banner--stacked {
  display: block;

  @include container-query() {
    display: flex;
  }

  .media {
    // We use a max-width rule here to avoid having a bunch
    // of override rules to unset these.
    @include container-query($type: max) {
      position: relative;

      &:after {
        background: none !important;
      }
    }

    .video-btn {
      display: block;
    }
  }
}

// Add a white background to the content element
// if the banner is stacked and has no background color.
.banner--stacked:not([class^="bg--"]) {
  @include container-query($type: max) {
    .banner__content {
      background: white;
    }
  }
}
// === End: Stacked === //

// === Sizes === //
.banner--large {
  &::before {
    float: left;
    padding-top: 45.25%;
    content: '';
  }
}
.banner--medium {
  &::before {
    float: left;
    padding-top: 32.25%;
    content: '';
  }
}
.banner--full {
  &.banner--large {
    @include utilities.breakpoint(page-container) {
      height: 100vh;
    }
  }
}
// === End: Sizes === //

// === Alignment === //
.banner--vertical-top {
  align-items: flex-start;
}

.banner--vertical-bottom {
  align-items: flex-end;
}

.banner--horizontal-center {
  text-align: center;

  blockquote {
    border-left: none;
  }

  .banner__content {
    > * {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.banner--horizontal-left {
  text-align: left;
}
// === End: Alignment === //

// === Overlay/Gradient === //
.banner--overlay-btt,
.banner--overlay-ttb,
.banner--overlay-ltr {
  .media:after {
    // Gradient comes in at the sm container breakpoint.
    @include container-query() {
      background: linear-gradient(var(--banner-overlay-gradient-direction), var(--banner-overlay-gradient));
    }
  }
}
.banner--overlay-btt {
  --banner-overlay-gradient-direction: 0deg;
}
.banner--overlay-ttb {
  --banner-overlay-gradient-direction: 180deg;
}
.banner--overlay-ltr {
  --banner-overlay-gradient-direction: 90deg;
  --banner-overlay-gradient-midpoint: 70%;
}
.banner--overlay-light {
  --banner-overlay-color-rbg: 255, 255, 255;
  --banner-overlay-solid-opacity: .7;
  // Override background color for media element loading.
  .media {
    background: #fff;

    .video-btn {
      border: 1px solid variables.$secondary;
    }
  }

  .headline {
    text-shadow: 0 1px 3px #fff;
  }
}
// === End: Overlay/Gradient === //

// === Background colors === //
// Remove left/right padding if container background matches banner background.

$bg-colors: "white", "black", "gray", "gold";

// Simple background colors and pattern variants
@each $color in $bg-colors {
  div[class^="bg--#{$color}"] {
    .banner[class^="bg--#{$color}"] {
      .banner__content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// When the containing element has no background color
// and the banner has a solid white background, remove padding.
div:not([class^="bg--"]) {
  .banner.bg--white {
    .banner__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
// === End: Background colors === //
