@import '../abstracts/variables';
@import '../abstracts/utilities'; // --------------------------------

@mixin container-query() {
  @supports (contain: inline-size) {
    @container column (min-width: #{$break-xsm}) {
      @content
    }
  }
  @supports not (contain: inline-size) {
    @include breakpoint(sm) {
      @content
    }
  }
}


// === Sizes === //
.banner {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15rem;

  &--large {
    &::before {
      float: left;
      padding-top: 45.25%;
      content: '';
    }
  }

  &--medium {
    &::before {
      float: left;
      padding-top: 32.25%;
      content: '';
    }
  }

  &--full {
    &.banner--large {
      @include breakpoint(page-container) {
        height: 100vh;
      }
    }
  }

  &::after {
    display: block;
    content: '';
    clear: both;
    @include breakpoint(page-container) {
      display: block;
      content: '';
      clear: both;
    }
  }
}
// === End: Sizes === //

// === Alignment === //
.banner {
  position: relative;
  overflow: hidden;
  @include breakpoint(sm) {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.banner--vertical-top {
    align-items: flex-start;
  }

  &.banner--vertical-bottom {
    align-items: flex-end;
  }

  &.banner--horizontal-center {
    text-align: center;

    blockquote {
      border-left: none;
    }

    .banner__content {
      > * {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

// === End: Alignment === //

// === Container === //
.banner {
  &:focus-within .headline a:focus {
    text-decoration: underline;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    z-index: 1;

    @include breakpoint(sm) {
      z-index: 1;
      max-width: $container-width;
      top: 0;
    }
  }

  &.banner--stacked:not([class*="bg-"]) {
    .banner__container {
      background: white;

      @include breakpoint(sm) {
        background: unset;
      }
    }
  }
}

// === End: Container === //

// === Buttons === //
.banner {
  .headline + .banner__action {
    margin-top: 1.5rem;
  }

  .banner__action .bttn {
    margin: 0 1rem 1rem 0;

    @include breakpoint(sm) {
      + .bttn {
        margin: 0 1rem 1rem 0;
      }
    }
  }

  // Stack buttons for horizontal center version for mobile.
  &.banner--horizontal-center {
    .banner__action .bttn {
      margin: 1rem auto;
      display: block;
      width: fit-content;

      &:last-child {
        margin: 1rem auto;
      }

      @include breakpoint(sm) {
        margin: 0 1rem 1rem 0;
        display: inline-block;
        width: auto;

        &:last-child {
          margin-top: 0;
          margin-right: 0;
        }
      }

      + .bttn {
        @include breakpoint(sm) {
          margin: 0 1rem 1rem 0;
        }
      }
    }
  }

  // Transparent button styles for gradient dark banners.
  &.banner--gradient-dark {
    // Stacked banner transparent button styles.
    &.banner--stacked:not([class*="bg-"]) {
      .banner__action .bttn--transparent {
        @include breakpoint(sm) {
          border-color: rgba(255, 255, 255, .525);
          color: #fff;
        }
      }
    }

    // Default transparent button styles for non-stacked banners.
    &:not(.banner--stacked):not([class*="bg--white"]):not([class*="bg--gold"]) {
      .banner__action .bttn--transparent {
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}

// === End: Buttons === //

// === Pre-title === //
.banner {
  &__pre-title {
    line-height: 1.1;

    &.headline.headline--serif {
      margin-bottom: 0;
      font-weight: 500;
    }

    &.headline.headline--uppercase {
      margin-bottom: 0.7rem;
      font-weight: 500;
    }

    &.headline--large {
      font-size: clamp(1.2rem, calc(0.9014vw + 0.862rem), 1.6rem);
    }

    &.headline--medium {
      font-size: clamp(1.2rem, calc(0.4507vw + 1.031rem), 1.4rem);
    }

    &.headline--small {
      font-size: $h5-font-size;
    }
  }
}

// === End: Pre-title === //

// === Headline === //
.banner {
  .headline {
    z-index: 1;

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: underline;
      }
    }
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &.banner--gradient-dark {
    .headline {
      color: #fff;
      text-shadow: 0 1px 3px #000;

      @include breakpoint(sm) {
        color: #fff;
      }

      a {
        @include breakpoint(sm) {
          color: #fff;
        }
      }
    }
  }

  &.banner--gradient-light {
    .headline {
      text-shadow: 0 1px 3px #fff;
    }
  }

  // Overriding the serif font size set in base/_headings.scss
  :where(h2, h3, h4, h5, h6) {
    &.headline--large,
    &.headline--large.headline--serif {
      font-size: 2.6rem;

      @include container-query() {
        font-size: clamp(2.5rem, calc(4.9577vw + 0.6408rem), 4.7rem);
      }
    }
    // Set medium heading size
    &.headline--medium,
    &.headline--medium.headline--serif {
      font-size: 2.2rem;

      @include container-query() {
        font-size: clamp(2.2rem, calc(3.3803vw + 0.9324rem), 3.7rem);
      }
    }
    // Set small heading size
    &.headline--small,
    &.headline--small.headline--serif {
      font-size: 1.8rem;
      @include container-query() {
        font-size: clamp(2rem, calc(1.5775vw + 1.4085rem), 2.7rem);
      }
    }


  }

  &--stacked {

    &[class*="banner--gradient-dark"] {
      .headline {
        color: $secondary;
        text-shadow: none;

        @include breakpoint(sm) {
          color: #fff;
          text-shadow: 0 1px 1px #000;
        }

        a {
          color: $secondary;
          @include breakpoint(sm) {
            color: #fff;
          }
        }
      }
    }
  }

  &[class*="bg--gold"],
  &[class*="bg--white"],
  &[class*="bg--gray"],
  &[class*="banner--gradient-light"] {
    .headline {
      color: $secondary;
      text-shadow: none;

      a {
        color: $secondary;
      }
    }
  }
}

// === End: Headline === //


// === Text/buttons === //
.banner {
  --banner-padding: #{$gutter};
  --banner-text-max-width: 1;

  @include breakpoint(sm) {
    --banner-padding: #{$mobile-height-gutter};
  }

  @include container-query() {
    --banner-text-max-width: .75;
  }

  &__content {
    padding: var(--banner-padding);

    > * {
      flex-basis: 100%;
    }
  }

  // Extra padding.
  &.banner--extra-padding {
    @include container-query() {
      --banner-padding: 6rem;
    }

    &:has(.media--video) {
      .banner__content {
        @include container-query() {
          padding-bottom: 8rem;
        }
      }

      &.banner--stacked {
        .banner__content {
          @include container-query() {
            padding-bottom: 8rem;
          }
        }
      }
    }
  }

  // Add more padding for play/pause button for banners with video.
  &:has(.media--video) {
    .banner__content {
      padding-bottom: 5rem;

      @include breakpoint(page-container) {
        padding-bottom: 6rem;
      }
    }
    &.banner--stacked {
      .banner__content {
        @include breakpoint(sm) {
          padding-bottom: 5rem;
        }

        @include breakpoint(page-container) {
          padding-bottom: 6rem;
        }
      }
    }
  }

  &__text {
    z-index: 1;
    color: #fff;
    margin-bottom: 1.05rem;

    blockquote {
      margin-left: 0;
    }

    a {
      color: #fff;
    }

    p {
      line-height: 1.5;
      margin-top: 0;
      color: #fff;
      text-shadow: 0 1px 1px #000;

      a {
        position: relative;
        z-index: 1;
        color: #fff;
      }
    }

    // Set max-width for line-length readability.
    @include container-query() {
      max-width: 75%;
    }
  }

  // bg color overrides.
  &[class*="banner--gradient-dark"]:not([class*="banner--stacked"]) {
    .banner__text a {
      [class*="bg--gray"] &,
      [class*="bg--gold"] &,
      [class*="bg--white"] & {
        color: #fff;
      }
    }
  }

  &[class*="bg--black"] {
    .banner__text p {
      color: #fff;
    }
  }

  &[class*="banner--gradient-light"] {
    .banner__text {
      blockquote {
        [class*="bg--gold"] & {
          border-left-color: $primary;
        }
      }
    }
  }

  &[class*="bg--gray"] {
    .banner__text {
      color: $secondary;

      a {
        color: $secondary;
      }

      p {
        color: $secondary;
        font-weight: normal;
        text-shadow: none;

        a {
          color: $secondary;
        }
      }
    }
  }

  &[class*="bg--gold"],
  &[class*="bg--white"],
  &[class*="banner--gradient-light"] {
    .banner__text {
      color: $secondary;

      p {
        color: $secondary;
        font-weight: normal;
        text-shadow: none;

        a {
          color: $secondary;
        }
      }

      a {
        color: $secondary;
      }
    }
  }

  &--stacked {
    .banner__text {
      color: $secondary;
      @include breakpoint(sm) {
        color: #fff;
      }

      a {
        color: $secondary;
        @include breakpoint(sm) {
          color: #fff;
        }
      }
    }

    &[class*="banner--gradient-dark"] {
      .banner__text * {
        color: $secondary;
        text-shadow: none;
      }

      @include breakpoint(sm) {
        .banner__text * {
          color: #fff;
          text-shadow: 0 1px 3px #000;
        }

        .banner__container {
          filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 50%));
        }
      }
    }

    &[class*="banner--gradient-light"] {
      @include breakpoint(sm) {
        .banner__container {
          // This glow allows the text to sit over darker images better.
          filter: drop-shadow(0 1px 9px rgb(255, 255, 255, 50%));
        }
      }
    }

    &[class*="bg--black"] {
      display: flex;

      .banner__text {
        color: #fff;

        a {
          color: #fff;
        }

        p {
          color: #fff;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

// === End: Text/buttons === //

// === Image === //
.banner {
  .media--image {
    overflow: visible;

    img {
      display: block;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      height: 100%;
      top: 0;
    }
  }

  &--stacked {
    .media--image {
      img {
        position: relative;
        @include breakpoint(sm) {
          position: absolute;
        }
      }
    }
  }
}
// === End: Image === //

// === Video === //
.banner {

  .media--video .video-controls {
    z-index: 2;
  }

  .media--video {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;

    video {
      overflow: visible;
      display: block;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      top: 0;
      @include breakpoint(sm) {
        position: absolute;
      }
    }
  }

  &.banner--extra-padding {
    .media--video {
      .video-controls {
        @include container-query() {
          @include breakpoint(sm) {
            left: 6rem;
            bottom: 4rem;
          }
        }
      }
    }
  }

  .media--video {

    .video-controls {
      position: absolute;
      left: $gutter;
      bottom: $gutter;

      @include breakpoint(sm) {
        left: $mobile-height-gutter;
        bottom: $mobile-height-gutter;
      }
    }

    .video-btn {
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: $secondary;
      border: 1px solid white;
      border-radius: 50%;
      background: white;
      font-size: 1rem;
      padding: 0;

      @include breakpoint(sm) {
        display: block;
      }

      &::after {
        content: "\f04b";
        @include fas();
        font-size: 1rem;
      }

      &.video-btn__play::after {
        margin-left: 3px;
      }

      &.video-btn__pause::after {
        content: "\f04c";
      }
    }
    @media (hover:none), (hover:on-demand) {
      .video-btn {
        display: none;
      }
    }
  }

  &[class*="banner--gradient-light"] {
    .media--video .video-btn {
      border: 1px solid $secondary;
    }
  }

  &--stacked {
    .media--video {
      position: relative;
      @include breakpoint(sm) {
        position: absolute;
      }

      .video-btn {
        display: block;
      }
    }
  }
}
// === End: Video === //

// === Stacked === //
.banner {
  &--stacked {
    display: block;
    @include breakpoint(sm) {
      display: flex;
    }
  }
}
// === End: Stacked === //

// === Gradients === //
.banner {
  // Default overlay
  &[class*="banner--gradient"]:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    will-change: opacity;
  }

  &.banner--gradient-dark {
    @include breakpoint(sm) {
      background: $secondary;
    }

    &:not([class*="banner--stacked"]) {
      background: $secondary;
    }
  }

  &--gradient-top {
    &[class*="banner--stacked"] {
      &:after {
        background: none;
        width: auto;
        height: auto;
        @include breakpoint(sm) {
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, #{$gradient-dark-vertical});
        }
      }
    }

    &:after {
      background: rgba(0, 0, 0, .5);
      @include container-query() {
        background: linear-gradient(0deg, #{$gradient-dark-vertical});
      }
    }

    &.banner--gradient-light {
      &[class*="banner--stacked"] {
        &:after {
          background: none;
          width: auto;
          height: auto;
          @include breakpoint(sm) {
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #{$gradient-light-vertical});
          }
        }
      }

      &:after {
        background: rgba(255, 255, 255, .7);
        @include container-query() {
          background: linear-gradient(0deg, #{$gradient-light-vertical});
        }
      }
    }
  }

  &--gradient-left {
    &[class*="banner--stacked"] {
      &:after {
        background: none;
        width: auto;
        height: auto;
        @include breakpoint(sm) {
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, #{$gradient-dark-horizontal});
        }
      }
    }

    &:after {
      background: rgba(0, 0, 0, .5);
      @include container-query() {
        background: linear-gradient(90deg, #{$gradient-dark-horizontal});
      }
    }

    &.banner--gradient-light {
      &[class*="banner--stacked"] {
        &:after {
          background: none;
          width: auto;
          height: auto;
          @include breakpoint(sm) {
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #{$gradient-light-horizontal});
          }
        }
      }

      &:after {
        background: rgba(255, 255, 255, .7);
        @include container-query() {
          background: linear-gradient(90deg, #{$gradient-light-horizontal});
        }
      }
    }
  }

  &--gradient-bottom {
    &[class*="banner--stacked"] {
      &:after {
        background: none;
        width: auto;
        height: auto;
        @include breakpoint(sm) {
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, #{$gradient-dark-vertical});
        }
      }
    }

    &:after {
      background: rgba(0, 0, 0, .5);
      @include container-query() {
        background: linear-gradient(180deg, #{$gradient-dark-vertical});
      }
    }

    &.banner--gradient-light {
      &[class*="banner--stacked"] {
        &:after {
          background: none;
          width: auto;
          height: auto;
          @include breakpoint(sm) {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #{$gradient-light-vertical});
          }
        }
      }

      &:after {
        background: rgba(255, 255, 255, .7);
        @include container-query() {
          background: linear-gradient(180deg, #{$gradient-light-vertical});
        }
      }
    }
  }

  &--transparent {
    &:after {
      background: none;
    }
  }

  &[class*="bg-"]:after {
    background: inherit;
  }
}
// === End: Gradients === //

// === Background colors === //
// Remove left/right padding if container background matches banner background.

$bg-colors: "white", "black", "gray", "gold";

// Simple background colors and pattern variants
@each $color in $bg-colors {
  div.bg--#{$color} {
    .banner.bg--#{$color} {
      .banner__content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // Pattern variant for each color.
  div[class*="bg--#{$color}--pattern"] {
    .banner[class*="bg--#{$color}--pattern"] {
      .banner__content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// Special case for no background class.
div:not([class*="bg-"]) {
  .banner.bg--white {
    .banner__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
// === End: Background colors === //
