@use '../abstracts/variables';
@use '../abstracts/utilities';

// === Banner base === //
.banner {
  --banner-padding: #{variables.$gutter};
  --banner-overlay-color-rgb: 0, 0, 0;
  --banner-overlay-solid-opacity: .5;
  --banner-overlay-gradient-midpoint: 40%;
  --banner-overlay-gradient: rgb(var(--banner-overlay-color-rgb), .7) 0%, rgb(var(--banner-overlay-color-rgb), .6) var(--banner-overlay-gradient-midpoint), transparent;
  --banner-text-color: #fff;
  --banner-bg-failsafe: #{variables.$secondary};
  --link-color: var(--banner-text-color);

  display: flex;
  flex-basis: 100%;
  // Default vertical alignment is centered.
  align-items: center;
  // Default horizontal alignment is centered.
  justify-content: center;
  min-height: 15rem;
  position: relative;
  overflow: hidden;

  @include utilities.breakpoint(sm) {
    --banner-padding: #{variables.$mobile-height-gutter};
  }
}
// === End: Banner base === //

// === Media === //
.banner .media {
  // Background color for media element loading.
  background: #{variables.$secondary};
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: visible;

  @include utilities.container-query() {
    position: absolute;
  }

  img,
  video {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    overflow: visible;
  }

  // Overlay/Gradient.
  &:after {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    will-change: opacity;
    // Default is dark overlay.
    background: rgb(var(--banner-overlay-color-rgb), var(--banner-overlay-solid-opacity));
  }

  // Video.
  .video-controls {
    position: absolute;
    z-index: 2;
    right: #{variables.$gutter};
    bottom: #{variables.$gutter};

    @include utilities.container-query {
      right: #{variables.$mobile-height-gutter};
      bottom: #{variables.$mobile-height-gutter};
    }
  }

  .video-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #{variables.$secondary};
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    padding: 0;

    @include utilities.container-query() {
      display: block;
    }

    &::after {
      content: "\f04b";
      @include utilities.fas();
      font-size: 1rem;
    }

    &.video-btn__play::after {
      margin-left: 3px;
    }

    &.video-btn__pause::after {
      content: "\f04c";
    }
  }
  @media (hover:none), (hover:on-demand) {
    .video-btn {
      display: none;
    }
  }
}
// === End: Media === //

// === Content === //
.banner__content {
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  padding: var(--banner-padding);

  @include utilities.container-query() {
    z-index: 1;
    max-width: #{variables.$container-width};
    top: 0;
  }

  > * {
    flex-basis: 100%;
  }
}
// === End: Content === //

// === Headline === //
.banner {
  .headline {
    color: var(--banner-text-color);
    margin-top: 0;
    margin-bottom: 1rem;
    z-index: 1;

    a {
      color: var(--link-color);

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: underline;
      }
    }
  }

  &:focus-within .headline a:focus {
    text-decoration: underline;
  }

  // Overriding the serif font size set in base/_headings.scss
  :where(h2, h3, h4, h5, h6) {
    &.headline--large,
    &.headline--large.headline--serif {
      font-size: 2.6rem;

      @include utilities.container-query() {
        font-size: clamp(2.5rem, calc(4.9577vw + 0.6408rem), 4.7rem);
      }
    }
    // Set medium heading size
    &.headline--medium,
    &.headline--medium.headline--serif {
      font-size: 2.2rem;

      @include utilities.container-query() {
        font-size: clamp(2.2rem, calc(3.3803vw + 0.9324rem), 3.7rem);
      }
    }
    // Set small heading size
    &.headline--small,
    &.headline--small.headline--serif {
      font-size: 1.8rem;
      @include utilities.container-query() {
        font-size: clamp(2rem, calc(1.5775vw + 1.4085rem), 2.7rem);
      }
    }
  }
}
// === End: Headline === //

// === Pre-title === //
.banner__pre-title {
  line-height: 1.1;

  &.headline.headline--serif {
    margin-bottom: 0;
    font-weight: 500;
  }

  &.headline.headline--uppercase {
    margin-bottom: 0.7rem;
    font-weight: 500;
  }

  &.headline--large {
    font-size: clamp(1.2rem, calc(0.9014vw + 0.862rem), 1.6rem);
  }

  &.headline--medium {
    font-size: clamp(1.2rem, calc(0.4507vw + 1.031rem), 1.4rem);
  }

  &.headline--small {
    font-size: #{variables.$h5-font-size};
  }
}
// === End: Pre-title === //

// === Text/buttons === //
.banner__text {
  z-index: 1;
  color: var(--banner-text-color);
  margin-bottom: 1.05rem;

  blockquote {
    margin-left: 0;
  }

  p {
    line-height: 1.5;
    margin-top: 0;
    color: var(--banner-text-color);

    a {
      position: relative;
      z-index: 1;
    }
  }

  // Set the border color for blockquote when background is gold.
  blockquote {
    // Match gold background color and patterns.
    [class*="bg--gold"] & {
      border-left-color: #{variables.$light};
    }
  }
}
// === End: Text/buttons === //

// === Buttons === //
.banner {
  .headline + .banner__action {
    margin-top: 1.5rem;
  }
}

.banner .bttn--transparent {
  color: var(--banner-text-color);
  border-color: var(--banner-text-color);
}

.banner__action .bttn {
  margin: 0 1rem 1rem 0;

  @include utilities.container-query() {
    + .bttn {
      margin: 0 1rem 1rem 0;
    }
  }
}
// === End: Buttons === //

// === Background colors === //
// 'bg--*' selectors match solid color and patterns.
.banner {
  &[class*="bg--gold"],
  &[class*="bg--white"],
  &[class*="bg--gray"] {
    --banner-text-color: #{variables.$secondary};
  }
}
// Add text shadow to the headline and text when there is
// no background class.
.banner:not([class*="bg--"]) {
  background-color: var(--banner-bg-failsafe);

  .headline,
  .banner__text {
    text-shadow: 0 1px 3px rgb(var(--banner-overlay-color-rgb));
  }
}
// === End: Background colors === //

// === Stacked === //
// if the banner is stacked and has no background color.
.banner--stacked:not([class*="bg--"]) {
  // We use a max-width rule here to avoid having to
  // override these rules in other places.
  @include utilities.container-query($type: max) {
    --link-color: #{variables.$secondary};
    --banner-bg-failsafe: white;

    display: block;

    .media {
      position: relative;

      &:after {
        background: none !important;
      }
    }

    .headline {
      color: #{variables.$secondary};
      text-shadow: none;
    }

    .banner__text {
      color: #{variables.$secondary};
      text-shadow: none;

      * {
        color: #{variables.$secondary};
      }
    }
  }
}
// === End: Stacked === //

// === Sizes === //
.banner--large::before {
  float: left;
  padding-top: 45.25%;
  content: '';
}
.banner--medium::before {
  float: left;
  padding-top: 32.25%;
  content: '';
}

.banner--full {
  &.banner--large {
    @include utilities.breakpoint(page-container) {
      height: 100vh;
    }
  }
}
// === End: Sizes === //

// === Alignment === //
.banner--vertical-top {
  align-items: flex-start;
}

.banner--vertical-bottom {
  align-items: flex-end;
}

.banner--horizontal-center {
  text-align: center;

  blockquote {
    border-left: none;
  }

  .banner__content {
    > * {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.banner--horizontal-left {
  text-align: left;
}
// === End: Alignment === //

// === Banner narrow === //
.banner--narrow  {
  .banner__content {
    @include utilities.container-query() {
      max-width: 75%;
    }
    @include utilities.container-query($size: variables.$break-page-container) {
      max-width: 50.75em;
    }
  }
  &.banner--horizontal-left {
    .banner__content {
      @include utilities.container-query() {
        margin-left: 0;
      }
      @include utilities.container-query($size: variables.$break-page-container) {
        margin-left: calc(50% - 81.875em / 2);
      }
    }
  }
}
// === End: Banner narrow === //

// === Overlay/Gradient === //
.banner--overlay-btt,
.banner--overlay-ttb,
.banner--overlay-ltr {
  .media:after {
    // Gradient comes in at the sm container breakpoint.
    @include utilities.container-query() {
      background: linear-gradient(var(--banner-overlay-gradient-direction), var(--banner-overlay-gradient));
    }
  }
}
.banner--overlay-btt {
  --banner-overlay-gradient-direction: 0deg;
}
.banner--overlay-ttb {
  --banner-overlay-gradient-direction: 180deg;
}
.banner--overlay-ltr {
  --banner-overlay-gradient-direction: 90deg;
  --banner-overlay-gradient-midpoint: 70%;
}
.banner--overlay-light {
  --banner-overlay-color-rgb: 255, 255, 255;
  --banner-overlay-solid-opacity: .7;
  --banner-text-color: #{variables.$secondary};
  --banner-bg-failsafe: white;
  // Override background color for media element loading.
  .media {
    background: #fff;

    .video-btn {
      border: 1px solid #{variables.$secondary};
    }
  }
}

// === End: Overlay/Gradient === //

// === Background colors === //
// Remove left/right padding if container background matches banner background.

$bg-colors: "white", "black", "gray", "gold";

// Simple background colors and pattern variants
@each $color in $bg-colors {
  div[class*="bg--#{$color}"] {
    .banner[class*="bg--#{$color}"] {
      .banner__content {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

// When the containing element has no background color
// and the banner has a solid white background, remove padding.
div:not([class*="bg--"]) {
  .banner.bg--white {
    .banner__content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
// === End: Background colors === //
