@use '../abstracts/variables';
@use '../abstracts/utilities';

// === Blockquote === //

blockquote {
  font-weight: var(--uiowa-blockquote-font-weight);
  font-style: normal;
  font-family: var(--uiowa-blockquote-font-family);
  border-left-style: solid;
  border-width: var(--uiowa-blockquote-accent-width);
  border-color: var(--uiowa-blockquote-accent-color);
  padding: variables.$lg;
  font-size: var(--uiowa-blockquote-font-size);
  line-height: var(--uiowa-blockquote-line-height);
  @include utilities.padding($top: variables.$xsm, $bottom: variables.$xsm, $left: variables.$lg);

  cite {
    display: block;
  }

  .blockquote__media {
    max-width: var(--uiowa-blockquote-media-max-width);
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  // border color overrides for certain background colors
  [class*="bg--black"] &,
  [class*="bg--"] [class*="bg--black"] &,
  [class*="bg--gray"] &,
  [class*="bg--"] [class*="bg--gray"] &,
  [class*="bg--white"] &,
  [class*="bg--"] [class*="bg--white"] &, {
    border-color: var(--uiowa-blockquote-accent-color);

    &::before {
      background: var(--uiowa-blockquote-accent-color);
    }
  }


  [class*="bg--gold"] &,
  [class*="bg--"] [class*="bg--gold"] & {
    border-color: var(--uiowa-blockquote-accent-color-on-gold);

    &::before {
      background: var(--uiowa-blockquote-accent-color-on-gold);
    }
  }

  p {
    margin-top: 0;
    font-weight: var(--uiowa-blockquote-font-weight);
    font-size: var(--uiowa-blockquote-font-size);
  }

  footer {
    font-family: var(--uiowa-blockquote-footer-font-family);
    margin-top: variables.$md;
    font-size: var(--uiowa-blockquote-footer-font-size);
    line-height: var(--uiowa-blockquote-footer-line-height);
    p {
      font-size: var(--uiowa-blockquote-footer-font-size);
      line-height: var(--uiowa-blockquote-footer-line-height);
    }
  }

  p + footer {
    margin-top: 0;
  }

  &.blockquote {
    flex-basis: 100%;
  }
  // @todo 2020/12/08 Remove '.blockquote-center' class in v4.0.0
  &.blockquote--center,
  .blockquote-center & {
    img {
      margin: 0 auto;
      display: block;
    }

    text-align: center;
    border: none;
    position: relative;

    @include utilities.padding($top: variables.$xlg, $bottom: variables.$xsm, $left: variables.$xsm, $right: variables.$xsm);

    &::before {
      position: absolute;
      content: '';
      height: var(--uiowa-blockquote-accent-width);
      top: 11px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 130px;
      background: var(--uiowa-blockquote-accent-color);
      -webkit-transition: 0.5s;
      transition: 0.5s;

      .bg--gold--pattern--brain &,
      .bg-pattern--brain-reversed &,
      [class*="bg--gold"] & {
        background: var(--uiowa-blockquote-accent-color-on-gold);
      }
    }
  }
  // @todo 2020/12/08 Remove '.blockquote-right' class in v4.0.0
  &.blockquote--right,
  .blockquote-right & {
    text-align: end;
    border-left: none;
    border-right-style: solid;
    padding: variables.$xsm variables.$lg;
  }
  // Shared styles for above and below options.
  &.blockquote--img-above,
  &.blockquote--img-below {
    .blockquote__media {
      margin-right: 1.3rem;
      margin-top: 0.7rem;
    }
    &.blockquote:not(.blockquote--center) {
      margin-bottom: variables.$mobile-width-gutter;

      .blockquote__media {
        margin-bottom: variables.$sm-md;

        @include utilities.breakpoint(sm) {
          margin-bottom: 0;
        }
      }
    }

    &.blockquote--right {
      .blockquote__media {
        margin-left: 1.3rem;
        margin-top: 0.7rem;
        margin-right: 0;
      }
    }
  }
  // Blockquote image above.
  &.blockquote--img-above {
    .blockquote__media {
      @include utilities.breakpoint(sm) {
        flex: 0 1 auto;
      }
    }

    .blockquote__content {
      @include utilities.breakpoint(sm) {
        flex: 0 1 75%;
      }
    }

    .blockquote__paragraph {
      position: relative;
      padding-bottom: variables.$lg;

      &::after {
        position: absolute;
        content: '';
        height: var(--uiowa-blockquote-accent-width);
        bottom: 0;
        left: 0;
        right: 0;
        width: 130px;
        background: var(--uiowa-blockquote-accent-color);
        -webkit-transition: 0.5s;
        transition: 0.5s;

        .bg--black--pattern--brain &,
        .bg--white--pattern--brain &,
        .bg-pattern--brain &,
        .bg-pattern--brain-black &,
        [class*="bg--black"] &,
        [class*="bg--gray"] &,
        [class*="bg--white"] & {
          background: var(--uiowa-blockquote-accent-color);
        }

        .bg--gold--pattern--brain &,
        .bg-pattern--brain-reversed &,
        [class*="bg--gold"] & {
          background: var(--uiowa-blockquote-accent-color-on-gold);
        }
      }
    }

    &.blockquote:not(.blockquote--center) {
      border: none;
      margin-right: 0;
      margin-left: 0;
      padding: variables.$md 0;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &.blockquote--right {
      flex-direction: row-reverse;

      .blockquote__paragraph {
        &::after {
          right: 0;
          left: inherit;
        }
      }
    }

    &.blockquote--center {
      padding-top: 0;

      &::before {
        position: absolute;
        content: '';
        height: 0;
        top: variables.$sm-md;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 0;
        background: none;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        display: none;
      }

      .blockquote__media {
        position: relative;
        margin: 0 auto variables.$md;
      }

      .blockquote__paragraph {
        &::after {
          margin: 0 auto;
        }
      }
    }
  }
  // Blockquote image below.
  &.blockquote--img-below {
    .blockquote__media {
      max-width: var(--uiowa-blockquote-media-img-below-max-width);
    }

    footer {
      display: flex;
      margin-top: .5rem;
      align-items: center;
    }

    cite {
      display: block;
      text-align: start;
    }

    &.blockquote--center {
      footer {
        margin: .5rem auto 0;
        justify-content: center;
        text-align: left;
        @include utilities.breakpoint(sm) {
          max-width: 40%;
        }
      }
    }

    &.blockquote--right {
      footer {
        text-align: end;
        flex-direction: row-reverse;
        align-content: end;
      }

      cite {
        text-align: end;
      }
    }
  }

  &.blockquote--remove-stylization {
    border-width: 0;

    &.blockquote--img-above {
      .blockquote__paragraph {
        padding-bottom: 0;
      }
    }

    &::before {
      height: 0;
    }

    .blockquote__paragraph {
      &::after {
        height: 0;
      }
    }
  }

  &.blockquote--remove-margin {
    &.blockquote:not(.blockquote--center) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
// === End: Blockquote === //
