@import '../abstracts/variables';
@import '../abstracts/utilities';
@import 'border';


// === Callout === //
.callout {
  --callout-spacing-lg: var(--space-lg-width-gutter);
  --callout-spacing-md: var(--space-md-width-gutter);
  --callout-spacing-sm: var(--space-sm-width-gutter);

  padding: var(--callout-spacing-md);
  @include breakpoint(sm) {
    padding: var(--callout-spacing-md);
    &[class*="bg-"] {
      padding: var(--callout-spacing-lg);
    }
  }
}
// === End: Callout === //
