@use '../abstracts/variables';
@use '../abstracts/utilities';


// === Callout === //
.callout {
  --callout-spacing-lg: var(--uiowa-space-300);
  --callout-spacing-md: var(--uiowa-space-200);
  --callout-spacing-sm: var(--uiowa-space-125);

  padding: var(--callout-spacing-md);
  @include utilities.breakpoint(sm) {
    padding: var(--callout-spacing-md);
    &[class*="bg-"] {
      padding: var(--callout-spacing-lg);
    }
  }
}
// === End: Callout === //
