@use '../abstracts/variables';
@use '../abstracts/utilities';


// === Callout === //
.callout {
  --callout-spacing-lg: var(--uiowa-callout-padding-with-background);
  --callout-spacing-md: var(--uiowa-callout-padding-base);
  --callout-spacing-sm: var(--space-sm-width-gutter);

  padding: var(--callout-spacing-md);
  @include utilities.breakpoint(sm) {
    padding: var(--callout-spacing-md);
    &[class*="bg-"] {
      padding: var(--callout-spacing-lg);
    }
  }
}
// === End: Callout === //
