@use '../abstracts/variables';
@use '../abstracts/utilities';

// UIDS3 CTA.
.cta {
  &__wrapper {
    width: 100%;

    .bold-headline,
    .headline {
      margin: 0;
      padding: 0;
      font-size: 2.8rem;
      line-height: 1.1;
      &.headline--uppercase {
        font-size: 2.8rem;
      }
    }

    &[class*="bg--black"] {
      .bold-headline,
      .headline {
        color: variables.$primary;
      }
    }
  }

  &__summary {
    line-height: 1.5;

    @include utilities.breakpoint(page-container) {
      margin: 0;
    }
  }

  &__container {
    display: block;
    padding: variables.$xlg variables.$mobile-width-gutter;
    justify-items: center;
    align-items: center;
    text-align: center;

    .element--left & {
      justify-items: unset;
      align-items: unset;
      text-align: unset;
      width: 100%;

      @include utilities.breakpoint(md) {
        padding: variables.$lg 0;
      }
    }

    @include utilities.breakpoint(md) {
      display: grid;
      padding: variables.$lg variables.$desktop-width-gutter;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
}

.cta__container>div {
  margin: variables.$md;

  @include utilities.breakpoint(page-container) {
    margin: 0 variables.$md;
  }

  @include utilities.breakpoint(page-container) {
    flex: 1;
  }
}

.cta__wrapper.element--left .bold-headline {
  font-size: 3.2rem;
}

.cta__wrapper.element--left .bold-headline {
  margin-bottom: variables.$sm;
  font-size: 2.5rem;
}

.cta__container {
  .cta__title {
    @include utilities.breakpoint(md) {
      margin-left: 0;
    }

    .element--left & {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  .cta__content {
    @include utilities.breakpoint(md) {
      margin-left: 0;
    }

    .element--left & {
      grid-area: 2 / 1 / 3 / 3;
    }
  }

  .cta__link {
    @include utilities.breakpoint(md) {
      margin-left: 0;
    }

    .element--left & {
      grid-area: 1 / 3 / 3 / 4;

      @include utilities.breakpoint(md) {
        text-align: right;
        @include utilities.center(vertical);
        justify-content: flex-end;
      }
    }
  }
}
