@use '../abstracts/variables';
@use '../abstracts/utilities';

// Generalized styles.
.form {
  --form-input-bg: #fafafb;
  --form-input-bg-disabled: #e1e1e1;
  --form-input-fg-disabled: #484741;
  --form-input-radius: 3px;
  --form-label-font-size: #{variables.$label-font-size};
  --form-label-color: #{variables.$secondary};
  --form-text-color: #{variables.$secondary};
  --form-input-padding: 0.5rem;
  --form-input-height: 2.9rem;
  --form-input-font-size: 1rem;
  --form-item-gap: 1rem;
  --form-section-border-color: #{variables.$gray-light};
  --form-input-outline-color: #{variables.$gray-light};

  input,
  select,
  button,
    // Make details summary appear as select list.
  details.form__details--multi-select summary {
    //line-height: 1rem;
  }

  input:not([type="checkbox"], [type="radio"], [type="submit"], [type="button"], [type="reset"]),
  textarea,
  select,
    // Make details summary appear as select list.
  details.form__details--multi-select summary {
    appearance: none;
    background-color: var(--form-input-bg);
    border: none;
    border-radius: var(--form-input-radius);
    box-shadow: inset 0 1px 3px rgba(10, 10, 10, 0.15);
    box-sizing: border-box;
    color: var(--brand-secondary);
    display: block;
    font-family: inherit;
    font-size: var(--form-input-font-size);
    font-weight: normal;
    height: var(--form-input-height);
    line-height: 1.5;
    margin: 0 0 1rem;
    outline: 1px solid var(--form-input-outline-color);
    padding: var(--form-input-padding);
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    width: 100%;

    &:focus {
      --form-input-bg: #fefefe;
      --form-input-outline-color: #8a8a8a;
      box-shadow: 0 0 5px 2px variables.$gray-light;
      outline-width: 2px;
      transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    }

    // Error styles.
    &.error {
      --form-input-outline-color: #{variables.$danger};
      --form-input-bg: #{variables.$danger-light};

      &:focus {
        box-shadow: 0 0 5px 2px variables.$danger-light;
      }
    }
  }

  select {
    padding-inline: 0.625rem 1.5rem;
  }

  details.form__details--multi-select summary {
    display: flex;
    margin-bottom: 0;
  }

  // === Spacing === //
  .form-item,
  .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  // === Labels/Description === //
  label {
    color: var(--form-label-color);
    //display: block;
    margin: 0;
    font-size: var(--form-label-font-size);
    font-weight:  variables.$font-weight-bold;
    line-height: 1.8;
  }

  .form-item:has(input[type="checkbox"]) label {
    font-size: var(--form-input-font-size);
  }

  label.form-required {
    &:after {
      margin-left: variables.$xsm;
      content: '*';
      color: variables.$danger;
      vertical-align: middle;
    }
  }

  abbr.req {
    font-size: 150%;
    color: variables.$danger;
  }


  [type='checkbox'] + label,
  [type='radio'] + label {
    font-weight: 400;
  }

  .form-item__description {
    font-size: var(--form-label-font-size);
    line-height: 1.4;
    clear: both;
    margin: variables.$xsm 0 variables.$md;
    flex-basis: 100%;
  }

  // === End: Labels/Description === //

  // === Input types === //
  input {
    &.form-autocomplete {
      background-position: 98% center;
    }

    //&[type='search'] {
    //  -webkit-box-sizing: border-box;
    //  box-sizing: border-box;
    //}

    + .form-item__description,
    + .field-prefix,
    + .field-suffix {
      position: relative;
      top: -0.75rem;
      inset-block-start: -0.75rem;
    }
  }

  textarea {
    height: auto;
    min-height: 100px;
    overflow: auto;
    max-width: 100%;

    &[rows] {
      height: auto;
    }
  }

  optgroup,
  select,
  textarea {
    font-family: inherit;
  }

  input,
  textarea {
    &:disabled,
    &[readonly] {
      cursor: not-allowed;
      color: var(--form-input-fg-disabled);
      border-color: #bababf;
      background-color: var(--form-input-bg-disabled) !important;
      box-shadow: none;
      -webkit-text-fill-color: var(--form-input-fg-disabled);
    }
  }

  [type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      height: auto;
    }
  }

  [type='search'] {
    // For some reason the default on this is -2, so we adjust
    // this back to 0 to be consistent with other input styles.
    outline-offset: 0;

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }

  [type='submit'],
  [type='button'] {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    //@include utilities.bttn;
    font-family: variables.$font-family-caps-bold;

    &.button--small {
      padding: 0.6rem 1rem 0.8rem;
      font-size: 1.05rem;
    }

    &.button--full-width {
      width: 100%;
    }
  }

  [type='file'] {
    width: 100%;
    margin-bottom: .625rem;
  }
  // === End: Input types === //


  // === Checkbox/Radios === //
  .form-type-checkbox,
  .form-type-radio {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    label {
      line-height: 1.4;
    }

    &[class*='side'] {
      display: inline-flex;

      &.form-item {
        margin-top: .5rem;
        margin-bottom: .5rem;
      }
    }
  }

  [type='checkbox'],
  [type='radio'] {
    height: 1.2rem;
    min-width: 1.2rem;
    margin: .25rem .35rem 0 .25rem;
    -webkit-transform: scale(1.3, 1.3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;

    & + label,
    & + label {
      font-weight: variables.$font-weight-normal;
      display: inline-block;
      vertical-align: baseline;
      margin-bottom: 0;
      margin-left: .625rem;
      margin-right: 1rem;

      &[for] {
        cursor: pointer;
        flex: 1;
      }
    }

    label > &,
    label > & {

    }
  }

  // === End: Checkbox/Radios === //

  // === Select and details === //

  select,
  details.details-multi-select summary {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 138, 138%29"></polygon></svg>');
    background-repeat: no-repeat;
    background-position: right -1rem center;
    background-origin: content-box;
    background-size: 9px 6px;

    @media screen and (min-width: 0\0) {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==');
    }
  }

  details.details-multi-select summary {
    padding: variables.$xsm;
    background-color: variables.$white;
    @include utilities.margin($top: 0, $right: 0, $bottom: 1rem);
    @include utilities.padding($right: variables.$lg, $left: variables.$md);


    &:disabled {
      cursor: not-allowed;
      background-color: var(--form-input-bg-disabled);
    }

    &::-ms-expand {
      display: none;
    }

    &[multiple] {
      height: auto;
      background-image: none;
    }
  }

  select[multiple] {
    border: 1px solid variables.$gray;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    padding-right: 0;
    height: 10rem;

    option {
      white-space: normal;
      padding: .5rem .5rem .5rem .75rem;
    }

    &:not(:disabled) option {
      transition: 120ms all ease-in;

      &:checked {
        padding-left: 0.5em;
        color: black;
      }
    }
  }
  // === End: Select and details === //

  // === Fieldset === //
  fieldset {
    margin: 1.5rem 0;
    border: none;
    padding: 0;

    legend {
      display: block;
      font-size: var(--form-label-font-size);
      font-weight: variables.$font-weight-bold;
      line-height: 1.6;
    }
  }
  // === End: Fieldset === //
}

// === Switch checkbox === //
.form__checkbox--switch {
  [type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: variables.$gray-light;
    transition: background-color ease 0.3s;
    margin-top: 0;

    &:focus-visible {
      background: variables.$light;
      outline: 1px solid variables.$secondary;
    }
  }

  [type='checkbox']:before {
    content: 'on off';
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: variables.$secondary;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }

  [type='checkbox']:checked {
    background-color: variables.$primary;
  }

  [type='checkbox']:checked:before {
    left: 32px;
  }
}

// === End: Switch checkbox === //

// === Details === //
 details.form-item.form__details--multi-select {
  margin-top: 0;
}

details.form__details--multi-select {
  position: relative;

  summary {
    cursor: pointer;
    color: variables.$gray;
    align-items: center;
    background-image: none;
    transition: border-color 0.25s ease-in-out;

    &:before {
      position: absolute;
      right: 0;
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 138, 138%29"></polygon></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-origin: content-box;
      background-size: 9px 6px;
      padding: 0 0.55rem;
      height: 100%;
      width: 2.425rem;
      transform: rotate(0deg);
    }

    &:focus {
      & + .details-wrapper {
        border-top: 1px solid #8a8a8a;
      }
    }
  }

  &[open] {
    summary {
      &:before {
        transform: rotate(180deg);
      }
    }
  }

  fieldset {
    margin-top: 0;
  }

  .details-wrapper {
    border: 1px solid variables.$gray-light;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    top: calc(var(--form-input-height) - 1px);
    width: calc(100% - 2px);
    z-index: 500;
    background: variables.$white;
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    max-height: 346px;
    overflow: auto;

    .form-item {
      padding: 0 .5rem;
    }
  }
}
// === End: Details === //

.form--light {
  label {
    font-weight: variables.$font-weight-medium;
    color: variables.$brand-cool-gray;
  }
}

.form--large {
  --form-input-height: 3.5rem;
  --form-input-font-size: 1.2rem;

  label,
  fieldset legend {
    font-size: inherit;
  }

  details.form__details--multi-select summary {
    padding-inline-start: .75rem;
  }

  .form-item {
    &:has(input[type=checkbox]) label,
    input,
    select {
      padding-inline-start: .75rem;
    }
  }
}

.form--compact {
  .form-item,
  .form-actions {
    margin-block-end: 0;
    margin-block-start: 0;
  }
}

.form--flex,
.form--inline {
  @include utilities.container-query() {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--form-item-gap);
    reading-flow: flex-visual;
    row-gap: var(--form-item-gap);
    width: 100%;

    .form-item {
      input,
      select {
        margin: 0;
      }
    }

    .details-wrapper,
    .form-actions {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--form-item-gap);
      reading-flow: flex-visual;
      row-gap: var(--form-item-gap);
    }
  }
}

.form--inline legend,
.form--flex legend {
  padding-block: 0 .5rem;
  margin-block: var(--space-sm-width-gutter);
  color: var(--form-text-color);
  font-size: 1rem;
  font-weight: 600;
  border-block-end: 1px solid var(--form-section-border-color);

  @include utilities.container-query() {
    display: flex;
    float: left;
    align-content: space-evenly;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    border-inline-end: 1px solid var(--form-section-border-color);
    margin-inline-end: var(--space-sm-width-gutter);
    margin-block: 0;
    border-block-end: none;
    padding-block: 0;
    padding-inline: 0 var(--space-sm-width-gutter);
  }
}

.form--inline {
  @include utilities.container-query() {
    .form-item,
    .form-actions {
      flex: unset;
    }
    .details-wrapper .form-item {
      flex: unset;
    }
  }
}

fieldset.form--inline {
  flex-wrap: unset;
}

.form--flex {
  @include utilities.container-query() {
    .form-item {
      flex: 1;
    }
    .details-wrapper .form-item {
      flex: 1;
    }
  }
}

// === Details Toggle === //
.form details:not(.form__details--multi-select) {
  cursor: pointer;
  margin-block-end: 1rem;

  &[open] {
    @include utilities.container-query() {
      //margin-block-end: 0;
    }
  }
}

.form details:not(.form__details--multi-select) > summary {
  font-size: 1rem;
  font-weight: 600;
  margin-block-start: 1.5rem;
  padding-block: 0;
  padding-inline: 1.5625rem;
  height: 2.5rem;
  background: var(--form-input-bg);
  border-radius: 8px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  position: relative;

  i {
    color: #{variables.$gray};
  }
}

.form details:not(.form__details--multi-select) > summary:hover {
  background: #e9ecef;
}

.form details:not(.form__details--multi-select) > summary::-webkit-details-marker {
  display: none;
}

.form details:not(.form__details--multi-select) > summary::after {
  @include utilities.fas();
  content: "\+";
  display: inline-block;
  transition: opacity 0.2s ease;
  font-size: .7rem;
  margin-inline-start: auto;
  background: #666;
  color: #fff;
  border-radius: 50%;
  padding: .2rem;
}

.form details:not(.form__details--multi-select)[open] > summary::after {
  content: "\f068";

}

.form details:not(.form__details--multi-select) > .details-wrapper {
  opacity: 0;
  transition: max-width 0.5s ease, opacity 0.5s ease;
  //padding-block-start: 1rem;

  @include utilities.container-query() {
    //flex: 1;
    //display: flex;
    //column-gap: var(--filter-gap);
    //flex-wrap: wrap;
    //align-items: baseline;
  }
}

.form details:not(.form__details--multi-select)[open] > .details-wrapper {
  max-width: 100%;
  opacity: 1;
}
// === End: Details Toggle === //

