@use '../abstracts/variables';
@use '../abstracts/utilities';

/*
 * BEM Classes.
 * =====================
 * .form--filter
 *   .form--filter__filters--label
 *   .form--filter__filters--wrapper
 *   .form--filter__filters
 *     .form--filter__filters--details
 *   .form--filter__filters--select
 *   .form--filter__actions
 *   details.form__details--multi-select
 *   details:not(.form__details--multi-select)
 */


// === Filter Form Block === //
.form--filter {
  //--filter-gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  //column-gap: var(--filter-gap);
  reading-flow: flex-visual;
  width: 100%;

  .form-item {
    margin-block-start: 0;
  }

  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea,
  select,
  details.form__details--multi-select {
    margin-block-end: 0;
  }
}
// === End: Filter Form Block === //

// === Label === //
.form--filter__filters--label,
.form--inline legend,
.form--flex legend {
  float: left;
  padding-block: 0 .5rem;
  margin-block: var(--space-sm-width-gutter);
  color: var(--form-text-color);
  font-size: 1rem;
  font-weight: 600;
  border-block-end: 1px solid var(--form-section-border-color);

  @include utilities.container-query() {
    display: flex;
    align-content: space-evenly;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    border-inline-end: 1px solid var(--form-section-border-color);
    margin-inline-end: var(--space-sm-width-gutter);
    margin-block: 0;
    border-block-end: none;
    padding-block: 0;
    padding-inline: 0 var(--space-sm-width-gutter);
  }
}
// === End: Label === //

// === Filter Box === //
.form--filter__filters--wrapper {
  flex-basis: 100%;
  order: 4;

  @include utilities.container-query() {
    display: flex;
    order: unset;
  }
}

//.form--filter .form--filter__filters .form-item select {
//  font-size: 1rem;
//}

.form--filter__filters {
  //column-gap: var(--filter-gap);
  //width: 100%;


  //@include utilities.container-query() {
  //  display: flex;
  //  align-items: center;
  //  flex-wrap: wrap;
  //}

  //> .form-item {
  //  margin-block-end: 0;
  //}

  .form--filter__filters--details {
    @include utilities.container-query() {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    label {
      flex-basis: 100%;
    }

     .form-item {
      flex: 1!important;
      margin-block-end: 0;
    }
  }
}
// === End: Filter Box === //

// === Multi Select Details === //
.form--filter details.form__details--multi-select {
  summary {
    height: var(--form-input-height);
    background-color: var(--form-input-bg);
    min-width: 150px;
  }

  .details-wrapper {
    top: calc(var(--form-input-height) - 1px);
    padding-block-start: 1rem;
  }
}
// === End: Multi Select Details === //

// === Select Dropdown === //
//.form--filter .form-item  *,
.form--filter .form-item  * {
  padding: 0;
  position: relative;
  box-sizing: border-box;
  @include utilities.container-query() {
    margin: 0;
  }
}

.form--filter__filters--wrapper select {
  @include utilities.container-query() {
    max-width: 250px;
  }
}

.form--filter .form-item {
  position: relative;

  select {
    //padding-block: 0.5rem;
    //padding-inline: 0.625rem 1.5rem;
    //font-size: 1.2rem;
    //font-weight: normal;
    //appearance: none;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
// === End: Select Dropdown === //

// === Field width inside/outside of the filters === //
.form--filter .form-item {
  flex: 1;
}

.form--filter .form--filter__filters  .form-item {
  flex: unset;
}

// === End: Fields outside of the filters  === //

// === Form Text Input === //
//.form--filter .form-type-textfield {
//  flex: 1;
//}

.form--filter .form [type='text'] {
  border-radius: var(--form-input-radius);
  padding-inline: 0.9375rem 20%;
  font-size: 1.2rem;
  background-color: var(--form-input-bg);
  order: 1;
}
// === End: Form Text Input === //

// === Actions === //
.form--filter .form--filter__actions {
  display: flex;
  column-gap: var(--filter-gap);
  order: 4;
  width: 100%;

  @include utilities.container-query() {
    width: auto;
  }

  [type='submit'] {
    padding-block: 0.8rem 0.9rem;
    padding-inline: 1rem;
    height: 3.5rem;
    flex: 1;
  }

}
// === End: Actions === //

// === Details Toggle === //
details:not(.form__details--multi-select) {
  cursor: pointer;
  margin-block-end: 1rem;

  &[open] {
    @include utilities.container-query() {
      margin-block-end: 0;
    }
  }
}

details:not(.form__details--multi-select) > summary {
  font-size: 1rem;
  font-weight: 600;
  margin-block-start: 1.5rem;
  padding-block: 0;
  padding-inline: 1.5625rem;
  height: 2.5rem;
  background: var(--form-input-bg);
  border-radius: 8px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  position: relative;

  i {
    color: #{variables.$grey};
  }
}

details:not(.form__details--multi-select) > summary:hover {
  background: #e9ecef;
}

details:not(.form__details--multi-select) > summary::-webkit-details-marker {
  display: none;
}

details:not(.form__details--multi-select) > summary::after {
  @include utilities.fas();
  content: "\+";
  display: inline-block;
  transition: opacity 0.2s ease;
  font-size: .7rem;
  margin-inline-start: auto;
  background: #666;
  color: #fff;
  border-radius: 50%;
  padding: .2rem;
}

details:not(.form__details--multi-select)[open] > summary::after {
  content: "\f068";

}

details:not(.form__details--multi-select) > .details-wrapper {
  opacity: 0;
  transition: max-width 0.5s ease, opacity 0.5s ease;
  //padding-block-start: 1rem;

  @include utilities.container-query() {
    //flex: 1;
    //display: flex;
    //column-gap: var(--filter-gap);
    //flex-wrap: wrap;
    //align-items: baseline;
  }
}

details:not(.form__details--multi-select)[open] > .details-wrapper {
  max-width: 100%;
  opacity: 1;
}
// === End: Details Toggle === //
