@use '../abstracts/variables';
@use '../abstracts/utilities';

table .bttn--light-font {
  padding: 0;
}

// === Filter Form Block === //
.filter-form {
width: 100%;
  background: #ccc;

  form {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }



  // Details & Summary
  details {
    --elemHeight: 3.5rem;
    flex: 1;
    background: unset;
    border: unset;
    position: relative;

    &.form-wrapper {
      border: none;
      background: none;
      flex-basis: 100%; /* Makes this item take up the entire width */


      &.form-item {
        align-self: end;

        @include utilities.breakpoint(md) {
          margin-top: 0;
        }
      }
    }

    &:not(.form__details--multi-select) {
      &[open] > summary::before {
        //content: "\f139";
        content: "\f0b0";
      }
    }

    .details-wrapper {
      display: flex;
      gap: 1rem;

      .form-item {
        margin-top: 0;
      }
      .form-item {
        flex: 1;
      }
      .form-type-checkbox.form-item {
        padding: 0 0.5rem;
        margin-right: 0;
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  summary {
    cursor: pointer;
    padding: 0;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    display: flex;
    background: #ccc;
    padding:.5rem;
    display: inline;



    &::-webkit-details-marker,
    &::marker {
      display: none;
    }

    &::before {
      padding: 0 0.6rem variables.$xsm variables.$xsm;
      content: "\f0b0";
      font-weight: 400;
      color: variables.$brand-cool-gray;
      @include utilities.fas();
    }
  }


}

// === Form Actions === //
// === Form Item Combine and Filter Form Actions Inline === //
.filter-form {
  //display: flex;
  //align-items: flex-end;
  //gap: 1rem;
  //flex-wrap: wrap;
  display: flex;

  .form-item-combine {
    flex: 1;

  }

  .filter-form__actions {
    width: 20%;
    display: inline;
    display: none;
  }
}
