@import '../abstracts/variables';
@import '../abstracts/utilities';


.logo {
  display: block;
}

.logo--tab {
  height: 70px;
  width:  109px;
  padding: 25px $gutter;
  background: $secondary;

  a:focus svg {
    opacity: .5;
  }

  @include breakpoint(md) {
    width: 154px;
    height: 80px;
    padding: 25px;
  }

  @include breakpoint(page-container) {
    width: 188px;
    height: 90px;
    padding: 23px 20px;
  }

  &.logo--uihc {
    padding: 20px 1.25rem;
    @include breakpoint(md) {
      height: 100px;
      padding: 27px 22px;
    }
    @include breakpoint(page-container) {
      height: 116px;
    }
  }

  // @todo Move this to search or search-toggle?
  .search-is-open & {
    visibility: none;
    opacity: 0;

    @include breakpoint(md) {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }

}

.logo-icon {
  fill: $uiowa-gold;
  height: 20px;

  .logo-text {
    fill: #fff;
  }

  @include breakpoint(md) {
    height: 30px;
  }

  @include breakpoint(page-container) {
    height: 43px;
  }

  .logo--uihc & {
    height: 32px;
    @include breakpoint(md) {
      height: 47px;
    }

    @include breakpoint(page-container) {
      height: 67px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  // @todo Move this to header.scss?
  .header--tertiary & {
    margin-left: 0;

    @include breakpoint(page-container) {
      margin-top: 0;
    }
  }
}
