@import '../abstracts/variables';
@import '../abstracts/utilities';

// === Logo === //
.logo {
  display: block;
}

.logo--tab {
  height: 70px;
  width:  109px;
  padding: 25px $gutter;
  background: $secondary;

  a:focus svg {
    opacity: .5;
  }

  @include breakpoint(md) {
    width: 154px;
    height: 80px;
    padding: 25px;
  }

  @include breakpoint(page-container) {
    width: 188px;
    height: 90px;
    padding: 23px 20px;
  }
}
// === End: Logo === //

// === Logo SVG === //
.logo-icon {
  fill: $uiowa-gold;
  height: 20px;

  .logo-text {
    fill: #fff;
  }

  @include breakpoint(md) {
    height: 30px;
  }

  @include breakpoint(page-container) {
    height: 43px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
// === End: Logo SVG === //

// === Logo Healthcare === //
.logo--tab {
  &.logo--healthcare {
    padding: 20px 1.25rem;
    @include breakpoint(md) {
      height: 100px;
      padding: 23px 22px;
    }
    @include breakpoint(page-container) {
      height: 113px;
    }
  }
}

.logo--healthcare {
  .logo-icon {
    height: 32px;
    @include breakpoint(md) {
      height: 47px;
    }

    @include breakpoint(page-container) {
      height: 67px;
    }
  }
}
// === End: Logo Healthcare === //
