@use '../abstracts/variables';
@use '../abstracts/utilities';

.user-menu-toggle {
  .menu {
    display: none;
  }
}

.menu--container {
  border-bottom: 1px solid #e6e5e5;
}

.menu {
  --menu-flex-direction: column;
  --menu-item-state-indicator-width: 5px;
  --menu-item-state-indicator-height: 100%;
  --menu-link-color: var(--brand-secondary);
  display: flex;
  flex-direction: var(--menu-flex-direction);
  list-style-type: none;
  margin: 0;
  padding: 0;

  // Make top-level menu items bold.
  &:not(ul ul) > li > a {
    font-weight: bold;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid hsla(0,0%,79%,.5);
    position: relative;

    &:last-child,
    &:last-of-type {
      border-bottom: none;
    }

    &.has-icon {
      > a,
      > span:not([class*="fa"]) {
         padding-left: 2.7rem;
      }
    }

    .fa-li {
      left:  .3rem;
    }

    .fas {
      color: variables.$brand-cool-gray;
    }

    a,
    span:not([class*="fa"]) {
      color: var(--menu-link-color);
      display: block;
      padding: 1.05rem;
      position: relative;
      text-decoration: none;
      transition: background 0.8s ease-out;

      &:focus,
      &:hover,
      &:focus,
      &:hover {
        text-decoration: underline;
      }

      &:after {
        background: #e1e1e1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        content: "";
        -webkit-transition: 300ms;
        transition: 300ms;
      }

      // Adjustments for light colored backgrounds.
      [class*="bg--white"] &,
      [class*="bg--"] [class*="bg--white"] &,
      [class*="bg--gray"] &,
      [class*="bg--"] [class*="bg--gray"] & {
        color: #333;
      }
    }

    // Nested menus.
    & > ul.menu {
      // Indent nested menus.
      margin-left: 1.7rem;

      // Remove bottom border from nested list items.
      li {
        border-bottom: none;

        a,
        span:not([class*="fa"]) {
          padding-block-start: .5rem;
          padding-block-end: .5rem;
          &:hover:after {
            background: var(--uids-grey-light);
          }
        }
      }
    }
  }

  // Adds an underline on hover.
  > li > a:hover:after {
    background: var(--brand-primary);
    height: var(--menu-item-state-indicator-height);
    width: var(--menu-item-state-indicator-width);
  }
}

.menu--horizontal {
  @include utilities.container-query() {
    --menu-item-state-indicator-width: 100%;
    --menu-item-state-indicator-height: 5px;
    --menu-flex-direction: row;
    display: flex;
    flex-wrap: wrap;

    // @todo: Figure out how to display nested menus on hover.
    > li ul {
      display: none;
    }

    li {
      border-bottom: none;

      a {
        text-decoration: none;
        line-height: 1.2;

        .fas {
          line-height: 1.4;
          padding-inline-end: .4rem;
        }

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
