.menu {
  --menu-item-display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  ul, li {
    margin: 0;
    padding: 0;
  }

  li a {
    display: var(--menu-item-display);
    padding: 1.05rem;
  }
}

.menu--horizontal {
  --menu-item-display: inline-block;
  li {
    a {
      padding: 1.35rem .75rem;
    }
  }
}
