@use '../abstracts/variables';
@use '../abstracts/utilities';

.pager {
  @include utilities.margin(variables.$bottom: variables.$sm, variables.$left: 0);
  &__items {
    @extend %no-ul-list;
  }
}

.pager::before,
.pager::after {
  display: table;
  order: 1;
  content: ' ';
  flex:1 0 0;
}

.pager::after {
  clear: both;
}

.pager li {
  font-size: var(--uiowa-pager-font-size);
  @include utilities.margin(variables.$right: variables.$xsm);
}

.pager li:last-child,
.pager li:first-child {
  display: inline-block;
}

.pager li {
  display: inline-block;
}

.pager a,
.pager button {
  display: block;
  text-decoration: none;
  color: var(--uiowa-pager-link-color);
  @include utilities.padding(variables.$top: variables.$sm, variables.$right: variables.$md, variables.$bottom: variables.$sm, variables.$left: variables.$md);
}

.pager a:hover,
.pager button:hover {
  background: var(--uiowa-pager-link-hover-background);
}

.pager .is-active a {
  cursor: default;
  color: var(--uiowa-pager-active-color);
  background: var(--uiowa-pager-active-background);
  &:hover {
    color: var(--uiowa-pager-active-hover-color);
    background: var(--uiowa-pager-active-hover-background);
  }
}

.pager .disabled {
  cursor: not-allowed;
  color: var(--uiowa-pager-disabled-color);
  @include utilities.padding(variables.$top: variables.$sm, variables.$right: variables.$md, variables.$bottom: variables.$sm, variables.$left: variables.$md);
}

.pager .disabled:hover {
  background: transparent;
}

.pager .ellipsis::after {
  content: '\2026';
  color: var(--uiowa-pager-ellipsis-color);
  @include utilities.padding(variables.$top: variables.$sm, variables.$right: variables.$md, variables.$bottom: variables.$sm, variables.$left: variables.$md);
}

// uids_base styles.
.pager {
  margin-bottom: variables.$mobile-height-gutter;
  margin-top: 1.5rem;
}

.pager a {
  color: var(--uiowa-pager-link-color);
  [class*=bg--black] & {
    background-color: var(--uiowa-pager-context-black-background);
  }
  [class*=bg--white] & {
    background-color: var(--uiowa-pager-context-white-background);
  }
  [class*=bg--gold] & {
    background-color: var(--uiowa-pager-context-gold-background);
  }
  [class*=bg--gray] & {
    background-color: var(--uiowa-pager-context-gray-background);
  }
}
.pager a:hover,
.pager a:focus {
  background-color: var(--uiowa-pager-link-hover-background);
  color: var(--uiowa-pager-link-color);
  [class*=bg--black] &,
  [class*=bg--gold] & {
    background-color: var(--uiowa-pager-context-black-hover-background);
  }
  [class*=bg--gray] & {
    background-color: var(--uiowa-pager-context-gray-hover-background);
  }
}

/* Active State */
.pager .is-active a {
  background-color: var(--uiowa-pager-active-background);
  color: var(--uiowa-pager-active-color);

  [class*=bg--gray] &,
  [class*=bg--white] & {
    color: variables.$white;
  }

  [class*=bg--black] & {
    background-color: var(--uiowa-pager-context-black-active-background);
    color: var(--uiowa-pager-context-black-active-color);
  }

  /* Active Hover/Focus States */
  &:hover, &:focus {
    background-color: var(--uiowa-pager-active-hover-background);
    color: var(--uiowa-pager-active-hover-color);
    [class*=bg--black] &,
    [class*=bg--gold] & {
      background-color: var(--uiowa-pager-context-black-active-hover-background);
    }
  }
}
