@use '../abstracts/variables';
@use '../abstracts/utilities';

// https://drafts.csswg.org/css-values-5/#interpolate-size.
:root {
  interpolate-size: allow-keywords;
}

.stat__grid {
  margin: 0;
  width: 100%;
  transition: all .55s cubic-bezier(.95, 1.25, .375, 1.15);

  &.stat--static {
    &:hover .stat__content {
      @include utilities.breakpoint(md) {
        max-height: 100vh;
      }
      @include utilities.breakpoint(md) {
        @supports (interpolate-size: allow-keywords) {
          max-height: max-content;
          overflow: hidden;
        }
      }
    }
  }

  &:hover .stat__content {
    @include utilities.breakpoint(md) {
      max-height: 100vh;
    }
    @include utilities.breakpoint(md) {
      @supports (interpolate-size: allow-keywords) {
        max-height: max-content;
        overflow: hidden;
      }
    }
  }
}

.stat {
  position: relative;

  &__title {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    font-family: variables.$font-family-caps-bold;
    font-weight: bold;
    font-size: 4rem;
    border-bottom: 8px solid variables.$primary;
    padding: variables.$lg 0 variables.$sm 0;

    @include utilities.breakpoint(sm) {
      padding: variables.$md variables.$lg variables.$sm 0;
    }

    .element--flex-center & {
      padding: variables.$md variables.$lg variables.$sm variables.$lg;
      display: block;
    }

    .bg-pattern--brain &,
    [class*="bg--white"] &,
    [class*="bg--gray"] &,
    [class*="bg--black"] & {
      border-bottom: 8px solid variables.$primary;
    }

    // @todo This should probably be resolved with https://sass-lang.com/documentation/values/maps#using-maps
    .stat--horizontal.bg-pattern--brain-black &,
    .stat--horizontal[class*="bg--black"] &,
    .bg-pattern--brain-black &,
    [class*="bg--black"] & {
      color: variables.$primary;
    }

    .bg-pattern--brain-reversed &,
    [class*="bg--gold"] & {
      border-bottom: 8px solid white;
    }

    @include utilities.breakpoint(sm) {
      font-size: 5rem;
      padding: 0 variables.$lg variables.$sm 0;

      .element--flex-center & {
        padding: 0 variables.$lg variables.$sm;
      }
    }
  }

  &__content {
    color: #666;
    margin: 0;
    padding: 0;
    line-height: 1.4;

    @include utilities.breakpoint(md) {
      max-height: 0;
      transition: max-height 0.4s ease-in-out;
      overflow: hidden;
    }

    .stat--static & {
      @include utilities.breakpoint(md) {
        max-height: max-content;
        transition: none;
        overflow: unset;
      }
    }

    [class*="bg--black"] &,
    .bg-pattern--brain-black & {
      color: #ccc;
    }

    .bg-pattern--brain-reversed &,
    [class*="bg--gold"] & {
      color: variables.$secondary;
    }

    .element--flex-center & {
      @include utilities.breakpoint(md) {
        margin: 0 10%;
      }
    }
  }

  &__description {
    position: relative;
    display: inline-block;
    font-family: variables.$font-family-caps-bold;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.2;
    width: 85%;
    margin: variables.$sm 0;

    .bg-pattern--brain-black &,
    [class*="bg--black"] & {
      color: white;
    }

    @include utilities.breakpoint(md) {
      font-size: 1.5rem;
    }

    .grid--3-2 & {
      @include utilities.breakpoint(md) {
        width: 60%;
      }
    }
  }
}

.grid--3-2 .stat__description {
  @include utilities.breakpoint(md) {
    width: 60%;
  }
}


.headline__prefix,
.headline__suffix{
  font-size: 3.5rem;
  vertical-align: middle;
}

.headline__prefix {
  margin-right: -7px;
}

.headline__suffix {
  margin-left: -7px;
}

.stat--horizontal:not(.element--flex-center) {

  &.bg-pattern--brain-reversed,
  &[class*="bg--gold"],
  .bg-pattern--brain-reversed &,
  [class*="bg--gold"] & {
    .stat__content {
      @include utilities.breakpoint(page-container) {
        border-top: 8px solid variables.$secondary;
      }
    }
  }


  .stat__title {
    font-size: 3.1rem;

    @include utilities.breakpoint(md) {
      padding: 0 variables.$lg variables.$xsm 0;
      border-bottom: none;
    }

    @include utilities.breakpoint(page-container) {
      flex-basis: 50%;
    }

  }

  &.element--flex-left {
    flex-flow: wrap;
  }

  .stat__content {
    font-size: 1.1rem;

    @include utilities.breakpoint(md) {
      padding-top: .5rem;
      margin-top: .75rem;
      border-top: 8px solid variables.$primary;
      flex-basis: 100%;
    }

  }

  .headline__prefix,
  .headline__suffix{
    font-size: 2.1rem;
    vertical-align: middle;
  }

  .headline__prefix {
    margin-right: -3px;
  }

  .headline__suffix{
    margin-left: -3px;
  }


  .stat__description {
    width: 100%;
    font-size: 1.3rem;
    margin: 0.625rem 0 0;

    @include utilities.breakpoint(md) {
      flex-basis: 50%;
      margin: 0;
    }
  }

}

.stat__grid.stat--horizontal {
  margin-bottom: 0rem;
  display: flex;
  flex-wrap: wrap;
  cursor: inherit;
  transition: all .55s cubic-bezier(.95, 1.25, .375, 1.15);
}

.stat:not(.stat--static) {
  cursor: pointer;
}
