@use '../abstracts/variables';
@use '../abstracts/utilities';

//// Table Elements
table[border] {
  border-style: solid;
  border-color: var(--uiowa-table-border-attr-variant);
  td,
  th {
    border-color: var(--uiowa-table-border-attr-variant);
  }
}

table {
  background-color: var(--uiowa-table-background);
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--uiowa-table-color);
  display: inline-block;
  font-size: var(--uiowa-table-font-size);
  line-height: var(--uiowa-table-line-height);
  max-width: 100%;
  overflow-x: auto;
  // @todo Add white-space: nowrap?
  width: 100%;

  tbody a {
    [class*="bg--gray"] &,
    [class*="bg--white"] &,
    [class*="bg--black"] &,
    [class*="bg--gold"] &,
    .bg-pattern--brain-reversed &,
    .bg--gold--pattern--brain &,
    .bg-pattern--brain &,
    .bg--white--pattern--brain &,
    .bg--black--pattern--brain &,
    .bg-pattern--brain-black & {
      color: var(--uiowa-table-link-color);
    }
  }

  @include utilities.breakpoint(sm) {
    display: table;
  }

  p, ul, ol {
    font-size: var(--uiowa-table-body-font-size);
    line-height: var(--uiowa-table-body-line-height);
  }

  ul, ol {
    p {
      margin-bottom: 0;
    }
  }

  td,
  th {
    padding: var(--uiowa-table-cell-padding);
    font-size: var(--uiowa-table-body-font-size);
    line-height: var(--uiowa-table-body-line-height);
  }

  th {
    color: var(--uiowa-table-header-color);

    &:not([align]) {
      text-align: left;
    }
  }

  thead th {
    background-color: var(--uiowa-table-header-background);
    border: none;
    a {
      color: var(--uiowa-table-header-color);
      [class*="bg--"] & {
        color: var(--uiowa-table-header-color);
      }
    }
  }

  tbody th {
    background-color: var(--uiowa-table-row-header-background);
    border: none;
    position: static;
    left: 0;
    padding-left: var(--uiowa-table-cell-padding);
  }

  tbody tr:not(.is-selected):nth-child(even),
  tbody tr:not(.is-selected):nth-child(even) th {
    background-color: var(--uiowa-table-row-alternate-background);
  }

  &.table--hover-highlight tbody tr:not(.is-selected),
  &.table--hover-highlight tbody tr:not(.is-selected):nth-child(even) {
    &:hover {
      th {
        background-color: var(--uiowa-table-hover-background)
      }
      background-color: var(--uiowa-table-hover-background);
    }
  }

  caption {
    width: 100%;
    padding: var(--uiowa-table-caption-padding);
    text-align: center;
    font-size: var(--uiowa-table-caption-font-size);
    color: var(--uiowa-table-caption-color);
    background-color: var(--uiowa-table-caption-background);
    font-weight: var(--uiowa-table-caption-font-weight);
    a,
    :where(p) a:not(.bttn) {
      color: variables.$primary;
      [class*="bg--"] &,
      [class*="bg--"] [class*="bg--"] & {
        color: variables.$primary;
      }
    }
  }

  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom-width: 0;
  }

  thead td,
  thead th {
    color: var(--uiowa-table-header-color);
  }

  &.table--width-default {
    width: unset;
    caption {
      width: unset;
    }
  }
}

.table-responsive {
  overflow: auto;

  caption {
    text-align: left;
    @include utilities.breakpoint(sm) {
      text-align: center;
    }
  }

  &.table-sticky {
    max-height: 80vh;

    thead {
      position: sticky;
      top: 0;
      border-top: 0;
    }

    .table--gray-borders {
      thead th {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: -1px;
          top: 0;
          width: calc(100% + 2px);
          height: calc(100% + 1px);
          border-left: var(--uiowa-table-border-dark) 1px solid;
          border-bottom: var(--uiowa-table-border-light) 1px solid;
        }
        &:first-child:before {
          border-left: none;
        }
      }
    }
  }

  table {
    display: table;
  }
}

table.table--gray-borders {
  & > tr,
  & > tbody > tr,
  & > tfoot > tr {
    & > td,
    & > th {
      border: var(--uiowa-table-border-light) 1px solid;
    }
  }

  & > thead > tr,
  & > caption {
    & > td,
    & > th {
      border: var(--uiowa-table-border-dark) 1px solid;
    }
  }

  & > thead > tr {
    & > td,
    & > th {
      border-bottom: var(--uiowa-table-border-light) 1px solid;
      border-top: var(--uiowa-table-border-light) 1px solid;

      &:first-child {
        border-left: var(--uiowa-table-border-light) 1px solid;
      }

      &:last-child {
        border-right: var(--uiowa-table-border-light) 1px solid;
      }
    }
  }

}
