@use '../abstracts/variables';
@use '../abstracts/utilities';


.tabs-collection {
  margin: 0;
  list-style-type: none;

  &::after,
  &::before {
    display: table;
    content: ' ';
  }

  [role="tablist"] {
    margin: 0 0 -0.1rem;
    overflow: visible;
    font-size: 0;
  }

  [role="tab"] {
    position: relative;
    margin: 0;
    padding: var(--uiowa-tabs-tab-padding-block-start) var(--uiowa-tabs-tab-padding-inline) var(--uiowa-tabs-tab-padding-block-end);
    border: none;
    overflow: visible;
    font-family: var(--uiowa-tabs-tab-font-family);
    font-size: var(--uiowa-tabs-tab-font-size);
    font-weight: var(--uiowa-tabs-tab-font-weight);
    background: none;
    transition: background 0.8s ease-out;
    cursor: pointer;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: var(--uiowa-tabs-indicator-height);
      content: "";
      transition: 0.3s;
      z-index: 1;
    }

    [class*="bg--black"] & {
      color: variables.$light;
    }

    &[aria-selected="true"] {
      border-radius: 0;
      outline: 0;

      &:focus-visible::before {
        background: var(--uiowa-tabs-indicator-selected-color);
      }

      &::after {
        width: 100%;
        background: var(--uiowa-tabs-indicator-selected-color);

        [class*="bg--gold"] & {
          background: var(--uiowa-tabs-indicator-selected-color-on-gold);
        }
      }

      [class*="bg--black"] & {
        color: var(--uiowa-tabs-tab-selected-text-color-on-black);
      }
    }

    &[aria-selected="false"] {
      color: var(--uiowa-tabs-tab-text-color);

      &::after {
        width: 100%;
        background: var(--uiowa-tabs-indicator-unselected-color);

        [class*="bg--gold"] & {
          background: var(--uiowa-tabs-indicator-unselected-color-on-gold);
        }
      }

      [class*="bg--black"] & {
        color: var(--uiowa-tabs-tab-text-color-on-black);
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: var(--uiowa-tabs-indicator-height);
      content: "";
      transition: 0.3s;
    }

    &:focus-visible::before,
    &:hover::before {
      background: var(--uiowa-tabs-indicator-hover-color);
      width: 100%;

      [class*="bg--gold"] & {
        background: var(--uiowa-tabs-indicator-hover-color-on-gold);
      }
    }

    &:active,
    &:focus,
    &:hover {
      outline: 0;
    }
  }

  [role="tabpanel"] {
    position: relative;
    z-index: 2;
    padding: var(--uiowa-tabs-panel-padding-block) 0;

    &.is-hidden {
      display: none;
    }
  }

  [role="tabpanel"] * + p {
    margin-top: 1rem;
  }
}
