<nav role="navigation" aria-label="Navigation">
  <ul id="vertical-dots">
    {% for section in vertical_dots.sections %}
      <li>
        <a href="#" aria-label={{section.section_title}} data-section={{section.section_id}}></a>
      </li>
    {% endfor %}
  </ul>
</nav>