@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

html {
  scroll-behavior: smooth;
}

#vertical-dots {
  z-index: 2;
  position: fixed;
  right: -20px;
  display: flex;
  height: 100vh;
  top: 0;
  padding-right: 20px;
  align-items: center;
  pointer-events: none;

    ul {
        list-style: none;
        margin: 0;
        background-color: #fff;
        position: relative;
        padding: 8px 0px;
        border-top-left-radius: 21px;
        border-bottom-left-radius: 21px;

        &:before {
            content: '';
            width: 70px;
            height: 70px;
            background-color: transparent;
            position: absolute;
            top: -57px;
            right: -11px;
            border: 16px solid transparent;
            border-right: 8px solid #fff;
            border-radius: 50%;
            transform: rotate(36deg);
        }

        &:after {
            content: '';
            width: 70px;
            height: 70px;
            background-color: transparent;
            position: absolute;
            bottom: -57px;
            right: -11px;
            border: 16px solid transparent;
            border-right: 8px solid #fff;
            border-radius: 50%;
            transform: rotate(-36deg);
        }

    li {
      list-style: none;
      padding: 17px 15px;

      span {
        padding: 0.25rem 1.2rem 0.15rem;
        background-color: #FFCD00;
        box-decoration-break: clone;
        line-height: 1.4;
        text-transform: uppercase;
        font-weight: normal;
        font-family: "antoniobold", sans-serif;
        right: calc(100% - 40px);
        position: absolute;
        white-space: nowrap;
        top: -50%;
        transform: translateX(calc(100% + 20px));
        transition: all 0.3s ease-in-out;
        transition-property: transform;
      }

      a {
      pointer-events: all;
      position: relative;
      color: #151515;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
      background-color: $primary;
      display: block;

        &:hover {
          span {
            text-decoration: underline;
            transform: translateX(-8px);
          }
        }
      }

      &:first-child {
          position: fixed;
          bottom: 14%;

          li {
            padding: 0px;
          }

          a {
            background-color: transparent;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            height: unset;
            width: unset;

            i {
                height: 30px;
                width: 30px;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
                background-color: #fff;
                z-index: 1;
            }
          }
      }
    }
  }
}

.v-dots-scroll-spacer {
  position: relative;

  .v-dots-scroll-target {
    position: relative;
    top: 0px;

    @include breakpoint(menu) {
      top: -49px;
    }
  }
}
