<nav role="navigation" aria-label="Navigation">
  <ul id="vertical-side-navigation">
    {% for link in links_nav.links %}
      <li>
        <a href={{link.link_nav_url}}>{{link.link_nav_text}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>