.bold-headline, .bold-headline--positive, .bold-headline--negative {
  padding: 0; }
  .bold-headline.bold-headline--negative, .bold-headline--negative {
    color: #fff; }
  .bold-headline a, .bold-headline--positive a, .bold-headline--negative a {
    color: #151515;
    text-decoration: none; }
    .bold-headline a:hover, .bold-headline--positive a:hover, .bold-headline--negative a:hover, .bold-headline a:focus, .bold-headline--positive a:focus, .bold-headline--negative a:focus {
      text-decoration: underline; }

h2.bold-headline, h2.bold-headline--positive, h2.bold-headline--negative {
  font-size: 2.8rem; }

.bold-headline--caps {
  text-transform: uppercase;
  font-family: "antoniobold", sans-serif; }

.bold-headline--serif {
  font-family: "Zilla Slab", serif;
  font-weight: 700; }

.bold-headline--highlight {
  font-weight: 600;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 2px 0;
  line-height: 1.7; }
  .bold-headline--highlight span {
    background: #FFCD00;
    display: inline;
    padding: 0.45rem 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }

.bold-headline--underline {
  padding-bottom: 0.625rem;
  line-height: 1.3;
  display: inline;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.175em white, inset 0 -0.25em #FFCD00; }
  .bg--gray .bold-headline--underline {
    box-shadow: inset 0 -0.175em #f3f3f3, inset 0 -0.25em #FFCD00; }
  .bg--black .bold-headline--underline {
    box-shadow: inset 0 -0.175em #151515, inset 0 -0.25em #FFCD00; }

.bold-headline--negative {
  color: #fff; }
