.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  text-decoration: none;
  @include flexbox;
  @include flex-direction($value: column);
  @include flex($fg: 1, $fs: 1, $fb: 0%);
  border: 1px solid rgba(0, 0, 0, 0.125);

  &:hover,
  &:focus,
  &:focus-within {
    .bttn {
      text-decoration: underline;

      //@extend %bttn--focus;
    }
  }

  .bttn {
    position: unset;
  }

  a.bttn {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &:after {
      background: none;
    }
  }

  .media {
    flex-shrink: 0;
    width: 100%;

    img {
      flex-shrink: 0;
    }
  }

  @include breakpoint(sm) {
    border: none;
    margin-bottom: 0;
  }

  &.card--enclosed {
    @include breakpoint(sm) {
      flex: 1 1 15%;
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
  }

  &.card--horizontal.card--enclosed {
    padding: $gutter;
  }

  &.card--horizontal {
    @include breakpoint(sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1.6rem;
    }

    >* {
      @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }
    }

    >.media {
      @include breakpoint(sm) {
        flex: 0 0 20%;
        width: 20%;
      }
    }

    .card__title {
      font-family: $font-family-serif;
      font-weight: $font-weight-bold;

      @include breakpoint(sm) {
        padding: 0;
      }
    }

    .card__author {
      margin: .75rem 0 .4rem;
    }

    .card__body p {
      margin-top: .3rem;
      margin-bottom: .5rem;
    }

    .card__body {
      padding-left: $gutter;
    }

    .bttn--outline {
      display: table;
      width: max-content;

      &:after {
        width: auto;
      }
    }
  }

  &__row {
    @include breakpoint(menu) {
      @include margin($right: 1.6rem, $bottom: 0, $left: 1.6rem);

      &:first-of-type {
        @include margin($left: 0);
      }

      &:last-of-type {
        @include margin($right: 0);
      }
    }
  }

  &__wrapper {
    margin: $gutter $mobile-width-gutter;

    @include breakpoint(menu) {
      margin: $gutter $desktop-width-gutter 10rem;
      @include flexbox;
    }
  }

  &__img {
    align-self: start;
  }

  &__body {
    color: $secondary;
    padding: 0 2rem 2rem 2rem;

    @include breakpoint(sm) {
      padding: 0;
    }

    .card--enclosed & {
      @include breakpoint(sm) {
        padding: 0 2rem 2rem 2rem;
      }
    }

    p {
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 2;

      a {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__author {
    display: none;
    margin: $gutter 0;
    color: #666;
    font-family: $font-family-serif;
    font-size: .9rem;
    font-weight: $font-weight-bold;
    font-style: italic;

    @include breakpoint(sm) {
      display: block;
    }
  }

  &__title {
    margin: 0 0 $md;
    padding: 2rem 0 0;
    font-size: calc(100% + 1vw);
    font-weight: $font-weight-bold;
    line-height: 1.2;

    @include breakpoint(sm) {
      font-size: 1.8rem;
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $secondary;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

// @todo move card header to separate component
.card__head {
  flex-wrap: wrap;
  padding: 3rem 0 2rem 0;
  text-align: center;
  @include center(horizontal);

  @include breakpoint(menu) {
    margin: 0;
    @include flexbox;
  }

  .bttn {
    flex-basis: 100%;

    &.bttn--link:hover,
    &.bttn--link:focus {
      background: transparent;
      text-decoration: underline;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
  }
}

.card.card--horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
