.card {
  position: relative;
  text-decoration: none;
  transition: transform .35s, z-index .5s;
  margin-bottom: 1.6rem;
  &.card--enclosed {
    @include breakpoint(sm) {
  border: 1px solid rgba(0, 0, 0, 0.125);
  flex: 1 1 15%;
    }
  }
  @include flexbox;
  flex-wrap: wrap;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  @include flex-direction($value: column);
  @include flex($fg: 1, $fs: 1, $fb: 0%);

  &__row {
    @include breakpoint(menu) {
      @include margin($right: 1.6rem, $bottom: 0, $left: 1.6rem);

      &:first-of-type {
        @include margin($left: 0);
      }

      &:last-of-type {
        @include margin($right: 0);
      }
    }
  }

  &__head {
    text-align: center;
     @include center(horizontal);
    margin: $mobile-height-gutter $mobile-width-gutter;

    @include breakpoint(menu) {
      @include flexbox;
      margin: 6rem 0 3rem 0;
    }
  }

  &__wrapper {
     margin: $gutter $mobile-width-gutter;
     @include breakpoint(menu) {
       @include flexbox;
       margin: $gutter $desktop-width-gutter 10rem;
     }
  }

  &__img {
    align-self: start;
  }

  &__body {
    //padding: $gutter;
    .card--enclosed & {
      @include breakpoint(sm) {
      padding: 0 2rem 2rem 2rem;
      }
    }
    color: $secondary;
    //@include margin($top: $sm, $bottom: $sm);
    p {
      font-size: 1rem;
      line-height: 2;
      margin-bottom: 1.5rem;
      display: none;
      @include breakpoint(sm) {
        display: block;
      }
    }
  }

  &__author {
    font-family: $font-family-serif;
    font-weight: $font-weight-bold;
    font-size: .9rem;
    color: #666;
    margin: $gutter 0;
    font-style: italic;
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
  }

  &__title {
    font-family: $font-family-serif;
    font-weight: $font-weight-bold;
    font-size: calc(100% + 1vw);
    padding: 2rem 0 1rem;
    line-height: 1;
    margin: 0;
    @include breakpoint(sm) {
      font-size: calc(100% + 1.5vw);
    }
     @include breakpoint(container) {
       font-size: calc(100% + 1.5vw);
     }
   // @include margin($top: 0, $bottom: $sm);

    a {
      text-decoration: none;
      color: $secondary;
    }
  }

  &__text {
    //@include margin($top: $sm, $bottom: $sm);
    //color: $secondary;
  }
}
