.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  transition: transform .35s, z-index .5s;
  text-decoration: none;
  @include flexbox;
  @include flex-direction($value: column);
  @include flex($fg: 1, $fs: 1, $fb: 0%);

  &.card--enclosed {
    @include breakpoint(sm) {
      flex: 1 1 15%;
      border: 1px solid rgba(0, 0, 0, 0.125);
    }
  }

  &__row {
    @include breakpoint(menu) {
      @include margin($right: 1.6rem, $bottom: 0, $left: 1.6rem);

      &:first-of-type {
        @include margin($left: 0);
      }

      &:last-of-type {
        @include margin($right: 0);
      }
    }
  }

  &__wrapper {
    margin: $gutter $mobile-width-gutter;

    @include breakpoint(menu) {
      margin: $gutter $desktop-width-gutter 10rem;
      @include flexbox;
    }
  }

  &__img {
    align-self: start;
  }

  &__body {
    color: $secondary;
    .card--enclosed & {
      @include breakpoint(sm) {
        padding: 0 2rem 2rem 2rem;
      }
    }

    p {
      display: none;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 2;

      @include breakpoint(sm) {
        display: block;
      }
    }
  }

  &__author {
    display: none;
    margin: $gutter 0;
    color: #666;
    font-family: $font-family-serif;
    font-size: .9rem;
    font-weight: $font-weight-bold;
    font-style: italic;

    @include breakpoint(sm) {
      display: block;
    }
  }

  &__title {
    margin: 0;
    padding: 2rem 0 .5rem;
    font-size: calc(100% + 1vw);
    //font-family: $font-family-serif;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    @include breakpoint(sm) {
      font-size: calc(100% + 1vw);
    }

    @include breakpoint(container) {
      font-size: calc(100% + 1vw);
    }

    a {
      text-decoration: none;
      color: $secondary;
    }
  }

  &__text {
    //@include margin($top: $sm, $bottom: $sm);
    //color: $secondary;
  }
}


.card__head {
  flex-wrap: wrap;
  margin: $mobile-height-gutter $mobile-width-gutter;
  text-align: center;
  @include center(horizontal);

  @include breakpoint(menu) {
    margin: 6rem 0 3rem 0;
    @include flexbox;
  }

  .bttn {
    flex-basis: 100%;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
}
