.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  text-decoration: none;
  background: #fff;
  flex-grow: 1;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .card:focus-within .card__title a:focus {
    text-decoration: underline; }
  @media (min-width: 768px) {
    .card {
      border: none;
      margin-bottom: 0; } }
  @media (min-width: 768px) {
    .card.card--enclosed {
      border: 1px solid rgba(0, 0, 0, 0.125); } }
  .card.card--enclosed .card__body {
    padding: 2rem; }
  .card.card--enclosed .bttn {
    margin-bottom: 0; }
  .card .card__title:focus-within ~ .bttn {
    background-position: 0px;
    background-size: 200% 100%; }
    .card .card__title:focus-within ~ .bttn i,
    .card .card__title:focus-within ~ .bttn svg {
      color: #151515; }
  .card .bttn {
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 90%, #ffcd00 90%, #ffcd00 100%);
    background-position: 0px -20px;
    background-size: 200% 200%;
    transition: all .25s ease-in; }
  .card p + .bttn,
  .card p + .btn {
    margin-top: 1.05rem; }
  .card .card__author + p,
  .card .card__author + .bttn,
  .card .card__author + .btn {
    margin-top: 0.625rem; }
  .card .card__media {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px; }
    .card .card__media img {
      flex-shrink: 0;
      width: 100%;
      min-height: 1px; }
  .card__img {
    align-self: start;
    width: 100%; }
  .card__body {
    flex: 1;
    color: #151515;
    padding: 2rem;
    min-height: 1px;
    line-height: 1.7; }
    .card__body h2:not(:first-child),
    .card__body h3:not(:first-child),
    .card__body h4:not(:first-child),
    .card__body h5:not(:first-child),
    .card__body h6:not(:first-child) {
      margin-top: 0; }
    @media (min-width: 768px) {
      .card__body {
        padding: 2rem 0; } }
    @media (min-width: 768px) {
      .card--enclosed .card__body {
        padding: 2rem; } }
    .card__body ul, .card__body ol, .card__body dl, .card__body table {
      font-size: 1rem;
      line-height: 1.7; }
  .card p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.7; }
    .card p a {
      position: relative;
      z-index: 1; }
  .card__author {
    color: #666;
    font-family: "Zilla Slab", serif;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3; }
  .card__title {
    margin: 0 0 0.625rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2; }
    .card__title a {
      text-decoration: none;
      color: #151515; }
      .card__title a:hover, .card__title a:focus {
        text-decoration: underline; }

.card.card--horizontal.card--enclosed {
  padding: 1.25rem; }

@media (min-width: 768px) {
  .card.card--horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.6rem; } }

@media (min-width: 768px) {
  .card.card--horizontal > * {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1; } }

@media (min-width: 768px) {
  .card.card--horizontal > .card__media {
    flex: 0 0 20%;
    width: 20%; } }

.card.card--horizontal .card__title {
  font-family: "Zilla Slab", serif;
  font-weight: 700; }
  @media (min-width: 768px) {
    .card.card--horizontal .card__title {
      padding: 0;
      margin: 0 0 .5rem; } }

.card.card--horizontal .card__body {
  padding: 2rem;
  min-height: 1px; }
  @media (min-width: 768px) {
    .card.card--horizontal .card__body {
      padding: 0 0 1.05rem 1.25rem; } }

.card.card--horizontal .bttn--outline {
  display: table;
  width: -webkit-max-content;
  width: max-content; }
  .card.card--horizontal .bttn--outline:after {
    width: auto; }

.card__head {
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .card__head {
      padding: 0 0 2rem 0; } }
  @media (min-width: 855px) {
    .card__head {
      margin: 0;
      display: block; } }
  .card__head p {
    color: #63666A !important;
    margin: 0; }
  .card__head .bold-headline {
    display: block; }
  .card__head .bttn {
    flex-basis: 100%;
    padding-top: 0.625rem; }
    @media (min-width: 768px) {
      .card__head .bttn {
        padding-top: 1.05rem; } }
    .card__head .bttn.bttn--link:hover, .card__head .bttn.bttn--link:focus {
      background: transparent;
      text-decoration: underline; }
  .card__head h2 {
    margin: 0;
    padding: 0; }
