

<nav class="tabs" role="navigation" aria-label="Tabs">
  <ul class="tabs primary">
    <li class="tab is-active">
      <a href="/user/6" data-drupal-link-system-path="user/6" class="is-active">View<span class="visually-hidden">(active tab)</span></a>
    </li>
    <li class="tab">
      <a href="/user/6/roles" data-drupal-link-system-path="user/6/roles">Roles</a>
    </li>
    <li class="tab">
      <a href="/user/6/edit" data-drupal-link-system-path="user/6/edit">Edit</a>
    </li>
  </ul>
</nav>

