/*
 p:not(:last-child),
 dl:not(:last-child),
 ol:not(:last-child),
 ul:not(:last-child),
 blockquote:not(:last-child),
 pre:not(:last-child),
 table:not(:last-child) {
  @include margin($bottom: $sm);
}
*/
p,
dl,
ol,
ul,
blockquote,
pre,
table {
  font-weight: 400; }

p {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1.05rem; }

a {
  color: #00558C;
  text-decoration: underline; }
  a:hover, a:focus {
    text-decoration: none; }

figcaption {
  font-size: 90%;
  color: #343a40;
  line-height: 1.5; }

figure img {
  display: inline-block;
  margin-bottom: 1.05rem; }

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1.05rem;
  white-space: pre;
  word-wrap: normal; }

sup,
sub {
  font-size: 75%; }

.is-small {
  font-size: 0.8rem; }

.is-medium {
  font-size: 1.2rem; }

.is-large {
  font-size: 1.6rem; }

.margin-top {
  margin-top: 0.9rem; }

.image {
  position: relative;
  display: block; }

.image img {
  display: block;
  width: 100%;
  height: auto; }

.element--spacer-separator {
  clear: both;
  float: none;
  width: 100%;
  height: 0;
  border: 1px solid transparent;
  margin: 1.25rem 0; }

.uids-component--bold-intro,
.element--bold-intro {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  line-height: 1.2;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.7rem; }

.uids-component--light-intro,
.element--light-intro {
  font-weight: 300;
  line-height: 1.2;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.7rem; }
