@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

.nav {
  @include breakpoint(sm) {
    align-items: center;
    @include flexbox;
  }

  .menu {
    overflow: visible;
    font-size: $base-font-size;
    @extend %no-ul-list;
    @include flexbox;

    a {
      position: relative;
      display: inline-block;
      transition: background 0.8s ease-out;
      text-decoration: none;
      color: $secondary;
      @extend %font-smoothing-on;
    }
  }
}

// vertical and horiztonal
.main--secondary--vertical,
.main--secondary--horizontal {
  display: block;

  .menu {
    position: relative;

    li {
      display: block;
      width: 100%;
      margin-bottom: $sm;
      font-size: 1.4rem;
      line-height: 1.3;

      @include breakpoint(sm) {
        width: auto;
        margin-bottom: 0;
      }

      li {
        font-size: 1.1rem;

        a {
          color: #333;
          border-bottom: none;
          @include padding($top: $xsm, $right: $sm, $bottom: $xsm, $left:0);
        }
      }

      a, span {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $light;
        @include padding($top: $sm, $right: $sm, $bottom: $sm, $left:0);
        &.is-active {
          &:after {
            background: $brand-cool-gray;
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100%;
            height: 4px;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            transform: translate(-50%, 0) scaleX(1);
          }
        }
        &:focus {
            text-decoration: underline;
        }
        &:hover,
        &:focus {
          @include breakpoint(sm) {
            color: $secondary;
          }
        }
      }

      &.menu-item--expanded.menu-item--active-trail a {
        border-bottom: none;
      }
    }
  }
}

// vertical only
.main--secondary--vertical {
  ul.menu {
    width: 100%;
    @include flexbox;
    @include flex-direction(column);

    li {
      margin-bottom: $sm;
    }
  }
}

// horizontal only
.main--secondary--horizontal {
  padding: $gutter 0;
  @extend %container;

  @include breakpoint(sm) {
    padding: 0;
  }

  @include breakpoint(container) {
    padding: 0;
  }

  .menu {
    display: block;

    @include breakpoint(sm) {
      @include flexbox;
    }

    li {
      @include breakpoint(sm) {
        font-size: calc(100% + .1vw);
        @include center(vertical);
      }

      &:first-of-type a {
        @include breakpoint(sm) {
          margin-left: 0;
        }
      }

      &:last-of-type a {
        @include breakpoint(sm) {
          margin-right: 0;
        }
      }

      a, span {
        @include bttn--focus;

        @include breakpoint(sm) {
          position: relative;
          width: auto;
          margin: 0 $lg;
          text-align: center;
          text-transform: uppercase;
          border: 0px;
          background-color: transparent;
          font-weight: $font-weight-medium-bold;
          @include padding($top: $lg, $right: 0, $bottom: $lg, $left:0);
          @include center(both);
        }
      }
    }

    li a:before {
      @include breakpoint(sm) {
        position: absolute;
        right: -30px;
        bottom: 35%;
        width: 1px;
        height: 25%;
        content: "";
        background: $primary;
      }
    }

    li:last-of-type a {
      @include breakpoint(sm) {
        &:before {
          width: 0;
        }
      }
    }
  }
}

// Sidebar
.main--sidebar {
  &.main--sidebar-minimal {
    ul.menu {
      border: none;
      & li {
        &.item--first a {

          padding: $md;
          margin: 0;
        }
      }
    }
  }
    ul.menu {
        background-color: #fff;
        border: 1px solid $grey-light;
        width: 100%;
        @include flexbox;
        @include flex-direction(column);

        & li {
            border-bottom: 1px solid $grey-light;
            display: block;
            font-size: $content-font-size;
            & a {
                display: block;
                position: relative;
                @include padding($top: $md, $right: $md, $bottom: $md, $left: $md);
                &:hover, &:focus {
                    background-color: $light;
                    text-decoration: underline;
                }
            }
            &.is-active > a {
                background-color: $light;
                font-weight: bold;
            }
            &.item--first a {
                border-top: 4px solid $primary;
                font-size: $base-font-size;
                font-weight: bold;
                letter-spacing: .8px;
                margin: 0 $md;
                padding-left: 0;
                padding-right: 0;
                text-transform: uppercase;
                &:hover, &:active {
                    background-color: transparent;
                }
            }
            &:last-of-type {
                border-bottom: none;
            }
            &.menuparent--active {
                background-color: $light;
            }
        }
        // second level
        & ul {
            & li {
                border-bottom: none;
                font-size: $base-font-size;
                & a {
                    @include padding($top: $sm, $right: $md, $bottom: $sm, $left: $lg);
                    &:before {
                        content: "- ";
                        position: absolute;
                        left: $md;
                    }
                }
            }
        }
    }
}


// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
.main--secondary--horizontal .menu li {
      @include breakpoint(sm) {
        font-size: 1rem;
      }
    }
}
