<nav role="navigation" aria-labelledby="main-menu" class="nav {{ nav_type }}">
    <h2 id="main-menu" class="{{ links_nav.title_classes }}">{{ links_nav.title }}</h2>
    <ul class="menu">
    {% for link in links_nav.links %}
        {% include "@main-menu--links" with {
        "link_nav_title": item.link_nav_title
        } %}
    {% endfor %}
    </ul>
</nav>
