{% include "@banner" with {
  "banner_type": 'image',
  "banner_size": 'large',
  "banner_image": 'https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/pano.jpg',
  "banner_vertical_alignment": 'banner--vertical-center',
  "banner_horizontal_alignment": 'banner--horizontal-center',
  "banner_title": '<span>Welcome</span> to Iowa',
  "banner_text": '',
  "banner_title_classes": 'headline--uppercase',
  "banner_classes": '',
  "banner_overlay": 'gradient-center',
} %}

{% if menu_type == 'main' %}
<div class="menu-container {{ menu_bg }}">
	<nav role="navigation" aria-labelledby="main-menu" class="nav {{ nav_type }}">

    <h2 id="main-menu" class="{{ links_nav.title_classes }}">{{ links_nav.title }}</h2>
    <ul class="menu">
    {% for link in links_nav.links %}
        {% include "@main-menu--links" with {
        "link_nav_title": item.link_nav_title
        } %}
    {% endfor %}
    </ul>
</nav>
</div>
