@import '../../assets/scss/variables';

.bold-headline {
  padding: 0;
  line-height: 1;

  &.bold-headline--negative {
    color: $white;
  }

  a {
    color: $secondary;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

h2.bold-headline {
  font-size: 2.8rem;
}

.bold-headline--caps {
  text-transform: uppercase;
  font-weight: normal;
  font-family: $font-family-caps-bold;
}

.bold-headline--serif {
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
}

.bold-headline--highlight {
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 2px 0;
  line-height: 1.7;

  &.bold-headline--serif {
    font-weight: 600;
  }

  &.bold-headline--caps {
    span {
      padding: 0.1rem 1rem 0;
    }
  }
}

.bold-headline--highlight span,
.bold-headline--caps .heading__heading span {
  background: $primary;
  display: inline;
  padding: 0.85rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: $secondary;
  text-shadow: none;
}

// Set padding for highlighted words within headline
.bold-headline--caps .heading__heading span {
  display: inline-block;
  margin-bottom: .8rem;
  padding: 0.85rem 1rem .6rem;
}

// Firefox overrides

@-moz-document url-prefix() {

  .bold-headline--highlight.bold-headline--caps span,
  .bold-headline--caps .heading__heading span {
    padding: 1.4rem 1rem .4rem;
  }

  .bold-headline--underline.bold-headline--caps {
    padding-bottom: .825rem;
  }
}
