

      
      
<div class="card click-container bg--white card--stacked">
            <div class="card__media ">
                <a href="https://uiowa.edu/" class="click-target">
                    <img class="card__img" src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/feature1.jpg" alt="Alt Text">
                  </a>
              </div>
      
  <div class="card__body">
              
                  <div class="card__details">
                                                                    <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                </div>
</div>

