{% include "@banner" with {
  "banner_type": 'image',
  "banner_size": 'large',
  "banner_image": 'https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/pano.jpg',
  "banner_vertical_alignment": 'banner--vertical-center',
  "banner_horizontal_alignment": 'banner--horizontal-center',
  "banner_title": '<span>Welcome</span> to Iowa',
  "banner_text": '',
  "banner_title_classes": 'headline--uppercase',
  "banner_classes": '',
  "banner_overlay": 'gradient-center',
} %}

{% if menu_type == 'main' %}
<div class="menu-container {{ menu_bg }}">
    <nav class="nav {{ nav_type }}">

        {% endif %}

        <ul class="menu">
            <li class="menu-item menu-item--collapsed">
                <a href="/" data-drupal-link-system-path="/">About</a>
            </li>
            <li class="menu-item menu-item--collapsed menu-item--active-trail">
              <a class="is-active" href="/" data-drupal-link-system-path="/">Faculty</a>
            </li>
            <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Undergraduate Students</a>
            </li>
            <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Undergraduate Students</a>
            </li>

        </ul>

        {% if menu_type == 'main' %}

    </nav>
</div>
{% endif %}
