@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';
@import '../../assets/scss/border';

.bttn {
  @include bttn;
  @include border;

  [class*="bg--black"] & {
    border-color: rgba(255,255,255,.425);
  }

  // Options.
  &--primary {
    @include bttn--primary;
    @include bttn--focus;

    &.bttn {
      color: $secondary;
    }

    &:after {
      background-color: $secondary;
    }
  }

  &--secondary {
    @include bttn--secondary;
    @include bttn--focus;

    &__light {
      @include bttn--secondary__light;
    }

    [class*="bg--black"] & {
      color: #fff;
    }

    [class*="bg-"] [class*="bg--gray"] &,
    [class*="bg-"] [class*="bg--white"] &,
    [class*="bg--white"] &,
    [class*="bg--gray"] & {
      color: #fff;
    }

    [class*="bg--gold"] &,
    [class*="bg-"] [class*="bg--gold"] & {
      color: #fff;
    }
  }

  &--tertiary {
    @include bttn--tertiary;
    @include bttn--focus;
    background: #fff;

    [class*="bg--black"] & {
      color: #fff;
    }

    [class*="bg--black"] & {
      color: $secondary;
    }
  }

  &--transparent {
    @include bttn--transparent;
    @include bttn--focus;

    [class*="bg--black"] & {
      color: #fff;
    }

    i,
    span,
    svg {
      [class*="bg--gold"] &,
      [class*="bg--white"] [class*="bg--gold"] & {
        color: #fff;
      }
      [class*="bg--white"] &,
      [class*="bg--gold"] [class*="bg--white"] & {
        color: $primary;
      }
    }

    [class*="bg--black"] [class*="bg--white"] &,
    [class*="bg--black"] [class*="bg--gray"] &,
    [class*="bg--black"] [class*="bg--gold"] & {
      color: $secondary;
    }

    &:after {
      [class*="bg--gold"] &,
      [class*="bg--white"] [class*="bg--gold"] & {
        background: #fff;
      }

      [class*="bg--white"] &,
      [class*="bg--gold"] [class*="bg--white"] & {
        background: $primary;
      }
    }
  }

  // Modifiers.
  &.borderless {
    text-decoration: underline;

    &.bttn--transparent:after {
      position: static;
    }
  }

  &--full {
    @include bttn--full;
  }

  &--caps {
    text-transform: uppercase;
    font-family: $font-family-caps-bold;
  }

  &--lowercase {
    text-transform: none;
    letter-spacing: 0;
    font-size: 1rem;
  }

  &--sans-serif {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
    display: inline-block;

    &:focus {
      text-decoration: underline;
    }

    i,
    span {
      font-size: 0.9rem;
    }

    &.bttn--full {
      display: flex;
      height: 100%;
    }
  }

  &--link {
    color: #000;
    border: none;

    &:focus,
    &:hover {
      border: none;
      transform: none;
      text-decoration: underline;

      &:focus::after,
      &:hover::after {
        transform: none;
      }
    }
  }
  // @todo remove or move to uids_base?
  //&__apply {
  //  margin-top: unset;
  //  padding: 0.7rem;
  //  border: 1px solid $white;
  //  font-size: 0.95rem;
  //  display: none;
  //  @include breakpoint(sm) {
  //    display: block;
  //  }
  //}
}
