@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.bttn {
  @include bttn;

  &--primary {
    @include bttn--primary;
    border: 1px solid $primary;
    @include bttn--focus;

    &:after {
      background-color: $secondary;
    }
  }

  &--secondary {
    @include bttn--secondary;
    border: 1px solid $secondary;
    @include bttn--focus;

    &__light {
      @include bttn--secondary__light;
    }
  }

  &--tertiary {
    @include bttn--tertiary;
    @include bttn--focus;
    border: 1px solid white;

    &:hover,
    &:focus {
      border: 1px solid #999;
    }
  }

  &--full {
    @include bttn--full;
  }

  &--outline {
    @include bttn--outline;
    border: 1px solid $primary;
    @include bttn--focus;

    .bg--gold & {
      border: 1px solid #fff;
    }

    .bg--black & {
      color: #fff;
    }

    i, svg {
        .bg--gold & {
          color: #fff;
        }
    }

    &:hover,
    &:focus {
      background: #fff;
      color: $secondary;
      @include bttn--focus;
        .bg--gold & {
          background: $primary;
        }
    }
  }

  &--transparent {
    @include bttn--transparent;

    &:hover,
    &:focus {
      background: #fff;
      border: 1px solid white;
    }
  }

  &--caps {
    text-transform: uppercase;
    font-family: $font-family-caps-bold;
  }

  &--sans-serif {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    font-size: .9rem;
    letter-spacing: .04rem;
    display: inline-block;

    &:focus {
      text-decoration: underline;
    }

    i,
    span {
      font-size: .9rem;
    }
  }

  &--link {
    color: #000;

    &:hover,
    &:focus {

      i,
      svg,
      span {
        color: #000;
      }

      border: none;
      transform: none;
      background: #fff;

      &:hover::after,
      &:focus::after {
        transform: none;
      }
    }
  }

  // @todo remove or move to uids_base?
  &__apply {
    margin-top: unset;
    padding: .7rem;
    border: 1px solid $white;
    font-size: .95rem;
    display: none;

    @include breakpoint(sm) {
      display: block;
    }
  }

  .card & {

    &:after {
      .bg--gold & {
        background-color: #fff;
      }
    }

    .bg--black &,
    .bg--gold &,
    .bg--gray & {
      padding: 0 0 .4rem 0;
    }

    .bg--gray & {
      border-color: $grey;
    }

    .bg--black & {
      color: $primary;
    }
  }
}
