.card__head {
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .card__head {
      padding: 0 0 2rem; } }
  @media (min-width: 855px) {
    .card__head {
      margin: 0;
      display: block; } }
  .card__head p {
    color: #63666A !important;
    margin: 0; }
  .card__head .bold-headline {
    display: block; }
  .card__head .bttn {
    flex-basis: 100%;
    padding-top: 0.625rem; }
    @media (min-width: 768px) {
      .card__head .bttn {
        padding-top: 1.05rem; } }
    .card__head .bttn.bttn--link:focus, .card__head .bttn.bttn--link:hover {
      background: transparent;
      text-decoration: underline; }
  .card__head h2 {
    margin: 0;
    padding: 0; }
