.page__container {
  margin: 0 1.25rem;
  position: relative; }
  @media (min-width: 84.375em) {
    .page__container {
      max-width: 81.875em;
      margin: 0 auto; } }
  .page__container--mixed {
    margin: 0 1.25rem;
    position: relative; }
    @media (min-width: 84.375em) {
      .page__container--mixed {
        max-width: 81.875em;
        margin: 0 auto; } }

@media (min-width: 768px) {
  .flex__wrapper {
    flex-wrap: wrap;
    display: flex; } }
