

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../menus/main-menu/main-menu.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
      <nav class="nav main--secondary--vertical">

        
        <ul class="menu">
            <li class="menu-item menu-item--collapsed">
                <a href="/" data-drupal-link-system-path="/">About</a>
            </li>
            <li class="menu-item menu-item--collapsed menu-item--active-trail">
                <a href="/" data-drupal-link-system-path="/">Faculty</a>
            </li>
            <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Undergraduate Students</a>
            </li>
            <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Undergraduate Students</a>
            </li>

        </ul>

        
    </nav>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

