h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: 0; }

h1, .h1 {
  font-size: 3.35rem;
  line-height: unset;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  font-family: "Zilla Slab", serif;
  font-weight: 600; }

h2, .h2 {
  font-size: 2.3rem;
  line-height: 1.25;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.325rem; }
  h2:not(:first-child), .h2:not(:first-child) {
    margin-top: 1.875rem; }

h3, .h3 {
  font-size: 1.9125rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.325rem; }
  h3:not(:first-child), .h3:not(:first-child) {
    margin-top: 1.875rem; }

h4, .h4 {
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.325rem; }
  h4:not(:first-child), .h4:not(:first-child) {
    margin-top: 1.875rem; }

h5, .h5 {
  font-size: 1.4rem;
  line-height: 1.25;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.325rem; }
  h5:not(:first-child), .h5:not(:first-child) {
    margin-top: 1.875rem; }

h6, .h6 {
  font-size: 1.2rem;
  line-height: 1.25;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.325rem; }
  h6:not(:first-child), .h6:not(:first-child) {
    margin-top: 1.875rem; }
