

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../colors/colors.css">
          <link media="all" rel="stylesheet" href="../background/background.css">
        
            <link media="all" rel="stylesheet" href="../button/button.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
    <a href="https://www.example.com" class="bttn bttn--tertiary bttn--caps">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="https://www.example.com" class="bttn bttn--primary bttn--caps">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="https://www.example.com" class="bttn bttn--secondary bttn--caps">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--outline bttn--tertiary bttn--caps">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--outline bttn--tertiary bttn--sans-serif">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--outline bttn--tertiary bttn--opaque bttn--caps">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--outline bttn--tertiary bttn--opaque bttn--sans-serif">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--link bttn--sans-serif">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../button/button.js"></script>
    </html>

