.stat__grid {
  margin: 0; }

.stat {
  position: relative; }
  .stat__title {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: "antoniobold", sans-serif;
    font-size: 4rem;
    border-bottom: 8px solid #FFCD00;
    padding: 1.875rem 0 0.625rem 0; }
    @media (min-width: 768px) {
      .stat__title {
        padding: 1.05rem 1.875rem 0; } }
    .element--flex-center .stat__title {
      padding: 1.05rem 1.875rem 0;
      display: block; }
    .bg-pattern--brain-black .stat__title,
    .bg--black .stat__title {
      color: white; }
    .bg-pattern--brain-reversed .stat__title,
    .bg--gold .stat__title {
      border-bottom: 8px solid white; }
    @media (min-width: 768px) {
      .stat__title {
        font-size: calc(100% + 4vw);
        padding: 0 1.875rem 0 0; }
        .element--flex-center .stat__title {
          padding: 0 1.875rem; } }
  .stat__content {
    color: #666;
    margin: 0;
    padding: 0;
    line-height: 1.4; }
  .stat__description {
    position: relative;
    font-family: "antoniobold", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.4;
    width: 85%;
    margin: 0.625rem 0; }
    .bg-pattern--brain-black .stat__description,
    .bg--black .stat__description {
      color: white; }
    @media (min-width: 855px) {
      .stat__description {
        font-size: 1.5rem; } }
    @media (min-width: 855px) {
      .grid--3-2 .stat__description {
        width: 60%; } }

@media (min-width: 855px) {
  .grid--3-2 .stat__description {
    width: 60%; } }

.heading__prefix,
.heading__suffix {
  font-size: 2rem;
  vertical-align: super; }
  @media (min-width: 768px) {
    .heading__prefix,
    .heading__suffix {
      font-size: calc(100% + -2vw); } }
