.stat__grid {
  margin: 0; }

.stat {
  position: relative; }
  .stat__title {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: "Antonio", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    border-bottom: 8px solid #FFCD00;
    padding: 1.875rem 0 0.625rem 0; }
    @media (min-width: 768px) {
      .stat__title {
        padding: 1.05rem 1.875rem 0; } }
    .element--flex-center .stat__title {
      padding: 1.05rem 1.875rem 0;
      display: block; }
    .bg-pattern--brain-black .stat__title,
    .bg--black .stat__title {
      color: white; }
    .bg-pattern--brain-reversed .stat__title,
    .bg--gold .stat__title {
      border-bottom: 8px solid white; }
    @media (min-width: 768px) {
      .stat__title {
        font-size: calc(100% + 4vw);
        padding: 0 1.875rem 0 0; }
        .element--flex-center .stat__title {
          padding: 0 1.875rem; } }
  .stat__content {
    color: #666;
    margin: 0;
    padding: 0;
    line-height: 1.4; }
    .bg--black .stat__content,
    .bg-pattern--brain-black .stat__content {
      color: #ccc; }
    .bg-pattern--brain-reversed .stat__content,
    .bg--gold .stat__content {
      color: #151515; }
  .stat__description {
    position: relative;
    font-family: "Antonio", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 1.4;
    width: 85%;
    margin: 0.625rem 0; }
    .bg-pattern--brain-black .stat__description,
    .bg--black .stat__description {
      color: white; }
    @media (min-width: 855px) {
      .stat__description {
        font-size: 1.5rem; } }
    @media (min-width: 855px) {
      .grid--3-2 .stat__description {
        width: 60%; } }

@media (min-width: 855px) {
  .grid--3-2 .stat__description {
    width: 60%; } }

.heading__prefix,
.heading__suffix {
  font-size: 2rem;
  vertical-align: super; }
  @media (min-width: 768px) {
    .heading__prefix,
    .heading__suffix {
      font-size: calc(100% + -2vw); } }

@media (min-width: 84.375em) {
  .stat--horizontal.bg-pattern--brain-reversed .stat__content, .stat--horizontal.bg--gold .stat__content {
    border-top: 6px solid #151515; } }

@media (min-width: 768px) {
  .stat--horizontal .stat__title {
    font-size: calc(100% + 3vw); } }

@media (min-width: 84.375em) {
  .stat--horizontal .stat__title {
    font-size: calc(100% + 2vw);
    flex-basis: 50%;
    border-bottom: none; } }

.stat--horizontal .stat__content {
  flex-basis: 80%;
  font-size: 1.1rem; }
  @media (min-width: 855px) {
    .stat--horizontal .stat__content {
      opacity: 0;
      transition: 1s;
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px); } }
  @media (min-width: 84.375em) {
    .stat--horizontal .stat__content {
      padding-top: .5rem;
      margin-top: .75rem;
      border-top: 6px solid #FFCD00;
      opacity: 0;
      transition: 1s;
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px); } }

.stat--horizontal .stat__description {
  width: 100%;
  font-size: 1.3rem;
  margin: 0.625rem 0 0; }
  @media (min-width: 768px) {
    .stat--horizontal .stat__description {
      width: 85%;
      margin: 0.625rem 0; } }
  @media (min-width: 84.375em) {
    .stat--horizontal .stat__description {
      flex-basis: 50%;
      margin: 0;
      opacity: .7; } }

@media (min-width: 84.375em) {
  .stat--horizontal .heading__prefix,
  .stat--horizontal .heading__suffix {
    font-size: calc(100% + -1vw); } }

.stat__grid.stat--horizontal {
  margin-bottom: 0rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all 0.55s cubic-bezier(0.95, 1.25, 0.375, 1.15); }
  .stat__grid.stat--horizontal:hover {
    transform: translateY(-10px) scale(1.02); }
  @media (min-width: 855px) {
    .stat__grid.stat--horizontal:hover .stat__content {
      position: static !important;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
      cursor: pointer;
      opacity: 1; } }
