<div class="portrait__bg">
	<div class="portrait__wrapper">
		<ul class="portrait__container">
			<li class="portrait">
				<div class="portrait__item">
					{% include '@heading' with {
						'heading_level': 'h2',
						'heading': 'Hear from Hawkeyes',
						'heading_class': 'bold-headline bold-headline--serif bold-headline--underline'
					} %}
					<p class="portrait__body">High rankings and cool buildings don’t make Iowa exceptional. Hawkeyes do. Meet just a few of the Hawkeyes making an impact.</p>
				</div>
			</li>

			{% for item in portrait.items %}
				{% include '@vertical--basic' %}
			{% endfor %}

		</ul>
	</div>
</div>
