@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.grid--threecol--33-34-33 {
  max-width: 81.875em;
  margin: 0 auto;

  .list-container__inner {
    gap: $mobile-height-gutter;
    @include grid-base;
    @include breakpoint(md) {
      @include threecol-grid;
    }
  }
}

.grid--twocol--50-50 {
  max-width: 81.875em;
  margin: 0 auto;

  .list-container__inner {
    gap: $mobile-height-gutter;
    @include grid-base;
    @include breakpoint(md) {
      @include twocol-grid;
    }
  }
}

.grid--twocol--67-33 {
  max-width: 81.875em;
  margin: 0 auto;

  .list-container__inner {
    gap: $mobile-height-gutter;
    @include grid-base;
    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);

      .grid__column:first-child {
        grid-area: 1 / 1 / 2 / 3;
        min-width: 0;
      }
    }

    .grid__column:last-child {
      @include breakpoint(md) {
        grid-area: 1 / 3 / 2 / 4;
        min-width: 0;
      }
    }
  }
}

.grid--onecol {
  .list-container {
    max-width: 81.875em;
    margin: 0 auto;
  }
}

.grid--onecol__narrow {
  .list-container {
    max-width: 63.75em;
    margin: 0 auto;
  }
}

// Declare which containers to query.
@supports (contain: inline-size) {
  .grid__column {
    container-type: inline-size;
    container-name: column;
  }
}
