@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.grid--threecol--33-34-33 {
  .list-container {
    @include grid-base;
    @include breakpoint(md) {
      @include threecol-grid;
    }
  }
}

.grid--twocol--50-50 {
  .list-container {
    @include grid-base;
    @include breakpoint(md) {
      @include twocol-grid;
    }
  }
}

// @todo move this to a file that only storybook uses?
// Declare which containers to query.
@supports (contain: inline-size) {
  .grid__column {
    container-type: inline-size;
    container-name: column;
  }
}
