.bttn {
  border: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 1.25rem;
  padding: 1rem 2rem 1rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.425); }
  .bttn i,
  .bttn svg {
    margin-left: 0.625rem; }
  [class*="bg--"] .bttn,
  [class*="bg--"] [class*="bg--"] .bttn {
    border-color: rgba(0, 0, 0, 0.425);
    color: #151515; }
  [class*="bg--black"] .bttn {
    border-color: rgba(255, 255, 255, 0.425); }
  .bttn--primary {
    color: #151515;
    background: #FFCD00;
    border-color: #FFCD00;
    color: #151515; }
    .bttn--primary i,
    .bttn--primary svg,
    .bttn--primary span {
      color: #fff; }
    .bttn--primary:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: #FFCD00;
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out; }
    .bttn--primary:focus {
      text-decoration: underline; }
    .bttn--primary:hover::after, .bttn--primary:focus::after {
      transform: translate(-50%, 0) scaleX(1); }
    [class*="bg--"] [class*="bg--gray"] .bttn--primary,
    [class*="bg--gray"] .bttn--primary,
    [class*="bg--"] [class*="bg--white"] .bttn--primary,
    [class*="bg--white"] .bttn--primary {
      border-color: #FFCD00; }
    .bttn--primary:after {
      background-color: #151515; }
  .bttn--secondary {
    color: #fff;
    background: #151515; }
    .bttn--secondary i,
    .bttn--secondary svg,
    .bttn--secondary span {
      color: #FFCD00; }
    .bttn--secondary:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: #FFCD00;
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out; }
    .bttn--secondary:focus {
      text-decoration: underline; }
    .bttn--secondary:hover::after, .bttn--secondary:focus::after {
      transform: translate(-50%, 0) scaleX(1); }
    .bttn--secondary__light {
      color: #fff; }
    [class*="bg--"] .bttn--secondary,
    [class*="bg--"] [class*="bg--"] .bttn--secondary {
      border-color: rgba(255, 255, 255, 0.425);
      color: #fff; }
  .bttn--tertiary {
    color: #151515;
    background: #fff; }
    .bttn--tertiary i,
    .bttn--tertiary svg,
    .bttn--tertiary span {
      color: #FFCD00; }
    .bttn--tertiary:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: #FFCD00;
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out; }
    .bttn--tertiary:focus {
      text-decoration: underline; }
    .bttn--tertiary:hover::after, .bttn--tertiary:focus::after {
      transform: translate(-50%, 0) scaleX(1); }
  .bttn--transparent {
    background: transparent;
    color: #151515; }
    .bttn--transparent i,
    .bttn--transparent svg,
    .bttn--transparent span {
      color: #FFCD00; }
    .bttn--transparent:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: #FFCD00;
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out; }
    .bttn--transparent:focus {
      text-decoration: underline; }
    .bttn--transparent:hover::after, .bttn--transparent:focus::after {
      transform: translate(-50%, 0) scaleX(1); }
    [class*="bg--black"] .bttn--transparent,
    [class*="bg--black"] [class*="bg--black"] .bttn--transparent {
      color: #fff;
      border-color: rgba(255, 255, 255, 0.425); }
    [class*="bg--gold"] .bttn--transparent i,
    [class*="bg--white"] [class*="bg--gold"] .bttn--transparent i, [class*="bg--gold"]
    .bttn--transparent span,
    [class*="bg--white"] [class*="bg--gold"]
    .bttn--transparent span, [class*="bg--gold"]
    .bttn--transparent svg,
    [class*="bg--white"] [class*="bg--gold"]
    .bttn--transparent svg {
      color: #fff; }
    [class*="bg--white"] .bttn--transparent i,
    [class*="bg--gold"] [class*="bg--white"] .bttn--transparent i, [class*="bg--white"]
    .bttn--transparent span,
    [class*="bg--gold"] [class*="bg--white"]
    .bttn--transparent span, [class*="bg--white"]
    .bttn--transparent svg,
    [class*="bg--gold"] [class*="bg--white"]
    .bttn--transparent svg {
      color: #FFCD00; }
    [class*="bg--black"] [class*="bg--white"] .bttn--transparent,
    [class*="bg--black"] [class*="bg--gray"] .bttn--transparent,
    [class*="bg--black"] [class*="bg--gold"] .bttn--transparent {
      color: #151515; }
  .bttn--borderless {
    border: none; }
    .bttn--borderless.bttn--transparent {
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.425); }
      [class*="bg--black"] .bttn--borderless.bttn--transparent {
        border-color: rgba(255, 255, 255, 0.425); }
  .bttn--full {
    display: flex; }
  .bttn--caps {
    text-transform: uppercase;
    font-family: "Antonio", sans-serif; }
  .bttn--lowercase {
    text-transform: none;
    letter-spacing: 0;
    font-size: 1rem; }
  .bttn--sans-serif {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
    display: inline-block; }
    .bttn--sans-serif:focus {
      text-decoration: underline; }
    .bttn--sans-serif i,
    .bttn--sans-serif span {
      font-size: 0.9rem; }
    .bttn--sans-serif.bttn--full {
      display: flex;
      height: 100%; }
  .bttn--link {
    color: #000;
    border: none; }
    .bttn--link:focus, .bttn--link:hover {
      border: none;
      transform: none;
      text-decoration: underline; }
      .bttn--link:focus:focus::after, .bttn--link:focus:hover::after, .bttn--link:hover:focus::after, .bttn--link:hover:hover::after {
        transform: none; }
