@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';
////// Tabs
.tabs {
  margin: 0;
  list-style-type: none;
  //@extend %no-ul-list;
  &::after,
  &::before {
    display: table;
    content: ' ';
  }
}

[role="tablist"] {
  margin: 0 0 -0.1rem;
  overflow: visible;
  font-size: 0;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 1rem;
  border: none;
  overflow: visible;
  font-family: $font-family-sans-serif;
  font-size: $content-font-size;
  font-weight: $font-weight-medium;
  background: none;
  transition: background 0.8s ease-out;
  cursor: pointer;

  [class*="bg--black"] & {
    color: $light;
  }

  &[aria-selected="true"] {
    border-radius: 0;
    outline: 0;

    &::after {
      width: 100%;
      background: $primary;
    }

    &::before {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 8px;
      content: "";
      transition: 0.3s;
    }

    &:focus::after,
    &:hover::after {
      background: $primary;
    }

    &:focus::before,
    &:hover::before {
      background: $brand-cool-gray;
      width: 100%;
    }

    [class*="bg--gold"] & {
      border-bottom-color: $secondary;
    }

    [class*="bg--black"] & {
      color: $primary;
    }
  }

  &[aria-selected="false"] {
    color: $med-gray;

    &::after {
      width: 100%;
      background: $grey-light;
    }

    [class*="bg--gold"] & {
      border-bottom-color: $light;
    }

    [class*="bg--black"] & {
      color: $light;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 6px;
    content: "";
    transition: 0.3s;
  }

  &:focus::after,
  &:hover::after {
    width: 100%;
    background: $brand-cool-gray;
  }

  &:active,
  &:focus,
  &:hover {
    outline: 0;

    [class*="bg--black"] & {
      opacity: 0.7;
    }
  }

  &:focus::before,
  &:hover::before {}
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding-top: 1rem;

  &.is-hidden {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

[role="tabpanel"] * + p {
  margin-top: 1rem;
}
