@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

////// Tabs

.tabs {
  margin: 0;
  list-style-type: none;
  background: $white;
  @extend %no-ul-list;
}

.tabs::before,
.tabs::after {
  display: table;
  content: ' ';
  @include flex($fb: 0);
  @include order($int: 1);
}

.tabs::after {
  clear: both;
}

[role="tablist"] {
  margin: 0 0 -0.1rem;
  overflow: visible;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.3rem 0.5rem 0.4rem;
  border: none;
  overflow: visible;
  font-family: $font-family-sans-serif;
  font-size: $content-font-size;
  font-weight: $font-weight-medium;
  background: white;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  content: "";
}

[role="tab"][aria-selected="true"] {
  border-bottom: 5px solid $primary;
  border-radius: 0;
  background: white;
  outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
  //border-bottom: 5px solid $primary;
}

[role="tab"][aria-selected="true"]::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 0.3rrem;
  background: white;
  box-shadow: none;
  content: "";
}

[role="tab"][aria-selected="false"] {
  border-bottom: 5px solid $grey-light;
  color: $dark;
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
  border-color: $brand-cool-gray;
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding: 0.5rem 0.5rem 0.7rem;
  border-radius: 0 0.2rem 0.2rem;
  background: white;
  font-family: $font-family-serif;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"]:focus {
  border-color: $brand-cool-gray;
  outline: 0;
}

[role="tabpanel"]:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 5px solid $secondary;
  border-radius: 0 0 0.2rem 0.2rem;
  content: "";
}

[role="tabpanel"] p {
  margin: 0;
}

[role="tabpanel"] * + p {
  margin-top: 1rem;
}

