@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';
//// Table Elements

table[border] {
  border-style: solid;
  border-color: #eee;
  td,
  th {
    border-color: #eee;
  }
}

table {
  background-color: $white;
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
  color: $secondary;
  display: inline-block;
  font-size: $content-font-size;
  max-width: 100%;
  overflow-x: auto;
  // @todo Add white-space: nowrap?
  width: 100%;

  @include breakpoint(sm) {
    display: table;
  }

  td,
  th {
    padding: $md;
    font-size: $base-font-size;
  }

  th {
    color: $secondary;

    &:not([align]) {
      text-align: left;
    }
  }

  thead th {
    background-color: $primary;
    border: none;
    text-transform: uppercase;
  }

  tbody th {
    background-color: #fff;
    border: none;
    position: static;
    left: 0;
    padding-left: $md;
  }

  tbody tr:not(.is-selected):nth-child(even),
  tbody tr:not(.is-selected):nth-child(even) th {
    background-color: $light;
  }

  &.table--hover-highlight tbody tr:not(.is-selected),
  &.table--hover-highlight tbody tr:not(.is-selected):nth-child(even) {
    &:hover {
      th {
        background-color: #fff3c3
      }

      background-color: #fff3c3;
    }
  }

  caption {
    width: 100%;
    padding: 1.05rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    font-weight: bold;
  }

  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom-width: 0;
  }

  thead td,
  thead th {
    color: $secondary;
  }

  &.table--width-default {
    width: unset;
  }
}

table.table--gray-borders {
  border: #ddd 1px solid;

  & > tr,
  & > tbody > tr,
  & > tfoot > tr {
    & > td,
    & > th {
      border: #ddd 1px solid;
    }
  }

  & > thead > tr,
  & > caption {
    & > td,
    & > th {
      border: #7c7c7c 1px solid;
    }
  }

  & > thead > tr {
    & > td,
    & > th {
      border-bottom: #ddd 1px solid;
      border-top: #ddd 1px solid;

      &:first-child {
        border-left: #ddd 1px solid;
      }

      &:last-child {
        border-right: #ddd 1px solid;
      }
    }
  }

  & > tbody > tr:first-child {
    th, td {
      border-top: none;
    }
  }
}

.table {
  &__responsive-container {
    border: 1px solid #eee;
    width: 100%;
    position: relative;

    table {
      width: 100%;

      caption {
        @include element-invisible();
      }
    }

    &--width-default {
      width: unset;
      display: inline-block;

      table.table--width-default {
        width: unset;
      }
    }

    &.table__row-headers--true {

      // A sticky heading is a heading in the JS generated table__responsive-header container.
      .table__sticky-heading:first-child {
        left: 0;
      }

      &.table--left-sticky-minwidth .table__sticky-heading:first-child {
        position: sticky;
      }
    }

    &.table--is-sticky-top {
      .table__responsive-header {
        transition: filter 0.3s ease-in-out;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
      }
    }

    &.table__responsive-container--gray-borders {
      border: unset;

      .table__visual-caption {
        border: #7c7c7c 1px solid;
        border-bottom: none;
      }

      table > tbody > tr:first-child {
        th, td {
          border-top: none;
        }
      }

      .table__responsive-header .table__sticky-heading {
        border-left: #7c7c7c 1px solid;
        border-bottom: #ddd 1px solid;
        border-top: #ddd 1px solid;

        &:first-child {
          border-left: 1px solid #ddd;
        }
      }
    }

    &.table--is-sticky-left.table--left-sticky-minwidth {
      tbody th {
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
      }

      .table__sticky-heading:first-child {
        border-right: 1px solid #ccc;
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
      }
    }

    .table__responsive-header__sticky-heading:first-child {
      border-right: none;
      transition: border-right 0.3s ease-in-out;
    }

    &.table--left-sticky-minwidth table tbody th {
      position: sticky;
    }

    .text-formatted & div {
      line-height: inherit;
      font-size: $base-font-size;
      margin-bottom: 0;
    }
  }

  &__visual-caption {
  }

  &__responsive-header {
    position: sticky;
    z-index: 1;
    top: 0;

    &__scroller {
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  &__sticky-heading {
    background: $primary;
    border: none;
    color: $secondary;
    display: inline-block;
    font-size: $base-font-size;
    padding: $md;
    text-align: left;
    text-transform: uppercase;

    .text-positioner {
      white-space: break-spaces;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      font-weight: bold;
    }
  }

  &__container {
    overflow-x: auto;
  }

  &.table--static {

    tbody th,
    thead th {
      position: static;
    }
  }
}
