blockquote {
  font-weight: 400;
  font-style: none;
  font-family: "Zilla Slab", "Zilla-fallback", serif;
  border-left-style: solid;
  border-width: 10px;
  border-color: var(--brand-gold);
  padding: 1.875rem;
  font-size: 1.5rem;
  line-height: 1.7;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: 1.875rem; }
  blockquote cite {
    display: block; }
  blockquote .blockquote__media {
    max-width: 160px; }
  [class*="bg--black"] blockquote,
  [class*="bg--"] [class*="bg--black"] blockquote,
  [class*="bg--gray"] blockquote,
  [class*="bg--"] [class*="bg--gray"] blockquote,
  [class*="bg--white"] blockquote,
  [class*="bg--"] [class*="bg--white"] blockquote {
    border-color: var(--brand-gold); }
    [class*="bg--black"] blockquote::before,
    [class*="bg--"] [class*="bg--black"] blockquote::before,
    [class*="bg--gray"] blockquote::before,
    [class*="bg--"] [class*="bg--gray"] blockquote::before,
    [class*="bg--white"] blockquote::before,
    [class*="bg--"] [class*="bg--white"] blockquote::before {
      background: var(--brand-gold); }
  [class*="bg--gold"] blockquote,
  [class*="bg--"] [class*="bg--gold"] blockquote {
    border-color: #fff; }
    [class*="bg--gold"] blockquote::before,
    [class*="bg--"] [class*="bg--gold"] blockquote::before {
      background: #fff; }
  blockquote p {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4rem; }
  blockquote footer {
    font-family: "Roboto", sans-serif;
    margin-top: 1.05rem;
    font-size: 1.2rem; }
  blockquote p + footer {
    margin-top: 0; }
  blockquote.blockquote--center, blockquote.blockquote--left, blockquote.blockquote--right {
    flex-basis: 100%; }
  blockquote.blockquote--center,
  .blockquote-center blockquote {
    text-align: center;
    border: none;
    position: relative;
    padding-top: 2.5rem;
    padding-right: 0.325rem;
    padding-bottom: 0.325rem;
    padding-left: 0.325rem; }
    blockquote.blockquote--center img,
    .blockquote-center blockquote img {
      margin: 0 auto;
      display: block; }
    blockquote.blockquote--center::before,
    .blockquote-center blockquote::before {
      position: absolute;
      content: '';
      height: 10px;
      top: 11px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 130px;
      background: var(--brand-gold);
      transition: 0.5s; }
      .bg--gold--pattern--brain blockquote.blockquote--center::before,
      .bg-pattern--brain-reversed blockquote.blockquote--center::before,
      [class*="bg--gold"] blockquote.blockquote--center::before, .bg--gold--pattern--brain
      .blockquote-center blockquote::before,
      .bg-pattern--brain-reversed
      .blockquote-center blockquote::before,
      [class*="bg--gold"]
      .blockquote-center blockquote::before {
        background: #fff; }
  blockquote.blockquote--right,
  .blockquote-right blockquote {
    text-align: end;
    border-left: none;
    border-right-style: solid;
    padding: 0.325rem 1.875rem; }
  blockquote.blockquote--img-above.blockquote--left, blockquote.blockquote--img-above.blockquote--right, blockquote.blockquote--img-below.blockquote--left, blockquote.blockquote--img-below.blockquote--right {
    margin-bottom: 1.25rem; }
    blockquote.blockquote--img-above.blockquote--left .blockquote__media, blockquote.blockquote--img-above.blockquote--right .blockquote__media, blockquote.blockquote--img-below.blockquote--left .blockquote__media, blockquote.blockquote--img-below.blockquote--right .blockquote__media {
      margin-bottom: 0.9rem; }
      @media (min-width: 768px) {
        blockquote.blockquote--img-above.blockquote--left .blockquote__media, blockquote.blockquote--img-above.blockquote--right .blockquote__media, blockquote.blockquote--img-below.blockquote--left .blockquote__media, blockquote.blockquote--img-below.blockquote--right .blockquote__media {
          margin-bottom: 0; } }
  blockquote.blockquote--img-above.blockquote--center .blockquote__media, blockquote.blockquote--img-above.blockquote--left .blockquote__media, blockquote.blockquote--img-below.blockquote--center .blockquote__media, blockquote.blockquote--img-below.blockquote--left .blockquote__media {
    margin-right: 1.3rem;
    margin-top: 0.7rem; }
  blockquote.blockquote--img-above.blockquote--right .blockquote__media, blockquote.blockquote--img-below.blockquote--right .blockquote__media {
    margin-left: 1.3rem;
    margin-top: 0.7rem; }
  @media (min-width: 768px) {
    blockquote.blockquote--img-above .blockquote__media {
      flex: 0 1 auto; } }
  @media (min-width: 768px) {
    blockquote.blockquote--img-above .blockquote__content {
      flex: 0 1 75%; } }
  blockquote.blockquote--img-above .blockquote__paragraph {
    position: relative;
    padding-bottom: 1.875rem; }
    blockquote.blockquote--img-above .blockquote__paragraph::after {
      position: absolute;
      content: '';
      height: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 130px;
      background: var(--brand-gold);
      transition: 0.5s; }
      .bg--black--pattern--brain blockquote.blockquote--img-above .blockquote__paragraph::after,
      .bg--white--pattern--brain blockquote.blockquote--img-above .blockquote__paragraph::after,
      .bg-pattern--brain blockquote.blockquote--img-above .blockquote__paragraph::after,
      .bg-pattern--brain-black blockquote.blockquote--img-above .blockquote__paragraph::after,
      [class*="bg--black"] blockquote.blockquote--img-above .blockquote__paragraph::after,
      [class*="bg--gray"] blockquote.blockquote--img-above .blockquote__paragraph::after,
      [class*="bg--white"] blockquote.blockquote--img-above .blockquote__paragraph::after {
        background: var(--brand-gold); }
      .bg--gold--pattern--brain blockquote.blockquote--img-above .blockquote__paragraph::after,
      .bg-pattern--brain-reversed blockquote.blockquote--img-above .blockquote__paragraph::after,
      [class*="bg--gold"] blockquote.blockquote--img-above .blockquote__paragraph::after {
        background: #fff; }
  blockquote.blockquote--img-above.blockquote--left, blockquote.blockquote--img-above.blockquote--right {
    border: none;
    margin-right: 0;
    margin-left: 0;
    padding: 1.05rem 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; }
  blockquote.blockquote--img-above.blockquote--right {
    flex-direction: row-reverse; }
    blockquote.blockquote--img-above.blockquote--right .blockquote__paragraph::after {
      right: 0;
      left: inherit; }
  blockquote.blockquote--img-above.blockquote--center {
    padding-top: 0; }
    blockquote.blockquote--img-above.blockquote--center::before {
      position: absolute;
      content: '';
      height: 0;
      top: 0.9rem;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 0;
      background: none;
      transition: 0.5s;
      display: none; }
    blockquote.blockquote--img-above.blockquote--center .blockquote__media {
      position: relative;
      margin: 0 auto 1.05rem; }
    blockquote.blockquote--img-above.blockquote--center .blockquote__paragraph::after {
      margin: 0 auto; }
  blockquote.blockquote--img-below .blockquote__media {
    max-width: 100px; }
  blockquote.blockquote--img-below footer {
    display: flex;
    margin-top: 0;
    align-items: center; }
  blockquote.blockquote--img-below cite {
    display: block;
    text-align: start; }
  blockquote.blockquote--img-below.blockquote--center footer {
    margin: 0.325rem auto 0;
    justify-content: center;
    text-align: left; }
    @media (min-width: 768px) {
      blockquote.blockquote--img-below.blockquote--center footer {
        max-width: 40%; } }
  blockquote.blockquote--img-below.blockquote--right footer {
    text-align: end;
    flex-direction: row-reverse;
    align-content: end; }
  blockquote.blockquote--img-below.blockquote--right cite {
    text-align: end; }
  blockquote.blockquote--remove-stylization {
    border-width: 0; }
    blockquote.blockquote--remove-stylization.blockquote--img-above .blockquote__paragraph {
      padding-bottom: 0; }
    blockquote.blockquote--remove-stylization::before {
      height: 0; }
    blockquote.blockquote--remove-stylization .blockquote__paragraph::after {
      height: 0; }
  blockquote.blockquote--remove-margin.blockquote--left, blockquote.blockquote--remove-margin.blockquote--right {
    margin-left: 0;
    margin-right: 0; }
