

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../background/background.css">
          <link media="all" rel="stylesheet" href="../media/media.css">
        
            <link media="all" rel="stylesheet" href="../blockquote/blockquote.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <blockquote class="blockquote--center blockquote--img blockquote--img-above">
      <div class="media"> <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/bg-image-square.jpg" class="media--circle" /> </div>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  <footer>
        <div>
    Footer Details in Roboto
    <cite>
              <a href="https://uiowa.edu">Link</a>
          </cite>
    </div>
  </footer>
</blockquote>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

