

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../background/background.css">
          <link media="all" rel="stylesheet" href="../media/media.css">
        
            <link media="all" rel="stylesheet" href="../blockquote/blockquote.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <blockquote class="blockquote--right">
    <div class="blockquote__content">
    <div class="blockquote__paragraph">
    Trees live in your fan brush, but you have to scare them out. Use absolutely no pressure. Just like an angel's wing. And I know you're saying, 'Oh Bob, you've done it this time.' And you may be right.
    </div>
    <footer>
            <div>
        Bob Ross
        <cite>
                      <a href="https://www.bobrosslipsum.com/">Link</a>
                  </cite>
      </div>
    </footer>

  </div>


</blockquote>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

