
  <div class="slider__container slider__container-expanded">
    {% for item in feature.items | slice(0, 3) %}
      {% set card_classes = item.card_classes ?: '' %}
      {% set card_classes = card_classes|split(' ')|merge(['card__row'])|join(' ') %}
      {% include '@prototype-slider--slide' %}
    {% endfor %}
  </div>

