
<div class="slider__slide">
  {% include '@banner' with {
    'banner_image': item.feature_banner_image,
    'banner_link_url': item.feature_link,
    'banner_title': item.feature_title,
    'banner_summary': item.feature_sub,
    'banner_link_url': item.feature_sub,
    'bttn_class': item.feature_link_class,
    'banner_link_title': item.feature_link_title,
    'banner_classes': item.feature_banner_class,

  } %}

  <div class="slider__teaser">
    <p class="slider__teaser-heading">{{ item.feature_title }}
      <i aria-hidden="true" class="fas fa-plus"></i>
    </p>
  </div>

</div>
