
<div class="slider__slide">
  {% include '@banner' with {
    'banner_image': item.feature_banner_image,
    'banner_link_url': item.feature_link,
    'banner_title': item.feature_title,
    'banner_summary': item.feature_sub,
  } %}
</div>
