.search-button {
  position: relative;
  z-index: 2;
  top: 0;
  top: 0;
  right: 0;
  display: block;
  width: auto;
  height: 80px;
  margin: 0;
  padding: 7px 25px;
  cursor: pointer;
  transition: background .15s, border .15s, color .15s, transform .15s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 700;

  @include breakpoint(menu) {
    position: absolute;
    right: 0;

    .header--horizontal & {
      right: 20px;
    }
  }

  @include breakpoint(container) {
    right: 167px;

    .header--horizontal & {
      //right: -50px;
    }
  }

  @include breakpoint(menu) {
    top: 0;
    height: 80px;
    padding: 14px 25px 7px 18px;
    .header--tertiary & {
      padding: 9px 25px 7px 18px;
    }
  }

  &:focus,
  &:hover {
    /* Some exciting button focus styles */
    //outline:none;
    span {
      text-decoration: underline;
    }
  }

  &:focus:not(:focus-visible) {
    /* Undo all the above focused button styles
     if the button has focus but the browser wouldn't normally
     show default focus styles */
  }

  &:focus-visible {
    /* Some even *more* exciting button focus styles */
  }

  .header--secondary & {
    height: 70px;
    @include breakpoint(menu) {
      height: 80px;
    }
  }

  .header--tertiary & {
    //width: 20%;
    height: 70px;
    background: none;

    @include breakpoint(menu) {
      top: 0px;
      width: auto;
      height: 90px;
    }
  }

  span {
     //@include element-invisible;
     display: none;
    @include breakpoint(menu) {
      //@include element-invisible-off;
      display: inline;
      overflow: unset;
      position: unset !important;
      display: inline-block;
    }
  }

  .uiowa-bar--home & {
    top: 0;
    @include breakpoint(sm) {
      top: 0;
    }
  }

  &[aria-expanded="true"] {
    background: $white;

    @include breakpoint(menu) {
      background: none;
    }

    &:before {
      padding: 7px;
      content: "\f00d";
      color: $secondary;

      @include breakpoint(menu) {
        width: 35px;
        margin-right: 5px;
        color: $secondary;
        border-radius: 50%;
        background: #fff;
        line-height: 1.2;
        color: $secondary;
      }

      .header--tertiary & {
        width: 35px;
        height: 35px;
        color: white;
        border-radius: 50%;
        background: $secondary;

      }

      .header--primary & {
        //color: #fff;

        @include breakpoint(menu) {
          color: $secondary;
        }
      }
    }
  }

  &:before {
    padding: $xsm;
    padding-right: 7px;
    content: "\f002";
    color: #fff;
    font-size: 1.5rem;
    @include fas();

    @include breakpoint(menu) {
      font-size: 1.2rem;
      color: $secondary;
    }

    .header--primary & {
      //color: $secondary;

      @include breakpoint(menu) {
        //color: $secondary;
      }
    }

  }
}

.header--secondary.horizontal .search-button,
.header--secondary.mega .search-button,
.header--tertiary.horizontal .search-button,
.header--tertiary.mega .search-button {
  right: 0;
}


/*
@media (max-width: 1880px) and (min-width: 84.375em) {
  .search-button {
    right: 5%;
  }
}
*/


.search-is-open .search-overlay .uids-search {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 70%;
  cursor: text;

  @include breakpoint(menu) {
    width: 73%;
    height: 50px;
    border-bottom: 1px solid #6d5a0e;
  }

  @include breakpoint(container) {
    width: 73%;
    margin-right: 90px;
  }

}

.search-is-open .header--tertiary .uids-search {
  @include breakpoint(menu) {
    border-bottom: 1px solid #666;
  }
}


.search-is-open .header--primary .menu--top {
  //@include element-invisible;
  display: none;
}

.search-overlay .uids-search {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 0px;
  cursor: pointer;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  background: none;

  button>* {
    pointer-events: none;

  }
}



.search-overlay .uids-search input[type="text"] {
  padding-left: 0;
  text-align: left;
  color: #fff;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  background: none;
  box-shadow: none !important;
  font-size: 1.5rem;

  @include breakpoint(menu) {
    color: $secondary;
    .header--tertiary & {
      border-bottom: none;
    }
  }

  &::placeholder {
    color: #fff;
    font-size: 1rem;

    @include breakpoint(menu) {
      color: #000;
      font-size: unset;
    }
  }
}



.search-overlay .uids-search {
  margin-top: 13px;
  margin-left: 21px;
  padding: 0;
  padding: 0px;

  @include breakpoint(menu) {
    margin-top: 18px;
    background: $primary;

    .header--tertiary & {
      background: transparent;
    }
  }

  @include breakpoint(menu) {
    .header--tertiary & {
      margin-top: 22px;
      margin-left: 0;
      padding: 0;
    }
  }

  .header--tertiary &,
  .header--secondary & {
    margin-top: 7px;
    @include breakpoint(menu) {
      margin-top: 18px;
    }
  }


}


.search-overlay .uids-search [type="submit"] {
  padding: 0 10px;
  background: none;
  border: none;
}

.search-overlay .uids-search [type="submit"] span {
   //@include element-invisible;
   display: none;
}

.search-overlay .uids-search [type="submit"]::before {
  padding: 20px;
  content: ' ';
  background: url(../images/search-white-01.svg);
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;

  @include breakpoint(menu) {
    background-position: center;
    background: url(../images/search-01.svg);
  }

  .header--tertiary & {
    background-repeat: no-repeat;
    background-position: center;
  }
}

.search-overlay {
  position: absolute;
  visibility: hidden;

  .search-is-open & {
    @include breakpoint(menu) {
      width: 100%;
    }
  }




  &[aria-expanded="true"] {
    z-index: 1;
    visibility: visible;
    transition: opacity .3s;
    transition-timing-function: ease;
    transition-timing-function: ease-in-out;
    text-align: left;
  }
}


// color changes for active search - change to focus invisible?
.search-is-open {
  @include breakpoint(menu) {
    .uiowa-bar__title {
      color: $primary;
    }
  }
}


.search-is-open .header--tertiary {
  @include breakpoint(menu) {
    .uiowa-bar__title {
      color: $white;
    }
  }
}


.search-wrapper {
  position: absolute;
  right: 0;
  top: 0;


  @include breakpoint(menu) {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  @include breakpoint(container) {
    margin-right: calc(50% - 50vw);
    .header--horizontal &,
    .horizontal &,
    .mega & {
      margin-right: 0;
    }
  }

  .search-is-open & {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
     @include breakpoint(menu) {
       position: relative;
     }
  }

  .header--primary & {
    align-items: flex-end;
    flex-direction: column;

    @include breakpoint(container) {
      align-items: unset;
    }
  }

  .header--tertiary & {
    flex-wrap: wrap;
  }

  .header--horizontal & {
    @include breakpoint(container) {
      //margin-right: calc(50% - 49vw);
    }
  }
}


.search-is-open .header--tertiary .search-wrapper {
  align-items: flex-end;
  flex-direction: column;
}

.search-overlay {
  position: absolute;
  top: 0;
  top: -80px;
  left: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  text-align: center;
  background-color: $primary;
  @include flexbox;

  .header--tertiary & {
    background-color: $white;
  }

  &[aria-expanded="true"] {
    z-index: 1;
    top: 0;
    display: contents;
    visibility: visible;
    width: 100%;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transition: opacity .3s;
    transition-timing-function: ease;
    transition-timing-function: ease-in-out;
    text-align: left;

    @include breakpoint(menu) {
      display: flex;
    }
  }
}



header.header--primary {
  .search-is-open & {
    @include breakpoint(menu) {
      padding-bottom: 32px;
      background: $secondary;
    }
  }
}


// ie11

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .search-wrapper {
      @include breakpoint(container) {
        margin-right: 0px;
      }
    }
  }
