<div class="search-overlay" aria-expanded="false" aria-label="search tools for this site">
	{% render '@search' %}
	{% if search_type == 'search--primary' %}
		{% render '@quick--search' %}
	{% endif %}
</div>
