@import '../../assets/scss/variables';

$backgrounds: (
  'bg--black': (
    'type': 'dark',
    'background-color': $secondary,
  ),
  'bg--black--pattern--brain': (
    'type': 'dark',
    'background-color': $secondary,
    'background-image': '#{$imgpath}/brain-pattern-black.svg',
  ),
  'bg--gold': (
    'type': 'light',
    'background-color': $primary,
  ),
  'bg--gold--pattern--brain': (
    'type': 'light',
    'background-color': $primary,
    'background-image': '#{$imgpath}/brain-pattern-reversed.svg',
  ),
  'bg--gray': (
    'type': 'light',
    'background-color': $light,
  ),
  'bg--white': (
    'type': 'light',
    'background-color': $white,
  ),
  'bg--white--pattern--brain': (
    'type': 'light',
    'background-color': $white,
    'background-image': '#{$imgpath}/brain-pattern.svg',
  ),
);

$bg-to-fg-color-map: (
  'default': 'dark',
  'black': 'light',
  'gold': 'dark',
  'gray': 'dark',
  'white': 'dark',
);

@mixin bg-dark() {
  color: $white;
  a {
    color: $primary;
  }
}

@mixin bg-light() {
  color: $secondary;

  a {
    color: $secondary;
  }
}

@mixin add-backgrounds($before: '', $after: '') {
  // Loop through $backgrounds
  @each $bg-class, $background in $backgrounds {
    $background-color: map-get($background, 'background-color');
    $background-image: map-get($background, 'background-image');
    $type: map-get($background, 'type');
    $text_color: map-get($bg-to-fg-color-map, $type);
    @if $text_color == null {
      $text_color: map-get($bg-to-fg-color-map, 'default');
    }
    #{$before}.#{$bg-class}#{$after} {
      @if $background-color {
        background-color: $background-color;
      }
      @if $background-image {
        background-image: url($background-image);
      }
      @if $type == 'dark' {
        @include bg-dark();
      } @else {
        @include bg-light();
      }
    }
  }
}

@mixin add-color-for-bgs($before: '', $after: '') {
  // Loop through $backgrounds
  @each $bg-class, $background in $backgrounds {
    $type: map-get($background, 'type');
    $text_color: map-get($bg-to-fg-color-map, $type);
    @if $text_color == null {
      $text_color: map-get($bg-to-fg-color-map, 'default');
    }
    #{$before}.#{$bg-class}#{$after} {
      color: unquote($text_color);
    }
  }
}

@mixin background-treatments($before: '', $after: '') {
  @each $bg-class, $background in $backgrounds {
    .#{$bg-class} {
      @content
    }
  }
}
