.menu--top .menu li {
  display: flex; }
  .menu--top .menu li:nth-child(3) {
    display: none !important; }
    @media (min-width: 855px) {
      .menu--top .menu li:nth-child(3) {
        display: flex !important; } }
  .menu--top .menu li a {
    padding: 1.05rem;
    color: #fff; }
    @media (min-width: 855px) {
      .menu--top .menu li a {
        color: #151515; } }
    .menu--top .menu li a:hover, .menu--top .menu li a:focus {
      text-decoration: underline; }
    .iowa-bar--full .menu--top .menu li a {
      font-size: .9rem;
      padding-right: 0; }
      @media (min-width: 855px) {
        .iowa-bar--full .menu--top .menu li a {
          font-size: 1.2rem;
          padding-right: 1.05rem; } }
    .iowa-bar--narrow .menu--top .menu li a {
      padding: 0.8rem 1.05rem; }

.iowa-bar--narrow .menu--top {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  @media (min-width: 855px) {
    .iowa-bar--narrow .menu--top {
      position: static !important;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
      overflow: unset;
      position: absolute !important; } }

.menu--top.nav {
  margin-top: 7px;
  position: absolute;
  z-index: 2;
  right: 96px;
  top: 0;
  display: block; }
  @media (min-width: 768px) {
    .menu--top.nav {
      margin-top: 9px; } }
  @media (min-width: 855px) {
    .menu--top.nav {
      right: 356px;
      margin-top: 11px; } }

.iowa-bar--narrow .nav.menu--top {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0px;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0; }

.nav.menu--top .menu li a {
  font-weight: 300; }
