@import '../../../assets/scss/variables';
@import "../../../assets/scss/utilities";

.parent-site-name {
  font-weight: $font-weight-light;
  flex-basis: content;
  margin: 0 0 -10px 0;
  padding: $md 0 0 $gutter;
  width: 100%;
  background: $primary;

  .o-canvas--lock & {
    @include breakpoint(menu) {
      background: transparent;
    }
  }

  a {
    color: $secondary;
    text-decoration: none;
  }

  @include breakpoint(menu) {
    background: transparent;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1px 0 0;
    width: auto;
  }
}

