@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.bttn {
  @include bttn;
}

a.bttn {
   span {
     margin-left: $sm;
     color: $primary;
   }
   &.bttn--primary {
     span {
       color: white;
     }
   }
}

.bttn--primary {
  @include bttn--primary;
  border: 1px solid $primary;
  @include bttn--focus;

  &:after {
    background-color: $secondary;
  }

  &:hover,
  &:focus {
    //border: 1px solid $secondary;
  }
}

.bttn--secondary {
  @include bttn--secondary;
  border: 1px solid $secondary;
  @include bttn--focus;

  &:hover,
  &:focus {
    //border: 1px solid $primary;
  }
}

.bttn--secondary__light {
  @include bttn--secondary__light;
}

.bttn--tertiary {
  @include bttn--tertiary;
  @include bttn--focus;
  border: 1px solid white;

  &:hover,
  &:focus {
    border: 1px solid #999;
  }
}

.bttn--full {
  @include bttn--full;
}

.bttn--outline {
  @include bttn--outline;
  border: 1px solid $primary;
  @include bttn--focus;

  &:hover,
  &:focus {
    background: #fff;
    //border: 1px solid #666;
    color: $secondary;
    @include bttn--focus;
  }
}

.bttn--transparent {
  @include bttn--transparent;

  &:hover,
  &:focus {
    background: #fff;
    border: 1px solid white;
  }
}

.bttn--caps {
  text-transform: uppercase;
  font-family: $font-family-caps-bold;
}

.bttn--sans-serif {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  font-size: .9rem;
  letter-spacing: .04rem;
  display: inline-block;
  &:focus {
    text-decoration: underline;
  }
  i, span {
    font-size: .9rem;
  }
}


.bttn--link {
  color: #000;

  &:hover,
  &:focus {
    i, svg, span {
      color: #000;
    }

    border: none;
    transform: none;
    background: #fff;

    &:hover::after,
    &:focus::after {
      transform: none;
    }
  }
}

.bttn__apply {
  margin-top: unset;
  padding: .7rem;
  border: 1px solid $white;
  font-size: .95rem;
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}
