
<li class="menu-item">
	<a href="#" class="sf-depth-1 {{ link.menu_quick_classes }}">
{% if link.menu_quick_icon %}
<i class="{{ link.menu_quick_icon }}"></i>
{% endif %}
    {{ link.menu_quick_text }}
    </a>
</li>

