

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../highlight/highlight.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
        
            <link media="all" rel="stylesheet" href="../aerial/aerial.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="aerial aerial__grid">

	<div class="aerial__image">
    <img class="aerial__img" src="../../assets/images/viewbook/sections/12.jpg" alt="Alt Text">
	</div>
<div class="aerial__container">
	<div class="aerial__content aerial__content-grid">

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">World-class hospital</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span> A nationally ranked, comprehensive medical center is just a short walk away.</span>
			</div>
		
	</div>

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">Best college town</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Named the #1 Best College Town by reviews.org, Iowa City seamlessly blends a vibrant downtown with the heart of campus.</span>
			</div>
		
	</div>

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">Easy to get around</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span> Whether you like to walk, bike, or take the free bus system, residence halls are closely located to the center of campus and downtown Iowa City.</span>
			</div>
		
	</div>

									<h2 class="bold-headline--caps bold-headline">
        <span class="heading__heading">Welcome Home</span>
    </h2>
					
		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">Big ten athletics</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Seating nearly 70,000, Kinnick Stadium is home to Hawkeye Football, just one of the 24 NCAA teams at Iowa.</span>
			</div>
		
	</div>
</div>

	</div>

</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

