

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../highlight/highlight.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
        
            <link media="all" rel="stylesheet" href="../aerial/aerial.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="aerial aerial__grid">

	<div class="aerial__image">
		<img
  
  alt=""
            sizes="(min-width:1310px) 1310px, 100vw"    srcset="../../assets/images/widescreen__384_x_216/bg-image.jpg 384w,../../assets/images/widescreen__768_x_432/bg-image.jpg 768w,../../assets/images/widescreen__1024_x_576/bg-image.jpg 1024w,../../assets/images/widescreen__1312_x_738/bg-image.jpg 1312w,../../assets/images/widescreen__1920_x_1080/bg-image.jpg 1920w,../../assets/images/widescreen__2592_x_1458/bg-image.jpg 2592w,"    
  src=""
  typeof="foaf:Image"
>	</div>

	<div class="aerial__content aerial__content-grid">

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">World-class hospital</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>The University of Iowa is home to the best comprehensive medical center in Iowa–and one of the best in the country</span>
			</div>
		
	</div>

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">A real college town</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Most college towns are just towns near a college. Not Iowa City. The campus and downtown are woven into each other</span>
			</div>
		
	</div>

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">Easy to get around</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Big schools have to be big, right?  Nope. Everything on campus is within walking distance, with free buses to get you there faster</span>
			</div>
		
	</div>

									<h2 class="bold-headline--caps bold-headline">
        <span class="heading__heading">Welcome Home</span>
    </h2>
					
		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">Big ten athletics</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Kinnick Stadium, with its 69,000+ seats, is the home of Hawkeye Football. But on gameday, the entire town turns black and gold</span>
			</div>
		
	</div>

	</div>

</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

