

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../cta/cta.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="cta__wrapper element--left bg--black">
	<div class="cta__container">
		
							
									<div class="cta__content">
					<p class="cta__summary">Iowa blends leadership in the arts with pioneering scientific research, helping students carve their own unique path–wherever it leads.</p>
				</div>
					
									<div class="cta__link">
					<a href="https://uiowa.edu/" class="bttn bttn--primary bttn--caps">Request Information
						<i class="fas fa-arrow-right"></i>
					</a>
				</div>
					
	</div>
</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

