

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../highlight/highlight.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../typography/headings/headings.css">
        
            <link media="all" rel="stylesheet" href="../viewbook/grid-panel/grid-panel.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <div class="grid-panel grid-panel--asymmetrical">

	<div class="grid-panel__column-image-left">

		
					<img class="grid-panel__img" src="../../assets/images/viewbook/sections/0315.jpg" alt="Alt Text" />
		
		
	</div>

	<div class="grid-panel__column-content-right grid-panel__content">

		
			< class="headline ">
        <span class="headline__text"></span>
    </>

			<p>The University of Iowa blends big-school opportunities with close, personal support to help you excel. We remove the barriers between arts and science, between students and faculty—but most of all, between you and anything you’d like to explore.</p> <p>How many universities have both a state-of-the-art children’s hospital and a 3,883-pipe Klais organ? Or helped build the Voyager I satellite and the very first creative writing degree program? Just one: Iowa.</p>
			<a href="https://admissions.uiowa.edu/academics/academics" class="bttn bttn bttn--secondary bttn--caps">
  View Academic Opportunities
      <i class="fas fa-arrow-right"></i>
  </a>

		
    
    
	</div>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

