

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
        
                  <link media="all" rel="stylesheet" href="../hero/hero.css">
                            <link media="all" rel="stylesheet" href="../hero/hero_home.css">
                      <link media="all" rel="stylesheet" href="../hero/hero_video.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

			
				
								
<div class="hero hero--solid-opacity hero--large bg--black hero--vertical-center hero--horizontal-center">


            <video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="../../images/hero-image.jpg">
        <source src="../../assets/video/home.mp4" type="video/mp4">
      </video>
      <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
      <!--[if lt IE 9]> <img src="../../images/hero-image.jpg" alt="View of University of Iowa Campus" class=" ie8-poster"> <![endif]-->
    
      
      <div class="hero__container">
      <div class="hero__content">

                  <div class="video-controls video">
            <button class="video-btn video-btn__pause" id="video-btn">
              <span class="element-invisible">Pause</span>
            </button>
          </div>
        
                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="heading__heading">We’re in this together</span>
        </a>
  </h2>
                  
        <p>Every Hawkeye has a role to play in preventing the spread of COVID-19.<br /> Find out what Iowa’s doing—and what you can do—to make your return to campus safer.</p><p><a class="bttn bttn--primary bttn--caps" href="/student-life/iowa-city">Read Fall 2020 guidelines <span class="fa-arrow-right fas"></span> </a></p>

                            <div aria-hidden="true" class="bttn bttn--secondary bttn--caps" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


      <script src="../hero/hero-video.js"></script>
          <script src="../hero/hero.js"></script>
            </html>

