

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<nav role="navigation" aria-label="Navigation">
  <ul id="vertical-side-navigation">
          <li>
        <a href=#>Undergraduate</a>
      </li>
          <li>
        <a href=#>Graduate</a>
      </li>
          <li>
        <a href=#>International</a>
      </li>
          <li>
        <a href=#>Distance and online</a>
      </li>
          <li>
        <a href=#>Cost and aid</a>
      </li>
      </ul>
</nav>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../menus/vertical-dots/vertical-dots.js"></script>
  </html>

