

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <nav role="navigation" aria-label="Main Navigation" class="block-superfish-alt">
  <h2 class="block-title element-invisible">Main Menu</h2>
  <ul id="superfish-main-accordion" class="menu sf-menu sf-main sf-style-none sf-accordion sf-expanded">
          <li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 menuparent">Admissions</a>
	<ul class="sf-hidden" style="float: none;">
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Undergraduate</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Graduate</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">International</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Distance and online</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Cost and aid</a></li>
			</ul>
</li></li>

          <li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 menuparent">Academics</a>
	<ul class="sf-hidden" style="float: none;">
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Areas of study</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Leading programs</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Career center</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Colleges</a></li>
			</ul>
</li></li>

          <li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 menuparent">Research</a>
	<ul class="sf-hidden" style="float: none;">
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Students</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Faculty</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Areas of excellence</a></li>
			</ul>
</li></li>

          <li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 menuparent">Hawkeye life</a>
	<ul class="sf-hidden" style="float: none;">
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Iowa City</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Living on campus</a></li>
			</ul>
</li></li>

          <li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 menuparent">News</a>
	<ul class="sf-hidden" style="float: none;">
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Events</a></li>
					<li class="sf-depth-2 sf-no-children">
				<a href="#" class="sf-depth-2">Media resources</a></li>
			</ul>
</li></li>

      </ul>
</nav>

<style>
  /**
   * sfSmallscreen.
   */

  ul.sf-menu.sf-expanded ul {
    position: relative;
    display: block;
  }


  .block-superfish-alt .sf-style-none > li.sf-expanded > a.sf-depth-1.menuparent::before, .block-superfish-alt .menu > li.sf-expanded > a.sf-depth-1.menuparent::before {
    content: "\f077";
  }



  ul.sf-menu.sf-accordion {
    display: block !important;
    position: absolute;
  }

</style>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../menus/vertical/vertical.js"></script>
  </html>

