

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<nav role="navigation" aria-label="Navigation">
  <ul id="vertical-dots">
          <li>
        <a href="#" aria-label=Undergraduate data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=Graduate data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=International data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=Distance and online data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=Cost and aid data-section=#></a>
      </li>
      </ul>
</nav>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../menus/vertical-dots/vertical-dots.js"></script>
  </html>

