@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

blockquote {
  cite {
    display: block;
  }
  .blockquote__media {
    max-width: 200px;
  }
  font-weight: $font-weight-normal;
  font-style: none;
  font-family: $font-family-serif;
  border-left: 10px solid $primary;
  padding: $lg;
  font-size: 1.4rem;
  line-height: 1.7;
  @include padding($top: $xsm, $bottom: $xsm, $left: $lg);

  // border color overrides for certain background colors
  .bg--gray &,
  .bg--white &,
  .bg--gray &,
  .bg-pattern--brain &,
  .bg--white--pattern--brain & {
    border-color: $primary;
  }

  .bg-pattern--brain-reversed &,
  .bg--gold--pattern--brain &,
  .bg--gold & {
    border-color: #fff;
  }

  .bg--black--pattern--brain &,
  .bg-pattern--brain-black &,
  .bg--black & {
    border-color: $primary;
  }


  p {
    margin-top: 0;
    font-weight: $font-weight-normal;
    font-size: 1.4rem;
  }

  footer {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    margin-top: $md;
    font-size: 1.2rem;
  }

  p+footer {
    margin-top: 0;
  }

  // @todo 2020/12/08 Remove '.blockquote-center' class in v4.0.0
  .blockquote-center &,
  &.blockquote--center {
    img {
      margin: 0 auto;
      display: block;
    }
    text-align: center;
    border: none;
    position: relative;
    @include padding($top: $xlg, $bottom: $xsm, $left: $xsm, $right: $xsm);

    &:before {
      position: absolute;
      content: '';
      height: 10px;
      top: 11px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 130px;
      background: $primary;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }


  // @todo 2020/12/08 Remove '.blockquote-right' class in v4.0.0
  .blockquote-right &,
  &.blockquote--right {
    text-align: right;
    border-left: none;
    border-right: 10px solid $primary;
    @include padding($top: $xsm, $bottom: $xsm, $left: 0, $right: $lg);
  }
}

// Shared styles for above and below options.
blockquote.blockquote--img-above,
blockquote.blockquote--img-below {
  &.blockquote--right,
  &.blockquote--left {
    .blockquote__media {
      margin-bottom: 15px;
      @include breakpoint(sm) {
        margin-bottom: 0px;
      }
    }
  }
  &.blockquote--left,
  &.blockquote--center {
    .blockquote__media {
        margin-right: 20px;
    }
  }
  &.blockquote--right {
    .blockquote__media {
        margin-left: 20px;
    }
  }
}

// Blockquote image above.
blockquote.blockquote--img-above {
  .blockquote__media {
    @include breakpoint(sm) {
      flex: 0 1 25%;
    }
  }
  .blockquote__content {
    flex: 0 1 75%;
  }
  .blockquote__paragraph {
    position: relative;
    padding-bottom: 25px;
    &:after {
      position: absolute;
      content: '';
      height: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 130px;
      background: $primary;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }
  &.blockquote--left,
  &.blockquote--right {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &.blockquote--right {
      flex-direction: row-reverse;
    .blockquote__paragraph {
      &:after {
        right: 0;
        left: inherit;
      }
    }
  }
  &.blockquote--center {
    padding-top: 0;
    &:before {
      position: absolute;
      content: '';
      height: 0px;
      top: 15px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width:0;
      background: none;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      display: none;
    }
    .blockquote__media {
      position: relative;
      margin: 0 auto 15px;
    }
    .blockquote__paragraph {
      &:after {
        margin: 0 auto;
      }
    }
  }
}

// Blockquote image below.
blockquote.blockquote--img-below {
  .blockquote__media {
    max-width: 120px;
  }
  footer {
    display: flex;
    margin-top: 20px;
  }
  cite {
    display: block;
    text-align: left;
  }
  &.blockquote--center {
    footer {
      @include breakpoint(sm) {
        max-width: 40%;
      }
      margin: 20px auto 0;
      align-items: center;
      justify-content: center;
    }
  }
  &.blockquote--right {
    footer {
      text-align: right;
      flex-direction: row-reverse;
      align-content: end;
    }
    cite {
      text-align: right;
    }
  }
}

