<header class="{{ header_type }}">
	<div class="uiowa-bar">
		<div class="page__container">
			{% render '@logo--tab' %}
			{% if site_name %}
			{% include '@site-name' with { site_name } %}
			{% endif %}
		</div>
	</div>
</header>
