

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
        
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <nav aria-label="Quick Links" role="navigation" class="menu--quick-links">
  <ul>
          
<li class="menu-item">
	<a href="#" class="sf-depth-1 ">
    MYUI
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
    Jobs@UIowa
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
    Human Resources
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
    Student Health and Wellness
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
    Libraries
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
    Course Catalog
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
    Academic Calendars
    </a>
</li>

      </ul>
</nav>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


  </html>

