{% if block_type == 'basic' %}

	<div id="feature__container" class="feature__container {{ feature_type }} {{ feature_state }}">

		{% set counter = 0 %}
		{% for item in feature.items %}
			{% if counter == 0 %}
				{% set firstitem = 'true' %}
			{% else %}
				{% set firstitem = 'false' %}
			{% endif %}

			{% include "@prototype-feature-block--basic" with {
    "feature_banner_image": item.feature_banner_image,
    "feature_link": item.feature_link,
    "feature_title": item.feature_title,
    "feature_sub": item.feature_sub
  } %}

			{% set counter = counter + 1 %}
		{% endfor %}
	</div>

{% elseif block_type == 'advanced' %}

	<div id="feature__container" class="feature__container {{ feature_type }} {{ feature_state }}">
		{% set counter = 0 %}
		{% for item in feature.items %}
			{% if counter == 0 %}
				{% set firstitem = 'true' %}
			{% else %}
				{% set firstitem = 'false' %}
			{% endif %}

			{% include "@prototype-feature-block--basic" with {
      "feature_banner_image": item.feature_banner_image,
      "feature_link": item.feature_link,
      "feature_title": item.feature_title,
      "feature_sub": item.feature_sub
    } %}

			{% set counter = counter + 1 %}
		{% endfor %}

	</div>
{% endif %}
