
@media (hover:none),
(hover:on-demand) {
  .video-btn {
    display: none;
  }
}

.video-controls {
  position: absolute;
  z-index: 100;
  right: 20px;
  bottom: 20px;
}

.video-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: $secondary;
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  font-size: 1rem;

  &::after {
    content: '►';
  }

  &.video-btn__pause::after {
    margin-left: -3px;
    content: '❙❙';
    color: white;
    font-size: .9rem;
  }

  &.video-btn__pause {
    background-color: transparent;
  }
}


.hero {
  position: relative;
    &__video {
      width: 100%;
    }
}

.hero .hero__image img {
  display: block;
  width: 100%;
  height: 35.5rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero__image {
  overflow: hidden;
  contain: paint;
}

// headings

.hero {
  .hero__content-center {
    .bold-headline--serif {
      margin-bottom: $lg;
    }
  }

  .bttn--secondary {
    margin-right: $md;
    margin-bottom: $md;

    @include breakpoint(menu) {
      background: #22222294;
    }
  }

  .bold-headline--serif {
    margin-top: $lg;
    margin-bottom: 0;
    font-size: calc(100% + 3vw);
    line-height: 1;

    @include breakpoint(sm) {
      color: #fff;

      font-size: calc(100% + 4vw);
    }
  }
}

.hero__container {
  max-width: 81.875em;
  margin: 0 auto;
}

.hero__container.hero__container-center {
  max-width: 100%;
}

.hero__link {
  position: relative;
  display: block;
}

.hero .hero__content {
  position: relative;
  z-index: 2;
  display: grid;
  width: 100%;
  padding: 0 $gutter;
  background: white;
  grid-template-columns: repeat(1, 1fr);
  justify-self: stretch;

  @include breakpoint(sm) {
    position: absolute;
    background: transparent;
    grid-column: 1/-1;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1.25rem;
  }

  @include breakpoint(container) {
    width: 81.875em;
    padding: 0;
  }
}

.hero .hero__content.hero__content-bottom {
  @include breakpoint(sm) {
    bottom: 0;
  }
}

.hero .hero__content.hero__content-center {
  text-align: center;

  @include breakpoint(sm) {
    bottom: 40%;
    width: 100%;
  }
}

.hero .hero__content .hero__container {
  max-width: 81.875em;
  margin: 0 auto;
}

.hero .hero__content.hero__content-center>* {
  margin-right: auto;
  margin-left: auto;
}

.hero .hero__content>* {
  @include breakpoint(sm) {
    grid-column: 1/-1;
  }
}

.hero .hero__content .bttn {
  grid-column: unset;
}

.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: .75;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .75)));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .75));
  will-change: opacity;
}

