@media (hover:none),
(hover:on-demand) {
  .video-btn {
    display: none;
  }
}

.video-controls {
  position: absolute;
  z-index: 100;
  right: 20px;
  bottom: 20px;
}

.video-btn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: $secondary;
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  font-size: 1rem;

  @include breakpoint(sm) {
    display: block;
  }

  &::after {
    content: '►';
  }

  &.video-btn__pause::after {
    margin-left: -3px;
    content: '❙❙';
    color: white;
    font-size: .9rem;
  }

  &.video-btn__pause {
    background-color: transparent;
  }
}

.hero__video {
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}

.hero {
  position: relative;
  background: $secondary;

  &__video {
    width: 100%;
  }

  &__image img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &.hero__bottom .hero__image img {
    height: 57rem;
  }
}

.hero__image {
  overflow: hidden;
  contain: paint;
}

// headings
.hero {
  .hero__content-center {
    .bold-headline--serif {
      display: none;
      margin-bottom: $md;

      @include breakpoint(sm) {
        display: block;
      }
    }
  }

  .bttn--secondary {
    z-index: 100;
    margin-bottom: $md;
    background: #222222b8;

    @include breakpoint(sm) {
      margin-right: $md;
    }

    @include breakpoint(menu) {}

    &:hover,
    &:focus {
      color: $primary;
    }
  }


  .hero__content-center .hero__links a.bttn:nth-child(3) {
    margin-right: 0;
  }


  .bold-headline {
    margin-top: $lg;
    padding: 0;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: calc(100% + 3vw);
    line-height: 1;

    @include breakpoint(sm) {
      font-size: calc(100% + 4vw);
    }
  }
}

.hero__container {
  max-width: 81.875em;
  margin: 0 auto;
}

.hero__container.hero__container-center {
  max-width: 100%;
}

.hero .hero__content {
  position: relative;
  z-index: 2;
  display: grid;
  width: 100%;
  background: white;

  @include breakpoint(sm) {
    position: absolute;
    background: transparent;
  }
}

.hero .hero__content-center {
  padding: $lg 0;
  background: url("../../images/widescreen__768_x_432/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(sm) {
    background: transparent;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.75));
    will-change: opacity;

    @include breakpoint(sm) {
      background: none;
    }
  }
}


.hero__content-bottom,
.hero__content-center {
  padding: 0 $md;
  grid-template-columns: repeat(1, 1fr);
  justify-self: stretch;

  @include breakpoint(sm) {
    position: absolute;
    background: transparent;
    grid-column: 1/-1;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1.25rem;
  }

  @include breakpoint(container) {
    width: 81.875em;
    padding: 0;
  }
}

.hero__content-bottom {
  padding: 0 0 $sm;

  @include breakpoint(sm) {
    bottom: 0;
  }
}

.hero__content-center {
  text-align: center;

  @include breakpoint(sm) {
    bottom: 40%;
    width: 100%;
  }
}

.hero .hero__content .hero__container {
  max-width: 81.875em;
  margin: 0 auto;
}

.hero__content-center>* {
  margin-right: auto;
  margin-left: auto;
}

.hero__content-center>*,
.hero__content-bottom>* {
  @include breakpoint(sm) {
    grid-column: 1/-1;
  }
}

.hero .hero__content .bttn {
  display: block;
  grid-column: unset;

  @include breakpoint(sm) {
    display: inline-block;
  }
}

.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: .75;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .75)));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .75));
  will-change: opacity;
}

@media only screen and (min-width: 889px) {
  body {}
}


// Aerial Photo Grid


.hero.hero__grid .hero__content {
  position: absolute;
  background: transparent;
}

.hero.hero__grid {
  .highlight__wrapper {
    width: 95%;

    @include breakpoint(container) {
      width: 50%;
    }
  }

  .bold-headline {
    font-size: calc(100% + 6vw);
    line-height: 1;

    @include breakpoint(sm) {
      font-size: calc(100% + 8vw);
    }
  }
}

.hero__content-grid {
  top: 0;
  height: 100%;
  background: transparent;

  @include breakpoint(sm) {
    top: 0;
  }
}

.hero__content-grid {
  padding: 0 $mobile-width-gutter;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include breakpoint(sm) {
    padding: 0 $desktop-width-gutter;
  }
}

.hero__content-grid>*:nth-child(1) {
  display: none;
  grid-area: 2 / 1 / 3 / 2;

  @include breakpoint(menu) {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.hero__content-grid>*:nth-child(2) {
  display: none;
  align-self: center;
  grid-area: 1 / 1 / 3 / 4;

  @include breakpoint(menu) {
    display: none;
    grid-area: 1 / 2 / 2 / 3;
  }

  @include breakpoint(container) {
    display: block;
  }
}

.hero__content-grid>*:nth-child(3) {
  display: none;
  grid-area: 2 / 3 / 3 / 4;

  @include breakpoint(menu) {
    display: flex;
    grid-area: 1 / 3 / 2 / 4;
  }
}

.hero__content-grid>*:nth-child(4) {
  align-self: center;
  text-align: center;
  grid-area: 2 / 1 / 3 / 4;

  @include breakpoint(menu) {
    display: flex;
    width: 60%;
    text-align: left;
    grid-area: 2 / 1 / 3 / 3;
  }

  @include breakpoint(container) {
    width: auto;
  }
}

.hero__content-grid>*:nth-child(5) {
  display: none;
  grid-area: 2 / 3 / 3 / 4;

  @include breakpoint(menu) {
    display: flex;
  }
}

