

  <div class="bg--black container--padded">
          <h2>Black</h2>
      </div>
  <div class="bg--gold container--padded">
          <h2>Gold</h2>
      </div>
  <div class="bg--gray container--padded">
          <h2>Gray</h2>
      </div>
  <div class="bg--white container--padded">
          <h2>White</h2>
      </div>
  <div class="bg-pattern--brain--black container--padded">
          <h2>Brain pattern - Black</h2>
      </div>
  <div class="bg-pattern--brain--gold container--padded">
          <h2>Brain pattern - Gold</h2>
      </div>
  <div class="bg-pattern--brain container--padded">
          <h2>Brain pattern - White</h2>
      </div>

