

  <div class="bg--black--pattern--brain container--padded">
          <h2 class="headline headline--serif">Black - Brain pattern</h2>
      </div>
  <div class="bg--black--pattern--community container--padded">
          <h2 class="headline headline--serif">Black - Community pattern</h2>
      </div>
  <div class="bg--black--pattern--particle container--padded">
          <h2 class="headline headline--serif">Black - Particle pattern</h2>
      </div>
  <div class="bg--black container--padded">
          <h2 class="headline headline--serif">Black</h2>
      </div>
  <div class="bg--gold--pattern--brain container--padded">
          <h2 class="headline headline--serif">Gold - Brain pattern</h2>
      </div>
  <div class="bg--gold--pattern--community container--padded">
          <h2 class="headline headline--serif">Gold - Community pattern</h2>
      </div>
  <div class="bg--gold--pattern--particle container--padded">
          <h2 class="headline headline--serif">Gold - Particle pattern</h2>
      </div>
  <div class="bg--gold container--padded">
          <h2 class="headline headline--serif">Gold</h2>
      </div>
  <div class="bg--gray--pattern--brain container--padded">
          <h2 class="headline headline--serif">Gray - Brain pattern</h2>
      </div>
  <div class="bg--gray--pattern--community container--padded">
          <h2 class="headline headline--serif">Gray - Community pattern</h2>
      </div>
  <div class="bg--gray--pattern--particle container--padded">
          <h2 class="headline headline--serif">Gray - Particle pattern</h2>
      </div>
  <div class="bg--gray container--padded">
          <h2 class="headline headline--serif">Gray</h2>
      </div>
  <div class="bg--white--pattern--brain container--padded">
          <h2 class="headline headline--serif">White - Brain pattern</h2>
      </div>
  <div class="bg--white--pattern--community container--padded">
          <h2 class="headline headline--serif">White - Community pattern</h2>
      </div>
  <div class="bg--white--pattern--particle container--padded">
          <h2 class="headline headline--serif">White - Particle pattern</h2>
      </div>
  <div class="bg--white container--padded">
          <h2 class="headline headline--serif">White</h2>
      </div>

<style>
  [class*="bg--"] {
    min-height: 600px;
  }
  .container--padded {
    padding: 40px;
  }
</style>

