

<div class="card__wrapper">

                    
        
                
            
<div class="card card--media-left card__row">
            <div class="card__media media--circle card__media--small">
                  <img class="media--border media--circle" src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="headline card__title">
  <a href="https://uiowa.edu/" >
        <span class="headline__text">Getting to know Iowa's fall 2018 graduates</span>
        </a>
  </h2>
          
                  <div class="card__details">
                                    <div class="card__subtitle">Card Subtitle</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                          <div class="card__label">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                                    <div aria-hidden="true" class="bttn bttn--outline bttn--sans-serif">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                    </div>
</div>
                    
        
                
            
<div class="card card--media-left card__row">
            <div class="card__media media--circle card__media--small">
                  <img class="media--border media--circle" src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="headline card__title">
  <a href="https://uiowa.edu/" >
        <span class="headline__text">Getting to know Iowa's fall 2018 graduates</span>
        </a>
  </h2>
          
                  <div class="card__details">
                                    <div class="card__subtitle">Card Subtitle</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                          <div class="card__label">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                                    <div aria-hidden="true" class="bttn bttn--outline bttn--sans-serif">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                    </div>
</div>
                    
        
                
            
<div class="card bg--gray card--media-left card__row">
            <div class="card__media media--circle card__media--small">
                  <img class="media--border media--circle" src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="headline card__title">
  <a href="https://uiowa.edu/" >
        <span class="headline__text">Getting to know Iowa's fall 2018 graduates</span>
        </a>
  </h2>
          
                  <div class="card__details">
                                    <div class="card__subtitle">Card Subtitle</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                          <div class="card__label">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Iowa's leader<em>ship in both t</em>he arts <sub>and scien</sub>ces fosters unique resou<u>rces, like the </u>Coll<a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="59f8f236-7301-4dcb-afc6-3d535ae6fc6b" href="/node/21" media_library="Media Library">ege of Medi</a>cine's Arts and Humanities Program, that will help <strong>you stand out.</strong></p><blockquote><p>Blockquote Text</p></blockquote><h2>Heading 2</h2><h3>Heading 3</h3><h4>Heading 4</h4><h6>Heading 6</h6>
    
                                    <div aria-hidden="true" class="bttn bttn--outline bttn--sans-serif">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                    </div>
</div>
  
</div>

<style>
@media (min-width: 855px) {
    .card__row {
        margin-right: 1.6rem;
        margin-bottom: 0;
        margin-left: 1.6rem
    }
    .card__row:first-of-type {
        margin-left: 0
    }
    .card__row:last-of-type {
        margin-right: 0
    }
}

.card__wrapper {
    margin: 1.25rem 1.25rem
}

@media (min-width: 855px) {
    .card__wrapper {
        padding: 1.25rem 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body {
    flex: auto !important;
  }
}

</style>

