

<div role="alert">
  <div class="uiowa-alerts-wrapper">
    <div class="alert hawk-alert alert-danger">
      <div class="hawk-alert-message">
                  <span class="hawk-alert-heading">
            <span class="hawk-alert-label">Hawk Alert</span>
            <span class="hawk-alert-date">Tuesday, April 14, 2020 - 7:30 PM</span>
          </span>
                <span class="hawk-alert-body">
          <p>Test Hawk Alert: This is a test of the Hawk Alert system conducted by Cindy Schooley. This is only a test.</p>
        </span>
        <a class="hawk-alert-link alert-link" href="https://e.uiowa.edu">Visit e.uiowa.edu for more information.</a>
      </div>
    </div>
  </div>
</div>

