

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../typography/headings/headings.css">
          <link media="all" rel="stylesheet" href="../banner/banner.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../background/background.css">
        
            <link media="all" rel="stylesheet" href="../menus/main-menu/main-menu.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <div class="menu-container bg--gold--pattern--brain">
    <nav class="nav main--secondary--vertical">

        
        <ul class="menu">
          <li class="menu-item">
            <a href="/" data-drupal-link-system-path="/">Cursus Dapibus Consectetur</a>
          </li>
          <li class="menu-item">
            <a href="/" data-drupal-link-system-path="/">Condimentum Porta Tristique</a>
          </li>
          <li class="menu-item menu-item--expanded">
            <a href="/" data-drupal-link-system-path="/">Tortor Ligula Fusce</a>
            <ul class="menu">
              <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Fermentum Tortor Vestibulum</a>
              </li>
              <li class="menu-item menu-item--expanded">
                <span tabindex="0">Magna Adipiscing</span>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="/" data-drupal-link-system-path="/">Sem Vestibulum Elit</a>
                  </li>
                  <li class="menu-item">
                    <a href="/" data-drupal-link-system-path="/">Cursus Ultricies Risus</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item--expanded">
            <span tabindex="0">Ipsum Euismod Egestas</span>
            <ul class="menu">
              <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Tristique Nibh Adipiscing</a>
              </li>
              <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Mollis Nullam Lorem</a>
              </li>
            </ul>
           </li>
        </ul>

        
    </nav>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

