@mixin media-border {
  @include breakpoint(sm) {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    //background: #fff;

    .bg--black &,
    .bg-pattern--brain--black &,
    .bg--light .bg--black &,
    .bg-pattern--brain .bg--black &,
    .bg--light .bg-pattern--brain--black &,
    .bg-pattern--brain .bg-pattern--brain--black &,
    .bg--gold .bg--black &,
    .bg--gold .bg-pattern--brain--black &,
    .bg-pattern--brain--gold .bg--black &,
    .bg-pattern--brain--gold .bg-pattern--brain--black & {
      //background: $secondary;
      border: 1px solid $primary;
    }
  }

  .bg--gray &,
  .bg--gold .bg--gray &,
  .bg-pattern--brain--gold .bg--gray &,
  .bg--light .bg--gray &,
  .bg-pattern--brain .bg--gray & {
    //background: $light;
    border: 1px solid $brand-cool-gray;
  }

  .bg--light &,
  .bg-pattern--brain &,
  .bg--gold .bg--light &,
  .bg--gold .bg-pattern--brain &,
  .bg-pattern--brain--gold .bg--light &,
  .bg-pattern--brain--gold .bg-pattern--brain & {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: #fff;
  }

  .bg--gold &,
  .bg-pattern--brain--gold & {
    //background: $primary;
    border: 1px solid white;
  }
}

@mixin media-circle {
  @include breakpoint(sm) {
    border-radius: 50%;
    margin-top: 0;
    height: auto;
  }
}
