// https://fractal.build/guide/components/including-sub-components.html#providing-context-data-to-sub-components

.bttn,
%bttn {
  display: inline-block;
  position: relative;
  margin-top: auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  @include margin($top: auto);
  @include padding($top: $md, $right: $xlg, $bottom: $md, $left: $xlg);
}



.bttn::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $primary;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.bttn:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.bttn--primary,
%bttn--primary {
  color: $secondary;
  background: $primary;
  &::before {
    background-color: $white;
  }
}


.bttn--secondary,
%bttn--secondary {
  color: $primary;
  background: $secondary;
}

.bttn--secondary__light,
%bttn--secondary__light {
  color: $white;
}

.bttn--tertiary,
%bttn--tertiary {
  color: $secondary;
  background: $white;
}

.bttn--full,
%bttn--full {
  display: block;
}

.bttn--outline,
%bttn--outline {
  border: 2px solid $primary;
  i {
    color: $primary;
    font-size: $h6-font-size;
    @include padding($right: $sm);
  }
}

.bttn__apply {
  margin-top: unset;
  padding: .7rem;
  border: 1px solid $white;
  font-size: .95rem;
  display: none;
  @include breakpoint(sm) {
    display: block;
  }
}


.bg-type--dark {
  padding: $md;
  background: $secondary;
}

.bg-type--light {
  padding: $md;
  background: #fff;
}

@media (hover: hover) {}
@media (hover: none) {}
