@use '../abstracts/variables';
@use '../abstracts/utilities';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: variables.$font-weight-medium;
  line-height: var(--uiowa-line-height-112);
  letter-spacing: 0;
}

h1, .h1 {
  @include utilities.h1;
}

.h1 {
  &.bold-headline--serif,
  &.headline--serif {
    @include utilities.h1;
    font-weight: variables.$font-weight-bold;
  }
}

h2, .h2 {
  @include utilities.h2;
  // Overriding the size for Zilla so that the size is equal to Roboto.
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: var(--uiowa-font-size-heading-serif-h2);
  }
}

h3, .h3 {
  @include utilities.h3;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: var(--uiowa-font-size-heading-serif-h3);
  }
}

h4, .h4 {
  @include utilities.h4;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: var(--uiowa-font-size-heading-serif-h4);
  }
}

h5, .h5 {
  @include utilities.h5;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: var(--uiowa-font-size-heading-serif-h5);
  }
}

h6, .h6 {
  @include utilities.h6;
  &.bold-headline--serif,
  &.headline--serif  {
    font-size: var(--uiowa-font-size-heading-serif-h6);
  }
}
