

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
          <link media="all" rel="stylesheet" href="../media/media.css">
          <link media="all" rel="stylesheet" href="../background/background.css">
          <link media="all" rel="stylesheet" href="../blockquote/blockquote.css">
        
                    
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
        
      
<div class="card bg--white card--stacked">
            <div class="card__media ">
                <a href="https://uiowa.edu/">
                    <img class="card__img" src="../../assets/images/examples/feature1.jpg" alt="Alt Text">
                  </a>
              </div>
      
  <div class="card__body">
              
                  <div class="card__details">
                                                                    <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                </div>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../card/card.js"></script>
    </html>

