[class*="bg-"] a,
[class*="bg-"] [class*="bg-"] a,
[class*="bg-"] [class*="bg--"] a,
[class*="bg--"] a,
[class*="bg--"] [class*="bg-"] a,
[class*="bg--"] [class*="bg--"] a {
  color: inherit; }

[class*="bg-pattern"],
[class*="bg--"][class*="--pattern--"] {
  background-size: auto auto;
  background-position: center center; }

.bg--black {
  background-color: #151515; }

.bg--black {
  color: #fff; }
  .bg--black a {
    color: #FFCD00; }

.bg--black--pattern--brain {
  background-color: #151515;
  background-image: url("../../assets/images/brain-pattern-black.svg"); }

.bg--black--pattern--brain {
  color: #fff; }
  .bg--black--pattern--brain a {
    color: #FFCD00; }

.bg-pattern--brain-black {
  background-color: #151515;
  background-image: url("../../assets/images/brain-pattern-black.svg"); }

.bg-pattern--brain-black {
  color: #fff; }
  .bg-pattern--brain-black a {
    color: #FFCD00; }

.bg--gold {
  background-color: #FFCD00; }

.bg--gold {
  color: #151515; }
  .bg--gold a {
    color: #151515; }

.bg--gold--pattern--brain {
  background-color: #FFCD00;
  background-image: url("../../assets/images/brain-pattern-reversed.svg"); }

.bg--gold--pattern--brain {
  color: #151515; }
  .bg--gold--pattern--brain a {
    color: #151515; }

.bg-pattern--brain-reversed {
  background-color: #FFCD00;
  background-image: url("../../assets/images/brain-pattern-reversed.svg"); }

.bg-pattern--brain-reversed {
  color: #151515; }
  .bg-pattern--brain-reversed a {
    color: #151515; }

.bg--gray {
  background-color: #f3f3f3; }

.bg--gray {
  color: #151515; }
  .bg--gray a {
    color: #151515; }

.bg--white {
  background-color: #fff; }

.bg--white {
  color: #151515; }
  .bg--white a {
    color: #151515; }

.bg--white--pattern--brain {
  background-color: #fff;
  background-image: url("../../assets/images/brain-pattern.svg"); }

.bg--white--pattern--brain {
  color: #151515; }
  .bg--white--pattern--brain a {
    color: #151515; }

.bg-pattern--brain {
  background-color: #fff;
  background-image: url("../../assets/images/brain-pattern.svg"); }

.bg-pattern--brain {
  color: #151515; }
  .bg-pattern--brain a {
    color: #151515; }

.container--padded {
  padding: 10px; }

[class*="bg--"] *,
[class*="bg--"] [class*="bg--"] * {
  border-color: inherit; }
  [class*="bg--"] *:before, [class*="bg--"] *:after,
  [class*="bg--"] [class*="bg--"] *:before,
  [class*="bg--"] [class*="bg--"] *:after {
    color: inherit;
    border-color: inherit; }
