{% for background in backgrounds %}
  <div class="{{ background.bg_class }} container--padded">
    {% block content %}
      <h2>{{ background.bg_name }}</h2>
    {% endblock %}
  </div>
{% endfor %}
