.bg--black {
  background: #151515; }

.bg--gold {
  background: #FFCD00; }

.bg--gray {
  background: #f3f3f3; }

.bg-pattern--brain {
  background: #fff url("../../assets/images/brain-pattern.svg");
  background-size: auto auto; }

.bg-pattern--brain--black {
  background: #151515 url("../../assets/images/brain-pattern-black.svg");
  background-size: auto auto; }

.bg-pattern--brain--gold {
  background: #FFCD00 url("../../assets/images/brain-pattern-reversed.svg");
  background-size: auto auto; }

.bg--black h1 {
  color: white; }

.bg--gold h1 {
  color: black; }

.bg--gray h1 {
  color: black; }

.bg-pattern--brain h1 {
  color: black; }

.bg-pattern--brain--black h1 {
  color: white; }

.bg-pattern--brain--gold h1 {
  color: black; }

.bg--black .h1 {
  color: white; }

.bg--gold .h1 {
  color: black; }

.bg--gray .h1 {
  color: black; }

.bg-pattern--brain .h1 {
  color: black; }

.bg-pattern--brain--black .h1 {
  color: white; }

.bg-pattern--brain--gold .h1 {
  color: black; }

.bg--black h2 {
  color: white; }

.bg--gold h2 {
  color: black; }

.bg--gray h2 {
  color: black; }

.bg-pattern--brain h2 {
  color: black; }

.bg-pattern--brain--black h2 {
  color: white; }

.bg-pattern--brain--gold h2 {
  color: black; }

.bg--black .h2 {
  color: white; }

.bg--gold .h2 {
  color: black; }

.bg--gray .h2 {
  color: black; }

.bg-pattern--brain .h2 {
  color: black; }

.bg-pattern--brain--black .h2 {
  color: white; }

.bg-pattern--brain--gold .h2 {
  color: black; }

.bg--black h3 {
  color: white; }

.bg--gold h3 {
  color: black; }

.bg--gray h3 {
  color: black; }

.bg-pattern--brain h3 {
  color: black; }

.bg-pattern--brain--black h3 {
  color: white; }

.bg-pattern--brain--gold h3 {
  color: black; }

.bg--black .h3 {
  color: white; }

.bg--gold .h3 {
  color: black; }

.bg--gray .h3 {
  color: black; }

.bg-pattern--brain .h3 {
  color: black; }

.bg-pattern--brain--black .h3 {
  color: white; }

.bg-pattern--brain--gold .h3 {
  color: black; }

.bg--black h4 {
  color: white; }

.bg--gold h4 {
  color: black; }

.bg--gray h4 {
  color: black; }

.bg-pattern--brain h4 {
  color: black; }

.bg-pattern--brain--black h4 {
  color: white; }

.bg-pattern--brain--gold h4 {
  color: black; }

.bg--black .h4 {
  color: white; }

.bg--gold .h4 {
  color: black; }

.bg--gray .h4 {
  color: black; }

.bg-pattern--brain .h4 {
  color: black; }

.bg-pattern--brain--black .h4 {
  color: white; }

.bg-pattern--brain--gold .h4 {
  color: black; }

.bg--black h5 {
  color: white; }

.bg--gold h5 {
  color: black; }

.bg--gray h5 {
  color: black; }

.bg-pattern--brain h5 {
  color: black; }

.bg-pattern--brain--black h5 {
  color: white; }

.bg-pattern--brain--gold h5 {
  color: black; }

.bg--black .h5 {
  color: white; }

.bg--gold .h5 {
  color: black; }

.bg--gray .h5 {
  color: black; }

.bg-pattern--brain .h5 {
  color: black; }

.bg-pattern--brain--black .h5 {
  color: white; }

.bg-pattern--brain--gold .h5 {
  color: black; }

.bg--black h6 {
  color: white; }

.bg--gold h6 {
  color: black; }

.bg--gray h6 {
  color: black; }

.bg-pattern--brain h6 {
  color: black; }

.bg-pattern--brain--black h6 {
  color: white; }

.bg-pattern--brain--gold h6 {
  color: black; }

.bg--black .h6 {
  color: white; }

.bg--gold .h6 {
  color: black; }

.bg--gray .h6 {
  color: black; }

.bg-pattern--brain .h6 {
  color: black; }

.bg-pattern--brain--black .h6 {
  color: white; }

.bg-pattern--brain--gold .h6 {
  color: black; }

.container--padded {
  padding: 10px; }
