.table-responsive-container {
  width: 100%;
  position: relative; }
  .table-responsive-container.row-headers--true .track-heading:first-child {
    left: 0; }
    @media only screen and (min-width: 400px) {
      .table-responsive-container.row-headers--true .track-heading:first-child {
        position: -webkit-sticky;
        position: sticky; } }
  @media only screen and (min-width: 400px) {
    .table-responsive-container.isSticky-Left .track-heading:first-child {
      border-right: 1px solid #ccc; } }
  .table-responsive-container .track-heading:first-child {
    border-right: 1px solid #fff;
    transition: border-right 0.3s ease-in-out; }
  .table-responsive-container.is-striped .track-heading:first-child {
    border-right: none; }

table {
  width: 100%;
  font-size: 1.2rem;
  border-spacing: 0; }

.headers-table {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0; }
  .headers-table .scroller {
    white-space: nowrap;
    overflow-x: hidden; }
    .headers-table .scroller .track-heading {
      display: inline-block; }
      .headers-table .scroller .track-heading .text-positioner {
        white-space: break-spaces;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        font-weight: bold; }
  .is-striped .headers-table .track-heading {
    background: #FFCD00;
    text-transform: uppercase;
    border: none; }

.table-responsive-container.is-striped {
  border: 1px solid #eee; }
  .table-responsive-container.is-striped table.is-striped {
    border: none; }
  .table-responsive-container.is-striped.isSticky-Top .headers-table {
    transition: -webkit-filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)); }
  @media only screen and (min-width: 400px) {
    .table-responsive-container.is-striped.isSticky-Left table.is-striped tbody th {
      -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
              filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); } }
  @media only screen and (min-width: 400px) {
    .table-responsive-container.is-striped.isSticky-Left .track-heading:first-child {
      -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
              filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); } }

.table-container {
  overflow-x: auto; }

table {
  border-collapse: unset; }

table td,
table th,
.scroller .track-heading {
  padding: 1.05rem;
  vertical-align: bottom;
  font-size: 1rem; }

table th {
  color: #151515; }

table th:not([align]) {
  text-align: left; }

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom-width: 0; }

table {
  color: #151515;
  background-color: #fff; }

table thead th,
.scroller .track-heading {
  color: #151515;
  background-color: #fff;
  border-bottom: 1px solid #cccccc; }

table tbody th {
  color: #151515;
  background-color: #fff;
  border-right: 1px solid #cccccc;
  position: static;
  left: 0;
  padding-left: 1.05rem; }
  @media only screen and (min-width: 400px) {
    table tbody th {
      position: -webkit-sticky;
      position: sticky; } }

table th:not([align]),
.scroller .track-heading {
  text-align: left; }

table thead td,
table thead th,
.scroller .track-heading {
  color: #151515; }

table.is-striped {
  border: 1px solid #eee; }

table.is-striped thead th {
  background: #FFCD00;
  text-transform: uppercase;
  border: none; }

table.is-striped tbody th {
  border: none; }

table.is-striped tbody tr:not(.is-selected):nth-child(even),
table.is-striped tbody tr:not(.is-selected):nth-child(even) th {
  background-color: #f3f3f3; }

table.table-static tbody th,
table.table-static thead th {
  position: static; }

.lb__container .table-responsive-container {
  width: 10px;
  margin-right: auto; }
