@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.bold-headline {
  @include bold-headline;

  &.bold-headline--negative {
    @include bold-headline-negative;
  }
}

.bold-headline--caps {
  @include bold-headline-caps;
}

.bold-headline--serif {
  @include bold-headline-serif;
}

.bold-headline--highlight {
  @include bold-headline-highlight;
}

.bold-headline--highlight span {
  @include bold-headline-highlight-word;
}

.bold-headline--caps .headline__heading span {
  @include bold-headline-highlight-caps-word;
}

.bold-headline--underline {
  @include bold-headline-underline;
}

// Misc

h2.bold-headline {
  font-size: 2.8rem;
}

.bold-headline--highlight.bold-headline--serif {
  font-weight: 600;
}

.bold-headline--highlight.bold-headline--caps {
  span {
    padding: 0.1rem 1rem 0;
  }
}
