

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
          <link media="all" rel="stylesheet" href="../media/media.css">
          <link media="all" rel="stylesheet" href="../background/background.css">
          <link media="all" rel="stylesheet" href="../blockquote/blockquote.css">
        
                  <link media="all" rel="stylesheet" href="../card/card.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  
<div class="card click-container bg--white card--media-left ">
            <div class="card__media card__media--small media--circle">
                  <img class="media--border media--circle" src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="headline card__title">
        <span class="headline__text">Getting to know Iowa's fall 2018 graduates</span>
    </h2>
          
                  <div class="card__details">
                                                                    <div class="card__meta">
                June 14, 1984
              </div>
                                      <div class="card__meta">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                </div>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>

      <script src="../../assets/js/click-a11y.js"></script>
  
      </html>

