@import "../../../assets/scss/variables";
@import "../../../assets/scss/utilities"; // Used by other menus

.nav {
  @include breakpoint(sm) {
    align-items: center;
    @include flexbox;
  }

  .menu {
    overflow: visible;
    font-size: $base-font-size;
    @extend %no-ul-list;
    @include flexbox;

    a,
    span {
      position: relative;
      display: inline-block;
      transition: background 0.8s ease-out;
      text-decoration: none;
      color: $secondary;
      @extend %font-smoothing-on;
    }
  }
}
// Used by vertical and horizontal secondary menus

.menu-wrapper {
  @include breakpoint(sm) {
    align-items: center;
    @include flexbox;
  }

  > .menu > li.menu-item--expanded > a + ul {
    padding-bottom: $md;
  }

  > .menu > li:first-child {
    a {
      @include breakpoint(sm) {
        padding-top: $xsm;
      }
    }
  }

  .menu {
    position: relative;
    @include flexbox;
    @include flex-direction(column);
    overflow: visible;
    font-size: 1.1rem;
    @extend %no-ul-list;
    flex-basis: 100%;

    li {
      display: block;
      margin-bottom: 0;
      line-height: 1.3;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      border-bottom: 1px solid rgba($grey-light, .5);
      display: block;

      [class*="bg--black"] &,
      [class*="bg--gold"] & {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
      @include breakpoint(sm) {
        width: auto;
        margin-bottom: 0;
      }

      a {
        [class*="bg--white"] &,
        [class*="bg--"] [class*="bg--white"] &,
        [class*="bg--gray"] &,
        [class*="bg--"] [class*="bg--gray"] & {
          color: #333;
        }
      }

      li {
        font-size: 1.1rem;
        display: list-item;

        a {
          color: #333;
          border-bottom: none;
          display: block;
          position: relative;
          @include padding($top: $md, $right: $md, $bottom: $md, $left: 0);

          &:focus,
          &:hover {
            text-decoration: underline;
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &.is-active > a {
        font-weight: bold;
      }

      &:last-of-type {
        border-bottom: none;
      }

      a,
      span {
        position: relative;
        display: inline-block;
        transition: background 0.8s ease-out;
        text-decoration: none;
        color: $secondary;
        @extend %font-smoothing-on;
        word-break: break-word;
        @include padding($top: $md, $right: $md, $bottom: $md, $left: 0);

        [class*="bg--black"] & {
          color: $light;
        }

        &.is-active {
          font-weight: bold;

          &::after {
            background: transparent;
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 4px;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            transform: translate(-50%, 0) scaleX(1);
          }
        }

        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }

    [class*="bg--black"] &,
    .bg-pattern--brain-black & {
      li {
        border-color: rgba(255, 255, 255, 0.225);

        a {
          color: #fff;
        }
      }
    }
    // second level
    & ul.menu {
      list-style: disc;
      margin-left: 1.5rem;
      @include breakpoint(sm) {
        margin-left: 0;
      }
      padding-bottom: $sm;

      & li {
        border-bottom: none;
        font-size: $base-font-size;
        list-style: disc;

        & > a {
          padding: $sm;
          @include breakpoint(sm) {
            @include padding($top: $sm, $right: $md, $bottom: $sm, $left: 1.2rem);
          }

          &::before {
            @include breakpoint(sm) {
              content: "\f105";
              font-size: 0.9rem;
              left: 0;
              position: absolute;
              @include fas();
            }
          }
        }
      }

      & li li {
        a {
          opacity: 0.8;
        }
      }
      // third level
      ul.menu {
        margin-left: 2rem;
        @include breakpoint(sm) {
          margin-left: 3rem;
        }

        li {
          list-style: circle;
          @include breakpoint(sm) {
            list-style: disc;
          }
        }

        li a {
          padding-left: 0.5rem;

          &::before {
            content: "";
          }
        }
        // fourth level
        ul.menu {
          margin-left: 1.5rem;

          li {
            list-style: square;
            @include breakpoint(sm) {
              list-style: circle;
            }
          }

          li a {
            padding-left: 0.5rem;

            &::before {
              content: "";
            }
          }
        }
      }
    }
  }
}
