.nav .menu, .menu-wrapper .menu {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .nav .menu > li, .menu-wrapper .menu > li {
    display: inline-block;
    list-style-type: none;
    margin: 0; }

.nav .menu a,
.nav .menu span, .menu-wrapper .menu li a,
.menu-wrapper .menu li span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media (min-width: 768px) {
  .nav {
    align-items: center;
    display: flex; } }

.nav .menu {
  overflow: visible;
  font-size: 1rem;
  display: flex; }
  .nav .menu a,
  .nav .menu span {
    position: relative;
    display: inline-block;
    transition: background 0.8s ease-out;
    text-decoration: none;
    color: #151515; }

@media (min-width: 768px) {
  .menu-wrapper {
    align-items: center;
    display: flex; } }

.menu-wrapper > .menu > li.menu-item--expanded > a + ul {
  padding-bottom: 1.05rem; }

@media (min-width: 768px) {
  .menu-wrapper > .menu > li:first-child a {
    padding-top: 0.325rem; } }

.menu-wrapper .menu {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: visible;
  font-size: 1.1rem;
  flex-basis: 100%; }
  .menu-wrapper .menu li {
    display: block;
    margin-bottom: 0;
    line-height: 1.3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(202, 202, 202, 0.5);
    display: block; }
    [class*="bg--black"] .menu-wrapper .menu li,
    [class*="bg--gold"] .menu-wrapper .menu li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    @media (min-width: 768px) {
      .menu-wrapper .menu li {
        width: auto;
        margin-bottom: 0; } }
    [class*="bg--white"] .menu-wrapper .menu li a,
    [class*="bg--"] [class*="bg--white"] .menu-wrapper .menu li a,
    [class*="bg--gray"] .menu-wrapper .menu li a,
    [class*="bg--"] [class*="bg--gray"] .menu-wrapper .menu li a {
      color: #333; }
    .menu-wrapper .menu li li {
      font-size: 1.1rem;
      display: list-item; }
      .menu-wrapper .menu li li a {
        color: #333;
        border-bottom: none;
        display: block;
        position: relative;
        padding-top: 1.05rem;
        padding-right: 1.05rem;
        padding-bottom: 1.05rem;
        padding-left: 0; }
        .menu-wrapper .menu li li a:focus, .menu-wrapper .menu li li a:hover {
          text-decoration: underline; }
    .menu-wrapper .menu li:last-child {
      border-bottom: none; }
    .menu-wrapper .menu li.is-active > a {
      font-weight: bold; }
    .menu-wrapper .menu li:last-of-type {
      border-bottom: none; }
    .menu-wrapper .menu li a,
    .menu-wrapper .menu li span {
      position: relative;
      display: inline-block;
      transition: background 0.8s ease-out;
      text-decoration: none;
      color: #151515;
      word-break: break-word;
      padding-top: 1.05rem;
      padding-right: 1.05rem;
      padding-bottom: 1.05rem;
      padding-left: 0; }
      [class*="bg--black"] .menu-wrapper .menu li a, [class*="bg--black"]
      .menu-wrapper .menu li span {
        color: #f3f3f3; }
      .menu-wrapper .menu li a.is-active,
      .menu-wrapper .menu li span.is-active {
        font-weight: bold; }
        .menu-wrapper .menu li a.is-active::after,
        .menu-wrapper .menu li span.is-active::after {
          background: transparent;
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          height: 4px;
          transform-origin: center;
          transition: transform 0.3s ease-in-out;
          transform: translate(-50%, 0) scaleX(1); }
      .menu-wrapper .menu li a:focus, .menu-wrapper .menu li a:hover,
      .menu-wrapper .menu li span:focus,
      .menu-wrapper .menu li span:hover {
        text-decoration: underline; }
  [class*="bg--black"] .menu-wrapper .menu li,
  .bg-pattern--brain-black .menu-wrapper .menu li {
    border-color: rgba(255, 255, 255, 0.225); }
    [class*="bg--black"] .menu-wrapper .menu li a,
    .bg-pattern--brain-black .menu-wrapper .menu li a {
      color: #fff; }
  .menu-wrapper .menu ul.menu {
    list-style: disc;
    margin-left: 0;
    padding-bottom: 0.625rem; }
    .menu-wrapper .menu ul.menu li {
      border-bottom: none;
      font-size: 1rem; }
      .menu-wrapper .menu ul.menu li > a {
        padding-top: 0.625rem;
        padding-right: 1.05rem;
        padding-bottom: 0.625rem;
        padding-left: 0; }
        @media (min-width: 768px) {
          .menu-wrapper .menu ul.menu li > a {
            padding-top: 0.625rem;
            padding-right: 1.05rem;
            padding-bottom: 0.625rem;
            padding-left: 1.2rem; } }
        @media (min-width: 768px) {
          .menu-wrapper .menu ul.menu li > a::before {
            content: "\f105";
            position: absolute;
            font-size: 0.9rem;
            left: 0;
            right: 1.05rem;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            font-family: "Font Awesome 5 Free";
            font-weight: 900; } }
    .menu-wrapper .menu ul.menu li li a {
      opacity: 0.8; }
    .menu-wrapper .menu ul.menu ul.menu {
      margin-left: 3rem; }
      .menu-wrapper .menu ul.menu ul.menu li {
        list-style: disc; }
      .menu-wrapper .menu ul.menu ul.menu li a {
        padding-left: 0.5rem; }
        .menu-wrapper .menu ul.menu ul.menu li a::before {
          content: ""; }
      .menu-wrapper .menu ul.menu ul.menu ul.menu {
        margin-left: 1.5rem; }
        .menu-wrapper .menu ul.menu ul.menu ul.menu li {
          list-style: circle; }
        .menu-wrapper .menu ul.menu ul.menu ul.menu li a {
          padding-left: 0.5rem; }
          .menu-wrapper .menu ul.menu ul.menu ul.menu li a::before {
            content: ""; }
