

<!-- Start: @button--default -->
<a href="https://www.example.com" class="bttn bttn--tertiary bttn--caps">
  More News
      <i class="fas fa-arrow-right"></i>
  </a>
<!-- End: @button--default -->

<!-- Start: @button--button-gold-bg -->
<a href="https://www.example.com" class="bttn bttn--primary bttn--caps">
  More News
      <i class="fas fa-arrow-right"></i>
  </a>
<!-- End: @button--button-gold-bg -->

<!-- Start: @button--button-black-bg -->
<a href="https://www.example.com" class="bttn bttn--secondary bttn--caps">
  More News
      <i class="fas fa-arrow-right"></i>
  </a>
<!-- End: @button--button-black-bg -->

<!-- Start: @button--button-outline -->
<a href="https://www.example.com" class="bttn bttn--outline bttn--tertiary bttn--caps">
  More News
      <i class="fas fa-arrow-right"></i>
  </a>
<!-- End: @button--button-outline -->

<!-- Start: @button--button-outline-sans-serif -->
<a href="https://www.example.com" class="bttn bttn--outline bttn--tertiary bttn--sans-serif">
  More News
      <i class="fas fa-arrow-right"></i>
  </a>
<!-- End: @button--button-outline-sans-serif -->

<!-- Start: @button--button-outline-sans-serif-background -->
<a href="https://www.example.com" class="bttn bttn--secondary bttn--sans-serif bttn--outline bttn--outline">
  More News
  </a>
<!-- End: @button--button-outline-sans-serif-background -->

<!-- Start: @button--button-sans-serif -->
<a href="https://www.example.com" class="bttn bttn--link bttn--sans-serif">
  More News
      <i class="fas fa-arrow-right"></i>
  </a>
<!-- End: @button--button-sans-serif -->

