<li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 {{ link.link_nav_classes }}">{{ link.link_nav_text }}</a>
	<ul class="sf-hidden" style="float: none;">
		{% for child in link.links %}
			<li class="sf-depth-2 sf-no-children">
				<a href="{{ child.link_nav_url }}" class="sf-depth-2">{{ child.link_nav_text }}</a></li>
		{% endfor %}
	</ul>
</li></li>

