// traditional navigation below logo

.menu-horizontal {
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  background: #fff;

 /* &.header--tertiary {
    padding-top: 0;
    border-bottom: 0;
  }
  */
}

.block-superfish .menu>li:first-child>a {
  padding-left: 0;
}

////

.iowa-bar.iowa-bar--narrow {
  .bttn--drawer {
    display: flex;
    height: 60px;

    @include breakpoint(menu) {
      height: 90px;
    }

    @include breakpoint(container) {
      top: 50px;
    }
  }

  .bttn--drawer.bttn--menu.inactive {
    background: #f1f1f1;
  }

  .bttn--drawer.bttn--menu.active {
    background: #fff;
  }

  .bttn--drawer.bttn--search.active {
    background: #fff;
  }

  .bttn--drawer.bttn--menu {
    .o-canvas--complete & {
      background: #f1f1f1;
    }
  }
}

// drawer container

.o-canvas__group {
  display: flex;
  height: 100%;

  @include breakpoint(container) {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.iowa-bar.iowa-bar--narrow .o-canvas__group {
  position: relative;
  display: flex;
  height: 100%;

  @include breakpoint(container) {
    position: absolute;
  }
}



// transparent overlay

body {
  &.o-canvas--lock::before {
    visibility: visible;
    opacity: 1;
  }

  &.o-canvas--lock {
    overflow: hidden !important;
  }

  &:before {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    content: "";
    transition: opacity .35s;
    pointer-events: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.55);
  }
}

/*
.o-canvas__menu {
  .uids-search {
    display: block;

    @include breakpoint(menu) {
      display: none;
    }
  }
}
*/

.o-canvas__group {
  flex-basis: 100%;

  @include breakpoint(menu) {
    flex-basis: unset;
  }
}

// buttons


.bttn--drawer.bttn--menu {
  .o-canvas--complete & {
    background: #fff;
  }

  &.active {
    background: #fff;
  }

  &.inactive {
    background: #fff;
  }

  &:before {
    margin-right: 10px;
    padding: $xsm;
    padding-right: 7px;
    content: "\f0c9";
    color: $secondary;
    font-size: 1.5rem;
    @include fas();
    @include breakpoint(menu) {
      font-size: 1.2rem;
    }
  }
}

.bttn--drawer.bttn--menu {
  justify-content: left;
  width: 100%;
}

.bttn--drawer.bttn--menu.inactive {
  background: #f1f1f1;

  @include breakpoint(menu) {
    background: #fff;
  }
}

.bttn--drawer.bttn--menu.active {
  background: #f1f1f1;

  @include breakpoint(menu) {
    background: #fff;
  }
}


.o-canvas__wrapper {
  width: 100%;

  button>* {
    pointer-events: none;
  }

  .bttn--primary {
    background: none;
  }
}

.bttn--drawer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 0 0 15px;
  font-weight: 700;
  font-size: 1rem;

  @include breakpoint(menu) {
    height: 80px;
    padding: 14px 35px 0;
    .header--tertiary & {
      padding: 9px 35px 0;
    }
  }

  &:focus,
  &:hover {
    span {
      text-decoration: underline;
    }
  }

  &:focus {}
  &:focus:not(:focus-visible) {}
  &:focus-visible {}

  span {
    @include breakpoint(menu) {
      display: inline;
    }
  }

  .o-canvas--open & {
    color: $secondary;
  }

  &:before {
    margin-right: 0;
    margin-top: -2px;
    padding: 1rem .9rem 1rem 2rem;
    color: $secondary;
    font-size: $base-font-size;

    @include breakpoint(menu) {
      margin-right: 5px;
      padding: .8rem 1rem;
    }

    @include fas();

    .o-canvas--open & {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      padding: 7px;
      content: "\f00d";
      color: $white;
      border-radius: 50%;
      background: #999;
      font-size: 1rem;
      line-height: .8;

      @include breakpoint(menu) {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
        line-height: 1;
      }
    }
  }
}


// off canvas drawer

.o-canvas__drawer {
  position: fixed;
  z-index: 2;
  right: 0;
  display: block;
  visibility: hidden;
  overflow-y: auto;
  width: 100%;;
  height: calc(100% - 80px);
  padding: 20px 22px 40px;
  transition: clip-path 1s, opacity .5s, transform .5s, visibility .5s;
  transform: scale(0.925);
  transform-origin: right top;
  opacity: 0;
  background: #fff;

  @include breakpoint(menu) {
    padding: 40px 35px;
    max-width: 560px;
  }

  .o-canvas--open & {
    //top: 140px;
    visibility: visible;
    height: calc(100% - 80px);
    transition: all .4s ease-in-out;
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 8px 8px 0 rgba(63, 63, 70, .25);

    @include breakpoint(menu) {
      top: 80px;
    }
  }
}

.iowa-bar.iowa-bar--narrow .o-canvas__drawer {
  //top: 195px;

  @include breakpoint(menu) {
    top: 140px;
  }
}

.iowa-bar.iowa-bar--narrow .o-canvas--open .o-canvas__drawer {
  //top: 195px;

  @include breakpoint(menu) {
    top: 140px;
  }
}


.o-canvas__drawer {
  background-color: rgb(255, 255, 255);
}

.o-canvas__drawer[aria-hidden="false"]:not(:focus-within) {
  background-color: rgb(255, 255, 254);
  transition: background-color 0.01s;
}


.o-canvas--lock .iowa-bar__below {
  background: #f1f1f1;
}


