:root {
  --brand-primary: #FFCD00;
  --brand-secondary: #000000; }

.media--border {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .media--border img {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125); }

.media--circle {
  border-radius: 50%;
  margin-top: 0;
  height: auto; }
  .media--circle img {
    border-radius: 50%;
    margin-top: 0;
    height: auto; }
