.footer {
  position: relative;
  background: $secondary;
  @include padding($top: $xlg, $right: 0, $bottom: $xlg, $left: 0);

  .logo-icon--tab {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    @include breakpoint(menu) {
      height: auto;
    }
  }

  p {
    color: #ccc;
  }

  &__container {
    @extend %container;
    //padding: 0 $gutter;
    @include breakpoint(container) {
      padding: 0;
    }
  }

  &__container--flex {
    @include breakpoint(menu) {
      @include flexbox;
      flex-wrap: wrap;
    }
  }

  &__links {
    @include margin($top: 0, $right: 0, $bottom: $lg);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    .menu {
      margin: 0;
      flex-wrap: wrap;
      @extend %no-ul-list;

        @include flexbox;

      li {
       //@extend @extend %no-ul-list;

      }

      a {
        font-weight: $font-weight-bold;
        text-decoration: none;
        color: white;
      }

      ul {
        margin: 0;

        li {
          @extend %no-ul-list;
          //margin-top: $md;

          a {
            font-weight: $font-weight-light;
          }
        }
      }
    }
  }

  &__links--nav {
    //margin-top: $md;
    margin-bottom: $md;
    @include breakpoint(menu) {
      display: flex;
      //flex: 0 0 20%;
    }
  }

  &__links--contact {
    @include breakpoint(menu) {
      flex-grow: 2;
    }
  }

  &__links--bttn {
    .menu li {
      //@include margin($bottom: $md);
      flex-basis: 100%;
      line-height: 1.3;
      margin-bottom: $md;
      @include breakpoint(sm) {
       // @include flex($fg: 1, $fs: 1, $fb: 0);
       // @include margin($right: $xlg, $bottom: 0);
      }
      a {
        padding: 0;
      }

      &:last-child {
        @include margin($right: 0);
      }
    }
  }


  &__links--icon {
    a {
      text-decoration: none;
      color: #fff;
    }

    i {
      color: #fff;
      font-size: $h4-font-size;
      @include margin($right: $md);
    }

    ul,
    li {
      @extend %no-ul-list;
    }
  }
}



.socket {
  padding: $md;
  text-align: center;
  background: $primary;

  &__menu {
    @extend %no-ul-list;

    li {
      display: inline;
      border-right: 1px solid #000;
      @include padding($top: 0, $right: $sm, $left: $sm);

      &:last-child {
        border-right: none;
        @include padding($right: 0);
      }

      a {
        text-decoration: none;
        color: $secondary;
      }
    }
  }
}
