.footer {
  position: relative;
  background: $secondary;
  @include padding($top: $xlg, $right: 0, $bottom: $xlg, $left: 0);

  @include breakpoint(menu) {
    @include padding($top: $xlg, $right: 0, $bottom: 0, $left: 0);
  }

  .logo-icon--tab {
    padding: 0 40px 0 0;
    height: auto;
    @include breakpoint(container) {
       padding: 0 15px 0 20px;
    }
  }

  p {
    color: #ccc;
    line-height: 1.5;
    font-weight: 100;

    a {
      color: $primary;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }

      i, svg, span {
        margin-right: $sm;
        font-size: $small-font-size;
        color: #999;
      }

    }
  }

  &__site--name {
    color: #fff;
    font-size: 1.7rem;
    margin-top: $md;
    font-weight: $font-weight-heavy;
    margin-bottom: $xsm;
     a {
       color: #fff;
       text-decoration: none;
       &:hover,
       &:focus {
         text-decoration: underline;
       }
     }
  }

  &__site--slogan {
    color: #ccc;
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: 300;
    a {
      color: #ccc;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }


  &__container {
    @extend %container;

    //padding: 0 $gutter;
    @include breakpoint(container) {
      padding: 0;
    }
  }

  &__container--flex {
    @include breakpoint(menu) {
      @include flexbox;
      flex-wrap: wrap;
    }
  }

  &__links {
    @include margin($top: 0, $right: 0, $bottom: $lg);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    .menu {
      margin: 0;
      @extend %no-ul-list;

      li {
        /*
         * %no-ul-list sets display: inline-block; for li,
         *  which doesn't work for this menu.
         */
        display: block;
      }

      a {
        font-weight: $font-weight-light;
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
         &:hover,
         &:focus {
           text-decoration: underline;
         }
      }

      ul {
        margin: 0;

        li {
          @extend %no-ul-list;

        }
      }
    }
  }

  &__links--nav {
    margin-bottom: $xlg;

    @include breakpoint(menu) {
      display: flex;
    }
  }

  &__links--contact {
    @include breakpoint(menu) {
      flex-grow: 2;
    }
  }

  &__links--icon {
    /*
     * Display icon menu as flex since the icons sit
     *  side-by-side.
     */
    .menu {
      flex-wrap: wrap;
      @include flexbox;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    i {
      color: #fff;
      font-size: $h4-font-size;
      @include margin($right: $md);
    }

    ul,
    li {
      @extend %no-ul-list;
    }
  }
}



.socket {
  &__container {
    @extend %container;

    @include breakpoint(container) {
      padding: 0;
    }
  }

  &__menu {
    @extend %no-ul-list;
    display: flex;
    flex-wrap: wrap;

    li {
      color: white;
      font-size: $small-font-size;
      border-right: 1px solid #5d5656;
      margin-bottom: $xsm;
      @include padding($top: 0, $right: $sm, $left: $sm);

      &:first-child {
        flex-basis: 100%;
        border-right: none;
      }
      &:nth-child(2) {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        @include padding($right: 0);
      }

      &:first-child {
        @include padding($left: 0);
      }

      a {
        text-decoration: none;
        color: $primary;
         &:hover,
         &:focus {
           text-decoration: underline;
         }
      }
    }
  }
}

.footer-cta {
  &__wrapper {
    background: $primary;
    padding: $lg 0;
    margin: 0;

      .menu {
         @include breakpoint(sm) {
           display: flex;
         }
        li {
          flex: 1;
          display: block;
        }
      }

    .bttn--outline {
      border: 1px solid $secondary;
      display: block;

      @include breakpoint(sm) {
        flex: 1;
        display: block;
      }
    }
  }

  &__container {
    @extend %container;
    justify-content: space-between;

      div:first-of-type,
      nav:first-of-type {
        flex-basis: 100%;
      }

    @include breakpoint(sm) {
      display: flex;
    }

    @include breakpoint(container) {
      padding: 0;
    }
  }
}

.footer-cta__container .menu {
  @extend %no-ul-list;
  li {
    @include breakpoint(sm) {
      &:first-child a {
        margin: 0 $md 0 0;
      }

      &:last-child a {
        margin: 0 0 0 $md;
      }
    }
  }

  a {
    margin: $md 0;

    @include breakpoint(sm) {
      margin: 0 $md;
    }

    padding-top: $xsm;

    &:before {
      content: ' ';
      background-repeat: no-repeat;
      background-size: 90%;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-bottom: -5px;
      margin-right: 5px;
    }

    &.bttn--apply:before {
      background-image: url("#{$imgpath}/apply-01.svg");
    }

    &.bttn--visit:before {
      background-image: url("#{$imgpath}/location-01.svg");
    }

    &.bttn--request:before {
      background-image: url("#{$imgpath}/request-01.svg");
    }
  }
}

.footer-cta__container>a:first-child {
  margin-left: 0;
}

.footer-cta__container>a:last-child {
  margin-right: 0;
}
