.footer {
  position: relative;
  background: $secondary;
  @include padding($top: $xlg, $right: 0, $bottom: $xlg, $left: 0);

  @include breakpoint(menu) {
    @include padding($top: $xlg, $right: 0, $bottom: 0, $left: 0);
  }

  .logo-icon--tab {
    padding: 0;
    height: auto;
    @include breakpoint(menu) {
       padding: 0 15px 0 20px;
    }


  }

  p {
    color: #ccc;
    line-height: 1.5;
    font-weight: 100;

    a {
      color: $primary;
      text-decoration: none;
      ;

      &[href^="tel:"]:before,
      &[href^="mailto:"]:before {
        margin-right: $md;
        @include fas();
        font-size: $small-font-size;
        color: #999;
      }

      &[href^="tel:"]:before {
        content: "\f095";
      }

      &[href^="mailto:"]:before {
        content: "\f0e0";
      }
    }
  }

  &__site--name {
    color: #fff;
    font-size: 1.7rem;
    margin-top: $md;
    font-weight: $font-weight-heavy;
    margin-bottom: $xsm;

  }

  &__site--slogan {
    color: #ccc;
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: 300;
  }


  &__container {
    @extend %container;

    //padding: 0 $gutter;
    @include breakpoint(container) {
      padding: 0;
    }
  }

  &__container--flex {
    @include breakpoint(menu) {
      @include flexbox;
      flex-wrap: wrap;
    }
  }

  &__links {
    @include margin($top: 0, $right: 0, $bottom: $lg);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    .menu {
      margin: 0;
      flex-wrap: wrap;
      @extend %no-ul-list;

      @include flexbox;

      li {
        //@extend @extend %no-ul-list;

      }

      a {
        font-weight: $font-weight-bold;
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
      }

      ul {
        margin: 0;

        li {
          @extend %no-ul-list;

          a {
            font-weight: $font-weight-light;
          }
        }
      }
    }
  }

  &__links--nav {
    margin-bottom: $xlg;

    @include breakpoint(menu) {
      display: flex;
    }
  }

  &__links--contact {
    @include breakpoint(menu) {
      flex-grow: 2;
    }
  }

  &__links--icon {
    a {
      text-decoration: none;
      color: #fff;
    }

    i {
      color: #fff;
      font-size: $h4-font-size;
      @include margin($right: $md);
    }

    ul,
    li {
      @extend %no-ul-list;
    }
  }
}



.socket {
  &__container {
    @extend %container;

    @include breakpoint(container) {
      padding: 0;
    }
  }

  &__menu {
    @extend %no-ul-list;

    li {
      display: inline;
      color: white;
      font-size: $small-font-size;
      border-right: 1px solid #ccc;
      @include padding($top: 0, $right: $sm, $left: $sm);

      &:last-child {
        border-right: none;
        @include padding($right: 0);
      }

      &:first-child {
        @include padding($left: 0);
      }

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}



.footer-cta {
  &__wrapper {
    background: $primary;
    padding: $lg 0;
    margin: 0;

    .bttn--outline {
      border: 1px solid $secondary;
      display: block;

      @include breakpoint(sm) {
        flex: 1;
        display: inline-block;
      }
    }
  }

  &__container {
    @extend %container;
    justify-content: space-between;

    @include breakpoint(sm) {
      display: flex;
    }

    @include breakpoint(container) {
      padding: 0;
    }
  }
}


.footer-cta__container>a {
  margin: $md 0;

  @include breakpoint(sm) {
    margin: 0 $md;
  }

  padding-top: $xsm;

  &:before {
    content: ' ';
    background: url(../images/apply-01.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 5px;
  }

  &:nth-child(2):before {
    content: ' ';
    background: url(../images/location-01.svg);
    background-repeat: no-repeat;
    background-size: 90%;
  }

  &:nth-child(3):before {
    content: ' ';
    background: url(../images/request-01.svg);
    background-repeat: no-repeat;
    background-size: 90%;
  }
}

.footer-cta__container>a:first-child {
  margin-left: 0;
}

.footer-cta__container>a:last-child {
  margin-right: 0;
}
