{% if footer_type == 'uiowa' %}

	<div role="region" class="footer-cta__wrapper">

		<div class="footer-cta__container">

			{% for item in link_bttn.items | slice(0, 3) %}
				{% include "@footer--links-bttn" with {
            "link_bttn_url": item.link_bttn_url,
            "link_bttn_class": item.link_bttn_class,
            "link_bttn_icon": item.link_bttn_icon,
            "link_bttn_title": item.link_bttn_title,
          } %}
			{% endfor %}

		</div>
	</div>

{% endif %}

<footer class="footer">

	<div class="footer__container footer__container--flex">

		<div class="footer__links footer__links--contact">

			{% render '@logo--tab' %}

			{% if site_name %}
				<h2 class="footer__site--name">{{ site_name }}</h2>
			{% endif %}

			{% if site_slogan %}
				<strong class="footer__site--slogan">{{ site_slogan }}</strong>
			{% endif %}

			{% if footer_type == 'uiowa' %}

				<p>Iowa City, Iowa 52242<br>
					<a href="tel:319-335-3500">319-335-3500</a>
				</p>

			{% endif %}

			{% if footer_type == 'department' %}

				<p>280 Boyd Law Building<br/>
					Melrose & Byington<br/>

					​Iowa City, IA 52242<br/>

					<a href="tel:319-335-3500">319-335-9034</a><br/>

					<a href="mailto:law-webmaster@uiowa.edu">law-webmaster@uiowa.edu</a>
				</p>

			{% endif %}

			{% if footer_type == 'uiowa' %}

				<div class="footer__links footer__links--icon">
					{% include "@menu" with {
						items: link_icon.items | slice(0, 7),
					} %}
				</div>

			{% endif %}

			{% include "@footer--socket-menu" %}

		</div>

		{% if footer_type == 'uiowa' %}
			<div class="footer__links footer__links--nav">
					{% include "@menu" with {
						items: links_nav_1.items,
					} %}
			</div>

			<div class="footer__links footer__links--nav">
					{% include "@menu" with {
						items: links_nav_2.items,
					} %}
			</div>

			<div class="footer__links footer__links--nav">
					{% include "@menu" with {
						items: links_nav_3.items,
					} %}
			</div>
		{% endif %}

	</div>
</footer>
