<div class="socket">
  <ul class="socket__menu">
    <li>© 2019 The University of Iowa</li>
    <li>
      <a href="http://www.uiowa.edu/homepage/online-privacy-information">Privacy Notice</a>
    </li>
    <li>
      <a href="http://opsmanual.uiowa.edu/community-policies/nondiscrimination-statement">Nondiscrimination Statement</a>
    </li>
  </ul>
</div>