{# @todo Add option for classes to <li> and <a>. #}
<li>
  <a href="{{ link.url }}">
    {% if link.icon_class %}
    <i class="{{ link.icon_class }}"></i>
    <span class="element-invisible">
    {% endif %}
      {{ link.text }}
      {% if link.icon_class %}
    </span>
    {% endif %}
  </a>

  {# If there is a child menu under this link, render it. #}
  {% if link.links %}
    {% include "footer--links-nav.twig" with {
      links: link.links,
    } %}
  {% endif %}
</li>
