{# @todo Should the <nav role="navigation"></nav> element be added in here? #}
<ul class="menu">
  {% for link in links %}
    {% include "@footer--links-item" with {
      link: link,
    } %}
  {% endfor %}
</ul>