
aside .region,
.layout-content .region {
  padding: 0;
  border: none;
}

.layout-container {
  @extend %container;
}


.grid--3-2>:nth-child(1) {
  order: 1;
}

.grid--3-2>:nth-child(2) {
  order: 2;
}

.grid--3-2>:nth-child(3) {
  order: 4;

  @include breakpoint(sm) {
    order: 3;
  }
}

.grid--3-2>:nth-child(4) {
  order: 3;

  @include breakpoint(sm) {
    order: 4;
  }
}

.grid--3-2>:nth-child(5) {
  order: 5;
}

.grid--3-2>:nth-child(6) {
  order: 6;
}


.grid--3-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

  &.grid--3-2-stacked {
    display: block;
    @include breakpoint(sm) {
      display: grid;
    }
  }

  @include breakpoint(sm) {
    grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
  }
}



// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .grid--3-2,
  .grid--3-2.grid--3-2-stacked {
    display: flex;
    flex-wrap: wrap;
  }

   .grid--3-2>div {
    flex: 1 0 auto;
    width: 33.3%;
  }
}
