// Utility color variables

$primary:       #FFCD00;
$secondary:     #151515;
$light:         #f3f3f3;
$grey:          #737373;
$grey-light:    #cacaca;


$success:       #0EC170;
$success-dark:  $secondary;
$success-light:  #DAF8EC;

$info:          #1876C9;
$info-dark:     #2E6DB3;
$info-light:    #DAEAF8;

$warning:       #F7941D;
$warning-dark:  #BB5202;
$warning-light:  #FFEEDB;

$danger:        #FF6348;
$danger-dark:   $secondary;
$danger-light:  #FFE7E3;

// Links

$link-color: $info-dark;

// img path

$imgpath: '../images/';

// Additional Colors

$white: #fff;
$blk: #000;
$dark-gray: lighten($blk, 20%);
$med-gray: lighten($blk, 40%);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);


// Borders

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$border-width: 1px;

// Typography

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Zilla Slab', serif;
$font-family-caps-light: 'antoniolight', sans-serif;
$font-family-caps-bold: 'antoniobold', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 900;

$headings-font-weight: $font-weight-medium;

$h1-font-size: 3.35rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2.3rem;
$h4-font-size: 1.9125rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.1925rem;

$content-font-size: 1.125rem;
$base-font-size: 1rem;
$small-font-size: .8rem;

$text-muted: $grey;

// Margin/Padding
$mobile-width-gutter: 1.25rem; // 20px
$desktop-width-gutter: 3rem; // 20px

$mobile-height-gutter: 2rem; // 20px
$desktop-height-gutter: 8rem; // 20px

$gutter: 1.25rem; // 20px

$xsm: 0.3125rem; // 5px
$xsm-sm: .425rem;
$sm: 0.625rem; // 10px
$sm-md: 0.9rem; // 15px
$md: 1.05rem;
$lg: 1.875rem; // 30px
$xlg: 2.5rem; // 40px
$xxlg: 3.15rem; // 50px
$xxxlg: 3.75rem; // 60px
