table[border] {
  border-style: solid;
  border-color: #eee; }
  table[border] td,
  table[border] th {
    border-color: #eee; }

table {
  background-color: #fff;
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
  color: #151515;
  display: inline-block;
  font-size: 1.2rem;
  max-width: 100%;
  overflow-x: auto;
  width: 100%; }
  @media (min-width: 768px) {
    table {
      display: table; } }
  table td,
  table th {
    padding: 1.05rem;
    font-size: 1rem;
    min-width: 100px; }
  table th {
    color: #151515; }
    table th:not([align]) {
      text-align: left; }
  table thead th {
    background-color: #FFCD00;
    border: none;
    text-transform: uppercase; }
  table tbody th {
    background-color: #fff;
    border: none;
    position: static;
    left: 0;
    padding-left: 1.05rem; }
  table tbody tr:not(.is-selected):nth-child(even),
  table tbody tr:not(.is-selected):nth-child(even) th {
    background-color: #f3f3f3; }
  table.table--hover-highlight tbody tr:not(.is-selected):hover,
  table.table--hover-highlight tbody tr:not(.is-selected):nth-child(even):hover {
    background-color: #fff3c3; }
    table.table--hover-highlight tbody tr:not(.is-selected):hover th,
    table.table--hover-highlight tbody tr:not(.is-selected):nth-child(even):hover th {
      background-color: #fff3c3; }
  table caption {
    width: 100%;
    padding: 1.05rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    font-weight: bold; }
  table tbody tr:last-child td,
  table tbody tr:last-child th {
    border-bottom-width: 0; }
  table thead td,
  table thead th {
    color: #151515; }
  table.table--width-default {
    width: unset; }

table.table--gray-borders {
  border: #ddd 1px solid; }
  table.table--gray-borders > tr > td,
  table.table--gray-borders > tr > th,
  table.table--gray-borders > tbody > tr > td,
  table.table--gray-borders > tbody > tr > th,
  table.table--gray-borders > tfoot > tr > td,
  table.table--gray-borders > tfoot > tr > th {
    border: #ddd 1px solid; }
  table.table--gray-borders > thead > tr > td,
  table.table--gray-borders > thead > tr > th,
  table.table--gray-borders > caption > td,
  table.table--gray-borders > caption > th {
    border: #7c7c7c 1px solid; }
  table.table--gray-borders > thead > tr > td,
  table.table--gray-borders > thead > tr > th {
    border-bottom: #ddd 1px solid;
    border-top: #ddd 1px solid; }
    table.table--gray-borders > thead > tr > td:first-child,
    table.table--gray-borders > thead > tr > th:first-child {
      border-left: #ddd 1px solid; }
    table.table--gray-borders > thead > tr > td:last-child,
    table.table--gray-borders > thead > tr > th:last-child {
      border-right: #ddd 1px solid; }
  table.table--gray-borders > tbody > tr:first-child th, table.table--gray-borders > tbody > tr:first-child td {
    border-top: none; }

.table__responsive-container {
  border: 1px solid #eee;
  width: 100%;
  position: relative; }
  .table__responsive-container table {
    width: 100%; }
    .table__responsive-container table caption {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px); }
  .table__responsive-container--width-default {
    width: unset;
    display: inline-block; }
    .table__responsive-container--width-default table.table--width-default {
      width: unset; }
  .table__responsive-container.table__row-headers--true .table__sticky-heading:first-child {
    left: 0; }
  .table__responsive-container.table__row-headers--true.table--left-sticky-minwidth .table__sticky-heading:first-child {
    position: -webkit-sticky;
    position: sticky; }
  .table__responsive-container.table--is-sticky-top .table__responsive-header {
    transition: -webkit-filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)); }
  .table__responsive-container.table__responsive-container--gray-borders {
    border: unset; }
    .table__responsive-container.table__responsive-container--gray-borders .table__visual-caption {
      border: #7c7c7c 1px solid;
      border-bottom: none; }
    .table__responsive-container.table__responsive-container--gray-borders table > tbody > tr:first-child th, .table__responsive-container.table__responsive-container--gray-borders table > tbody > tr:first-child td {
      border-top: none; }
    .table__responsive-container.table__responsive-container--gray-borders .table__responsive-header .table__sticky-heading {
      border-left: #7c7c7c 1px solid;
      border-bottom: #ddd 1px solid;
      border-top: #ddd 1px solid; }
      .table__responsive-container.table__responsive-container--gray-borders .table__responsive-header .table__sticky-heading:first-child {
        border-left: 1px solid #ddd; }
  .table__responsive-container.table--is-sticky-left.table--left-sticky-minwidth tbody th {
    -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); }
  .table__responsive-container.table--is-sticky-left.table--left-sticky-minwidth .table__sticky-heading:first-child {
    border-right: 1px solid #ccc;
    -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); }
  .table__responsive-container .table__responsive-header__sticky-heading:first-child {
    border-right: none;
    transition: border-right 0.3s ease-in-out; }
  .table__responsive-container.table--left-sticky-minwidth table tbody th {
    position: -webkit-sticky;
    position: sticky; }
  .text-formatted .table__responsive-container div {
    line-height: inherit;
    font-size: 1rem;
    margin-bottom: 0; }

.table__responsive-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0; }
  .table__responsive-header__scroller {
    white-space: nowrap;
    overflow-x: hidden; }

.table__sticky-heading {
  background: #FFCD00;
  border: none;
  color: #151515;
  display: inline-block;
  font-size: 1rem;
  padding: 1.05rem;
  text-align: left;
  text-transform: uppercase; }
  .table__sticky-heading .text-positioner {
    white-space: break-spaces;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-weight: bold; }

.table__container {
  overflow-x: auto; }

.table.table--static tbody th,
.table.table--static thead th {
  position: static; }
