  .highlight {
    &__wrapper {
      z-index: 100;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: baseline;
      flex-flow: column nowrap;
      justify-content: center;
      color: $white;
      font-size: $h6-font-size;
    }


    &__sub {
      margin: 0;
      color: $secondary;
      font-size: .9rem;
      line-height: 1.7;

      @include breakpoint(container) {
        font-size: 1rem;
      }

      span {
        padding: 0.45rem 1rem;
        background-color: $primary;
        box-decoration-break: clone;
        line-height: 1.4;
        -webkit-box-decoration-break: clone;
      }
    }

    &__title {
      padding: 2px 0;
      text-transform: uppercase;
      font-family: $font-family-caps-bold;
      font-size: calc(100% + -.7vw);
      line-height: 1.7;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      @include breakpoint(menu) {
        font-size: calc(100% + .3vw);
      }

      @include breakpoint(container) {
        font-size: calc(100% + .8vw);
      }


      span {
        display: inline;
        padding: 0.45rem 1rem;
        color: #fff;
        background: $secondary;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }
    }
  }
