  .highlight {
    &__wrapper {
      z-index: 100;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: baseline;
      flex-flow: column nowrap;
      justify-content: center;
      color: $white;
      font-size: $h6-font-size;
    }

    &__sub {
      display: inline-block;
      margin: 0;
      color: $secondary;
      font-size: .9rem;

      span {
        padding: $sm $md;
        background-color: $primary;
        box-decoration-break: clone;
        line-height: 1.9;
        -webkit-box-decoration-break: clone;
      }
    }

    &__title {
      display: inline;
      margin-bottom: -$sm;
      text-transform: uppercase;
      font-family: $font-family-caps-bold;
      font-size: $h6-font-size;
      padding: $md 0;
          line-height: 1.5;
      span {
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      color: #fff;
      background: $secondary;
      padding:  $md;
      }
    }
  }
