.site-name {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  font-family: "Roboto", sans-serif; }
  .site-name a {
    color: #151515;
    text-decoration: none; }
  @media (min-width: 980px) {
    .site-name {
      flex-basis: content;
      margin: 1px 0 0 0;
      font-size: 2rem; } }
  @media (min-width: 84.375em) {
    .site-name {
      margin: 5px 0 0 0;
      text-align: left;
      font-size: 2.2rem; } }
  @media (min-width: 980px) {
    .search-is-open .header--secondary .site-name {
      display: none; } }
