@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

.page__container {
  @extend %container;

  &--mixed {
    @extend %container;
  }
}

.flex__wrapper {
  @include breakpoint(sm) {
    flex-wrap: wrap;
    @include flexbox;
  }
}


// footer cta

.cta-row__fixed {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
}

.cta-row {
  &__wrapper {
    background: $primary;
    padding: $lg 0;
    margin: 0;

    nav {
      width: 100%;
    }

    .menu {
      @include breakpoint(sm) {
        display: flex;
      }

      li {
        flex: 1;
        display: block;
      }
    }

    .bttn--outline {
      border: 1px solid $secondary;
      display: block;

      @include breakpoint(sm) {
        flex: 1;
        display: block;
      }
    }
  }

  &__container {
    @extend %container;
    justify-content: space-between;

    @include breakpoint(sm) {
      display: flex;
    }

    @include breakpoint(container) {
      padding: 0;
    }
  }
}

.cta-row__container .menu {
  @extend %no-ul-list;

  a {
    margin: $md 0;

    @include breakpoint(sm) {
      margin: 0 $md;
    }

    padding-top: $xsm;

    &:before {
      content: ' ';
      background-repeat: no-repeat;
      background-size: 90%;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-bottom: -5px;
      margin-right: 5px;
    }

    &.bttn--apply:before {
      background-image: url(/#{$imgpath}/viewbook/apply-01.svg);
    }

    &.bttn--visit:before {
      background-image: url(/#{$imgpath}/viewbook/location-01.svg);
    }

    &.bttn--ask:before {
      background-image: url(/#{$imgpath}/viewbook/ask-01-01.svg);
    }

    &.bttn--connect:before {
      background-image: url(/#{$imgpath}/viewbook/connect-01-01.svg);
    }
  }
}

.cta-row__container>a:first-child {
  margin-left: 0;
}

.cta-row__container>a:last-child {
  margin-right: 0;
}

// Card row

.card__wrapper {
  //margin: 1.25rem 1.25rem;
  // max-width: 100em;
  //margin: 0 auto;
}

.card.card--enclosed {
  border: none;

  .card__title {
    text-transform: uppercase;
    font-weight: normal;
    font-family: "antoniobold", sans-serif;
    margin-bottom: 8px;
    padding: 2px 0;
    line-height: 1.7;
    font-size: 1.2rem;
    position: absolute;
    bottom: $gutter;

    span {
      background: $primary;
      display: inline;
      padding: 0.4rem 1rem 0.4rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }

    a {
      color: $secondary;
    }

  }

  .card__body {
    background: #1f1e1e69;
    background-size: auto auto;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:nth-child(3n+2) {
    .card__media {
      order: 4;
    }
  }
}



@media (min-width: 855px) {
  .card__wrapper {
    //margin: 1.25rem 3rem 10rem;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
  }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body {
    flex: auto !important;
  }
}


.card__row {
  flex: 0 0 33.3%;
  margin-bottom: 0rem;
}

// cta

.cta__wrapper {
  height: 100%;
}

// Grid section
/*
.three-col {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .stat__grid {
    padding: 0;
  }
}

.three-col__section:nth-child(1) {
  grid-area: 1 / 1 / 5 / 2;
  padding: $desktop-width-gutter;
}

.three-col__section:nth-child(2) {
  grid-area: 1 / 2 / 5 / 4;
  .areas__content {
    padding-right: $desktop-width-gutter;
    padding-left: $desktop-width-gutter;
  }
}

.three-col__section:nth-child(3) {
  grid-area: 1 / 4 / 5 / 7;
}
*/

.hawkeye {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: -20px;

  .areas__content {
    padding: 0 3rem;
  }

  &__section:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  &__section:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5;
  }

  &__section:nth-child(3) {
    grid-area: 2 / 1 / 5 / 5;
  }

  &__section:nth-child(4) {
    grid-area: 1 / 5 / 3 / 9;
    align-items: center;
    display: flex;
  }

  &__section:nth-child(5) {
    grid-area: 3 / 5 / 5 / 7;
  }

  &__section:nth-child(6) {
    grid-area: 3 / 7 / 5 / 9;
  }
}

.hawkeye__section.areas__content h2.bold-headline .heading__heading span {
  background: $secondary;
  color: #fff;
}

.hawkeye__section.areas__content h2.bold-headline {
  @include breakpoint(menu) {
    font-size: calc(4em + 2.5vw);
    width: 100%;
  }

  @include breakpoint(container) {
    font-size: calc(4em + 3vw);
  }

  @include breakpoint(xlg) {
    font-size: calc(4em + 3vw);
  }

  text-align: center;
}

.viewbook {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &__section {
    &:nth-child(2) {
      grid-area: 1 / 3 / 4 / 7;
    }

    &:nth-child(1) {
      grid-area: 1 / 1 / 4 / 3;
      align-items: center;
      padding: 3rem 3rem 0 3rem;

      h2.bold-headline,
      h2.bold-headline--positive,
      h2.bold-headline--negative {
        font-size: calc(4em + 1vw)
      }
    }
  }
}

.aerial__content-grid {
  margin: 0 3rem;
}

// scroll sections

.section {
  flex-basis: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  border: 1px solid gray;
  scroll-snap-type: y mandatory;

  &__snap {
    // scroll-snap-align: start;
  }

  &__container {
    max-width: 100em;
    margin: 0 auto;
  }
}


// areas of study grid

.areas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.areas__column:nth-child(1) {
  grid-area: 1 / 1 / 4 / 5;
}

.areas__column:nth-child(2) {
  grid-area: 1 / 5 / 4 / 7;
}


.areas__content {
  padding: 3rem 3rem 0 3rem;

  h2.bold-headline,
  h2.bold-headline--positive,
  h2.bold-headline--negative {
    font-size: calc(4em + 1vw);

    .heading__heading span {
      background: $primary;
      display: inline-block;
      padding: 0.45rem 1rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      margin-bottom: .8rem;

    }
  }
}


// stats

.stat__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: self-end;
}

.stat__title {
  border-bottom: none;

  @include breakpoint(menu) {
    font-size: calc(100% + 2vw);
    flex-basis: 50%;
  }
}

.stat__content {
  font-size: 1.1rem;
  color: #ccc;
  flex-basis: 80%;
  padding-top: .5rem;
  margin-top: .75rem;
  border-top: 6px solid $primary;
  display: none;
}

.stat__description {
  font-size: 1.3rem;
  margin: 0;
  flex-basis: 50%;
  opacity: .7;
}

.heading__prefix,
.heading__suffix {
  @include breakpoint(menu) {
    font-size: calc(100% + -1vw);
  }
}

.stat__container {
  max-width: 100em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat__grid {
  flex: 0 0 calc(25%);
  margin-bottom: 0rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all 225ms ease;
  transition: all .45s cubic-bezier(.32, 1.25, .375, 1.15);

  &:hover {
    box-shadow: 3px 5px 10px 0 rgba(13, 23, 33, .2);
    transform: translateY(-10px) scale(1.02);
  }

  &:hover .stat__content {
    display: block;
    cursor: pointer;
  }
}


// Firefox overrides
@-moz-document url-prefix() {

  .card.card--enclosed .card__title span {
    padding: 1rem 1rem .7rem;
  }

  .areas__content h2.bold-headline .heading__heading span {
    padding: 1rem 1rem 0;
  }

  .card.card--enclosed .card__title {
    padding-bottom: .825rem;
  }
}

.split {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 3rem;

  &__column:nth-child(1) {
    grid-area: 1 / 1 / 4 / 4;
  }

  &__column:nth-child(2) {
    grid-area: 1 / 4 / 4 / 7;
  }
}


.element--circle-list>li {
  display: block;
  align-items: start;
}

.element--circle-list>li {
  margin-bottom: $desktop-width-gutter;
}

.element--circle-list li p {
  margin-top: 1em;
}

.element--circle-list li a.bttn {
  display: inline-block;
}

.element--circle-list.counter-increment {
  counter-reset: circle-counter 3;
}

.bold-headline--caps .heading__heading span {
  padding: 0.1rem 1rem 0;
}

.bold-headline--caps .heading__heading span {
  background: #FFCD00;
  display: inline-block;
  padding: 0.55rem 1rem .45rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  margin-bottom: .8rem;
  color: $secondary;
  text-shadow: none;
}
