.cta-row__container .menu {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .cta-row__container .menu > li {
    display: inline-block;
    list-style-type: none;
    margin: 0; }

.page__container, .page__container--mixed, .cta-row__container {
  margin: 0 1.25rem;
  position: relative; }
  @media (min-width: 84.375em) {
    .page__container, .page__container--mixed, .cta-row__container {
      max-width: 81.875em;
      margin: 0 auto; } }

@media (min-width: 768px) {
  .flex__wrapper {
    flex-wrap: wrap;
    display: flex; } }

.cta-row__wrapper {
  background: #FFCD00;
  padding: 1.875rem 0;
  margin: 0; }
  .cta-row__wrapper nav {
    width: 100%; }
  @media (min-width: 768px) {
    .cta-row__wrapper .menu {
      display: flex; } }
  .cta-row__wrapper .menu li {
    flex: 1;
    display: block; }
  .cta-row__wrapper .bttn--outline {
    border: 1px solid #151515;
    display: block; }
    @media (min-width: 768px) {
      .cta-row__wrapper .bttn--outline {
        flex: 1;
        display: block; } }

.cta-row__container {
  justify-content: space-between; }
  @media (min-width: 768px) {
    .cta-row__container {
      display: flex; } }
  @media (min-width: 84.375em) {
    .cta-row__container {
      padding: 0; } }

.cta-row__container .menu a {
  margin: 1.05rem 0;
  padding-top: 0.325rem; }
  @media (min-width: 768px) {
    .cta-row__container .menu a {
      margin: 0 1.05rem; } }
  .cta-row__container .menu a:before {
    content: ' ';
    background-repeat: no-repeat;
    background-size: 90%;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 5px; }
  .cta-row__container .menu a.bttn--apply:before {
    background-image: url(/../../assets/images/apply-01.svg); }
  .cta-row__container .menu a.bttn--visit:before {
    background-image: url(/../../assets/images/location-01.svg); }
  .cta-row__container .menu a.bttn--ask:before {
    background-image: url(/../../assets/images/ask-01-01.svg); }
  .cta-row__container .menu a.bttn--connect:before {
    background-image: url(/../../assets/images/connect-01-01.svg); }

.cta-row__container > a:first-child {
  margin-left: 0; }

.cta-row__container > a:last-child {
  margin-right: 0; }

.card.card--enclosed {
  border: none; }
  .card.card--enclosed:nth-child(3n+2) .card__media {
    order: 4; }
  .card.card--enclosed:nth-child(3n+2) .card__body {
    background: #f1f1f1; }

@media (min-width: 855px) {
  .card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .card__body {
    flex: auto !important; } }

.card__row {
  flex: 0 0 33.3%;
  margin-bottom: 0rem; }

.cta__wrapper {
  height: 100%; }

.viewbook {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .viewbook__section:nth-child(1) {
    grid-area: 1 / 1 / 3 / 4; }
  .viewbook__section:nth-child(2) {
    grid-area: 3 / 1 / 4 / 3; }
  .viewbook__section:nth-child(3) {
    grid-area: 3 / 3 / 4 / 4; }
  .viewbook__section:nth-child(4) {
    grid-area: 1 / 4 / 4 / 7;
    align-items: center;
    padding: 7rem 7rem 0 7rem; }
    .viewbook__section:nth-child(4) h2.bold-headline,
    .viewbook__section:nth-child(4) h2.bold-headline--positive,
    .viewbook__section:nth-child(4) h2.bold-headline--negative {
      font-size: calc(4em + 1vw); }

.section {
  flex-basis: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  border: 1px solid gray;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }
  .section__container {
    max-width: 100em;
    margin: 0 auto; }

.areas {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.areas__column:nth-child(1) {
  grid-area: 1 / 1 / 4 / 4; }

.areas__column:nth-child(2) {
  grid-area: 1 / 4 / 4 / 7; }

.areas__content {
  padding: 7rem 7rem 0 7rem; }
  .areas__content h2.bold-headline,
  .areas__content h2.bold-headline--positive,
  .areas__content h2.bold-headline--negative {
    font-size: calc(4em + 1vw); }
