

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
          <link media="all" rel="stylesheet" href="../background/background.css">
          <link media="all" rel="stylesheet" href="../blockquote/blockquote.css">
        
            <link media="all" rel="stylesheet" href="../banner/banner.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
          
        
                
<div class="banner  banner--small bg--gold--pattern--brain banner--vertical-center banner--horizontal-center click-container">
        
      <div class="banner__container">
      <div class="banner__content">

                              <div class="headline headline--uppercase headline headline--small banner__pre-title">
        <span class="headline__text">University of Iowa</span>
    </div>
                                <h2 class="headline headline--uppercase headline headline--small">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card" class="click-target">
        <span class="headline__text">Living on Campus</span>
        </a>
  </h2>
                  
        <div class="banner__text"><p>A member of the <a href="/">Association</a> of American Universities since 1909 and the Big Ten Conference<br /> since 1899, the University of Iowa is home to one of the most acclaimed academic medical centers<br /> in the country, as well as globally recognized leadership in the study and craft of writing.</p></div>

                              <div class="banner__action">
                                                                <div aria-hidden="true" class="bttn bttn--primary bttn--caps" id="desc-a-card">
                    View Story
                    <i class="fas fa-arrow-right"></i>
                  </div>
                                          </div>
                  
      </div>
    </div>

  </div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>

      <script src="../video/video.js"></script>
      <script src="../../assets/js/click-a11y.js"></script>
  
    </html>

