

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
        
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="webform-submission-form uids-content">

  <form>
    <fieldset>
      <legend>Fieldset</legend>
      <div class="">
        <div class="">
          <label>Input Label</label>
          <input type="text" placeholder="placeholder">
        </div>
      </div>
      <div class="row">
        <div class="">
          <label>Input Label</label>
          <input type="text" placeholder="placeholder">
        </div>
        <div class="">
          <label>Input Label</label>
          <input type="text" placeholder="placeholder">
        </div>

      </div>
      <div class="">
        <div class="">
          <label>Textarea Label</label>
          <textarea placeholder="placeholder"></textarea>
        </div>
      </div>
    </fieldset>
  </form>

  <form>
    <label>Input Label
      <input type="text" placeholder="placeholder"
        aria-describedby="exampleHelpText">
    </label>
    <p class="help-text" id="exampleHelpText">Here's how you use this input
      field!</p>
    <label>
      How many?
      <input type="number" value="100">
    </label>
    <label>
      What did do you think?
      <textarea placeholder="None"></textarea>
    </label>
    <label>Select Menu
      <select>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
    </label>
    <div class="">
      <fieldset class="">
        <legend>Choose one</legend>
        <input type="radio" name="n" value="Orange" id="formOrange"
          required="required">
        <label for="formOrange">Orange</label>
        <input type="radio" name="n" value="Green" id="formGreen">
        <label for="formGreem">Green</label>
        <input type="radio" name="n" value="Blue" id="formBlue">
        <label for="formBlue">Blue</label>
      </fieldset>
      <fieldset class="">
        <legend>Check the boxes</legend>
        <input id="formCheckbox1" type="checkbox">
        <label for="formCheckbox1">Checkbox 1</label>
        <input id="formCheckbox2" type="checkbox">
        <label for="formCheckbox2">Checkbox 2</label>
        <input id="formCheckbox3" type="checkbox">
        <label for="formCheckbox3">Checkbox 3</label>
      </fieldset>
    </div>

  </form>

  <form class="contact-message-feedback-form contact-message-form contact-form"
    data-user-info-from-browser=""
    data-drupal-selector="contact-message-feedback-form" action="/contact"
    method="post" id="contact-message-feedback-form" accept-charset="UTF-8"
    data-drupal-form-fields="edit-name,edit-mail,edit-subject-0-value,edit-message-0-value,edit-submit,edit-preview">
    <div
      class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
      <label for="edit-name" class="js-form-required form-required">Your
        name</label>
      <input data-drupal-selector="edit-name" type="text" id="edit-name"
        name="name" value="" size="60" maxlength="255"
        class="form-text required" required="required" aria-required="true">

    </div>
    <input autocomplete="off"
      data-drupal-selector="form-9vro7exz-jam4c6mtwaqbjdhevghyuqqprxse9upt7g"
      type="hidden" name="form_build_id"
      value="form-9vro7Exz-JAM4C6MtWAqBJdHEVGHyuQQpRXSE9UpT7g">
    <input data-drupal-selector="edit-contact-message-feedback-form"
      type="hidden" name="form_id" value="contact_message_feedback_form">
    <div
      class="js-form-item form-item js-form-type-email form-type-email js-form-item-mail form-item-mail">
      <label for="edit-mail" class="js-form-required form-required">Your email
        address</label>
      <input data-drupal-selector="edit-mail" type="email" id="edit-mail"
        name="mail" value="" size="60" maxlength="254"
        class="form-email required" required="required" aria-required="true">

    </div>
    <div
      class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper"
      data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">
      <div
        class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-subject-0-value form-item-subject-0-value">
        <label for="edit-subject-0-value"
          class="js-form-required form-required">Subject</label>
        <input class="js-text-full text-full form-text required"
          data-drupal-selector="edit-subject-0-value" type="text"
          id="edit-subject-0-value" name="subject[0][value]" value="" size="60"
          maxlength="100" placeholder="" required="required"
          aria-required="true">

      </div>

    </div>
    <div
      class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper"
      data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper">
    </div>
    <div
      class="field--type-string-long field--name-message field--widget-string-textarea js-form-wrapper form-wrapper"
      data-drupal-selector="edit-message-wrapper" id="edit-message-wrapper">
      <div
        class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-message-0-value form-item-message-0-value">
        <label for="edit-message-0-value"
          class="js-form-required form-required">Message</label>
        <div class="form-textarea-wrapper">
          <textarea
            class="js-text-full text-full form-textarea required resize-vertical"
            data-drupal-selector="edit-message-0-value"
            id="edit-message-0-value" name="message[0][value]" rows="12"
            cols="60" placeholder="" required="required"
            aria-required="true"></textarea>
        </div>

      </div>

    </div>
    <div data-drupal-selector="edit-actions"
      class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input
        data-drupal-selector="edit-submit" type="submit" id="edit-submit"
        name="op" value="Send message"
        class="button button--primary js-form-submit form-submit">
      <input data-drupal-selector="edit-preview" type="submit" id="edit-preview"
        name="op" value="Preview" class="button js-form-submit form-submit">
    </div>

  </form>




  <form class="user-login-form" data-drupal-selector="user-login-form"
    action="/user/login" method="post" id="user-login-form"
    accept-charset="UTF-8">
    <div
      class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
      <label for="edit-name"
        class="js-form-required form-required">Username</label>
      <input autocorrect="none" autocapitalize="none" spellcheck="false"
        autofocus="autofocus" data-drupal-selector="edit-name"
        aria-describedby="edit-name--description" type="text" id="edit-name"
        name="name" value="" size="60" maxlength="60" class="form-text required"
        required="required" aria-required="true">

      <div id="edit-name--description" class="description">
        Enter your username.
      </div>
    </div>
    <div
      class="js-form-item form-item js-form-type-password form-type-password js-form-item-pass form-item-pass">
      <label for="edit-pass"
        class="js-form-required form-required">Password</label>
      <input data-drupal-selector="edit-pass"
        aria-describedby="edit-pass--description" type="password" id="edit-pass"
        name="pass" size="60" maxlength="128" class="form-text required"
        required="required" aria-required="true">

      <div id="edit-pass--description" class="description">
        Enter the password that accompanies your username.
      </div>
    </div>
    <input autocomplete="off"
      data-drupal-selector="form-svpbtk-zp8-ffcpxi9fj9q8k4ssw-819b0apjgelapi"
      type="hidden" name="form_build_id"
      value="form-svPbtk_Zp8-fFCpXi9FJ9q8K4sSw-819B0aPjGElaPI">
    <input data-drupal-selector="edit-user-login-form" type="hidden"
      name="form_id" value="user_login_form">
    <div data-drupal-selector="edit-actions"
      class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input
        data-drupal-selector="edit-submit" type="submit" id="edit-submit"
        name="op" value="Log in" class="button js-form-submit form-submit">
    </div>

  </form>

  <div id="edit-textboxes" class="js-form-item form-item js-form-type-webform-multiple form-type-webform-multiple js-form-item-textboxes form-item-textboxes">
    <label>textboxes</label>
    <div class="webform-multiple-table webform-multiple-table-responsive">
        <div class="tabledrag-toggle-weight-wrapper">
          <button type="button" class="link tabledrag-toggle-weight">Show row weights</button>
        </div>
        <div class="tableresponsive-toggle-columns">
          <button type="button" class="link tableresponsive-toggle" title="Show table cells that were hidden to make the table fit within a small screen." style="display: none;">Hide lower priority columns</button>
        </div>
        <table data-drupal-selector="edit-textboxes-items" id="edit-textboxes-items" class="responsive-enabled" data-striping="1">
          <thead>
              <tr>
                <th colspan="5"><span class="visually-hidden">textboxes</span></th>
              </tr>
          </thead>
          <tbody>
              <tr class="draggable odd" data-drupal-selector="edit-textboxes-items-0">
                <td class="webform-multiple-table--handle">
                    <a href="#" class="tabledrag-handle" title="Drag to re-order">
                      <div class="handle">&nbsp;</div>
                    </a>
                </td>
                <td>
                    <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-textboxes-items-0--item- form-item-textboxes-items-0--item- form-no-label">
                      <label for="edit-textboxes-items-0-item-" class="visually-hidden">textboxes</label>
                      <div class="form-textarea-wrapper">
                          <textarea data-drupal-selector="edit-textboxes-items-0-item-" id="edit-textboxes-items-0-item-" name="textboxes[items][0][_item_]" rows="5" cols="60" class="form-textarea resize-vertical"></textarea>
                      </div>
                    </div>
                </td>
                <td class="webform-multiple-table--weight tabledrag-hide" style="display: none;">
                    <div class="webform-multiple-table--weight js-form-item form-item js-form-type-number form-type-number js-form-item-textboxes-items-0-weight form-item-textboxes-items-0-weight form-no-label">
                      <label for="edit-textboxes-items-0-weight" class="visually-hidden">Item weight</label>
                      <input class="webform-multiple-sort-weight form-number" data-drupal-selector="edit-textboxes-items-0-weight" type="number" id="edit-textboxes-items-0-weight" name="textboxes[items][0][weight]" value="0" step="1" size="10">
                    </div>
                </td>
                <td class="webform-multiple-table--operations webform-multiple-table--operations-two"><input data-drupal-selector="edit-textboxes-items-0-operations-add" formnovalidate="formnovalidate" type="image" id="edit-textboxes-items-0-operations-add" name="textboxes_table_add_0" alt="+" title="+" class="image-button js-form-submit form-submit">
                    <input data-drupal-selector="edit-textboxes-items-0-operations-remove" formnovalidate="formnovalidate" type="image" id="edit-textboxes-items-0-operations-remove" name="textboxes_table_remove_0" alt="-" title="-" class="image-button js-form-submit form-submit">
                </td>
              </tr>
          </tbody>
        </table>
    </div>
    <div class="webform-multiple-add js-webform-multiple-add container-inline">
        <input data-drupal-selector="edit-textboxes-add-submit" formnovalidate="formnovalidate" type="submit" id="edit-textboxes-add-submit" name="textboxes_table_add" value="Add" class="button js-form-submit form-submit">
        <div class="js-form-item form-item js-form-type-number form-type-number js-form-item-textboxes-add-more-items form-item-textboxes-add-more-items form-no-label">
          <label for="edit-textboxes-add-more-items" class="visually-hidden">Add more items</label>
          <input data-drupal-selector="edit-textboxes-add-more-items" type="number" id="edit-textboxes-add-more-items" name="textboxes[add][more_items]" value="1" step="1" min="1" max="100" class="form-number">
          <span class="field-suffix">more items</span>
        </div>
    </div>
  </div>

  <fieldset id="edit-email-confirm--wrapper" class="webform-email-confirm--wrapper fieldgroup form-composite webform-composite-hidden-title js-webform-type-webform-email-confirm webform-type-webform-email-confirm js-form-item form-item js-form-wrapper form-wrapper">
    <legend>
        <span class="visually-hidden fieldset-legend">email confirm</span>
    </legend>
    <div class="fieldset-wrapper">
        <div class="js-form-item form-item js-form-type-email form-type-email js-form-item-email-confirm-mail-1 form-item-email-confirm-mail-1">
          <label for="edit-email-confirm-mail-1">email confirm</label>
          <input data-drupal-selector="edit-email-confirm-mail-1" class="webform-email form-email" type="email" id="edit-email-confirm-mail-1" name="email_confirm[mail_1]" value="" size="60" maxlength="254">
        </div>
        <div class="js-form-item form-item js-form-type-email form-type-email js-form-item-email-confirm-mail-2 form-item-email-confirm-mail-2">
          <label for="edit-email-confirm-mail-2">Confirm email</label>
          <input data-drupal-selector="edit-email-confirm-mail-2" class="webform-email-confirm form-email" type="email" id="edit-email-confirm-mail-2" name="email_confirm[mail_2]" value="" size="60" maxlength="254">
        </div>
    </div>
  </fieldset>

  <fieldset data-drupal-selector="edit-scale" id="edit-scale--wrapper" class="webform-scale--wrapper fieldgroup form-composite webform-composite-visible-title js-webform-type-webform-scale webform-type-webform-scale js-form-item form-item js-form-wrapper form-wrapper">
    <legend>
        <span class="fieldset-legend">SCALE</span>
    </legend>
    <div class="fieldset-wrapper">
        <div id="edit-scale" class="js-webform-webform-scale form-radios">
          <div class="webform-scale webform-scale-circle webform-scale-medium webform-scale-1-to-5">
              <div class="webform-scale-options">
                <div class="webform-scale-option">
                    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-scale form-item-scale">
                      <input data-drupal-selector="edit-scale-1" class="webform-scale-1 visually-hidden form-radio" type="radio" id="edit-scale-1" name="scale" value="1">
                      <label for="edit-scale-1" class="option">1</label>
                    </div>
                </div>
                <div class="webform-scale-option">
                    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-scale form-item-scale">
                      <input data-drupal-selector="edit-scale-2" class="webform-scale-2 visually-hidden form-radio" type="radio" id="edit-scale-2" name="scale" value="2">
                      <label for="edit-scale-2" class="option">2</label>
                    </div>
                </div>
                <div class="webform-scale-option">
                    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-scale form-item-scale">
                      <input data-drupal-selector="edit-scale-3" class="webform-scale-3 visually-hidden form-radio" type="radio" id="edit-scale-3" name="scale" value="3">
                      <label for="edit-scale-3" class="option">3</label>
                    </div>
                </div>
                <div class="webform-scale-option">
                    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-scale form-item-scale">
                      <input data-drupal-selector="edit-scale-4" class="webform-scale-4 visually-hidden form-radio" type="radio" id="edit-scale-4" name="scale" value="4">
                      <label for="edit-scale-4" class="option">4</label>
                    </div>
                </div>
                <div class="webform-scale-option">
                    <div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-scale form-item-scale">
                      <input data-drupal-selector="edit-scale-5" class="webform-scale-5 visually-hidden form-radio" type="radio" id="edit-scale-5" name="scale" value="5">
                      <label for="edit-scale-5" class="option">5</label>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </fieldset>

  <div class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-file-upload form-item-file-upload">
    <label for="edit-file-upload-upload" id="edit-file-upload--label">File UPLOAD</label>
    <div id="edit-file-upload" class="js-form-managed-file form-managed-file">
        <input data-drupal-selector="edit-file-upload-upload" type="file" id="edit-file-upload-upload" name="files[file_upload]" size="22" class="js-form-file form-file">
        <input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-file-upload-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-file-upload-upload-button" name="file_upload_upload_button" value="Upload">
        <input data-drupal-selector="edit-file-upload-fids" type="hidden" name="file_upload[fids]">
    </div>
    <div class="description">
        <div id="edit-file-upload--description" class="webform-element-description">One file only.<br>32 MB limit.<br>Allowed types: gif jpg png bmp eps tif pict psd txt rtf html odf pdf doc docx ppt pptx xls xlsx xml avi mov mp3 ogg wav bz2 dmg gz jar rar sit svg tar zip.</div>
    </div>
  </div>

  <div data-drupal-selector="edit-infomessage" class="webform-message js-webform-message webform-message--close js-webform-message--close js-form-wrapper form-wrapper" data-message-close-effect="slide" id="edit-infomessage">
    <div role="alert" aria-label="Information message" class="alert alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
        <h2 class="visually-hidden">Information message</h2>
        Example Info Message
    </div>
  </div>

  <div data-drupal-selector="edit-dangermessage" class="webform-message js-webform-message webform-message--close js-webform-message--close js-form-wrapper form-wrapper" data-message-close-effect="slide" id="edit-dangermessage">
    <div role="alert" aria-label="Danger message" class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
        <h2 class="visually-hidden">Danger message</h2>
        Example Danger Message
    </div>
  </div>

  <div data-drupal-selector="edit-successmessage" class="webform-message js-webform-message webform-message--close js-webform-message--close js-form-wrapper form-wrapper" data-message-close-effect="slide" id="edit-successmessage">
    <div role="alert" aria-label="Success message" class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
        <h2 class="visually-hidden">Success message</h2>
        Example Success Message
    </div>
  </div>

  <div data-drupal-selector="edit-warningmessage" class="webform-message js-webform-message webform-message--close js-webform-message--close js-form-wrapper form-wrapper" data-message-close-effect="slide" id="edit-warningmessage">
    <div role="alert" aria-label="Warning message" class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
        <h2 class="visually-hidden">Warning message</h2>
        Example Warning Message
    </div>
  </div>

</div>



</body>

<script src="/assets/vendor/js/jquery.js"></script>


  </html>

