

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../banner/banner.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
        
            <link media="all" rel="stylesheet" href="../slider/slider.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div id="slider1" class="slider slider__container slider__container-expanded">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

  
<div class="hero hero-- hero--   ">


      
      
      <div class="hero__container">
      <div class="hero__content">

        
                          
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="hero hero-- hero--   ">


      
      
      <div class="hero__container">
      <div class="hero__content">

        
                          
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="hero hero-- hero--   ">


      
      
      <div class="hero__container">
      <div class="hero__content">

        
                          
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Turning the Tide
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>

<div id="slider2" class="slider slider__container slider__container-expanded">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

  
<div class="hero hero-- hero--   ">


      
      
      <div class="hero__container">
      <div class="hero__content">

        
                          
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="hero hero-- hero--   ">


      
      
      <div class="hero__container">
      <div class="hero__content">

        
                          
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="hero hero-- hero--   ">


      
      
      <div class="hero__container">
      <div class="hero__content">

        
                          
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Turning the Tide
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>



</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../slider/slider.js"></script>
    </html>

