

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../banner/banner.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
        
            <link media="all" rel="stylesheet" href="../slider/slider.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div tabindex="0" class="slider__slide" >

  
<div class="banner banner-- banner--medium  vertical-bottom horizontal-left">


            
      <div class="banner__container">
      <div class="banner__content">

                          
        <div class="banner__text"></div>

              
      </div>
    </div>

  </div>

<style>
@media (min-width: 768px) {
  .banner--medium,
  .banner--medium.banner--vertical-center:not([class*="bg-"])  {
    height: 33rem;
  }

  .banner--small,
  .banner--small.banner--vertical-center:not([class*="bg-"]) {
    height: 18rem;
  }

  .banner--large .bold-headline {
    font-size: calc(100% + 3.5vw);
  }
}
</style>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../slider/slider.js"></script>
    </html>

