:root {
  --brand-gold: #FFCD00; }

.parent-site-name {
  font-weight: 300;
  flex-basis: content;
  margin: 0 0 -10px 0;
  padding: 1.05rem 0 0 1.25rem;
  width: 100%;
  background: var(--brand-gold); }
  @media (min-width: 855px) {
    .o-canvas--lock .parent-site-name {
      background: transparent; } }
  .parent-site-name a {
    color: #151515;
    text-decoration: none; }
  @media (min-width: 855px) {
    .parent-site-name {
      background: transparent;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 1px 0 0;
      width: auto; } }
