<div class="events-card__wrapper bg--gold">

	{% set events_card_position = 0 %}

	{% for item in events.items %}
		{% include "@events-block--basic" with {
        "events_classes": 'events-card__row',
        "events_card_image": item.events_card_image,
        "events_card_tag": item.events_card_tag,
        "events_card_title": item.events_card_title,
        "events_card_text": item.events_card_text,
        "events_card_date": item.events_card_date,
        "events_card_link_url": item.events_card_link_url,
        "events_card_link_title": item.events_card_link_title
      } %}

		{% set events_card_position = events_card_position + 1 %}
	{% endfor %}

</div>
