@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

////// Tabs

.tabs {
  margin: 0;
  list-style-type: none;
  //@extend %no-ul-list;

  &::before,
  &::after {
    display: table;
    content: ' ';
  }
}

[role="tablist"] {
  margin: 0 0 -0.1rem;
  overflow: visible;
  font-size: 0;
}

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 1rem 1rem;
  border: none;
  overflow: visible;
  font-family: $font-family-sans-serif;
  font-size: $content-font-size;
  font-weight: $font-weight-medium;
  background: none;

  [class*="bg--black"] & {
    color: $light;
  }

  &:hover::before,
  &:focus::before,
  &[aria-selected="true"]::before {
    position: absolute;
    bottom: 100%;
    right: -1px;
    left: -1px;
    content: "";
  }

  &[aria-selected="true"] {
    border-bottom: 5px solid $primary;
    border-radius: 0;
    outline: 0;

    [class*="bg--gold"] & {
      border-bottom-color: $secondary;
    }

    [class*="bg--black"] & {
      color: $primary;
    }

    &::after {
      position: absolute;
      z-index: 3;
      bottom: -1px;
      right: 0;
      left: 0;
      height: 0.3rem;
      box-shadow: none;
      content: "";
    }
  }

  &[aria-selected="false"] {
    border-bottom: 5px solid $grey-light;
    color: $med-gray;

    [class*="bg--gold"] & {
      border-bottom-color: $light;
    }

    [class*="bg--black"] & {
      color: $light;
    }
  }

  &:hover,
  &:focus,
  &:active {
    outline: 0;

    [class*="bg--black"] & {
      opacity: 0.7;
    }
  }

  &:hover::before,
  &:focus::before {
    border-color: $brand-cool-gray;
  }
}

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding-top: 1rem;

  &.is-hidden {
    display: none;
  }

  &:focus {
    border-color: $brand-cool-gray;
    outline: 0;
  }
}

[role="tabpanel"] * + p {
  margin-top: 1rem;
}
