.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .tabs > li {
    display: inline-block;
    list-style-type: none;
    margin: 0; }

.tabs {
  margin: 0;
  list-style-type: none;
  background: #fff; }
  .tabs::before, .tabs::after {
    display: table;
    content: ' ';
    flex: 1 0 0;
    order: 1; }
  .tabs::after {
    clear: both; }

[role="tablist"] {
  margin: 0 0 -0.1rem;
  overflow: visible;
  font-size: 0; }

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 0.8rem 1rem;
  border: none;
  overflow: visible;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  background: white; }
  [role="tab"]:hover::before, [role="tab"]:focus::before, [role="tab"][aria-selected="true"]::before {
    position: absolute;
    bottom: 100%;
    right: -1px;
    left: -1px;
    content: ""; }
  [role="tab"][aria-selected="true"] {
    border-bottom: 5px solid #FFCD00;
    border-radius: 0;
    background: white;
    outline: 0; }
    [role="tab"][aria-selected="true"]::after {
      position: absolute;
      z-index: 3;
      bottom: -1px;
      right: 0;
      left: 0;
      height: 0.3rrem;
      background: white;
      box-shadow: none;
      content: ""; }
  [role="tab"][aria-selected="false"] {
    border-bottom: 5px solid #cacaca;
    color: #666666; }
  [role="tab"]:hover, [role="tab"]:focus, [role="tab"]:active {
    outline: 0;
    border-radius: 0;
    color: inherit; }
  [role="tab"]:hover::before, [role="tab"]:focus::before {
    border-color: #63666A; }

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  border-radius: 0 0.2rem 0.2rem;
  background: white;
  font-family: "Zilla Slab", serif;
  padding-top: 1rem; }
  [role="tabpanel"].is-hidden {
    display: none; }
  [role="tabpanel"]:focus {
    border-color: #63666A;
    outline: 0; }

[role="tabpanel"] * + p {
  margin-top: 1rem; }
