.tabs {
  margin: 0;
  list-style-type: none; }
  .tabs::after, .tabs::before {
    display: table;
    content: ' '; }

[role="tablist"] {
  margin: 0 0 -0.1rem;
  overflow: visible;
  font-size: 0; }

[role="tab"] {
  position: relative;
  margin: 0;
  padding: 1rem;
  border: none;
  overflow: visible;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  background: none;
  transition: background 0.8s ease-out;
  cursor: pointer; }
  [class*="bg--black"] [role="tab"] {
    color: #f3f3f3; }
  [role="tab"][aria-selected="true"] {
    border-radius: 0;
    outline: 0; }
    [role="tab"][aria-selected="true"]::after {
      width: 100%;
      background: #FFCD00; }
    [role="tab"][aria-selected="true"]::before {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 8px;
      content: "";
      transition: 0.3s; }
    [role="tab"][aria-selected="true"]:focus::after, [role="tab"][aria-selected="true"]:hover::after {
      background: #FFCD00; }
    [role="tab"][aria-selected="true"]:focus::before, [role="tab"][aria-selected="true"]:hover::before {
      background: #63666A;
      width: 100%; }
    [class*="bg--gold"] [role="tab"][aria-selected="true"] {
      border-bottom-color: #151515; }
    [class*="bg--black"] [role="tab"][aria-selected="true"] {
      color: #FFCD00; }
  [role="tab"][aria-selected="false"] {
    color: #666666; }
    [role="tab"][aria-selected="false"]::after {
      width: 100%;
      background: #cacaca; }
    [class*="bg--gold"] [role="tab"][aria-selected="false"] {
      border-bottom-color: #f3f3f3; }
    [class*="bg--black"] [role="tab"][aria-selected="false"] {
      color: #f3f3f3; }
  [role="tab"]::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 6px;
    content: "";
    transition: 0.3s; }
  [role="tab"]:focus::after, [role="tab"]:hover::after {
    width: 100%;
    background: #63666A; }
  [role="tab"]:active, [role="tab"]:focus, [role="tab"]:hover {
    outline: 0; }
    [class*="bg--black"] [role="tab"]:active, [class*="bg--black"] [role="tab"]:focus, [class*="bg--black"] [role="tab"]:hover {
      opacity: 0.7; }

[role="tabpanel"] {
  position: relative;
  z-index: 2;
  padding-top: 1rem; }
  [role="tabpanel"].is-hidden {
    display: none; }
  [role="tabpanel"]:focus {
    outline: none; }

[role="tabpanel"] * + p {
  margin-top: 1rem; }
