
<header
class="iowa-bar iowa-bar--narrow"
>
<nav id="navigation"
  class="iowa-bar__container"
  data-uids-header
  aria-labelledby="sections-heading">

  <a class="skip-main" href="#main">Skip to main content</a>

  <div class="iowa-bar__inline top-nav">
    <div class="brand-site-name-toggle">
      <div class="brand-site-name">
        {% render '@logo' with { 'logo_id': 'header', }%}
        <h1 class="site-name" id="sections-heading" >
          <span></span>
          Universal Workflow
        </h1>
      </div>

      <div class="toggle">
        <a
          class="icon"
          role="button"
          title="menu"
          aria-expanded="false"
          href="javascript:void(0);"
          onclick="uidsUtils.navbar.menuToggle(this)"
        >
          <i class="fa fa-bars"></i>

        </a>
      </div>

    </div>

    <div class="right-links" id="myTopnav"  hidden>
      <a
        href="https://admissions.uiowa.edu/apply/apply?utm_source=uiowa&amp;utm_campaign=homepage_header"
        title="Apply"
      >
        <span class=""> Link 1</span><span></span>
      </a>
      <a
        href="https://admissions.uiowa.edu/apply/apply?utm_source=uiowa&amp;utm_campaign=homepage_header"
        title="Apply"
      >
        <span class=""> Link 2</span> <span></span>
      </a>

      <div class="dropdown">
        <a
          class="dropbtn"
          href="javascript:void(0);"
          onclick="uidsUtils.navbar.dropDown(this, 'target')"
        >
        <span>
        <i class="fa fa-user-alt"></i>
        <span class=""> user</span>
      </span>

          <span>
            <i class="fas fa-chevron-down"></i>
          </span>
        </a>
        <div class="dropdown-content" id="target" hidden>
          <a href="#">Link 1</a><span></span>
          <a href="#">Link 2</a><span></span>
          <a href="#">Link 3</a><span></span>
        </div>
      </div>
      <a
        href="https://admissions.uiowa.edu/apply/apply?utm_source=uiowa&amp;utm_campaign=homepage_header"
        title="Apply"
      >
        <span class=""> Link 4</span><span></span>
      </a>
    </div>


  </div>


</nav>
</header>
<!--
You should include a tabindex=”-1″ on the target of the skip link. IE and Chrome both require this attribute to be present to make the skip link work consistently.
-->
<main id="main" tabindex="-1">

  Main Body Content

</main>




