@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/utilities";

.iowa-bar--narrow .logo--tab {
  margin-right: 0px;
}





.links{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.top-nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content:space-between
}

.top{
  display: flex;
  flex-direction: row;
}

.site-name-wrapper{
  display: flex;
  flex-direction: row;
  flex: 1;
  width:100%;
  padding-left:0px;

  h1 >a {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1;
    font-family: "Roboto", sans-serif;
  }
}

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:6px 6px;

  background-color: $primary;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    color: $secondary;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 40px;
    height: 40px;
  }
  a:hover {
    background-color: $white;
    color: $secondary;
  }
}


.site-links {
  display: flex;
  flex-wrap:wrap;
  position: relative;

  a {
    float: none;
    display: none;
  }

  .dropdown {
    float: none;
    display: none;
  }
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;

  a {
    display: block;
  }

  .open a {
    display: block;
  }
}

//mobile
@media screen and (max-width: 855px) {


  .site-links.responsive{
    padding:10px;
    background-color: white;
  }

  .site-links.responsive a,
  .site-links.responsive .dropdown {
    float: none;
    display: block;

  }

  .site-links.responsive {
    position: absolute;
    width: 100%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.26);
  }

  .site-links.responsive a {
    color: $secondary;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
   // margin: 0 auto;
    text-align: center;
    height: 50px;
    width:100%;
    font-size: 1.6rem;

    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.05);
  }

  .dropdown .dropdown-content{

    a{
      color: #666;
      font-weight: 400;
      font-size: 1.2rem;
    }

    a:hover {

      text-decoration: underline ;
    }

  }



  .site-links a:hover {
    background-color: $white;
    color: $secondary;

    span {
      border-bottom-color: $secondary;
    }
  }

  .responsive .open {
    position: relative;
    display: block;
    width: 100%;
    border-top: none;
    z-index: 1;
    box-shadow: none;
    -webkit-box-shadow: none;
    top:0px;
  }

}

//desktop
@media screen and (min-width: 855px) {

  .uids .site-links a {
    float: left;
    display: block;
  }

  .wrap-links{
    display: flex;
    flex-wrap:wrap;
    flex: 1;
  }

  #myTopnav > div > div:nth-child(1) > a > span:nth-child(1){

    min-width: 90px;
  }

  .top-nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content:flex-start;
  }

    .site-name-wrapper{
    display: flex;
    flex: 1;
    width:100%;
    padding-left:20px;
  }

  .toggle {
    display: none;
  }

  .top{
    min-height: 50px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
  }

  .site-links{
    min-height: 50px;
    position: relative;
    display: flex;

    flex-direction: row;
    justify-content:flex-end;
    background-color: $primary;

  }


  .links{
    display: flex;
    width: auto;
    flex-direction: row;
  }

  .align-links{
   //padding-top: 6px;

  }

  .site-links {

    display: flex;
    flex:1;


    a {
      margin: 0px 5px 0px 5px;
      padding: 0px 10px 0px 10px;
      display: flex;
      float: left;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      color: $secondary;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      height: 100%;
      min-width: 90px;
      border-bottom: 3px solid;
      border-bottom-color: $primary;
    }

    a >span>i:last-child{
      margin-left:5px;
    }

    a>span>i:first-child{
      margin-right:5px;
    }

    a:hover {
      background-color: $white;
      color: $secondary;
      border-bottom: 3px solid;
      border-bottom-color: $secondary;
    }
  }

  .site-links .dropdown {
    float: left;
    display: block;
  }



  .dropdown-content a {
    margin: 0px 5px 0px 5px;
    padding: 0px 10px 0px 10px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    color: $secondary;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 50px;
    min-width: 90px;
    width: 100%;
    border-bottom: 3px solid;
    border-bottom-color: $primary;
  }


  .dropdown {
    float: left;
    position: relative;
    height: 100%;
  }

  .dropdown-content {
    display: none;
    position: relative;

    a {
      display: flex;
    }

    .open a {
      display: flex;
    }
  }

  .dropdown {
    background-color: $primary;
    float: left;
    position: relative;
    border: none;
  }



  .dropdown .open {
    background-color: $primary;
  }

  .open {
    background-color: $primary;
    border-top-color: $secondary;
    border-top: 3px solid;
    position: absolute;
    display: block;
    z-index: 1000;
    top: 52px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.26);
  }

  a.skip-main:focus,
a.skip-main:active {

  color: $white;
  background-color: $secondary;
  left: auto;
  top: 60px;
  width: 100%;
  height: 35px;
  overflow: auto;
  margin: auto;
  line-height: 35px;
  // border:4px solid $primary;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

}


a.skip-main {
  left: -999px;
 position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  width: 100%;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  position: relative;
  color: $white;
  background-color: $secondary;
  left: auto;
  width: 100%;
  height: 35px;
  overflow: auto;
  margin: auto;
  line-height: 35px;
  // border:4px solid $primary;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

.site-name {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

.site-name {
  //color: $secondary;
  //padding-left: 0px;

  span {
    height: 100%;
  }

  a {
    color: $secondary;
  }
}


