<header class="iowa-bar iowa-bar--narrow" data-uids-header>
  <div class="iowa-bar__inline top-nav">
    <div class="brand-site-name-toggle">

      <div class="brand-site-name">
        {% render '@logo' with { 'logo_id': 'header', }%}
        <h1 class="site-name">
          <span></span>
          Universal Workflow
        </h1>
      </div>

      <div class="toggle">
        <a
          href="javascript:void(0);"
          class="icon"
          onclick="uidsUtils.menuToggle()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>

    </div>

    <div class="right-links" id="myTopnav" >
      <a
        href="https://admissions.uiowa.edu/apply/apply?utm_source=uiowa&amp;utm_campaign=homepage_header"
        title="Apply"
      >
        <span class=""> Link 1</span>
      </a>
      <a
        href="https://admissions.uiowa.edu/apply/apply?utm_source=uiowa&amp;utm_campaign=homepage_header"
        title="Apply"
      >
        <span class=""> Link 2</span>
      </a>

      <div class="dropdown">
        <a
          class="dropbtn"
          href="javascript:void(0);"
          onclick="uidsUtils.dropDown('target')"
        >
          <span class=""> user <i class="fa fa-caret-down"></i></span>
        </a>
        <div class="dropdown-content" id="target">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <a
        href="https://admissions.uiowa.edu/apply/apply?utm_source=uiowa&amp;utm_campaign=homepage_header"
        title="Apply"
      >
        <span class=""> Link 4</span>
      </a>
    </div>
  </div>
</header>
