.logo-icon {
  display: block;
  margin-left: -2px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  .logo-icon--secondary & {
    fill: $primary;
  }

  @include breakpoint(container) {
    margin-top: 13px;
  }

  .header--tertiary & {
    margin-left: 0;

    @include breakpoint(container) {
      margin-top: 0;
    }
  }
}


.logo-icon--tab {
  background: $secondary;
  width: 107px;
  height: 70px;
  padding: 0 15px 0 20px;

  a:focus svg {
    opacity: .5;
  }

  @include breakpoint(menu) {
    width: 150px;
    height: 80px;
    margin-left: 0px;
    padding: 0 20px;
  }

  @include breakpoint(container) {
    width: 185px;
    height: 87px;
    padding: 5px 20px 25px;
  }

  .search-is-open & {
    visibility: none;
    opacity: 0;

    @include breakpoint(menu) {
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
}

.header--primary .logo-icon--tab,
.header--secondary .logo-icon--tab,
.header--tertiary .logo-icon--tab {
  @include breakpoint(container) {
    margin-left: -16px;
  }
}


.header--tertiary .logo-icon--tab {
  margin-right: 10px;
  background: #151515;

  @include breakpoint(menu) {
    width: 120px;
    height: auto;
    padding: 13px;
  }

  .search-is-open & {
    visibility: none;
    opacity: 0;

    @include breakpoint(menu) {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .logo-icon {
    height: 50px;
  }
}
