:root {
  --brand-primary: #FFCD00;
  --brand-secondary: #000000; }

.bg-primary {
  background: var(--brand-primary); }

.bg-secondary {
  background: var(--brand-secondary); }

.bg-cool-gray {
  background: #63666A; }

.bg-blue {
  background: #00558C; }

.bg-green {
  background: #00664F; }

.bg-orange {
  background: #BD472A; }

.text-white {
  color: #fff; }

.text--gray {
  color: #63666A; }

.text--gold {
  color: var(--brand-primary); }

.text--black {
  color: var(--brand-secondary); }

a.text--black {
  color: var(--brand-secondary); }
  [class*="bg-"] a.text--black,
  [class*="bg-"] [class*="bg-"] a.text--black {
    color: var(--brand-secondary); }

.text--white {
  color: #fff; }

.bg--gold {
  background: var(--brand-primary); }

.bg--black {
  background: var(--brand-secondary); }

.bg--gray {
  background: #f3f3f3; }

.bg--light {
  background: #fff; }

.bg-pattern--brain {
  background: #fff url("../../assets/images/brain-pattern.svg");
  background-size: auto auto; }

.bg-pattern--brain-reversed {
  background: var(--brand-primary) url("../../assets/images/brain-pattern-reversed.svg");
  background-size: auto auto; }

.bg-pattern--brain-black {
  background: var(--brand-secondary) url("../../assets/images/brain-pattern-black.svg");
  background-size: auto auto; }
