

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../vertical-video/vertical.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <div class="portrait__bg">
  <div class="portrait__wrapper">
    <ul class="portrait__container">
      <li class="portrait">
        <div class="portrait__item">
          <div class="embed-responsive embed-responsive-9by16">
            <div class="vidbttn">
              <span>Play</span>
            </div>
            <div class="youtube-player" data-id="KBSqfjfhHp0"></div>
          </div>
        </div>
      </li>
      <li class="portrait">
        <div class="portrait__item">
          <div class="embed-responsive embed-responsive-9by16">
            <div class="vidbttn">
              <span>Play</span>
            </div>
            <div class="youtube-player" data-id="maLqE1na-5Q"></div>
          </div>
        </div>
      </li>
      <li class="portrait">
        <div class="portrait__item">
          <div class="embed-responsive embed-responsive-9by16">
            <div class="vidbttn">
              <span>Play</span>
            </div>
            <div class="youtube-player" data-id="ibbNN201oDA"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../vertical-video/vertical.js"></script>
    </html>

