

      
        
                
<div class="banner banner--gradient-center banner--large  banner--vertical-center banner--horizontal-center">
                  <div class="media--video">
  <div class="video-controls video">
                <button class="video-btn video-btn__play" id="video-btn">
        <span class="element-invisible">Play</span>
      </button>
      </div>
  <video  muted="muted" loop="loop" id="video-container" poster="">
    <source src="../../assets/video/homepage-loop.mp4" type="video/mp4">
  </video>
  <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
  <!--[if lt IE 9]> <img src="" alt="" class=" ie8-poster"> <![endif]-->
</div>
      
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="headline bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="headline__text">Example</span>
        </a>
  </h2>
                  
        <div class="banner__text"><p>Every Hawkeye has a role to play in <a href="https://coronavirus.uiowa.edu">preventing</a> the spread of COVID-19.<br /> Find out what Iowa’s doing—and what you can do—to make your return to campus safer.</p></div>

                            <div class="banner__action">
                                          <div aria-hidden="true" class="bttn bttn--secondary bttn--caps" id="desc-a-card">
                  View Story
                  <i class="fas fa-arrow-right"></i>
                </div>
                                    </div>
                  
      </div>
    </div>

  </div>

<style>
@media (min-width: 768px) {
  .banner--large,
  .banner--large.banner--vertical-center:not([class*="bg-"])  {
    min-height: 48rem;
  }

  .banner--medium,
  .banner--medium.banner--vertical-center:not([class*="bg-"])  {
    min-height: 33rem;
  }

  .banner--small,
  .banner--small.banner--vertical-center:not([class*="bg-"]) {
    min-height: 18rem;
  }

  .banner--large .bold-headline {
    font-size: calc(100% + 3.5vw);
  }
}
</style>

