@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.cta__wrapper {
    padding: $xlg $mobile-width-gutter;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    justify-content: center;

    > div {
      flex-basis: 100%;
    }

    &.cta--left {
      @include breakpoint(md) {
        justify-content: unset;
        text-align: left;
      }
    }

  &.cta--left-right {
    @include breakpoint(md) {
      justify-content: left;
      text-align: left;
      .cta__content,
      .cta__link {
        flex: 0 1 48%;
      }
      .cta__link {
        margin-left: auto;
      }
    }
  }
}

