.bg-primary {
  background: #FFCD00; }

.bg-secondary {
  background: #151515; }

.bg-cool-gray {
  background: #63666A; }

.bg-blue {
  background: #00558C; }

.bg-green {
  background: #00664F; }

.bg-orange {
  background: #BD472A; }

.text-white {
  color: #fff; }

.bg--gold {
  background: #FFCD00; }

.bg--black {
  background: #151515; }

.bg--gray {
  background: #f3f3f3; }

.bg-pattern--brain {
  background: #fff url("../../assets/images/brain-pattern.svg");
  background-size: auto auto; }

.bg-pattern--brain-reversed {
  background: #FFCD00 url("../../assets/images/brain-pattern-reversed.svg");
  background-size: auto auto; }

.bg-pattern--brain-black {
  background: #151515 url("../../assets/images/brain-pattern-black.svg");
  background-size: auto auto; }
