.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary;
}

.bg-cool-gray {
  background: $brand-cool-gray;
}

.bg-blue {
  background: $info;
}

.bg-green {
  background: $success;
}

.bg-orange {
  background: $danger;
}

.text-white {
  color: $white;
}

// uids classes

.uids-component--center {
  @extend %uids-component--center;
}

.uids-component--flex-center {
  @extend %uids-component--flex-center;
}

.uids-component--left {
  @extend %uids-component--left;
}

.uids-component--flex-left {
  @extend %uids-component--flex-left;
}

.uids-component--gold {
  @extend %uids-component--gold;
}

.uids-component--black {
  @extend %uids-component--black;
}

.uids-component--gray {
  @extend %uids-component--gray;
}

.uids-component--brain {
  @extend %uids-component--brain;
}

.uids-component--brain-reversed {
  @extend %uids-component--brain-reversed;
}

.uids-component--brain-black {
  @extend %uids-component--brain-black;
}
