
<h2>Primary Colors</h2>
<div class="bg-primary">Primary</div>
<div class="bg-secondary text-white">Secondary</div>
<h2>Secondary colors</h2>
<div class="bg-cool-gray text-white">PMS Cool Gray</div>
<div class="bg-blue text-white">PMS 7462</div>
<div class="bg-green text-white">PMS 336</div>
<div class="bg-orange text-white">PMS 7598</div>



<style>
  div {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
  }
</style>
