
<h2>Primary Colors</h2>
<div class="bg-primary">Primary: #FFCD00</div>
<div class="bg-secondary text-white">Secondary: #151515</div>
<h2>Secondary colors</h2>
<div class="bg-cool-gray text-white">#63666A</div>
<div class="bg-blue text-white">#00558C</div>
<div class="bg-green text-white">#00664F</div>
<div class="bg-orange text-white">#BD472A</div>




<style>
  div {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
  }
</style>
