html {
  touch-action: manipulation;
}


main.page__container.hds-content {
  margin-top: 70px;
}

header.main-iowa {
  .search-is-open & {
    @include breakpoint(menu) {
      background: $secondary;
      padding-bottom: 32px;
    }
  }
}

img {
  width: 100%;
}

header {
  position: relative;
  z-index: 400;
  margin-bottom: 0;

  @include breakpoint(menu) {
    //margin-bottom: 60px;
  }
}


.uiowa-bar {
  position: relative;
  z-index: 400;
  display: block;
  height: 80px;
  background: $primary;


  &.dept-menu {
    height: 50px;
  }


  &.main-iowa {
    background: $primary;

    @include breakpoint(menu) {
      background: $primary;
    }
  }
}

// department header

.site_name--wrapper {
  position: relative;
  z-index: 200;
  border-bottom: 1px solid #ccc;
  background: #fff;

  @include breakpoint(menu) {
    position: unset;
  }

  .o-canvas--lock & {
    background: #f1f1f1;
  }

  .page__container {
    display: flex;
    min-height: 90px;
    justify-content: space-between;

    @include breakpoint(mobilemenu) {
      margin-left: 0;
    }

    margin-right: 0;
    flex-wrap: wrap;

    @include breakpoint(container) {
      position: unset;
      justify-content: unset;
      margin-right: auto;
      margin-left: auto;
    }

    @include breakpoint(menu) {
      position: unset;

    }
  }
}

.subnav-true.site_name--wrapper .page__container {
  min-height: auto;
}

.dept-menu {
  .bttn--drawer.bttn--menu.inactive {
    background: #f1f1f1;
  }

  .bttn--drawer.bttn--menu.active {
    background: #fff;

  }

  .bttn--drawer.bttn--search.active {
    background: #fff;
  }

  .bttn--drawer.bttn--menu {
    .o-canvas--complete & {
      background: #f1f1f1;
    }
  }

}

/*
.search-is-open.o-canvas--complete .dept-menu .bttn--drawer.bttn--menu {
  @include breakpoint(menu) {
    background: #fff;
  }
}
*/


.dept-menu {
  .bttn--drawer {
    height: 60px;

    @include breakpoint(menu) {
      height: 90px;
    }

    @include breakpoint(container) {
      top: 50px;

    }

    display: flex;
  }
}




.uiowa-bar .page__container {
  position: unset;
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  flex-wrap: wrap;

  @include breakpoint(mobilemenu) {
    margin-left: 0;
  }

  @include breakpoint(container) {
    justify-content: unset;
  }

  @include breakpoint(menu) {
    margin-right: auto;
  }

  &.dept-menu {
    height: 50px;
  }
}


.uiowa-bar.dept-menu .page__container {
  justify-content: initial;
}

.uiowa-bar__slogan {
  //width: 100%;
  margin: 0;
  padding: 16px 0 30px 0;
  flex-basis: content;

  @include breakpoint(menu) {
    display: flex;
    align-items: center;
    width: auto;
    padding: 1px 0 0;
  }
}


.uiowa-bar__title {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
  //padding-bottom: 5px;
  font-size: calc(100% + 1.4vw);
  font-weight: 300;
  text-align: left;
  width: 100%;
  flex-basis: content;

  @include breakpoint(mobilemenu) {
    font-size: calc(100% + 1.2vw);
  }

  @include breakpoint(menu) {
    font-size: calc(100% + 1.4vw);
    margin: 0 0 0 20px;
  }

  @include breakpoint(container) {
    margin: 0 0 0 20px;
    font-size: 2.2rem;
    text-align: left;
  }

  .dept-menu & {
    width: 80%;
    margin: 0;
    padding: 20px;
    text-align: left;


    @include breakpoint(menu) {
      width: auto;
      padding: 25px 20px 25px 0;
    }
  }
}

@media (max-width: 1018px) and (min-width: 855px) {

.dept-menu .uiowa-bar__title {
     font-size: calc(100% + 1vw);
  }
}



// drawer container

.o-canvas__group {
  display: flex;
  height: 100%;

  @include breakpoint(container) {
    position: absolute;
    top: 0;
    right: 0;
  }

  .region-primary-menu {
    height: 80px;
  }
}

// traditional navigation below logo
.dept-menu .o-canvas__group {
  display: flex;
  height: 100%;
  position: relative;

  @include breakpoint(container) {
    position: absolute;
  }
}

.subnav-true.menu-horizontal {
  padding-top: 0;
  border-bottom: 1px solid #ccc;
}

.sub-menu.menu-horizontal,
.subnav-true.menu-horizontal {
  display: none;

  @include breakpoint(menu) {
    display: block;
  }
}

.sub-menu,
.subnav-true {
  .bttn--menu {
    @include breakpoint(menu) {
      display: none;
    }
  }

}

// transparent overlay

body {
  &.o-canvas--lock::before {
    visibility: visible;
    opacity: 1;
  }

  &.o-canvas--lock {
    overflow: hidden !important;
  }

  &:before {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    content: "";
    transition: opacity .35s;
    pointer-events: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.55);
  }
}

.o-canvas__menu {
  .hds-search {
    display: block;

    @include breakpoint(menu) {
      display: none;
    }
  }
}

.o-canvas__group {
  flex-basis: 100%;

  @include breakpoint(menu) {
    flex-basis: unset;
  }
}

// buttons

.bttn--drawer.bttn--search {
  display: none;

  @include breakpoint(menu) {
    display: flex;
  }

  &.active {
    background: #fff;
  }

  &:before {
   /* content: '';
    background: url(../images/search-01.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    */
  }
}



.bttn--drawer.bttn--menu {

  .o-canvas--complete & {
    background: #fff;
  }

  &.active {
    background: #fff;
  }

  &.inactive {
    background: #fff;
  }

  &:before {
       padding: $xsm;
       padding-right: 7px;
       content: "\f0c9";
       color: $secondary;
       font-size: 1.5rem;
       @include fas();
margin-right: 10px;
       @include breakpoint(menu) {
         font-size: 1.2rem;
       }
   /* content: '';
    background: url(../images/menu-01.svg);
    background-repeat: no-repeat;

    @include breakpoint(menu) {}
    */
  }
}

.bttn--drawer.bttn--menu {
  @include breakpoint(mobilemenu) {
    justify-content: left;
    width: 100%;
  }
}

.bttn--drawer.bttn--menu.inactive {
  @include breakpoint(mobilemenu) {
    background: #f1f1f1;
  }
}

.bttn--drawer.bttn--menu.active {
  @include breakpoint(mobilemenu) {
    background: #f1f1f1;
  }
}


.o-canvas__wrapper {
  @include breakpoint(mobilemenu) {
    width: 100%;
  }

  button>* {
    pointer-events: none;

  }

  .bttn--primary {
    background: none;
  }
}
/*
.search-is-open .bttn--drawer.bttn--menu.inactive,
.search-is-open .bttn--drawer.bttn--menu {
  @include breakpoint(menu) {
    background: none;
  }
}
*/

.bttn--drawer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 0 0 20px;


  &:focus {
    /* Some exciting button focus styles */
    outline: none;
  }

  &:focus:not(:focus-visible) {
    /* Undo all the above focused button styles
     if the button has focus but the browser wouldn't normally
     show default focus styles */
  }

  &:focus-visible {
    /* Some even *more* exciting button focus styles */
    outline: lightgreen solid 2px;
  }


  @include breakpoint(menu) {
    padding: 13px 35px 0;
    height: 80px;
  }

  span {
    @include breakpoint(menu) {
      display: inline;
    }
  }

  .o-canvas--open & {
    color: $secondary;
  }

  &:before {
    margin-right: 0;
    padding: 1rem .9rem 1rem 2rem;
    color: $secondary;
    font-size: $base-font-size;

    @include breakpoint(menu) {
      margin-right: 5px;
      padding: .8rem 1rem;
    }

    @include fas();

    .o-canvas--open & {
     /* content: '';
      color: $secondary;
      background: url(../images/close-01.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: 70%;
*/
  content: "\f00d";
  background:#999;
  padding: 7px;
  border-radius: 50%;
    width: 25px;
    height: 25px;

  margin-right: 10px;
  //   box-shadow: 0px 15px 10px -16px #111;
  //background: $secondary;
  color: $white;
      font-size: 1rem;
      line-height: .8;
      @include breakpoint(menu) {
       width: 35px;
       height: 35px;
       font-size: 1.2rem;
       line-height: 1;;

      }
    }
  }
}




// off canvas drawer

.o-canvas__drawer {
  position: fixed;
  z-index: 400;
  right: 0;
  display: block;
  visibility: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 560px;
  height: calc(100% - 80px);
  padding: 20px 22px 40px;
  transition: clip-path 1s, opacity .5s, transform .5s, visibility .5s;
  transform: scale(0.925);
  transform-origin: right top;
  opacity: 0;
  background: #fff;

    @include breakpoint(menu) {
 padding: 40px 35px;
    }
  .o-canvas--open & {
    top: 140px;

    @include breakpoint(menu) {
      top: 80px;
    }

    visibility: visible;
    height: calc(100% - 80px);
    transition: all .4s ease-in-out;
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 8px 8px 0 rgba(63, 63, 70, .25);
  }
}

.dept-menu .o-canvas__drawer {
  top: 195px;

  @include breakpoint(menu) {
    top: 140px;
  }
}

.dept-menu .o-canvas--open .o-canvas__drawer {
  top: 195px;

  @include breakpoint(menu) {
    top: 140px;
  }
}

header.main-iowa {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    transition: transform 0.4s;
}




body:before {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.75);
  content: "";
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s;
  transition: opacity .35s, visibility .35s;
}



/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scroll-down header.main-iowa {
  transform: translate3d(0, -100%, 0);

}

.scroll-up header.main-iowa {
  transform: none;

}

.scroll-down .logo-icon--tab {
    margin-top: -16px;
}

.scroll-up:not(.menu-open) header.main-iowa {

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
