@mixin card-enclosed {
  @include breakpoint(sm) {
    border: 1px solid rgba(0, 0, 0, 0.125);
    .bg--black &,
    .bg--gold &,
    .bg-pattern--brain--black &,
    .bg-pattern--brain--gold & {
      border: 1px solid #fff;
    }
  }

  .card__body {
    padding: 2rem;
  }

  .bttn {
    margin-bottom: 0;
  }
}


@mixin card-header {
  margin: 0 0 $sm;
  padding: 0;
  font-size: 1.5rem;
  font-weight: $font-weight-medium;
  line-height: 1.2;

    .bg--black &,
    .bg-pattern--brain--black & {
      color: #fff;
      a {
        color: #fff;
      }
    }

    .bg--gold &,
    .bg--light &,
    .bg--gray &,
    .bg-pattern--brain--gold &
    .bg-pattern--brain-reversed &,
    .bg-pattern--brain & {
      color: $secondary;
      a {
        color: $secondary;
      }
    }

  a {
    text-decoration: none;
    color: $secondary;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


@mixin card-title {
  margin-bottom: .75rem;
}

@mixin card-body {
  flex: 1;
  color: $secondary;
  padding: 2rem;
  min-height: 1px;
  line-height: 1.7;

  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  @include breakpoint(sm) {
    padding: 2rem 0;
  }

  ul,
  ol,
  dl,
  table {
    font-size: 1rem;
    line-height: 1.7;
  }
}

@mixin card-subtitle {
  color: #575757;
  font-family: $font-family-serif;
  font-size: 1.3rem;
  font-weight: $font-weight-medium;
  line-height: 1.3;
}

@mixin card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  text-decoration: none;
  flex-grow: 1;
  @include flexbox;
  @include flex($fg: 1, $fs: 1, $fb: 0%);
  @include flex-direction($value: column);
  border: 1px solid rgba(0, 0, 0, 0.125);

  &:focus-within .card__title a:focus {
    text-decoration: underline;
  }

  @include breakpoint(sm) {
    border: none;
    margin-bottom: 0;
  }
}

@mixin card-paragraph {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.7;

  .bg--black &,
  .bg-pattern--brain--black & {
    color: #fff;
    a {
      color: #fff;
    }
  }

     .bg--gold &,
     .bg--light &,
     .bg--gray &,
     .bg-pattern--brain--gold & .bg-pattern--brain-reversed &,
     .bg-pattern--brain & {
       color: $secondary;

       a {
         color: $secondary;
       }
     }


  a {
    position: relative;
    z-index: 1;
  }
}

@mixin card-img-top {
  min-height: 1px;
}


@mixin card-media {
  flex-shrink: 0;
  width: 100%;
  min-height: 1px;

  img {
    flex-shrink: 0;
    width: 100%;
    @include card-img-top;
  }
}

@mixin card-media-horizontal-right {
  @include breakpoint(sm) {
    flex: 0 0 35%;
    max-width: 35%;
    margin-left: $gutter;
  }
}

@mixin card-media-small {
  @include breakpoint(sm) {
    flex: 0 0 25%;
    width: 25%;
  }
}

@mixin card-media-medium {
  @include breakpoint(sm) {
    flex: 0 0 37.5%;
    width: 37.5%;
  }
}

@mixin card-media-large {
  @include breakpoint(sm) {
    flex: 0 0 50%;
    width: 50%;
  }
}
