@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
  text-decoration: none;
  flex-grow: 1;

  header {
    margin-bottom: .75rem;

    margin: 0 0 $sm;
    padding: 0;
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    line-height: 1.2;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}


.card__media {
  flex-shrink: 0;
  width: 100%;
  min-height: 1px;

  img {
    flex-shrink: 0;
    width: 100%;
    min-height: 1px;
  }
}
