@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';
@import '../../assets/scss/border';

// === Card === //
.card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 2rem;
  text-decoration: none;
  @include border;
  @include flexbox;
  @include flex($fg: 1, $fs: 1, $fb: 0%);
  @include flex-direction($value: column);

  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }

  ul,
  ol,
  dl,
  table {
    font-size: 1rem;
    line-height: 1.7;
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    line-height: 1.7;

    a {
      position: relative;
      z-index: 1;
    }
  }

  header {
    margin: 0 0 0.525rem;
    padding: 0;
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    line-height: 1.2;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .headline {
      font-size: 1.5rem;
    }

    &:focus-within ~ .bttn {
      background-position: 0;
      background-size: 200% 100%;

      i,
      svg {
        color: $secondary;
      }
    }
  }

  &:focus-within header a:focus {
    text-decoration: underline;
  }

  footer {
    .bttn {
      margin-top: 2rem;
    }
  }
}
// === End: Card === //

// === Elements === //
// === Media === //
.card {
  // Overrides for shared media classes.

  > .media {
    margin-top: 0;
    text-align: center;
    min-width: 9.375rem;

    img {
      width: 100%;
      object-fit: cover;
    }

    // @todo this collides with uids_base iframe styles.
    //embed,
    //iframe,
    //object,
    //video {
    //  position: relative;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  width: 100%;
    //  height: 100%;
    //  border: 0;
    //}

    iframe {
      border: none;
    }

    &.media--small,
    &.media--medium {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // Allows the media to run edge to edge for stacked cards.
  .media__inner {
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .media--circle {
    display: block;

    // We override padding for the circle format since it doesn't look good against the edges.
    // Allows the media to run edge to edge for stacked cards.
    .media__inner {
      margin-left: 0;
      margin-top: 0;
      margin-right: 0;
    }
    &.media--small {
      max-width: 9.375rem;
    }
    &.media--medium {
      max-width: 15.625rem;
      @include breakpoint(sm) {
        max-width: 60%;
      }
    }
  }

  .media--square {
    img,
    iframe {
      aspect-ratio: 1 / 1;
    }
  }

  .media--widescreen {
    img,
    iframe {
      aspect-ratio: 16 / 9;
    }
  }
}
// === End: Media === //

// === Subtitle === //
.card__subtitle {
  opacity: .7;
  font-family: $font-family-serif;
  font-size: 1.3rem;
  font-weight: $font-weight-medium;
  line-height: 1.4;
}
// === End: Subtitle === //

// === Details === //
.card__details {
  margin: -0.4rem 0 $sm;
}
// === End: Details === //

// === Meta === //
.card__meta {
  font-family: $font-family-sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: $font-weight-normal;
  .fas {
    margin-right: .3rem;
  }
}
// === End: Meta === //

// === Body === //
.card__body {
  line-height: 1.7;
}
// === End: Body === //

// === End: Elements === //

// === Modifiers === //
// === Borderless === //
// Remove the outline from a card.
.card.borderless {

  // When the card has no background, we remove padding and reset our .media margins.
  &:not([class*="bg--"]){
    padding: 0;

    .media__inner {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }

    &.card--layout-left {
      .media__inner {
        @include breakpoint(sm) {
          margin-right: 2rem;
        }
      }
    }

    &.card--layout-right {
      .media__inner {
        @include breakpoint(sm) {
          margin-left: 2rem;
        }
      }
    }
  }
}
// === End: Borderless === //

// === Centered === //
.card--centered {
  text-align: center;
}

.card--button-align-bottom {
  &:not([class*="card--layout"]){
    .card__body {
      @include breakpoint(sm) {
        flex: 1;
      }
    }
  }
  .card__body {
    @include breakpoint(sm) {
      display: flex;
      flex-direction: column;
    }
  }
  footer {
    @include breakpoint(sm) {
      margin-top: auto;
    }
  }
}
// === End: Centered === //

// === Media padded === //
.card--media-padded {
  .media__inner {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
}
// === End: Media padded === //

// === Layout left and layout right shared === //
.card--layout-left,
.card--layout-right {
  .media__inner {

  }
  @include breakpoint(sm) {
    display: flex;
    flex-direction: row;
    width: 100%;

    .media__inner {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
    }
  }

  > * {
    flex-basis: 100%;
  }

  .media--small.media--circle {
    max-width: 11.375rem;
  }

  .media--small.media--square {
    @include breakpoint(sm) {
      max-width: 11.375rem;
    }
  }

  .media--small.media--widescreen {
    @include breakpoint(sm) {
      max-width: 15.625rem;
    }
  }

  .media--medium {
    &.media--circle {
      @include breakpoint(sm) {
        max-width: none;
      }
    }
    @include breakpoint(sm) {
      flex: 0 0 35%;
    }
  }

  .media--large {
    @include breakpoint(sm) {
      flex: 0 0 52.5%;
    }
  }
}
// === End: Layout left and layout right shared === //

// === Layout left === //
.card--layout-left {
  @include breakpoint(sm) {
    flex-direction: row;

    .media__inner,
    // Add margin back in for media--circle since we removed it before.
    .media--circle .media__inner {
      margin-right: 2rem;
    }
  }
}
// === End: Layout left === //

// === Layout right === //
.card--layout-right {
  @include breakpoint(sm) {
    flex-direction: row-reverse;

    .media__inner,
    // Add margin back in for media--circle since we removed it before.
    .media--circle .media__inner {
      margin-left: 2rem;
    }
  }
}
// === End: Layout right === //

// === Background colors === //
// Remove padding if container background matches card background with borderless.
$bg-colors: "white", "gray", "black", "gold";

@each $color in $bg-colors {
  .bg--#{$color} {
    .card.bg--#{$color}[class*="borderless"] {
      padding: 0;
      &:not([class*="card--layout"]) {
        .media__inner {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
        }
      }
    }
  }
}

// === End: Background colors === //
/* === End: Card modifiers === */
