@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.card {
  @include card;

  &--enclosed {
    @include card-enclosed;

    &.card--centered,
    &.card--stacked {

      .media--circle,
      .card__media--small,
      .card__media--medium {
        margin-top: 2rem;
      }
    }
  }

  &__title {
    @include card-header;

    &:focus-within~.bttn {
      background-position: 0px;
      background-size: 200% 100%;

      i,
      svg {
        color: $secondary;
      }
    }
  }

  .bttn {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 90%, #ffcd00 90%, #ffcd00 100%);
    background-position: 0px -20px;
    background-size: 200% 200%;
    transition: all .25s ease-in;
  }

  p+.bttn,
  p+.btn {
    margin-top: $md;
  }

  &__subtitle+p,
  &__subtitle+.bttn,
  &__subtitle+.btn {
    margin-top: $sm;
  }

  &--centered {
    text-align: center;


    &.card--media-right,
    &.card--media-left {
      flex-direction: column;

      .card__media+.card__body {
        @include breakpoint(sm) {
          padding: 2rem 0 0 0;
        }
      }
    }

    &[class*="bg-"] {
      padding: 2rem;
    }
  }

  .card__media--small,
  .card__media--medium,
  .card__media--large {
    @include breakpoint(sm) {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  }

  &.card--stacked {
    .card__media--large {
      @include breakpoint(sm) {
        display: block;
      }
    }
  }

  &.media--widescreen {
    .card__media--small {
      @include breakpoint(sm) {
        max-width: 60%;
      }
    }

    .card__media--medium {
      @include breakpoint(sm) {
        max-width: 75%;
      }
    }
  }

  &.media--square,
  &.media--circle {
    .card__media--small {
      @include breakpoint(sm) {
        max-width: 160px;
      }

      img {
        align-self: start;
      }
    }
  }

  .card__media--medium {
    @include breakpoint(sm) {
      max-width: 60%;
    }

    img {
      align-self: start;
    }
  }

  &__media {
    @include card-media;
  }

  &__img {
    align-self: start;
    width: 100%;
  }

  &__body {
    @include card-body;
  }

  &__details {
    margin: 0 0 $sm;
  }

  p {
    @include card-paragraph;
  }

  &__subtitle {
    @include card-subtitle;
  }

  &__date {
    font-family: $font-family-sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: $font-weight-normal;

    .bg--black & {
      color: $primary;
    }
  }

  &__label {
    font-family: "Zilla Slab", serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 20px;
    line-height: 1.3;
    margin-top: $xsm;

    .fas,
    .svg-inline--fa {
      color: $grey;
      padding-right: $xsm;
      font-size: 1rem;
      line-height: 1.2;
      position: absolute;
      margin-left: -20px;


      .bg--gold & {
        color: white;
      }
    }

    .svg-inline--fa {
      width: 17px;
    }
  }

  &.card--media-right,
  &.card--media-left {

    &.card--enclosed,
    &[class*="bg-"] {
      padding: 2rem;
    }

    .card__media--large {
      @include card-media-large;
    }

    .card__media--small {
      @include card-media-small;
    }

    .card__media--medium {
      @include card-media-medium;
    }


    .card__media+.card__body {
      @include breakpoint(sm) {
        padding: 0 0 $md 2rem;
      }
    }

    .media--circle {

      +.card__body {
        @include breakpoint(sm) {
          padding: 0 0 0 $gutter;
        }
      }
    }

    &.card--media-right {
      .card__media.media--circle+.card__body {
        @include breakpoint(sm) {
          padding: 0 $gutter 0 0;
        }
      }

      .card__media+.card__body {
        @include breakpoint(sm) {
          padding: 0 2rem $md 0;
        }
      }
    }

    .card__body {
      flex: 0 1 100%;
      padding: 2rem;

      @include breakpoint(sm) {
        padding: 0;
      }

      min-height: 1px;
    }



    @include breakpoint(sm) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: unset;
      width: 100%;
      margin-bottom: 1.6rem;
    }

    .card__title {
      font-family: $font-family-serif;
      font-weight: $font-weight-bold;

      @include breakpoint(sm) {
        padding: 0;
        margin: 0 0 $xsm;
      }
    }

    .bttn--outline {
      //display: table;
      //width: max-content;

      &:after {
        width: auto;
      }
    }
  }

  &--media-right {
    flex-direction: row-reverse;


    &.card--enclosed,
    &.card {
      flex-direction: row-reverse;
    }
  }

  // @todo move card header to separate component
  &__head {
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    @include center(horizontal);

    @include breakpoint(sm) {
      padding: 0 0 2rem 0;
    }

    @include breakpoint(menu) {
      margin: 0;
      display: block;
    }

    p {
      @include brand-cool-gray;
      margin: 0;
    }

    .bold-headline {
      display: block;
    }

    .bttn {
      flex-basis: 100%;
      padding-top: $sm;

      @include breakpoint(sm) {
        padding-top: $md;
      }

      &.bttn--link:hover,
      &.bttn--link:focus {
        background: transparent;
        text-decoration: underline;
      }
    }

    h2 {
      margin: 0;
      padding: 0;
    }
  }
}
