{% render '@header' %}

<main>
{% render '@hero' %}
{% render '@cta' %}
{% render '@stat' %}

{% render '@card' %}
{#{% render '@hero--grid' %}#}

{% render '@vertical' %}
</main>
{% render '@prototype-footer' %}
