 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  color: $secondary;
  font-weight: $font-weight-medium;
  line-height: 1.125;
  letter-spacing: 0;
}

 h1, .h1 {
  font-size: $h1-font-size;
  @include margin($top: $sm, $bottom: $sm);
}
/*
 h1:not(:first-child) {
  @include margin($top: $sm-md);
}
*/

 h2, .h2 {
  font-size: $h2-font-size;
  @include margin($top: 0, $bottom: $sm);
}

 h2:not(:first-child) {
  @include margin($top: $lg);
}

 h3, .h3 {
  font-size: $h3-font-size;
  @include margin($top: 0, $bottom: $sm);
}

 h3:not(:first-child) {
  @include margin($top: $lg);
}

 h4, .h4 {
  font-size: $h4-font-size;
  @include margin($top: 0, $bottom: $sm);
}

 h4:not(:first-child) {
   @include margin($top: $lg);
 }


 h5, .h5 {
  font-size: $h5-font-size;
  @include margin($top: 0, $bottom: $sm-md);
}

 h5:not(:first-child) {
   @include margin($top: $lg);
 }


 h6, .h6 {
  font-size: $h6-font-size;
  @include margin($top: 0, $bottom: $sm-md);
}

 h6:not(:first-child) {
   @include margin($top: $lg);
 }

