{# @todo Add option for additional classes to <li>. #}
<li class="menu-item">
  <a href="{{ item.url }}">{% if item.icon_class %}<i class="{{ item.icon_class }}"></i><span class="link-text">{% endif %}{{ item.text }}{% if item.icon_class %}</span>{% endif %}</a>

  {# If there is a child menu under this link, render it. #}
  {% if item.children %}
    {% include "@menu" with {
      items: item.children,
    } %}
  {% endif %}
</li>
