@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.program {
  margin: 1.5rem 0;

  .program__container {
    border: none;
    margin-bottom: 1.5rem;

    @include breakpoint(sm) {
      text-align: center;
      margin-bottom: $desktop-width-gutter;
    }

  }

  .program__wrapper {
    padding: 0 2%;

    @include breakpoint(sm) {
      padding: 0 7%;
    }

  }

  .program__wrapper:after {
    content: "";
    display: block;
    margin: 0 auto 1.5rem;
    border-bottom: 1px solid lightgray;
    width: 70%;

    @include breakpoint(sm) {
      margin: 0 auto $desktop-width-gutter;
      width: 80%;
    }

  }

  .program__bottom__wrapper {

    @include breakpoint(sm) {
      display: flex;
    }

  }

  .program__excerpt__wrapper {
    padding: 0 2%;
    border-right: 1px solid lightgray;

    @include breakpoint(sm) {
      flex: 50%;
    }

  }

  .program__excerpt__wrapper:after {
    content: "";
    display: block;
    border-bottom: 1px solid lightgray;
    margin: 0 auto 1.5rem;
    width: 70%;

    @include breakpoint(sm) {
      border-bottom: none;
    }

  }

  .program__cta__wrapper {
    padding: 0 2%;

    @include breakpoint(sm) {
      flex: 50%;
      text-align: center;
    }

  }

}
