.o-canvas__wrapper .menu--group.menu--reversed {
  display: block !important;
  @include breakpoint(menu) {
    display: none !important;
  }
}


.menu--top {
  display: none!important;
   @include breakpoint(menu) {
     display: flex!important;
   }
  padding-top: 5px;
  .menu {
    li {
      a {
        &:hover {
        }
      }
    }
  }
}



.region-primary-menu.menu--top .menu li a {
  font-weight: 300;
}
