@use 'breakpoints';
@use 'variables';

@mixin twocol-grid {
  column-gap: var(--space-lg-width-gutter);
  row-gap: variables.$gutter;
  grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
}

@mixin threecol-grid {
  gap: variables.$desktop-width-gutter;
  grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
}

@mixin fourcol-grid {
  gap: variables.$desktop-width-gutter;
  grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
}
////// Inner Grid
@mixin inner-grid($parent) {
  .list-container--grid.grid--twocol--50-50 {
    @if $parent >= 50 {
      @include breakpoints.breakpoint(sm) {
        .list-container__inner {
          display: grid;
          @include twocol-grid;
        }
      }
      @media screen and (min-width: 58.125em) {
        .list-container__inner {
          gap: variables.$desktop-width-gutter;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  .list-container--grid.grid--threecol--33-34-33 {
    @if $parent >= 75 {
      @media screen and (min-width: 58.125em) {
        .list-container__inner {
          display: grid;
          @include threecol-grid;
        }
      }
    }
  }
  .list-container--grid.grid--fourcol--25 {
    @if $parent >= 75 {
      @media screen and (min-width: 58.125em) {
        .list-container__inner {
          display: grid;
          @include fourcol-grid;
        }
      }
    }
  }
}

@mixin display-grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: variables.$desktop-width-gutter;
}

@mixin grid-base {
  @include breakpoints.breakpoint(sm) {
    @include display-grid;
    grid-template-columns: 1fr;
  }
}
