@use 'variables';

// Headline

@mixin headline {
  padding: 0;
  line-height: var(--uiowa-headline-line-height);

  a {
    color: var(--uiowa-headline-link-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@mixin headline-negative {
  color: var(--uiowa-headline-negative-color);

  a {
    color: var(--uiowa-headline-negative-color);
  }
}

@mixin headline-uppercase {
  text-transform: uppercase;
  font-family: variables.$font-family-caps;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: var(--uiowa-headline-uppercase-font-weight);
  font-style: normal;
  font-display: swap;
}

@mixin headline-serif {
  font-family: variables.$font-family-serif;
  font-weight: variables.$font-weight-bold;
}

@mixin headline-highlight {
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 2px 0;
  line-height: var(--uiowa-headline-highlight-line-height);
}

@mixin headline-highlight-word {
  background: var(--uiowa-headline-highlight-background);
  display: inline;
  padding: 0.85rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: var(--uiowa-headline-highlight-color);
  text-shadow: none;
  [class*="bg--gold"] & {
    background: var(--uiowa-headline-highlight-background-on-gold);
    color: var(--uiowa-headline-highlight-color-on-gold);
  }
}

@mixin headline-highlight-word-uppercase {
  background: var(--uiowa-headline-highlight-background);
  display: inline-block;
  margin-bottom: .8rem;
  margin-top: .8rem;
  padding: .4rem 1.2rem .8rem;
  color: var(--uiowa-headline-highlight-color);
  [class*="bg--gold"] & {
    background: var(--uiowa-headline-highlight-background-on-gold);
    color: var(--uiowa-headline-highlight-color-on-gold);
    font-weight: var(--uiowa-headline-uppercase-font-weight-on-gold);
  }
  [class*="bg--gold"] [class*="bg--black"] & {
    background: var(--uiowa-headline-highlight-background);
    color: var(--uiowa-headline-highlight-color);
  }
}

@mixin headline-underline {
  padding-bottom: variables.$sm;
  overflow: auto;

  &:after {
    content: "";
    display: block;
    width: 75px;
    height: 6px;
    margin-top: 15px;
    background: var(--uiowa-headline-underline-color);
  }

  &.headline--center {
    &:after {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .bg-pattern--brain-reversed &,
  [class*="bg--gold"] & {
    &:after {
      background: var(--uiowa-headline-underline-color-on-gold);
    }
  }
}
