@use 'variables';

// Headline

@mixin headline {
  padding: 0;
  line-height: 1;

  a {
    color: variables.$secondary;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@mixin headline-negative {
  color: variables.$white;

  a {
    color: variables.$white;
  }
}

@mixin headline-uppercase {
  text-transform: uppercase;
  font-family: variables.$font-family-caps;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@mixin headline-serif {
  font-family: variables.$font-family-serif;
  font-weight: variables.$font-weight-bold;
}

@mixin headline-highlight {
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 2px 0;
  line-height: 1.7;
}

@mixin headline-highlight-word {
  background: variables.$primary;
  display: inline;
  padding: 0.85rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: variables.$secondary;
  text-shadow: none;
  [class*="bg--gold"] & {
    background: variables.$secondary;
    color: #fff;
  }
}

@mixin headline-highlight-word-uppercase {
  background: variables.$primary;
  display: inline-block;
  margin-bottom: .8rem;
  margin-top: .8rem;
  padding: .4rem 1.2rem .8rem;
  color: variables.$secondary;
  [class*="bg--gold"] & {
    background: variables.$secondary;
    color: #fff;
    font-weight: 400;
  }
  [class*="bg--gold"] [class*="bg--black"] & {
    background: variables.$primary;
    color: variables.$secondary;
  }
}

@mixin headline-underline {
  padding-bottom: variables.$sm;
  overflow: auto;

  &:after {
    content: "";
    display: block;
    width: 75px;
    height: 6px;
    margin-top: 15px;
    background: variables.$primary;
  }

  &.headline--center {
    &:after {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .bg-pattern--brain-reversed &,
  [class*="bg--gold"] & {
    &:after {
      background: variables.$light;
    }
  }
}
