@use 'utilities';

aside .region,
.layout-content .region {
  padding: 0;
  border: none;
}

.layout-container {
  @include utilities.container-width;;
}

.page__container {
  @include utilities.container-width;;

  &--mixed {
    @include utilities.container-width;;
  }
}

.flex__wrapper {
  @include utilities.breakpoint(sm) {
    flex-wrap: wrap;
    display: flex;
  }
}
