@use 'utilities';
@use 'variables';

// Utility classes.

.element-invisible,
.visually-hidden {
  @include utilities.element-invisible();
}

@media (min-width: 0em) and (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

.mobile-display {
  @include utilities.breakpoint(sm) {
    display: none;
  }
}

.element--center {
  @extend %uids-component--center;
}

.element--left {
  @extend %uids-component--left;
}


// Block Margins / Padding

.block-padding,
.element--padding {
  &__top {
    padding-top: variables.$desktop-width-gutter;
    &--minimal {
      padding-top: 2rem;
    }
  }
  &__right {
    padding-right: variables.$desktop-width-gutter;
    &--minimal {
      padding-right: 2rem;
    }
  }
  &__bottom {
    padding-bottom: variables.$desktop-width-gutter;
    &--minimal {
      padding-bottom: 2rem;
    }
  }
  &__left {
    padding-left: variables.$desktop-width-gutter;
    &--minimal {
      padding-left: 2rem;
    }
  }
  &__all {
    padding: variables.$desktop-width-gutter;
  }
  &__all--extra {
    padding: 6rem;
  }
  &__all--minimal {
    padding: 2rem;
  }
}

.element--padding__all--sm {
  padding: var(--space-sm-width-gutter);
}

// CSS logical property padding utility classes.
.padding--block--sm {
  padding-block: 0.5rem;
}

.padding--block--md {
  padding-block: 1rem;
}

.padding--inline-start--sm {
  padding-inline-start: 0.5rem;
}

.padding--inline-start--md {
  padding-inline-start: 1rem;
}

.padding--inline-end--sm  {
  padding-inline-end: 0.5rem;
}

.padding--inline-end--md  {
  padding-inline-end: 1rem;
}

.padding--inline--md {
  padding-inline: 1rem;
}

.block-margin,
.element--margin {
  &__top {
    margin-top: variables.$md;

    &--extra {
      margin-top: variables.$md;
      @include utilities.breakpoint(sm) {
        margin-top: variables.$mobile-height-gutter;
      }
    }
  }

  &__right {
    @include utilities.breakpoint(sm) {
      margin-right: variables.$md;
    }
  }

  &__bottom {
    margin-bottom: variables.$md;

    &--extra {
      margin-bottom: variables.$md;
      @include utilities.breakpoint(sm) {
        margin-bottom: variables.$mobile-height-gutter;
      }
    }
  }

  &__left {
    @include utilities.breakpoint(sm) {
      margin-left: variables.$md;
    }
  }
}
