@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

.nav {
  @include breakpoint(sm) {
    align-items: center;
    @include flexbox;
  }

  .menu {
    overflow: visible;
    font-size: $base-font-size;
    @extend %no-ul-list;
    @include flexbox;

    a {
      position: relative;
      display: inline-block;
      transition: background 0.8s ease-out;
      text-decoration: none;
      color: $secondary;
      @extend %font-smoothing-on;
    }
  }
}

// vertical and horiztonal
.main--secondary--vertical,
.main--secondary--horizontal {
  display: block;

  .menu {
    position: relative;

    li {
      display: block;
      width: 100%;
      margin-bottom: $sm;
      font-size: 1.4rem;
      line-height: 1.3;

      @include breakpoint(sm) {
        width: auto;
        margin-bottom: 0;
      }

      li {
        font-size: 1.1rem;

        a {
          color: #333;
          border-bottom: none;
          @include padding($top: $xsm, $right: $sm, $bottom: $xsm, $left:0);
          &:after {
            height: 6px;
          }
        }
      }

      a, span {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $light;
        @include padding($top: $sm, $right: $sm, $bottom: $sm, $left:0);
        &.is-active {
          &:after {
            background: $brand-cool-gray;
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100%;
            height: 6px;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            transform: translate(-50%, 0) scaleX(1);
          }
        }
        &:focus {
            text-decoration: underline;
        }
        &:hover,
        &:focus {
          @include breakpoint(sm) {
            color: $secondary;
          }
        }
      }

      &.menu-item--expanded.menu-item--active-trail a {
        border-bottom: none;
      }
    }
  }


  // Grey BG with full width gold lined arrow
  &.main--secondary--horizontal--lined-gold-arrow {
    .menu {
      li a {
        padding: 1.475rem 1.375rem;
        margin: 0;

        &:before {
          right: -1px;
        }

        &:after {
          background-color: $brand-cool-gray;
        }
      }

      li.menu-item--active-trail {
        background: #f1f1f1;
        position: relative;

        &:before, &:after {
          height: 100%;
          position: absolute;
          width: 10px;
          content: '';
        }

        &:before {
          right: 0;
          box-shadow: -16px 0px 3px -15px rgba(0, 0, 0, 0.12) inset;
          z-index: 1;
        }

        &:after {
          left: 0;
          box-shadow: 16px 0px 3px -15px rgba(0, 0, 0, 0.12) inset;
        }
      }

      a.is-active {
        margin: 0;
        padding-right: 1.875rem;
        padding-left: 1.875rem;

        &:before {
          width: 20px;
          height: 20px;
          content: '';
          position: absolute;
          left: calc(50% - 10px);
          top: calc(100% - 1px);
          background-color: transparent;
          border-top: 10px solid $primary;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }

        &:after {
          background: $primary;
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 100%;
          height: 6px;
          transform-origin: center;
          transition: transform 0.3s ease-in-out;
          transform: translate(-50%, 0) scaleX(1);
        }
      }

      .menu-container--bg-grey & {

        li.menu-item--active-trail {
          background: #fff;

          &:before {
            right: 100%;
            box-shadow: -16px 0px 3px -15px rgba(0, 0, 0, 0.12) inset;
          }

          &:after {
            left: 100%;
            box-shadow: 16px 0px 3px -15px rgba(0, 0, 0, 0.12) inset;
          }
        }
      }
    }
  }
}

// vertical only
.main--secondary--vertical {
  ul.menu {
    width: 100%;
    @include flexbox;
    @include flex-direction(column);

    li {
      margin-bottom: $sm;
    }
  }
}

// horizontal only
.main--secondary--horizontal {
  padding: $gutter 0;
  @extend %container;

  @include breakpoint(sm) {
    padding: 0;
  }

  @include breakpoint(container) {
    padding: 0;
  }

  .menu {
    display: block;

    @include breakpoint(sm) {
      @include flexbox;
    }

    li {
      @include breakpoint(sm) {
        font-size: calc(100% + .1vw);
        @include center(vertical);
      }

      &:first-of-type a {
        @include breakpoint(sm) {
          margin-left: 0;
        }
      }

      &:last-of-type a {
        @include breakpoint(sm) {
          margin-right: 0;
        }
      }

      a, span {
        @include bttn--focus;

        @include breakpoint(sm) {
          position: relative;
          width: auto;
          margin: 0 $lg;
          text-align: center;
          text-transform: uppercase;
          border: 0px;
          background-color: transparent;
          font-weight: $font-weight-medium-bold;
          @include padding($top: $lg, $right: 0, $bottom: $lg, $left:0);
          @include center(both);
        }
      }
    }

    li a:before {
      @include breakpoint(sm) {
        position: absolute;
        right: -30px;
        bottom: 35%;
        width: 1px;
        height: 25%;
        content: "";
        background: $primary;
      }
    }

    li:last-of-type a {
      @include breakpoint(sm) {
        &:before {
          width: 0;
        }
      }
    }
  }
}


// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
.main--secondary--horizontal .menu li {
      @include breakpoint(sm) {
        font-size: 1rem;
      }
    }
}

// Menu container
.menu-container.menu-container--bg-grey {
  background: #f1f1f1;
}
