

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../background/background.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

  <div class="bg--black">
    <h2>Black</h2>
  </div>
  <div class="bg--gold">
    <h2>Gold</h2>
  </div>
  <div class="bg--gray">
    <h2>Gray</h2>
  </div>
  <div class="bg-pattern--brain">
    <h2>Brain pattern - White</h2>
  </div>
  <div class="bg-pattern--brain--gold">
    <h2>Brain pattern - Gold</h2>
  </div>
  <div class="bg-pattern--brain--black">
    <h2>Brain pattern - Black</h2>
  </div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

