

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../typography/headings/headings.css">
          <link media="all" rel="stylesheet" href="../typography/paragraph/paragraph.css">
        
        
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<span class="badge badge--primary">Primary</span>
<span class="badge badge--secondary">Secondary</span>
<span class="badge badge--cool-gray">Cool Gray</span>
<span class="badge badge--blue">Blue</span>
<span class="badge badge--green">Green</span>
<span class="badge badge--orange">Orange</span>
<br />
<br />
<h1>First Level <span class="badge badge--primary">Badge</span></h1>
<h2>Second level <span class="badge badge--primary">Badge</span></h2>
<h3>Third level <span class="badge badge--primary">Badge</span></h3>
<h4>Fourth level <span class="badge badge--primary">Badge</span></h4>
<h5>Fifth level <span class="badge badge--primary">Badge</span></h5>
<h6>Sixth level <span class="badge badge--primary">Badge</span></h6>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


  </html>

