

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
        
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

      
        
                
<div class="banner banner--gradient-center-left banner--large  banner--vertical-bottom banner--horizontal-left">


                <div class="banner__image">
        <img src="../../assets/images/widescreen__2592_x_1458/pano.jpg" alt="Alt Text">
      </div>
            
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="headline__headline">We’re in this together</span>
        </a>
  </h2>
                  
        <div class="banner__text"><p>Every Hawkeye has a role to play in <a href="https://uiowa.edu">preventing</a> the spread of COVID-19.<br /> Find out what Iowa’s doing—and what you can do—to make your return to campus safer.</p></div>

                            <div aria-hidden="true" class="bttn bttn--primary bttn--caps" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

<style>
@media (min-width: 768px) {
  .banner--large,
  .banner--large.banner--vertical-center:not([class*="bg-"])  {
    min-height: 48rem;
  }

  .banner--medium,
  .banner--medium.banner--vertical-center:not([class*="bg-"])  {
    min-height: 33rem;
  }

  .banner--small,
  .banner--small.banner--vertical-center:not([class*="bg-"]) {
    min-height: 18rem;
  }

  .banner--large .bold-headline {
    font-size: calc(100% + 3.5vw);
  }
}
</style>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


      <script src="../banner/banner.js"></script>
    </html>

