

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../background/background.css">
        
            <link media="all" rel="stylesheet" href="../headline/headline.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

  <div class="bg--black container--padded">
      <h2 class="bold-headline bold-headline--underline bold-headline--caps">
      <span class="headline__headline">Headline Antonio Underline</span>
      </h2>
  </div>
  </div>
  <div class="bg--gold container--padded">
      <h2 class="bold-headline bold-headline--underline bold-headline--caps">
      <span class="headline__headline">Headline Antonio Underline</span>
      </h2>
  </div>
  </div>
  <div class="bg--gray container--padded">
      <h2 class="bold-headline bold-headline--underline bold-headline--caps">
      <span class="headline__headline">Headline Antonio Underline</span>
      </h2>
  </div>
  </div>
  <div class="bg-pattern--brain--black container--padded">
      <h2 class="bold-headline bold-headline--underline bold-headline--caps">
      <span class="headline__headline">Headline Antonio Underline</span>
      </h2>
  </div>
  </div>
  <div class="bg-pattern--brain--gold container--padded">
      <h2 class="bold-headline bold-headline--underline bold-headline--caps">
      <span class="headline__headline">Headline Antonio Underline</span>
      </h2>
  </div>
  </div>
  <div class="bg-pattern--brain container--padded">
      <h2 class="bold-headline bold-headline--underline bold-headline--caps">
      <span class="headline__headline">Headline Antonio Underline</span>
      </h2>
  </div>
  </div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

