

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../colors/colors.css">
        
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="stat__grid element--flex-center bg-pattern--brain stat--transform">
      <div>
              <h2 class="stat__title">
        <span class="headline__headline">15:1</span>
      <span class="headline__suffix">+</span>
    </h2>
          </div>
        <p class="stat__description">student-to-faculty ratio</p>
          <p class="stat__content">Among the top 2% of universities worldwide.</p>
  </div>

<style>
  .stat__grid.stat--horizontal {
    padding: 3rem;
  }
</style>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


      <script src="../stat/stat.js"></script>
    </html>

