

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../colors/colors.css">
          <link media="all" rel="stylesheet" href="../background/background.css">
        
            <link media="all" rel="stylesheet" href="../button/button.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <a href="https://www.example.com" class="bttn bttn--secondary bttn--sans-serif bttn--outline bttn--outline">
  More News
  </a>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../button/button.js"></script>
    </html>

