@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.alert {
  --h2-font-size: clamp(1.3rem, calc(0.7324vw + 1.0254rem), 1.625rem);
  padding: 1.5rem;
  border: 1px solid $grey-light;
  display: flex;
  line-height: 1.7;
  font-size: 1.2rem;

  h2 {
    font-size: var(--h2-font-size);
  }
  h3 {
    font-size: calc(0.9 * var(--h2-font-size));
  }
  h4 {
    font-size: calc(0.8 * var(--h2-font-size));
  }
  h5 {
    font-size: calc(0.7 * var(--h2-font-size));
  }
  h6 {
    font-size: calc(0.6 * var(--h2-font-size));
  }

   * {
    margin-bottom: 0;

    & + *:not(span):not(div) {
      margin-top: .4rem;
    }
  }
}

.alert__icon {
  padding: 0 $lg 0 0;

  .fa-stack {
    width: 2em;
  }

  .fa-1x {
    font-size: 1.2em;
  }
}

.alert-danger {
  background: $danger-light;

  .fa-circle {
    color: $danger;
  }
}

.alert-success {
  background: $success-light;

  .fa-circle {
    color: $success;
  }
}

.alert-warning {
  background: $warning-light;

  .fa-circle {
    color: $orange;
  }

  .fa-exclamation-triangle {
    margin-top: -2px;
  }
}

.alert-info {
  background: $info-light;

  .fa-circle {
    color: $info;
  }
}

.alert-centered {
  display: flex;
  justify-content: center;
}

.alert-vertically-centered  {
  display: flex;
  align-items: center;
}

.alert-dismissible {
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    height: 42px;
    width: 42px;

    i {
      font-size: 1.5rem;
    }
  }
}
