@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.alert {
  padding: $md;
}

.alert-danger {
  border-bottom: 2px solid $danger;
  background: $danger-light;

  .close:before {
    background: $danger;
  }
}

.alert-success {
  border-bottom: 2px solid $success;
  background: $success-light;

  .close:before {
    background: $success;
  }
}

.alert-warning {
  border-bottom: 2px solid $warning;
  background: $warning-light;

  .close:before {
    background: $brand-cool-gray;
  }
}

.alert-info {
  border-bottom: 2px solid $info;
  background: $info-light;

  .close:before {
    background: $info;
  }
}

.hawk-alert.alert {
  @include breakpoint(menu) {
    text-align: left;
  }

  @include center(vertical);

  >* {
    @include breakpoint(menu) {
      display: flex;
      text-align: left;
    }
  }

  .hawk-alert-message {
    @extend %container;

    @include breakpoint(menu) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }

    .hawk-alert-heading {
      @include breakpoint(menu) {
        border-right: 1px solid $brand-cool-gray;
        grid-area: 1 / 1 / 3 / 2;
      }
    }

    .hawk-alert-link.alert-link {
      @include breakpoint(menu) {
        width: 100%;
        padding-left: $md;
        padding-top: $xsm;
        text-align: left;
        grid-area: 2 / 2 / 3 / 5;
      }
    }

    .hawk-alert-body {
      @include breakpoint(menu) {
        width: 100%;
        padding-left: $md;
        text-align: left;
        flex-wrap: wrap;

        @include center(vertical);
        grid-area: 1 / 2 / 2 / 5;
      }

      p {
        width: 100%;
        margin: 0;

        @include breakpoint(menu) {
          text-align: left;
        }
      }

    }
  }
}

.alert {
  text-align: center;
}

.hawk-alert-message,
.alert {
  clear: both;
  color: $secondary;
  font-family: $font-family-sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  @include clearfix;

  .close {
    border: none;
    background: none;

    span {
      @include element-invisible;
    }

    &:hover,
    &:focus {
      cursor: pointer;

      &:before {
        color: #fff;
        border-radius: 50%;
        background: $secondary;
      }
    }

    &:before {
      display: inline-block;
      width: 35px;
      margin-right: 5px;
      padding: 7px;
      content: "\f00d";
      color: #fff;
      border-radius: 50%;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-style: normal;
      font-variant: normal;
      line-height: 1.2;
      line-height: 1;
      text-rendering: auto;
    }
  }

  p {
    width: 70%;
    text-align: center;
    color: #fff;
  }

  a {
    text-decoration: underline;
    color: $secondary;
    font-weight: $font-weight-bold;
  }

  p,
  >* {
    margin: 0 auto;
    text-align: center;
    color: $secondary;
    font-family: $font-family-sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;

    i,
    span,
    svg {
      margin-right: $sm;
    }

    a {
      text-decoration: underline;
      color: $secondary;
      font-weight: $font-weight-bold;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.hawk-alert-label,
h2,
h3,
h4,
h5,
h6 {

  .alert-danger & {
    &:before {
      color: $danger;
    }
  }

  .alert-warning & {
    &:before {
      color: $brand-cool-gray;
    }
  }

  .alert-success & {
    &:before {
      color: $success;
    }
  }

  .alert-info & {
    &:before {
      color: $info;
    }
  }
}


.uiowa-alerts-wrapper {

  .hawk-alert-heading {
    padding-right: $lg;
    text-align: left;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    padding: 0 $xsm 0 $lg;
    text-align: center;
    font-size: 1.7rem;

    @include breakpoint(menu) {
      align-items: center;
      justify-content: center;
    }
  }

  .hawk-alert-label {
    &:before {
      padding-right: $sm;
    }
  }

  .hawk-alert-label,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: $font-weight-bold;

    &:before {
      display: inline-block;
      content: "\f06a";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-style: normal;
      font-variant: normal;
      line-height: 1;
      text-rendering: auto;
    }
  }

  .hawk-alert-date {
    display: block;
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: 1.2rem;
    font-weight: $font-weight-light;

    @include breakpoint(menu) {
      text-align: left;

    }
  }

  .hawk-alert-body,
  .hawk-alert-link {
    display: block;
  }
}
