@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.alert {
  padding: 1.5rem;
  border: 1px solid $grey-light;
  display: flex;
}

.alert__icon {
  padding: 0 $lg 0 0;

  .fa-stack {
    width: 2em;
  }

  .fa-1x {
    font-size: 1.5em;
  }
}

.alert__content {
  margin: 0.4rem 0 0.4rem;

  h2 {
    font-size: clamp(1.3rem, calc(0.7324vw + 1.0254rem), 1.625rem);
    margin: 0 0 0.4rem;
  }

  * {
    margin-bottom: 0;

    & + *:not(h1, h2, h3, h4, h5, h6) {
      margin-top: 1rem;
    }
  }
}

.alert-danger {
  background: $danger-light;

  .fa-circle {
    color: $danger;
  }
}

.alert-success {
  background: $success-light;

  .fa-circle {
    color: $success;
  }
}

.alert-warning {
  background: $warning-light;

  .fa-circle {
    color: $orange;
  }

  .fa-exclamation-triangle {
    margin-top: -2px;
  }
}

.alert-info {
  background: $info-light;

  .fa-circle {
    color: $info;
  }
}

.alert-centered {
  display: flex;
  justify-content: center;
}

.alert__center-icon-vertically .alert__icon {
  display: flex;
  align-items: center;
}

.alert-dismissible {
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    height: 42px;
    width: 42px;

    i {
      font-size: 1.5rem;
    }
  }
}
