<div class="search-overlay" aria-expanded="false" aria-label="search tools for this site">
	{% include '@search' %}
	{% if search_type == 'search--primary' %}
		{% block search %}
			{% render '@quick--search' %}
		{% endblock %}
	{% endif %}
</div>
