@import '../../../assets/scss/variables';
@import "../../../assets/scss/breakpoint";

header {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

.iowa-bar {
  position: relative;
  z-index: 1;
  display: block;
  min-height: auto;
  background: $secondary;

  @include breakpoint(menu) {
    height: 80px;
    background: $primary;
  }
}

.iowa-bar--narrow {
  @include breakpoint(menu) {
    height: 50px;
  }

  .logo--tab {
    margin-right: 10px;

    @include breakpoint(menu) {
      height: 56px;
      width: 120px;
      padding: 15px;
    }
  }

  .logo-icon {
    height: 20px;

    @include breakpoint(menu) {
      height: 26px;
    }
  }
}

// @todo Move this to search or search-toggle?
.iowa-bar--narrow .logo-icon--tab {
  .search-is-open & {
    visibility: none;
    opacity: 0;

    @include breakpoint(menu) {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }
}

.iowa-bar .page__container {
  position: unset;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 0;
  margin-left: 0;

  @include breakpoint(menu) {
    justify-content: unset;
    display: flex;
  }

  @include breakpoint(container) {
    justify-content: unset;
  }

  @include breakpoint(menu) {
    margin-right: auto;
    margin-left: auto;
  }
}
