<link rel="stylesheet" href="{{ '/components/prototype/iowa-bar/iowa-bar.css'|path }}">
{% set classes = 'iowa-bar' %}
{% if iowa_bar_classes is not empty %}
  {% set classes = classes ~ ' ' ~ iowa_bar_classes %}
{% endif %}
<div class="{{ classes }}">
  <div class="page__container">
    {% render '@prototype-logo' %}
    {% if site_name and site_name_position == 'inline' %}
      {% include '@prototype-site-name' %}
    {% endif %}
  </div>
  {% block iowa_bar_below %}
    {% if site_name and site_name_position == 'below' %}
      {% include '@prototype-site-name' %}
    {% endif %}
  {% endblock %}
</div>
