<div class="uiowa-bar uiowa-bar--narrow">
  <div class="page__container">
    {% render '@prototype-logo--tab' %}
    {% if site_name %}
      {% include '@site-name' with { site_name } %}
    {% endif %}
  </div>
</div>
