<div {{ slide_classes }}>
  <div class="carousel-image">{{ 'an image would go herex' }}</div>
  {% if slide_caption is not empty %}
    <div class="carousel-caption">{{ slide_caption }}</div>
  {% endif %}
</div>
