{# Find consistent way to add classes from here #}
<div data-carousel="carousel" class="carousel{{ carousel_fade ? ' carousel--fade' : '' }}" >
  {% for item in items %}
    {# @todo Incluede image alt? #}
    {% set carousel_slide = {
      'slide_image': item.image,
      'slide_caption': item.caption,
      'slide_classes': item.classes,
    } %}
    {% include '@prototype-carousel--slide' with carousel_slide %}
  {% endfor %}
</div>
