@use '../abstracts/variables';
@use '../abstracts/utilities';

.element--flex-left,
.flex--left {
  flex-flow: column nowrap;
  text-align: left;
  width: 100%;
  padding: 1.5rem 0;
}

.element--flex-center,
.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;

  @include utilities.breakpoint(sm) {
    padding: 1.5rem 0;
  }
}

.flex--gap__sm {
    @include utilities.breakpoint(sm) {
      column-gap: var(--space-sm-width-gutter);
    }
}

.flex--gap__md {
  @include utilities.breakpoint(sm) {
    column-gap: var(--space-md-width-gutter);
  }
}

.flex {
  @include utilities.breakpoint(sm) {
    display: flex;
  }
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--break {
  flex-basis: 100%;
}

.flex--1 {
  flex: 1;
}

.flex--2 {
  flex: 2;
}

.flex--3 {
  flex: 3;
}

.flex--4 {
  flex: 4;
}

.flex--5 {
  flex: 5;
}

.flex--6 {
  flex: 6;
}

.flex--7 {
  flex: 7;
}

.flex--8 {
  flex: 8;
}

.flex--9 {
  flex: 9;
}

.flex--10 {
  flex: 10;
}

.flex--11 {
  flex: 11;
}

.flex--12 {
  flex: 12;
}
