@use '../abstracts/variables';
@use '../abstracts/utilities';

.element--flex-left,
.flex--left {
  flex-flow: column nowrap;
  text-align: left;
  width: 100%;
  padding: 1.5rem 0;
}

.element--flex-center,
.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;

  @include utilities.breakpoint(sm) {
    padding: 1.5rem 0;
  }
}
