@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-medium;
  line-height: 1.125;
  letter-spacing: 0;
}

h1, .h1 {
  @include h1;
  font-size: containerClamp(2.3rem, 3.35rem);
}

h2, .h2 {
  @include h2;
  font-size: containerClamp(1.95rem, 2.3rem);
}

h3, .h3 {
  @include h3;
  font-size: containerClamp(1.65rem, 1.9125rem);
}

h4, .h4 {
  @include h4;
  font-size: containerClamp(1.45rem, 1.6rem);
}

h5, .h5 {
  @include h5;
  font-size: containerClamp(1.3rem, 1.4rem);
}

h6, .h6 {
  @include h6;
}
