.bold-headline,
.headline {
  font-size: 2.8rem;
  padding: 0;
  line-height: 1; }
  .bold-headline a,
  .headline a {
    color: #151515;
    text-decoration: none; }
    .bold-headline a:hover, .bold-headline a:focus,
    .headline a:hover,
    .headline a:focus {
      text-decoration: underline; }
  .bold-headline.bold-headline--negative, .bold-headline.headline--negative,
  .headline.bold-headline--negative,
  .headline.headline--negative {
    color: #fff; }
    .bold-headline.bold-headline--negative a, .bold-headline.headline--negative a,
    .headline.bold-headline--negative a,
    .headline.headline--negative a {
      color: #fff; }

.bold-headline--caps,
.headline--uppercase {
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.bold-headline--serif,
.headline--serif {
  font-family: "Zilla Slab", serif;
  font-weight: 700; }

.bold-headline--highlight,
.headline--highlight {
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  padding: 2px 0;
  line-height: 1.7; }

.bold-headline--highlight span,
.headline--highlight span {
  background: #FFCD00;
  display: inline;
  padding: 0.85rem 1rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: #151515;
  text-shadow: none; }

.bold-headline--caps .headline__heading span,
.headline--uppercase .headline__heading span {
  background: #FFCD00;
  display: inline-block;
  margin-bottom: .8rem;
  margin-top: .8rem;
  padding: 0.6rem 1rem; }

.bold-headline--underline,
.headline--underline {
  padding-bottom: 0.625rem;
  line-height: 1.3;
  display: inline;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.175em white, inset 0 -0.25em #FFCD00; }
  .bold-headline--underline::after,
  .headline--underline::after {
    content: '\A';
    white-space: pre;
    margin-bottom: 1.25rem;
    display: inline-block; }
  .bg--gray .bold-headline--underline, .bg--gray
  .headline--underline {
    box-shadow: inset 0 -0.175em #f3f3f3, inset 0 -0.25em #FFCD00; }
  .bg--black .bold-headline--underline, .bg--black
  .headline--underline {
    box-shadow: inset 0 -0.175em #151515, inset 0 -0.25em #FFCD00; }

.bold-headline--highlight.bold-headline--serif
.headline--highlight.headline--serif {
  font-weight: 600; }

.bold-headline--highlight.bold-headline--caps span,
.headline--highlight.headline--uppercase span {
  padding: 0.1rem 1rem 0; }
