

  <a href="https://www.example.com" class="bttn bttn--primary bttn--caps">
    Primary
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="https://www.example.com" class="bttn bttn--secondary bttn--caps">
    Secondary
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="https://www.example.com" class="bttn bttn--tertiary bttn--caps">
    Tertiary
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="https://www.example.com" class="bttn bttn--transparent bttn--caps">
    Transparent
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--outline bttn--tertiary bttn--sans-serif">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--outline bttn--tertiary bttn--opaque bttn--caps">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--outline bttn--tertiary bttn--opaque bttn--sans-serif">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>
  <a href="" class="bttn bttn--link bttn--sans-serif">
    More News
          <i class="fas fa-arrow-right"></i>
      </a>

