@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';
@import '_card-mixins.scss';


.card {
  @include card;

  // Adjust margin and padding for stacked circle if there is a background section color
  [class*="bg-"] & {

    &.card--stacked {
      .media--circle {
        margin-top: 2rem;

        &.card__media--large {
          padding: 0 2rem 0 2rem;
          margin-top: 2rem;
        }
      }
    }
  }

  // Add padding if card is on a bg or bg pattern.

  &.card--stacked[class*="bg-"]:not([class*="bg--white"]) {
    .card__body {
      padding: 2rem;
    }
  }

  &[class*="bg-"] {
    .card--stacked:not([class*="bg-"]) {
      .card__body {
        padding: 2rem;
      }
    }
  }


  // Remove padding if background section matches card bg color
  .bg--gray & {

    &.bg--gray.card.card--media-left:not(.card--enclosed),
    &.bg--gray.card.card--media-left:not(.card--enclosed) {
      padding: 0;
    }
  }

  &--stacked {



    // Adjust margin if circle is within stacked version with bg color
    &[class*="bg-"] {

      .media--circle.card__media--small,
      .media--circle.card__media--large {
        margin-top: 2rem;
      }
    }

    // Add padding if large circle stacked is enclosed or has bg color
    .media--circle.card__media--large {
      padding: 0 2rem;
    }
  }

  &--enclosed {
    @include card-enclosed;

    &.card--stacked {

      .media--circle,
      .card__media--small,
      .card__media--medium {
        margin-top: 2rem;
      }
    }
  }

  &__title {
    @include card-header;

    &:focus-within~.bttn {
      background-position: 0px;
      background-size: 200% 100%;

      i,
      svg {
        color: $secondary;
      }
    }
  }

  .bttn {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 90%, #ffcd00 90%, #ffcd00 100%);
    background-position: 0px -20px;
    background-size: 200% 200%;
    transition: all .25s ease-in;
  }

  p+.bttn,
  p+.btn {
    margin-top: $md;
  }

  &__subtitle+p,
  &__subtitle+.bttn,
  &__subtitle+.btn {
    margin-top: $sm;
  }

  &--centered {
    text-align: center;


    &.card--media-right,
    &.card--media-left {
      flex-direction: column;

      .card__media+.card__body {
        @include breakpoint(sm) {
          padding: 2rem 0 0 0;
        }
      }
    }
  }

  .card__media--small,
  .card__media--medium,
  .card__media--large {
    @include breakpoint(sm) {
      justify-content: center;
      margin: 0 auto;
    }
  }

  &.card--stacked {
    .card__media--large {
      @include breakpoint(sm) {
        display: block;
      }
    }

    // set fixed small size for card stacked small circle
    .card__media--small.media--circle {
      @include breakpoint(sm) {
        max-width: 150px;
      }
    }
  }

  &.media--widescreen {
    .card__media--small {
      @include breakpoint(sm) {
        max-width: 60%;
      }
    }

    .card__media--medium {
      @include breakpoint(sm) {
        max-width: 75%;
      }
    }
  }

  &.media--square,
  &.media--circle {
    .card__media--small {
      @include breakpoint(sm) {
        max-width: 160px;
      }

      img {
        align-self: start;
      }
    }
  }

  .card__media--medium {
    @include breakpoint(sm) {
      max-width: 60%;
    }

    img {
      align-self: start;
    }
  }

  &__media {
    @include card-media;
  }

  &__img {
    align-self: start;
    width: 100%;
  }

  &__body {
    @include card-body;
  }

  &__details {
    margin: 0 0 $sm;
  }

  p {
    @include card-paragraph;
  }

  &__subtitle {
    @include card-subtitle;
  }


  &__date {
    font-family: $font-family-sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: $font-weight-normal;

    .bg--black &,
    .bg-pattern--brain--black & {
      // color: $primary;
    }
  }

  &__label {
    font-family: "Zilla Slab", serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 20px;
    line-height: 1.3;
    margin-top: $xsm;

    .bg--black &,
    .bg-pattern--brain--black & {
      //color: #fff;
    }

    .fas,
    .svg-inline--fa {
      opacity: .6;
      padding-right: $xsm;
      font-size: 1rem;
      line-height: 1.2;
      position: absolute;
      margin-left: -20px;


      .bg--gold &,
      .bg-pattern--brain--gold & {
        // color: white;
      }
    }

    .svg-inline--fa {
      width: 17px;
    }
  }

  &.card--media-right,
  &.card--media-left {

    &.card--enclosed,
    &[class*=bg-] {
      padding: 2rem;
    }

    // Remove padding if section background matches card background
    &.bg--black {
      .bg--black & {
        padding: 0;
      }
    }

    &.bg--gold {
      .bg--gold & {
        padding: 0;
      }
    }

    &.bg--gray {
      .bg--gray & {
        padding: 0;
      }
    }

    &.bg--white {
      .bg--white & {
        padding: 0;
      }
    }

    &.bg-pattern--brain {
      .bg-pattern--brain & {
        padding: 0;
      }
    }

    &.bg-pattern--brain--black {
      .bg-pattern--brain--black & {
        padding: 0;
      }
    }

    &.bg-pattern--brain--gold {
      .bg-pattern--brain--gold & {
        padding: 0;
      }
    }

    .card__media--small {
      @include card-media-small;

      &.media--circle {
        @include breakpoint(sm) {
          flex: 0 0 25%;
          width: 25%;
          max-width: 150px;
        }
      }
    }

    .card__media--medium {
      @include card-media-medium;

      &.media--circle {
        @include breakpoint(sm) {
          flex: 0 0 25%;
          width: 25%;
        }
      }
    }

    .card__media--large {
      @include card-media-large;

      &.media--circle {
        @include breakpoint(sm) {
          flex: 0 0 37%;
          width: 37%;
        }
      }
    }

    &.media--square {

      // Size adjustments for square format
      .card__media--medium {
        @include breakpoint(sm) {
          flex: 0 0 25%;
          width: 25%;
        }
      }

      .card__media--large {
        @include breakpoint(sm) {
          flex: 0 0 37%;
          width: 37%;
        }
      }
    }


    .card__media+.card__body {
      @include breakpoint(sm) {
        padding: 0 0 $md 2rem;
      }
    }

    // Reduce padding for small circle crop next to card__body
    .media--circle.card__media--small {

      +.card__body {
        @include breakpoint(sm) {
          padding: 0 0 0 $gutter;
        }
      }
    }

    // Adjust card body padding on image if "right" option is selected
    &.card--media-right {

      .card__media+.card__body {
        @include breakpoint(sm) {
          padding: 0 2rem $md 0;
        }
      }
    }

    .card__body {
      flex: 0 1 100%;
      padding: 2rem;

      @include breakpoint(sm) {
        padding: 0;
      }

      min-height: 1px;
    }

    @include breakpoint(sm) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: unset;
      width: 100%;
      margin-bottom: 1.6rem;
    }

    .card__title {
      font-family: $font-family-serif;
      font-weight: $font-weight-bold;

      @include breakpoint(sm) {
        padding: 0;
        margin: 0 0 $xsm;
      }
    }

    .bttn--outline {

      &:after {
        width: auto;
      }
    }
  }

  &--media-right {
    flex-direction: row-reverse;


    &.card--enclosed,
    &.card {
      flex-direction: row-reverse;
    }
  }

  // @todo move card header to separate component
  &__head {
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    @include center(horizontal);

    @include breakpoint(sm) {
      padding: 0 0 2rem 0;
    }

    @include breakpoint(menu) {
      margin: 0;
      display: block;
    }

    p {
      @include brand-cool-gray;
      margin: 0;
    }

    .bold-headline {
      display: block;
    }

    .bttn {
      flex-basis: 100%;
      padding-top: $sm;

      @include breakpoint(sm) {
        padding-top: $md;
      }

      &.bttn--link:hover,
      &.bttn--link:focus {
        background: transparent;
        text-decoration: underline;
      }
    }

    h2 {
      margin: 0;
      padding: 0;
    }
  }
}


// set padding if background color is different from card color
[class*="bg-"] [class*="bg-"] {
  .card__body {
    padding: 2rem;
  }
}

// unset matching background color padding
.bg--gold .bg--gold.card--stacked:not(.card--enclosed),
.bg--white .bg--white.card--stacked:not(.card--enclosed),
.bg--black .bg--black.card--stacked:not(.card--enclosed),
.bg--gray .bg--gray.card--stacked:not(.card--enclosed) {
  .card__body {
    padding: 2rem 0;
  }
}

// background inherit overrides
.card.card--enclosed {

  &.bg--white,
  &.bg-pattern--brain,
  &.bg--gold .bg--white,
  &.bg--gold .bg-pattern--brain,
  &.bg-pattern--brain--gold .bg--white,
  &.bg-pattern--brain--gold .bg-pattern--brain,
  .bg--white &,
  .bg-pattern--brain &,
  .bg--gold .bg--white &,
  .bg--gold .bg-pattern--brain &,
  .bg-pattern--brain--gold .bg--white &,
  .bg-pattern--brain--gold .bg-pattern--brain & {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.card {

  &.bg--white,
  &.bg-pattern--brain,
  &.bg--gold .bg--white,
  &.bg--gold .bg-pattern--brain,
  &.bg-pattern--brain--gold .bg--white,
  &.bg-pattern--brain--gold .bg-pattern--brain,
  .bg--white &,
  .bg-pattern--brain &,
  .bg--gold .bg--white &,
  .bg--gold .bg-pattern--brain &,
  .bg-pattern--brain--gold .bg--white &,
  .bg-pattern--brain--gold .bg-pattern--brain & {
    .bttn--outline {
      border-color: $primary;
    }
  }
}
