

<div class="menu-container bg--white">
  <nav class="nav  main--secondary--horizontal">
    <h2 class="visually-hidden">Main navigation</h2>
    <ul class="menu">
      <li class="menu-item">
        <a href="">Some other link</a>
      </li>
      <li class="menu-item menu-item--expanded">
        <a href="">Field Education Manual</a>
        <ul class="menu">
          <li class="menu-item menu-item--expanded">
            <a href="">Example 1</a>
            <ul class="menu">
              <li class="menu-item">
                <a href="">Example 1</a>
              </li>
              <li class="menu-item">
                <a href="">Example 2</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="">Example 2</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="">Placement Search, Process, and Deadlines</a>
      </li>
      <li class="menu-item">
        <a href="" class="is-active">Field Education Forms and IPT</a>
        <ul class="menu">
          <li class="menu-item">
            <a href="">Example 3</a>
          </li>
          <li class="menu-item">
            <a href="">Example 4</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="">Field Instructors and Prospective Agencies</a>
      </li>
      <li class="menu-item">
        <a href="">Contacts</a>
      </li>
    </ul>
  </nav>
</div>

