.uiowa-bar__slogan {
  flex-basis: content;
  margin: 0 0 -10px 0;
  width: 100%;
  background: $primary;
  padding: $md 0 0 $gutter;
  font-weight: $font-weight-light;
  .o-canvas--lock & {
    @include breakpoint(menu) {
      background: transparent;
    }
  }
  a {
    color: $secondary;
    text-decoration: none;
  }

  @include breakpoint(menu) {
    background: transparent;
    display: flex;
    align-items: center;
    width: auto;
    padding: 1px 0 0;
  }
}

