.menu--group {
  .menu {
    @include flexbox;
    @include margin($top: $md, $left: 0, $bottom: $sm);
    li {
      //@include flexbox;
      flex: 1;
      border: 1px solid $grey-light;
      border-right: none;
      display: block;
      text-align: center;
      a {
        display: block;
        text-decoration: none;
        color: $med-gray;
        line-height: 1;
        @include padding($top: $md, $right: $md, $bottom: $md, $left: $md);
        &:hover {
          background: $light;
        }
      }
      &:last-child {
        a {
          border-right: 1px solid $grey-light;
        }
      }
    }
  }
}

