

<!-- Start: @headline--bold-headline-caps -->
<h2 class="bold-headline bold-headline--caps">
        <span class="heading__heading">Bold Headline Antonio</span>
    </h2>
<!-- End: @headline--bold-headline-caps -->

<!-- Start: @headline--bold-headline-antonio-with-underline -->
<h2 class="bold-headline bold-headline--underline bold-headline--caps">
        <span class="heading__heading">Bold Headline Antonio Underlined</span>
    </h2>
<!-- End: @headline--bold-headline-antonio-with-underline -->

<!-- Start: @headline--bold-headline-serif -->
<h2 class="bold-headline bold-headline--serif">
        <span class="heading__heading">Bold Headline Zilla Slab</span>
    </h2>
<!-- End: @headline--bold-headline-serif -->

<!-- Start: @headline--bold-headline-zilla-with-underline -->
<h2 class="bold-headline bold-headline--serif bold-headline--underline">
        <span class="heading__heading">Bold Headline Zilla Slab Underlined</span>
    </h2>
<!-- End: @headline--bold-headline-zilla-with-underline -->

<!-- Start: @headline--bold-headline-zilla-with-highlight -->
<h2 class="bold-headline bold-headline--serif bold-headline--highlight">
        <span class="heading__heading">Bold Headline Zilla Slab Highlighted</span>
    </h2>
<!-- End: @headline--bold-headline-zilla-with-highlight -->

