

<div class="hero hero__center hero--banner hero-- hero--thin bg-pattern--brain">

      
      
      <div class="hero__container hero__container-center hero--banner">
      <div class="hero__content hero__content-center hero--banner">

        
                              <h2 class="bold-headline--serif bold-headline bold-headline--highlight">
        <span class="heading__heading">We’re in this together</span>
    </h2>
                  
        <p>Every Hawkeye has a role to play in preventing the spread of COVID-19.</p><p><a class="bttn bttn--secondary bttn--caps" href="/student-life/iowa-city">Read Fall 2020 guidelines <span class="fa-arrow-right fas"></span> </a></p>

      </div>
    </div>

  </div>

