

<nav role="navigation" aria-label="Main Navigation" class="block-superfish-alt">
	<h2 class="block-title ">Top Searches:</h2>
	<ul id="superfish-main-accordion" class="menu sf-menu sf-main sf-style-none sf-accordion sf-expanded">
					<li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 ">Cost</a>
	<ul class="sf-hidden" style="float: none;">
			</ul>
</li></li>

					<li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 ">Financial Aid</a>
	<ul class="sf-hidden" style="float: none;">
			</ul>
</li></li>

					<li class="sf-depth-1 sf-no-children">
<a href="#" class="sf-depth-1 ">Registration</a>
	<ul class="sf-hidden" style="float: none;">
			</ul>
</li></li>

			</ul>
</nav>




<style>
/**
 * sfSmallscreen.
 */

ul.sf-menu.sf-expanded ul {
    position: relative;
    display: block;
}


.block-superfish-alt .sf-style-none > li.sf-expanded > a.sf-depth-1.menuparent::before, .block-superfish-alt .menu > li.sf-expanded > a.sf-depth-1.menuparent::before {
  content: "\f077";
}



ul.sf-menu.sf-accordion {
  display: block !important;
  position: absolute;
}

</style>


