<div class="highlight__wrapper">

	{% block headline %}
		{% if highlight_title is not empty %}
			{% include '@headline' with {
        'headline_level' : 'h3',
        'headline_class' : 'highlight__title',
        'headline_text' : highlight_title,
      } %}
		{% endif %}
	{% endblock %}

	{% block sub %}
		{% if highlight_sub is not empty %}

			<div class="highlight__sub">
				<span>{{ highlight_sub }}</span>
			</div>
		{% endif %}

	{% endblock %}
</div>
