


<div class="card click-container card--stacked card--centered">
            <div class="card__media media--circle card__media--small">
                  <img class="media--border media--circle" src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="headline card__title">
        <span class="headline__text">Getting to know Iowa's fall 2018 graduates</span>
    </h2>
          
                  <div class="card__details">
                                                                    <div class="card__meta">
                June 14, 1984
              </div>
                                      <div class="card__meta">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                </div>
</div>

