{% for item in items %}
  <a href="{{ item.button_link }}" class="bttn {{ item.button_type }}">
    {{ item.button_text }}
    {% if item.button_icon %}
      <i class="fas fa-arrow-right"></i>
    {% endif %}
  </a>
{% endfor %}
