<table>
  <caption>This is a default table.</caption>
  <thead>
  <tr>
    <th>Person</th>
    <th>Number</th>
    <th>Third Column</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Someone Lastname</th>
    <td>900</td>
    <td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
  </tr>
  <tr>
    <th>
      <a href="#">Person Name</a>
    </th>
    <td>1200</td>
    <td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper
      nulla non metus auctor fringilla.</td>
  </tr>
  <tr>
    <th>Another Person</th>
    <td>1500</td>
    <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
  </tr>
  <tr>
    <th>Last One</th>
    <td>2800</td>
    <td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
      mattis consectetur purus sit amet fermentum.</td>
  </tr>
  </tbody>
</table>
<br>
<table class="table--gray-borders table--width-default">
  <caption>Tables can have captions now.</caption>
  <thead>
  <tr>
    <th>Person</th>
    <th>Number</th>
    <th>Third Column</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Someone Lastname</th>
    <td>900</td>
    <td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
  </tr>
  <tr>
    <th>
      <a href="#">Person Name</a>
    </th>
    <td>1200</td>
    <td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper
      nulla non metus auctor fringilla.</td>
  </tr>
  <tr>
    <th>Another Person</th>
    <td>1500</td>
    <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
  </tr>
  <tr>
    <th>Last One</th>
    <td>2800</td>
    <td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
      mattis consectetur purus sit amet fermentum.</td>
  </tr>
  </tbody>
</table>

<br/><br/>

<table class="table--gray-borders table--static">
  <caption class="element-invisible">Tables can have captions now.</caption>
  <thead>
  <tr>
    <th>Person</th>
    <th>Number</th>
    <th>Third Column</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Someone Lastname</th>
    <td>900</td>
    <td>Nullam quis risus eget urna mollis ornare vel eu leo.</td>
  </tr>
  <tr>
    <th>
      <a href="#">Person Name</a>
    </th>
    <td>1200</td>
    <td>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper
      nulla non metus auctor fringilla.</td>
  </tr>
  <tr>
    <th>Another Person</th>
    <td>1500</td>
    <td>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
  </tr>
  <tr>
    <th>Last One</th>
    <td>2800</td>
    <td>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras
      mattis consectetur purus sit amet fermentum.</td>
  </tr>
  </tbody>
</table>

<br/><br/>

<table class="table--static table--width-default" summary="Undergraduate Cost of Attendence - Living on Campus Example Table">
  <caption><strong>Living On Campus - Example Table</strong></caption>
	<thead>
    <tr><th scope="row">&nbsp;</th>
			<th scope="col">Resident</th>
			<th scope="col">Nonresident</th>
		</tr>
  </thead>
  <tbody>
    <tr><th colspan="3" scope="row">Estimated Charges</th>
		</tr><tr><th scope="row">Tuition &amp; Fees</th>
			<td>$0,000</td>
			<td>$00,000</td>
		</tr><tr><th scope="row">Housing &amp; Meals</th>
			<td>$00,000</td>
			<td>$00,000</td>
		</tr><tr><th scope="row">Subtotal</th>
			<td><strong>$00,000</strong></td>
			<td><strong>$00,000</strong></td>
		</tr><tr><th colspan="3" scope="row">Other Estimated Expenses</th>
		</tr><tr><th scope="row">Books &amp; Supplies</th>
			<td>$000</td>
			<td>$000</td>
		</tr><tr><th scope="row">Personal</th>
			<td>$0,000</td>
			<td>$0,000</td>
		</tr><tr><th scope="row">Transportation</th>
			<td>$000</td>
			<td>$000</td>
		</tr><tr><th scope="row"><strong>Total</strong></th>
			<td><strong>$00,000</strong></td>
			<td><strong>$00,000</strong></td>
		</tr>
  </tbody>
</table>

<br/><br/>

<table class="table--static table--gray-borders" summary="Undergraduate Cost of Attendence - Living on Campus Example Table">
  <thead>
  <tr><th scope="row">&nbsp;</th>
    <th scope="col">Resident</th>
    <th scope="col">Nonresident</th>
  </tr>
  </thead>
  <tbody>
  <tr><th colspan="3" scope="row">Estimated Charges</th>
  </tr><tr><th scope="row">Tuition &amp; Fees</th>
    <td>$0,000</td>
    <td>$00,000</td>
  </tr><tr><th scope="row">Housing &amp; Meals</th>
    <td>$00,000</td>
    <td>$00,000</td>
  </tr><tr><th scope="row">Subtotal</th>
    <td><strong>$00,000</strong></td>
    <td><strong>$00,000</strong></td>
  </tr><tr><th colspan="3" scope="row">Other Estimated Expenses</th>
  </tr><tr><th scope="row">Books &amp; Supplies</th>
    <td>$000</td>
    <td>$000</td>
  </tr><tr><th scope="row">Personal</th>
    <td>$0,000</td>
    <td>$0,000</td>
  </tr><tr><th scope="row">Transportation</th>
    <td>$000</td>
    <td>$000</td>
  </tr><tr><th scope="row"><strong>Total</strong></th>
    <td><strong>$00,000</strong></td>
    <td><strong>$00,000</strong></td>
  </tr>
  </tbody>
</table>

<br/><br/>

<table>
  <caption class="element-invisible">Tables can have captions now.</caption>
  <thead>
    <tr>
      <th>Person</th>
      <th>Number</th>
      <th>Third Column</th>
      <th>Fourth Column</th>
      <th>Fifth Column</th>
      <th>Sixth Column</th>
      <th>Seventhth Column</th>
      <th>Eighth Column</th>
      <th>Ninth Column</th>
      <th>Tenth Column</th>
      <th>Eleventh Column</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Someone Lastname</th>
      <td>900</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>
        <a href="#">Person Name</a>
      </th>
      <td>1200</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>Another Person</th>
      <td>1500</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>some other person</th>
      <td>2800</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>Someone and a Lastname</th>
      <td>500</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>
        <a href="#">Linked Name</a>
      </th>
      <td>1720</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>Another random person</th>
      <td>1200</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>Some other Person</th>
      <td>2200</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>Firstname and something</th>
      <td>920</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>
        <a href="#">Linked Other Name</a>
      </th>
      <td>1208</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>Another Person Randomly selected</th>
      <td>1550</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
    <tr>
      <th>Last One</th>
      <td>2830</td>
      <td>9999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
      <td>1999</td>
    </tr>
  </tbody>
</table>

<br/><br/>

<table class="table--width-default table--gray-borders">
  <caption class="element-invisible">This table was given a default width</caption>
  <thead>
  <tr>
    <th>Person</th>
    <th>Number</th>
    <th>Third Column</th>
    <th>Fourth Column</th>
    <th>Fifth Column</th>
    <th>Sixth Column</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Someone Lastname</th>
    <td>900</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>
      <a href="#">Person Name</a>
    </th>
    <td>1200</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Another Person</th>
    <td>1500</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>some other person</th>
    <td>2800</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Someone and a Lastname</th>
    <td>500</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>
      <a href="#">Linked Name</a>
    </th>
    <td>1720</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Another random person</th>
    <td>1200</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Some other Person</th>
    <td>2200</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Firstname and something</th>
    <td>920</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>
      <a href="#">Linked Other Name</a>
    </th>
    <td>1208</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Another Person Randomly selected</th>
    <td>1550</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Last One</th>
    <td>2830</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  </tbody>
</table>

<br/><br/>

<table class="table--hover-highlight table--gray-borders">
  <thead>
  <tr>
    <th>Person</th>
    <th>Number</th>
    <th>Third Column</th>
    <th>Fourth Column</th>
    <th>Fifth Column</th>
    <th>Sixth Column</th>
    <th>Seventhth Column</th>
    <th>Eighth Column</th>
    <th>Ninth Column</th>
    <th>Tenth Column</th>
    <th>Eleventh Column</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Someone Lastname</th>
    <td>900</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>
      <a href="#">Person Name</a>
    </th>
    <td>1200</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Another Person</th>
    <td>1500</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>some other person</th>
    <td>2800</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Someone and a Lastname</th>
    <td>500</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>
      <a href="#">Linked Name</a>
    </th>
    <td>1720</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Another random person</th>
    <td>1200</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Some other Person</th>
    <td>2200</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Firstname and something</th>
    <td>920</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>
      <a href="#">Linked Other Name</a>
    </th>
    <td>1208</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Another Person Randomly selected</th>
    <td>1550</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  <tr>
    <th>Last One</th>
    <td>2830</td>
    <td>9999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
    <td>1999</td>
  </tr>
  </tbody>
</table>
