@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

// Deprecated - Aerial Photo Grid

.hero__container.hero__container-grid {
  max-width: 100%;
}

/* Safari 7.1+ */

_::-webkit-full-page-media,
_:future,
:root .hero__content-grid>*:nth-child(2),
:root .hero__content-grid>*:nth-child(1) {
  @include breakpoint(container) {
    padding-top: 1rem;
  }
}

_::-webkit-full-page-media,
_:future,
:root .hero__image img {
  @include breakpoint(container) {
    // height: 100vh;
  }
}

_::-webkit-full-page-media,
_:future,
:root .hero.hero__grid .hero__content {
  align-content: center;

  @include breakpoint(menu) {
    //height: 100vh;
  }
}


.hero__grid .hero__content {
  position: relative;
  text-align: center;

  @include breakpoint(sm) {
    position: absolute;
    text-align: left;
  }

  background: transparent;
  z-index: 1;

  p {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
  }
}

.hero__grid {
  .bold-headline {
    font-size: calc(100% + 6vw);
    line-height: 1;
    color: #fff;

    @include breakpoint(sm) {
      font-size: calc(100% + 8vw);
    }
  }
}


.hero__content-grid {
  >*:nth-child(2) {
    @include center(vertical);

    @include breakpoint(sm) {
      padding-right: 3rem;
      font-size: calc(100% + .5vw);
    }

    @include breakpoint(container) {
      margin-top: 0px;
    }
  }

  top: 0;
  height: 100%;
  background: transparent;

  @include breakpoint(sm) {
    top: 0;
  }
}




.hero__content-grid {
  padding: 0 $mobile-width-gutter;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: grid;
  width: 100%;

  @include breakpoint(sm) {
    padding: 0 $desktop-width-gutter;
  }
}

.hero__content-grid>*:nth-child(1) {
  align-self: end;
  grid-area: 2 / 1 / 3 / 4;
  color: #fff;
  text-transform: uppercase;
  font-family: $font-family-caps-bold;

  @include breakpoint(container) {
    display: flex;
    text-align: left;
    align-self: center;
    grid-area: 2 / 1 / 3 / 3;
    padding-top: 14rem;
  }

  @include breakpoint(container) {
    width: auto;
    align-self: auto;
  }
}

.hero__content-grid>*:nth-child(2) {
  grid-area: 3 / 1 / 4 / 4;
  padding-bottom: $mobile-width-gutter;

  @include breakpoint(sm) {
    padding-bottom: $desktop-width-gutter;
  }


  @include breakpoint(container) {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    padding-top: 14rem;
  }
}



// Hero Grid Deprecated ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .hero__content-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .hero__content-grid>* {
    flex: 1 0 auto;
  }

  .hero__content-grid .highlight__wrapper .highlight__sub {
    display: none;
  }

  .hero__content-grid .highlight__wrapper {
    width: 33%;
  }

  .hero__content-grid .bold-headline--caps.bold-headline {
    //width: 60%;
  }

  .hero.hero__grid .highlight__wrapper {
    width: auto !important;
  }
}

.hero.hero__grid .bttn {
  margin-top: $md;
  display: block;
  flex-basis: 100%;

  @include breakpoint(sm) {
    display: table;
    flex-basis: unset;
  }

  @include breakpoint(container) {
    margin-top: $lg;
  }
}

.hero__content-grid .highlight__title span {
  position: relative;

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: $primary;
    border-width: 15px;
    margin-left: -15px;
  }
}



// deprecated home page hero video styles/custom move to uids_base

.hero__content .bttn {
  @include breakpoint(sm) {
    //display: inline-block;
  }
}


.hero {
  .bttn--secondary {
    z-index: 1;
    background: #fff;
    color: $secondary;
    display: block;

    @include breakpoint(sm) {
      color: #fff;
      display: inline-block;
    }


    @include breakpoint(sm) {
      margin-right: $md;
      background: #000;
      // background: rgba(0, 0, 0, 0.58);
    }

    &:hover,
    &:focus {
      color: $secondary;

      @include breakpoint(sm) {
        color: $primary;
        background: #333;
        background: rgba(34, 34, 34, 0.73);

      }
    }
  }
}

.hero__content-center .hero__links a.bttn:nth-child(3),
.hero__content-center div a.bttn:nth-child(3) {
  margin-right: 0;
}


// breadcrumbs - move to drupal partial

.hero {
  .breadcrumb {
    li {
      @include breakpoint(sm) {
        color: white;
      }
    }

    a {
      @include breakpoint(sm) {
        color: white;
      }
    }
  }
}
