<nav role="navigation" aria-label="External Links" class="{{ menu_classes }}">
  <ul class="menu">
    {% for link in menu_group_nav.links %}
      {% include "@group--links" with {
        "menu_group_url": item.menu_group_url,
        "menu_group_title": item.menu_group_title
            } %}
    {% endfor %}
  </ul>
</nav>
