.events-card {
  position: relative;
  transition: transform .35s, z-index .5s;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%; }
  .events-card__body {
    padding: 0 1.25rem 1.25rem 1.25rem; }
    @media (min-width: 768px) {
      .events-card__body {
        text-align: center;
        width: 100%; } }
    @media (min-width: 84.375em) {
      .events-card__body {
        width: 70%;
        padding: 0;
        text-align: left; } }
  .events-card__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start; }
    @media (min-width: 84.375em) {
      .events-card__row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        border: none;
        padding: 1.5rem;
        background: transparent; } }
    .events-card__row .fas,
    .events-card__row .svg-inline--fa {
      color: #737373;
      padding-right: 0.325rem;
      position: absolute;
      margin-left: -25px; }
      .uids-component--gold .events-card__row .fas, .uids-component--gold
      .events-card__row .svg-inline--fa {
        color: white; }
    .events-card__row .svg-inline--fa {
      width: 17px; }
  .events-card__wrapper {
    padding-bottom: 20px; }
    @media (min-width: 855px) {
      .events-card__wrapper {
        padding-bottom: 0;
        padding: 0 3rem;
        display: flex; } }
  .events-card__image {
    overflow: hidden;
    contain: paint; }
    @media (min-width: 84.375em) {
      .events-card__image {
        height: auto;
        margin-bottom: 0; } }
  .events-card__image img {
    align-self: start;
    background: #fff; }
    @media (min-width: 768px) {
      .events-card__image img {
        border-radius: 50%;
        margin-top: 0;
        height: auto;
        padding: 8px;
        border: 1px solid #737373; } }
    .uids-component--gold .events-card__image img {
      background: #FFCD00; }
      @media (min-width: 768px) {
        .uids-component--gold .events-card__image img {
          border: 1px solid white; } }
    .uids-component--gray .events-card__image img {
      background: #f3f3f3; }
    .uids-component--black .events-card__image img {
      background: #151515;
      border: 1px solid #FFCD00; }
  .events-card .bttn {
    padding: 0.325rem;
    margin-top: 1.05rem;
    background: transparent;
    border: none;
    font-size: .8rem; }
    .uids-component--gold .events-card .bttn:after {
      background-color: #fff; }
    .uids-component--black .events-card .bttn,
    .uids-component--gold .events-card .bttn,
    .uids-component--gray .events-card .bttn {
      padding: 0 0 .4rem 0; }
    .uids-component--gray .events-card .bttn {
      border-color: #737373; }
    .uids-component--black .events-card .bttn {
      color: #FFCD00; }
  @media (min-width: 768px) {
    .events-card__image {
      display: block;
      width: 70%;
      margin: 0 auto; } }
  @media (min-width: 84.375em) {
    .events-card__image {
      display: block;
      width: 60%;
      margin-right: 15px;
      margin-left: 0; } }
  .events-card__label {
    font-family: "Zilla Slab", serif;
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 25px; }
    .uids-component--black .events-card__label {
      color: #f3f3f3; }
  .events-card__title {
    font-family: "Zilla Slab", serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.625rem;
    margin-bottom: 0.325rem; }
    .events-card__title a {
      text-decoration: none;
      color: #151515; }
      .events-card__title a:hover, .events-card__title a:focus {
        text-decoration: underline; }
      .events-card__title a:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0; }
      .uids-component--black .events-card__title a {
        color: white; }
  .events-card__date {
    margin-bottom: 0.325rem;
    font-family: "Zilla Slab", serif;
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic; }
    .uids-component--black .events-card__date {
      color: #FFCD00; }
  .events-card__text {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  .events-card__link {
    text-decoration: none;
    letter-spacing: .06rem;
    text-transform: uppercase;
    color: #151515;
    font-weight: 300; }
    .events-card__link:after {
      content: "\f0da";
      padding-left: 0.625rem;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900; }
