<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ static.path }}
    <link media="all" rel="stylesheet" href="{{ '/assets/css/uiowa-base.css'|path }}">

    <title>Preview Layout</title>
</head>
<body>

{{ yield }}

</body>

<script src="/assets/vendor/js/jquery.js"></script>
</html>
