.program {
  margin: 1.5rem 0; }
  .program .program__container {
    border: none;
    margin-bottom: 1.5rem; }
    @media (min-width: 768px) {
      .program .program__container {
        text-align: center;
        margin-bottom: 3rem; } }
  .program .program__wrapper {
    padding: 0 2%; }
    @media (min-width: 768px) {
      .program .program__wrapper {
        padding: 0 7%; } }
  .program .program__wrapper:after {
    content: "";
    display: block;
    margin: 0 auto 1.5rem;
    border-bottom: 1px solid lightgray;
    width: 70%; }
    @media (min-width: 768px) {
      .program .program__wrapper:after {
        margin: 0 auto 3rem;
        width: 80%; } }
  @media (min-width: 768px) {
    .program .program__bottom__wrapper {
      display: flex; } }
  .program .program__excerpt__wrapper {
    padding: 0 2%;
    border-right: 1px solid lightgray; }
    @media (min-width: 768px) {
      .program .program__excerpt__wrapper {
        flex: 50%; } }
  .program .program__excerpt__wrapper:after {
    content: "";
    display: block;
    border-bottom: 1px solid lightgray;
    margin: 0 auto 1.5rem;
    width: 70%; }
    @media (min-width: 768px) {
      .program .program__excerpt__wrapper:after {
        border-bottom: none; } }
  .program .program__cta__wrapper {
    padding: 0 2%; }
    @media (min-width: 768px) {
      .program .program__cta__wrapper {
        flex: 50%;
        text-align: center; } }
