//// Typographic Elements

.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  @include margin($bottom: $sm);
}

.content p,
.content dl,
.content ol,
.content ul,
.content blockquote,
.content pre,
.content table {
  font-weight: $font-weight-light;
}

.content p {
  line-height: 1.4;
}

.content a {
  color: $link-color;
}

.content figure {
  text-align: center;
  @include margin($left: $lg, $right: $lg);
}

.content figure:not(:first-child) {
  @include margin($top: $lg);
}

.content figure:not(:last-child) {
  @include margin($bottom: $lg);
}

.content figure img {
  display: inline-block;
}

.content figure figcaption {
  font-style: italic;
}

.content pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: $md;
  white-space: pre;
  word-wrap: normal;
}

.content sup,
.content sub {
  font-size: 75%;
}

.content.is-small {
  font-size: $small-font-size;
}

.content.is-medium {
  font-size: $h6-font-size;
}

.content.is-large {
  font-size: $h4-font-size;
}

.image {
  position: relative;
  display: block;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}
