.menu--quick-links {
  .menu {
    @include flexbox;
    margin: 30px 0 0;
    flex-direction: column;
    li {
      //@include flexbox;
      flex-grow: 1;
      display: block;
      i {
        color: #666;
        padding-right: 20px;
      }
      a {
        display: block;
        text-decoration: none;
        color: $med-gray;
        text-transform: uppercase;
        @include padding($top: $xsm, $right: $md, $bottom: $xsm, $left: 0);
        &:hover {
          text-decoration: underline;
        }
      }
      &:last-child {
        a {
          border-right: 1px solid $grey-light;
        }
      }
    }
  }
}

