.menu--quick-links {
  position: absolute;
  //background: #fff;
  bottom: -112px;
  z-index: 100;
  left: 5px;
  width: 82%;
  padding-left: 20px;
  @include element-invisible;

  .header--primary & {
    @include breakpoint(menu) {
      //display: block;
      @include element-invisible-off;
      position: absolute!important;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;

    li {
      list-style: none;
      margin-right: 20px;

      i {
        color: #999;
        padding-right: 6px;
      }

      a {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: .8rem;
        text-transform: uppercase;
        @include padding($top: $xsm, $right: $md, $bottom: $xsm, $left: 0);

        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
