<nav aria-label="Quick Links" role="navigation" class="menu--quick-links">
  <ul>
    {% for link in menu_quick_nav.links %}
      {% include "@quick--links" with {
        "menu_quick_url": item.menu_quick_url,
        "menu_quick_title": item.menu_quick_title,
        "menu_quick_icon": item.menu_quick_icon
            } %}
    {% endfor %}
  </ul>
</nav>
