.feature {
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.61, -0.44, 0.33, 1.39);
  color: $white;

  &:nth-child(1) {
    width: 50vw;
  }

  &:nth-child(2) {
    width: 25vw;
  }

  &:nth-child(3) {
    width: 25vw;
  }

  &__container {
    display: flex;
    width: 99.1vw;
    min-height: 540px;
  }

  &:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(transparent 1%, transparent 49%, rgba(0, 0, 0, .7));
  }

  a {
    text-decoration: none;
    color: $white;
  }

  &__content {
    position: absolute;
    bottom: 0;
    transition: opacity .3s linear;
    opacity: 0;
    @include padding($top: $xlg, $right: $xlg, $bottom: $sm, $left: $xlg);
  }

  &__hr {
    border: 0;
    border-top: 1px solid #eee;
    @include margin($top: $md, $bottom: $md);
  }

  &__bracket {
    z-index: 1;
    @include bracket();
  }

  &__heading {
    margin: 0;
    white-space: nowrap;
    color: $white;
    font-size: $h2-font-size;
    line-height: 1;
    @extend %shadow;
  }

  &__subheading {
    margin: 0;
    white-space: nowrap;
    font-size: $base-font-size;
    @extend %shadow;
  }

  &__teaser {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: $md;
    transition: opacity .4s linear;
    opacity: 1;
    color: $white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
  }

  &__teaser-heading {
    display: inline;
    margin: 0;
    color: $white;
    font-size: $h6-font-size;
    font-weight: $font-weight-medium-bold;
    font-style: normal;
    line-height: 1;

    i {
      padding-left: $sm;
      &.fa-plus:before {
        padding: $xsm;
        color: $primary;
        border: 1px solid $white;
        border-radius: 50%;
        font-size: $small-font-size;
      }
    }
  }
}


@include breakpoint(sm) {
  .feature {
    transition: width 500ms ease-in-out;
  }
}


// Hide/Reveal Teaser

.feature:nth-child(1) {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(transparent 1%, transparent 49%, rgba(0, 0, 0, .7));
  }

  .feature__content {
    opacity: 1;
  }

  .feature__teaser {
    opacity: 0;
  }
}

.feature:hover .feature__content,
.feature:focus .feature__content {
  opacity: 1;
}

.feature:hover .feature__teaser,
.feature:focus .feature__teaser {
  opacity: 0;
}

// Sibling Adjacent Hover

.feature__container {
  pointer-events: none;
}

.feature__container>.feature {
  cursor: pointer;
  pointer-events: auto;
}

.feature__container:hover>.feature,
.feature__container:focus-within>.feature {
  width: 25vw;

  .feature__content {
    opacity: 0;
  }

  .feature__teaser {
    opacity: 1;
  }
}

.feature__container:hover>.feature:hover,
.feature__container:focus-within>.feature:focus {
  width: 50vw;

  .feature__content {
    opacity: 1;
  }

  .feature__teaser {
    opacity: 0;
  }
}
