.feature {
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.61, -0.44, 0.33, 1.39);
  color: $white;

  &:nth-child(1) {
    .feature__one-col & {
       width: 100vw;
     }
    .feature__two-col & {
      width: 75vw;
    }
    .feature__three-col & {
      width: 50vw;
    }
  }

  &:nth-child(2) {
    width: 25vw;
  }

  &:nth-child(3) {
    width: 25vw;
  }

  &__container {
    display: flex;
    width: 99.1vw;
    &.image {
      min-height: 540px;
    }
  }

  &:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(transparent 1%, transparent 49%, rgba(0, 0, 0, .7));
  }

  a {
    text-decoration: none;
    color: $white;
  }

  &__content {
    position: absolute;
    bottom: 0;
    transition: opacity .3s linear;
    opacity: 0;
    @include padding($top: $xlg, $right: $xlg, $bottom: $sm, $left: $xlg);
  }

  &__hr {
    border: 0;
    border-top: 1px solid #eee;
    @include margin($top: $md, $bottom: $md);
  }

  &__bracket {
    z-index: 1;
    @include bracket();
    width: 500px;
  }

  &__heading {
    margin: 0;
    //white-space: nowrap;
    color: $white;
    font-size: $h2-font-size;
    line-height: 1;
    @extend %shadow;
  }

  &__subheading {
    margin: 0;
    //white-space: nowrap;
    font-size: $base-font-size;
    @extend %shadow;
  }

  &__teaser {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: $md;
    transition: opacity .4s linear;
    opacity: 1;
    color: $white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
  }

  &__teaser-heading {
    display: inline;
    margin: 0;
    color: $white;
    font-size: $h6-font-size;
    font-weight: $font-weight-medium-bold;
    font-style: normal;
    line-height: 1;

    i {
      padding-left: $sm;

      &.fa-plus:before {
        padding: $xsm;
        color: $primary;
        border: 1px solid $white;
        border-radius: 50%;
        font-size: $small-font-size;
      }
    }
  }
}

@include breakpoint(sm) {
  .feature {
    transition: width 500ms ease;
  }
}

// Hide/Reveal Teaser

.feature:nth-child(1) {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(transparent 1%, transparent 49%, rgba(0, 0, 0, .7));
  }

  .feature__content {
    opacity: 1;
  }

  .feature__teaser {
    opacity: 0;
  }
}

.feature:hover .feature__content,
.feature:focus .feature__content {
  opacity: 1;
}

.feature:hover .feature__teaser,
.feature:focus .feature__teaser {
  opacity: 0;
}

.feature__container {
  pointer-events: none;
}

.feature__container>.feature {
  cursor: pointer;
  pointer-events: auto;
}

.feature__container.feature__three-col:hover>.feature,
.feature__container.feature__three-col:focus-within>.feature,
.feature__container.feature__two-col:hover>.feature,
.feature__container.feature__two-col:focus-within>.feature {
  width: 25vw;

  .feature__content {
    opacity: 0;
  }

  .feature__teaser {
    opacity: 1;
  }
}

.feature__container.feature__three-col:hover>.feature:hover,
.feature__container.feature__three-col:focus-within>.feature:focus {
  width: 50vw;

  .feature__content {
    opacity: 1;
  }

  .feature__teaser {
    opacity: 0;
  }
}

.feature__container.feature__two-col:hover>.feature:hover,
.feature__container.feature__two-col:focus-within>.feature:focus {
  width: 75vw;

  .feature__content {
    opacity: 1;
  }

  .feature__teaser {
    opacity: 0;
  }
}

.feature__container.feature__one-col:hover>.feature:hover,
.feature__container.feature__one-col:focus-within>.feature:focus {
  width: 100vw;
}

.feature__container.feature__one-col {
  video {
    width: 100%;
  }
}

// Video Controls
.video-btn {
  padding: $sm;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  background: none;
  top: 20px;
  left: 15px;
  font-size: $h4-font-size;
  color: $white;
  cursor: pointer;
  z-index: 1;

  &:before {
    content: "\f28b";
    @include fas();
  }

  &__play:before {
    content: "\f144";
  }
}

.video-btn:hover {
  color: $secondary;
}

.video__container {
  position: relative;
}

// Sibling Adjacent Hover
/*
.feature__container {
  pointer-events: none;
}

.feature__container>.feature {
  cursor: pointer;
  pointer-events: auto;
}

.feature__container:hover>.feature,
.feature__container:focus-within>.feature {
  width: 25vw;

  .feature__content {
    opacity: 0;
  }

  .feature__teaser {
    opacity: 1;
  }
}

.feature__container:hover>.feature:hover,
.feature__container:focus-within>.feature:focus {
  width: 50vw;

  .feature__content {
    opacity: 1;
  }

  .feature__teaser {
    opacity: 0;
  }
}
*/

/*

// Image Stack

.feature__container.image-stack {
  flex-wrap: wrap;
  flex-direction: column;
  height: 50vh;
}

.image-stack {

  .feature:nth-child(1) {
    flex: 0 0 100%;
    width: unset;

    &:hover {
      flex: 0 0 100%;
    }
  }

  .feature:nth-child(2),
  .feature:nth-child(3) {
    flex: 0 0 50%;
    width: unset;
  }

}

// Vertical stack

.feature__container.image-stack:hover>.feature:nth-child(2),
.feature__container.image-stack:focus-within>.feature:nth-child(2),
.feature__container.image-stack:hover>.feature:nth-child(3),
.feature__container.image-stack:focus-within>.feature:nth-child(3) {
    flex: 0 0 10%;
   transition: all 0.3s ease;

}

.feature__container.image-stack:hover>.feature:nth-child(2):hover,
.feature__container.image-stack:focus-within>.feature:nth-child(2):focus,
.feature__container.image-stack:hover>.feature:nth-child(3):hover,
.feature__container.image-stack:focus-within>.feature:nth-child(3):focus {
   flex: 0 0 90%;
   transition: all 0.3s ease;

}
*/
