.nav .menu {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .nav .menu > li {
    display: inline-block;
    list-style-type: none;
    margin: 0; }

.nav .menu a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media (min-width: 768px) {
  .nav {
    align-items: center;
    display: flex; } }

.nav .menu {
  overflow: visible;
  font-size: 1rem;
  display: flex; }
  .nav .menu a {
    position: relative;
    display: inline-block;
    transition: background 0.8s ease-out;
    text-decoration: none;
    color: #151515; }

.main--secondary--vertical,
.main--secondary--horizontal {
  display: block;
  border-top: 4px solid #FFCD00; }
  .main--secondary--vertical .menu,
  .main--secondary--horizontal .menu {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .main--secondary--vertical .menu li,
    .main--secondary--horizontal .menu li {
      display: block;
      width: 100%;
      margin-bottom: 0;
      font-size: 1.4rem;
      line-height: 1.3;
      border-bottom: 1px solid #c0c0c0; }
      @media (min-width: 768px) {
        .main--secondary--vertical .menu li,
        .main--secondary--horizontal .menu li {
          width: auto;
          margin-bottom: 0; } }
      .main--secondary--vertical .menu li li,
      .main--secondary--horizontal .menu li li {
        font-size: 1.1rem; }
        .main--secondary--vertical .menu li li a,
        .main--secondary--horizontal .menu li li a {
          color: #333;
          border-bottom: none;
          padding-top: 0.325rem;
          padding-right: 0.625rem;
          padding-bottom: 0.325rem;
          padding-left: 0; }
      .main--secondary--vertical .menu li:last-child,
      .main--secondary--horizontal .menu li:last-child {
        border-bottom: none; }
      .main--secondary--vertical .menu li a, .main--secondary--vertical .menu li span,
      .main--secondary--horizontal .menu li a,
      .main--secondary--horizontal .menu li span {
        position: relative;
        width: 100%;
        padding-top: 0.625rem;
        padding-right: 0.625rem;
        padding-bottom: 0.625rem;
        padding-left: 0; }
        .main--secondary--vertical .menu li a.is-active:after, .main--secondary--vertical .menu li a:active:after, .main--secondary--vertical .menu li span.is-active:after, .main--secondary--vertical .menu li span:active:after,
        .main--secondary--horizontal .menu li a.is-active:after,
        .main--secondary--horizontal .menu li a:active:after,
        .main--secondary--horizontal .menu li span.is-active:after,
        .main--secondary--horizontal .menu li span:active:after {
          background: transparent;
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 100%;
          height: 4px;
          transform-origin: center;
          transition: transform 0.3s ease-in-out;
          transform: translate(-50%, 0) scaleX(1); }
        .main--secondary--vertical .menu li a:hover, .main--secondary--vertical .menu li a:focus, .main--secondary--vertical .menu li span:hover, .main--secondary--vertical .menu li span:focus,
        .main--secondary--horizontal .menu li a:hover,
        .main--secondary--horizontal .menu li a:focus,
        .main--secondary--horizontal .menu li span:hover,
        .main--secondary--horizontal .menu li span:focus {
          text-decoration: underline; }
      .main--secondary--vertical .menu li.menu-item--expanded,
      .main--secondary--horizontal .menu li.menu-item--expanded {
        background-color: #f3f3f3; }
        .main--secondary--vertical .menu li.menu-item--expanded a.is-active,
        .main--secondary--vertical .menu li.menu-item--expanded a:active,
        .main--secondary--horizontal .menu li.menu-item--expanded a.is-active,
        .main--secondary--horizontal .menu li.menu-item--expanded a:active {
          border-bottom: none;
          font-weight: bold; }
        .main--secondary--vertical .menu li.menu-item--expanded ul,
        .main--secondary--horizontal .menu li.menu-item--expanded ul {
          display: block;
          padding-left: 2.2rem; }
          .main--secondary--vertical .menu li.menu-item--expanded ul li,
          .main--secondary--horizontal .menu li.menu-item--expanded ul li {
            border-bottom: none;
            font-size: 1rem; }
            .main--secondary--vertical .menu li.menu-item--expanded ul li a,
            .main--secondary--horizontal .menu li.menu-item--expanded ul li a {
              padding-top: 0.625rem;
              padding-right: 1.05rem;
              padding-bottom: 0.625rem;
              padding-left: 0px;
              display: flex;
              flex-direction: column;
              justify-content: center; }
              .main--secondary--vertical .menu li.menu-item--expanded ul li a:before,
              .main--secondary--horizontal .menu li.menu-item--expanded ul li a:before {
                content: "\f105";
                position: absolute;
                font-size: .9rem;
                left: -1.05rem;
                right: 1.05rem;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                font-family: "Font Awesome 5 Free";
                font-weight: 900; }
        .main--secondary--vertical .menu li.menu-item--expanded.menu-item a,
        .main--secondary--vertical .menu li.menu-item--expanded.menu-item span,
        .main--secondary--vertical .menu li.menu-item--expanded.menu-item ul,
        .main--secondary--vertical .menu li.menu-item--expanded.menu-item li,
        .main--secondary--horizontal .menu li.menu-item--expanded.menu-item a,
        .main--secondary--horizontal .menu li.menu-item--expanded.menu-item span,
        .main--secondary--horizontal .menu li.menu-item--expanded.menu-item ul,
        .main--secondary--horizontal .menu li.menu-item--expanded.menu-item li {
          color: #151515; }
    .bg--black .main--secondary--vertical .menu li a,
    .bg--black--pattern--brain .main--secondary--vertical .menu li a,
    .bg-pattern--brain-black .main--secondary--vertical .menu li a, .bg--black
    .main--secondary--horizontal .menu li a,
    .bg--black--pattern--brain
    .main--secondary--horizontal .menu li a,
    .bg-pattern--brain-black
    .main--secondary--horizontal .menu li a {
      color: #fff; }
    .bg--gold .main--secondary--vertical .menu li,
    .bg--gold--pattern--brain .main--secondary--vertical .menu li,
    .bg-pattern--brain-reversed .main--secondary--vertical .menu li, .bg--gold
    .main--secondary--horizontal .menu li,
    .bg--gold--pattern--brain
    .main--secondary--horizontal .menu li,
    .bg-pattern--brain-reversed
    .main--secondary--horizontal .menu li {
      border-bottom-color: #63666A; }
    .main--secondary--vertical .menu li:not(.menu-item--expanded) ul,
    .main--secondary--horizontal .menu li:not(.menu-item--expanded) ul {
      display: none; }
  .bg--gold .main--secondary--vertical,
  .bg--gold--pattern--brain .main--secondary--vertical,
  .bg-pattern--brain-reversed .main--secondary--vertical, .bg--gold
  .main--secondary--horizontal,
  .bg--gold--pattern--brain
  .main--secondary--horizontal,
  .bg-pattern--brain-reversed
  .main--secondary--horizontal {
    border-top: 4px solid #63666A; }

@media (min-width: 768px) {
  .main--secondary--horizontal {
    padding: 0;
    margin: 0 1.25rem;
    position: relative;
    border-top: none; } }
  @media (min-width: 768px) and (min-width: 84.375em) {
    .main--secondary--horizontal {
      max-width: 81.875em;
      margin: 0 auto; } }

@media (min-width: 768px) {
    .main--secondary--horizontal .menu {
      flex-direction: row; }
      .main--secondary--horizontal .menu ul {
        display: none; }
      .main--secondary--horizontal .menu li {
        font-size: calc(100% + .1vw);
        display: flex;
        border-bottom: none; }
        .main--secondary--horizontal .menu li:first-of-type a {
          margin-left: 0; }
        .main--secondary--horizontal .menu li:last-of-type a {
          margin-right: 0; }
        .main--secondary--horizontal .menu li a, .main--secondary--horizontal .menu li span {
          position: relative;
          width: auto;
          text-align: center;
          text-transform: uppercase;
          border: 0px;
          background-color: transparent;
          font-weight: 600;
          padding: 1.475rem 1.375rem;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center; }
          .main--secondary--horizontal .menu li a:after, .main--secondary--horizontal .menu li span:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #FFCD00;
            transform-origin: center;
            transform: translate(-50%, 0) scaleX(0);
            transition: transform 0.3s ease-in-out; }
          .main--secondary--horizontal .menu li a:focus, .main--secondary--horizontal .menu li span:focus {
            text-decoration: underline; }
          .main--secondary--horizontal .menu li a:hover::after, .main--secondary--horizontal .menu li a:focus::after, .main--secondary--horizontal .menu li span:hover::after, .main--secondary--horizontal .menu li span:focus::after {
            transform: translate(-50%, 0) scaleX(1); }
          .main--secondary--horizontal .menu li a:hover, .main--secondary--horizontal .menu li a:focus, .main--secondary--horizontal .menu li span:hover, .main--secondary--horizontal .menu li span:focus {
            text-decoration: none; }
        .main--secondary--horizontal .menu li a.is-active,
        .main--secondary--horizontal .menu li a:active {
          background-color: #f3f3f3;
          margin: 0;
          padding-right: 1.875rem;
          padding-left: 1.875rem; }
          .main--secondary--horizontal .menu li a.is-active:before,
          .main--secondary--horizontal .menu li a:active:before {
            width: 20px;
            height: 20px;
            content: '';
            position: absolute;
            left: calc(50% - 10px);
            top: calc(100% - 1px);
            background-color: transparent;
            border-top: 10px solid #FFCD00;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 10px solid transparent;
            z-index: 1; }
          .main--secondary--horizontal .menu li a.is-active:after,
          .main--secondary--horizontal .menu li a:active:after {
            background: #FFCD00;
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100%;
            height: 6px;
            transform-origin: center;
            transition: transform 0.3s ease-in-out;
            transform: translate(-50%, 0) scaleX(1); }
        .main--secondary--horizontal .menu li.menu-item--expanded {
          background-color: transparent; }
          .main--secondary--horizontal .menu li.menu-item--expanded ul {
            display: none; }
      .main--secondary--horizontal .menu li a:before {
        position: absolute;
        bottom: 35%;
        width: 1px;
        height: 25%;
        content: "";
        background: #FFCD00;
        right: -1px; }
      .main--secondary--horizontal .menu li a:after {
        background-color: #63666A; }
      .main--secondary--horizontal .menu li:last-of-type a:before {
        width: 0; }
      .bg--black .main--secondary--horizontal .menu li a.is-active,
      .bg--black .main--secondary--horizontal .menu li a:active,
      .bg--black--pattern--brain .main--secondary--horizontal .menu li a.is-active,
      .bg--black--pattern--brain .main--secondary--horizontal .menu li a:active,
      .bg--gold .main--secondary--horizontal .menu li a.is-active,
      .bg--gold .main--secondary--horizontal .menu li a:active,
      .bg--gold--pattern--brain .main--secondary--horizontal .menu li a.is-active,
      .bg--gold--pattern--brain .main--secondary--horizontal .menu li a:active,
      .bg--gray .main--secondary--horizontal .menu li a.is-active,
      .bg--gray .main--secondary--horizontal .menu li a:active,
      .bg-pattern--brain-black .main--secondary--horizontal .menu li a.is-active,
      .bg-pattern--brain-black .main--secondary--horizontal .menu li a:active,
      .bg-pattern--brain-reversed .main--secondary--horizontal .menu li a.is-active,
      .bg-pattern--brain-reversed .main--secondary--horizontal .menu li a:active {
        background: #fff; }
      .bg--black .main--secondary--horizontal .menu li a:after,
      .bg--black--pattern--brain .main--secondary--horizontal .menu li a:after,
      .bg-pattern--brain-black .main--secondary--horizontal .menu li a:after {
        bottom: 0; }
      .bg--black .main--secondary--horizontal .menu li a.is-active,
      .bg--black .main--secondary--horizontal .menu li a:active,
      .bg--black--pattern--brain .main--secondary--horizontal .menu li a.is-active,
      .bg--black--pattern--brain .main--secondary--horizontal .menu li a:active,
      .bg-pattern--brain-black .main--secondary--horizontal .menu li a.is-active,
      .bg-pattern--brain-black .main--secondary--horizontal .menu li a:active {
        color: #151515; }
      .bg--gold .main--secondary--horizontal .menu li a:before,
      .bg--gold--pattern--brain .main--secondary--horizontal .menu li a:before,
      .bg-pattern--brain-reversed .main--secondary--horizontal .menu li a:before {
        background-color: #63666A; }
      .bg--gold .main--secondary--horizontal .menu li a.is-active:before,
      .bg--gold .main--secondary--horizontal .menu li a:active:before,
      .bg--gold--pattern--brain .main--secondary--horizontal .menu li a.is-active:before,
      .bg--gold--pattern--brain .main--secondary--horizontal .menu li a:active:before,
      .bg-pattern--brain-reversed .main--secondary--horizontal .menu li a.is-active:before,
      .bg-pattern--brain-reversed .main--secondary--horizontal .menu li a:active:before {
        border-top-color: #63666A;
        background-color: transparent; }
      .bg--gold .main--secondary--horizontal .menu li a.is-active:after,
      .bg--gold .main--secondary--horizontal .menu li a:active:after,
      .bg--gold--pattern--brain .main--secondary--horizontal .menu li a.is-active:after,
      .bg--gold--pattern--brain .main--secondary--horizontal .menu li a:active:after,
      .bg-pattern--brain-reversed .main--secondary--horizontal .menu li a.is-active:after,
      .bg-pattern--brain-reversed .main--secondary--horizontal .menu li a:active:after {
        background-color: #63666A; }
    .bg--gold .main--secondary--horizontal,
    .bg--gold--pattern--brain .main--secondary--horizontal,
    .bg-pattern--brain-reversed .main--secondary--horizontal {
      border-top: none; } }

@media all and (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  .main--secondary--horizontal .menu li {
    font-size: 1rem; } }
