.table-responsive-container {
  overflow-x: auto;
  width: 100%;
  position: relative; }

table {
  width: 100%;
  font-size: 1.2rem; }

table {
  border-spacing: 0; }

.scroller .track-heading {
  font-weight: bold;
  display: inline-block; }
  .is-striped .scroller .track-heading {
    background: #FFCD00;
    text-transform: uppercase;
    border: none; }

table td,
table th,
.scroller .track-heading {
  padding: 1.05rem;
  vertical-align: top;
  padding: 1.05rem;
  font-size: 1rem; }

table th {
  color: #151515; }

table th:not([align]) {
  text-align: left; }

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom-width: 0; }

table {
  color: #151515;
  background-color: #fff; }

table thead th,
.scroller .track-heading {
  color: #151515;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid black; }

table tbody th {
  color: #151515;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: #fff;
  border-right: 1px solid black; }

table th:not([align]),
.scroller .track-heading {
  text-align: left; }

table thead td,
table thead th,
.scroller .track-heading {
  color: #151515; }

table.is-striped {
  border: 1px solid #eee; }

table.is-striped thead th {
  background: #FFCD00;
  text-transform: uppercase;
  border: none; }

table.is-striped tbody th {
  text-transform: uppercase;
  text-transform: uppercase;
  border: none;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.4)); }

/*
table thead td,
table thead th {
  color: $secondary;
  border-width: 0 0 2px;
}

table tfoot {
  background-color: transparent;
}

table tfoot td,
table tfoot th {
  color: $grey;
  border-width: 2px 0 0;
}

table tbody {
  background-color: transparent;
}

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom-width: 0;
}

table.is-bordered td,
table.is-bordered th {
  border-width: 1px;
}

table.is-bordered tr:last-child td,
table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

table.is-fullwidth {
  width: 100%;
}



table.is-narrow td,
table.is-narrow th {
  padding: 0.25em 0.5em;
  @include padding($top: $xsm, $right: $sm, $bottom: $xsm, $left: $sm);
}
*/
table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #f3f3f3; }

table-container {
  overflow: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 100%; }
