@import '../../assets/scss/variables';
//// Table Elements

.table-responsive-container {
  width: 100%;
  position: relative;
}

 table {
  width: 100%;
  font-size: $content-font-size;
}

 table {
  border-spacing: 0;
}

.headers-table {
  position: sticky;
  z-index: 1;
  top: 0;

  .scroller {
    white-space: nowrap;
    overflow-x: hidden;

    .track-heading {
      display: inline-block;

      .text-positioner {
          white-space: break-spaces;
          display: flex;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          font-weight: bold;
      }

      &:first-child {
        left: 0;

        @media only screen and (min-width: 400px) {
          position: sticky;
        }
      }
    }
  }

  .is-striped & {
    .track-heading {
      background: $primary;
      text-transform: uppercase;
      border: none;
    }
  }
}

.table-responsive-container.is-striped {
  &.isSticky-Top {
    .headers-table {
      transition: filter 0.3s ease-in-out;

      @media only screen and (max-width: 600px) {
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
      }
    }
  }

  &.isSticky-Left {
    table.is-striped tbody th {
      @media only screen and (min-width: 400px) {
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
      }
    }

    .track-heading:first-child {
      @media only screen and (min-width: 400px) {
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
      }
    }
  }
}

.table-container {
  overflow-x: auto;
}

table td,
table th,
.scroller .track-heading {
  padding: $md;
  vertical-align: bottom;
  font-size: $base-font-size;
}

 table th {
  color: $secondary;
}

 table th:not([align]) {
  text-align: left;
}

 table tbody tr:last-child td,
 table tbody tr:last-child th {
  border-bottom-width: 0;
}

table {
  color: $secondary;
  background-color: $white;
}

table thead th,
.scroller .track-heading {
  color: $secondary;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}
table tbody th {
  color: $secondary;
  background-color: #fff;
  border-right: 1px solid #cccccc;
  position: static;
  left: 0;
  padding-left: $md;

  @media only screen and (min-width: 400px) {
    position: sticky;
  }
}

table th:not([align]),
.scroller .track-heading {
  text-align: left;
}

table thead td,
table thead th,
.scroller .track-heading {
  color: $secondary;
}

table.is-striped {
  border: 1px solid #eee;
}

table.is-striped {
  thead th {
    background: $primary;
    text-transform: uppercase;
    border: none;
  }

  tbody th {
    border: none;
  }
}

table.is-striped tbody tr:not(.is-selected):nth-child(even),
table.is-striped tbody tr:not(.is-selected):nth-child(even) th {
  background-color: $light;
}

table.table-static {
  tbody th,
  thead th {
    position: static;
  }
} 