.program .program__container {
  text-align: center;
  border: none; }

.program .program__description {
  padding: 0 7%; }

.program .program__bottom__wrapper {
  display: flex; }

.program .program__excerpt__wrapper {
  flex: 50%; }

.program .program__cta__wrapper {
  flex: 50%; }
