@mixin media-border {
  @include breakpoint(sm) {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    //background: #fff;

    .bg--black &,
    .bg-pattern--brain-black &,
    .bg--white .bg--black &,
    .bg-pattern--brain .bg--black &,
    .bg--white .bg-pattern--brain-black &,
    .bg-pattern--brain .bg-pattern--brain-black &,
    .bg--gold .bg--black &,
    .bg--gold .bg-pattern--brain-black &,
    .bg-pattern--brain--gold .bg--black &,
    .bg-pattern--brain--gold .bg-pattern--brain-black & {
      border: 1px solid $primary;
      //background-color: inherit;
    }

    .bg--gray &,
    .bg--gold .bg--gray &,
    .bg-pattern--brain--gold .bg--gray &,
    .bg--white .bg--gray &,
    .bg-pattern--brain .bg--gray & {
      border: 1px solid $brand-cool-gray;
      //background-color: inherit;
    }

    .bg--white &,
    .bg-pattern--brain &,
    .bg--gold .bg--white &,
    .bg--gold .bg-pattern--brain &,
    .bg-pattern--brain--gold .bg--white &,
    .bg-pattern--brain--gold .bg-pattern--brain & {
      border: 1px solid rgba(0, 0, 0, 0.125);
      //background-color: inherit;
    }

    .bg--gold &,
    .bg-pattern--brain--gold & {
      border: 1px solid white;
      //background-color: inherit;
    }
  }
}

@mixin media-circle {
  @include breakpoint(sm) {
    border-radius: 50%;
    margin-top: 0;
    height: auto;
  }
}
