.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: $secondary;
  font-weight: $font-weight-medium-bold;
  line-height: 1.125;
}

.content h1 {
  font-size: $h1-font-size;
  @include margin($bottom: $sm);
}

.content h1:not(:first-child) {
  @include margin($top: $sm-md);
}

.content h2 {
  font-size: $h2-font-size;
  @include margin($bottom: $sm);
}

.content h2:not(:first-child) {
  @include margin($top: $md);
}

.content h3 {
  font-size: $h3-font-size;
  @include margin($bottom: $sm);
}

.content h3:not(:first-child) {
  @include margin($top: $md);
}

.content h4 {
  font-size: $h4-font-size;
  @include margin($bottom: $sm);
}

.content h5 {
  font-size: $h5-font-size;
  @include margin($bottom: $sm-md);
}

.content h6 {
  font-size: $h6-font-size;
  @include margin($bottom: $sm-md);
}
