


<div class="banner gradient-center banner--large  banner--vertical-center banner--horizontal-center">
                    <div class="banner__image">
          <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/pano.jpg" alt="Alt Text">
        </div>
            
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="headline headline--uppercase">
        <span class="headline__text"><span>Welcome</span> to Iowa</span>
    </h2>
                  
        <div class="banner__text"></div>

                          
      </div>
    </div>

  </div>

<div class="menu-container bg-pattern--brain-reversed">
    <nav class="nav main--secondary--horizontal">

        
        <ul class="menu">
            <li class="menu-item menu-item--collapsed">
                <a href="/" data-drupal-link-system-path="/">About</a>
            </li>
            <li class="menu-item menu-item--collapsed menu-item--active-trail">
              <a class="is-active" href="/" data-drupal-link-system-path="/">Faculty</a>
            </li>
            <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Undergraduate Students</a>
            </li>
            <li class="menu-item">
                <a href="/" data-drupal-link-system-path="/">Undergraduate Students</a>
            </li>

        </ul>

        
    </nav>
</div>

