.logo-icon {
  display: block;
  margin-left: -$xsm;
  &:hover {
    opacity: 0.7;
  }
  .logo-icon--secondary & {
    fill: $primary;
  }
}


.logo-icon--tab  {
    background: $secondary;
    width: 130px;
    height: 80px;
    //padding: 25px 5px 25px 13px;
        padding: 0 15px 0 20px;

  @include breakpoint(menu) {
    width: 180px;
    height: auto;
    margin-left: 0px;
     padding: 25px 15px 25px 20px;
  }
  @include breakpoint(container) {
    margin-left: -16px;
  }
  .search-is-open & {
      display: none;
      @include breakpoint(menu) {
        display: block;
      }
  }
}




.header--tertiary .logo-icon--tab {
  width: 107px;
  height: 50px;
  margin-right: 10px;
  padding: 13px 13px 13px 25px;
  background: #151515;

  @include breakpoint(menu) {
    width: 120px;
    height: auto;
    padding: 13px 7px 13px 18px;
  }
    .search-is-open & {
      display: flex;
    }
}


