.banner {
  position: relative;
  overflow: hidden;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner.banner--vertical-bottom {
    align-items: flex-end; }
  .banner:focus-within .bold-headline a:focus {
    text-decoration: underline; }
  .banner__container {
    margin: 0 auto;
    width: 100%;
    z-index: 1; }
    @media (min-width: 768px) {
      .banner__container {
        z-index: 1;
        max-width: 81.875em;
        top: 0; } }
  .banner img {
    width: 100%; }
  .banner__image {
    overflow: visible; }
    .banner__image img {
      display: block;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      height: 100%;
      top: 0; }
  .banner .bttn--row .bttn + .bttn {
    margin-left: 1rem; }
  .banner .media--video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; }
    .banner .media--video video {
      overflow: visible;
      display: block;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      height: 100%;
      top: 0; }
  .banner__text {
    z-index: 1; }
  .banner__content {
    padding: 1.25rem; }
    @media (min-width: 768px) {
      .banner__content {
        padding: 1.25rem 0 2rem 0; } }
    .banner__content > * {
      flex-basis: 100%; }
    .banner__content .bttn {
      margin-right: auto;
      margin-left: 0;
      z-index: 1; }
    @media (min-width: 84.375em) {
      .banner__content {
        padding: 1.25rem 0; } }
  .banner h2:not([class*="bold-headline"]),
  .banner h3:not([class*="bold-headline"]),
  .banner h4:not([class*="bold-headline"]),
  .banner h5:not([class*="bold-headline"]),
  .banner h6:not([class*="bold-headline"]),
  .banner blockquote {
    color: #fff; }
    .banner h2:not([class*="bold-headline"]) a,
    .banner h3:not([class*="bold-headline"]) a,
    .banner h4:not([class*="bold-headline"]) a,
    .banner h5:not([class*="bold-headline"]) a,
    .banner h6:not([class*="bold-headline"]) a,
    .banner blockquote a {
      color: #fff; }
  .banner p {
    line-height: 1.5;
    margin-top: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000; }
    .banner p a {
      position: relative;
      z-index: 1;
      color: #fff; }
  .banner.bg-pattern--brain, .banner.bg-pattern--brain-reversed, .banner.bg--gold, .banner.bg--light, .banner.bg--white, .banner.bg--gray {
    color: #151515; }
    .banner.bg-pattern--brain p, .banner.bg-pattern--brain-reversed p, .banner.bg--gold p, .banner.bg--light p, .banner.bg--white p, .banner.bg--gray p {
      color: #151515;
      font-weight: normal;
      text-shadow: none; }
      .banner.bg-pattern--brain p a, .banner.bg-pattern--brain-reversed p a, .banner.bg--gold p a, .banner.bg--light p a, .banner.bg--white p a, .banner.bg--gray p a {
        color: #151515; }
    .banner.bg-pattern--brain h2:not([class*="bold-headline"]),
    .banner.bg-pattern--brain h3:not([class*="bold-headline"]),
    .banner.bg-pattern--brain h4:not([class*="bold-headline"]),
    .banner.bg-pattern--brain h5:not([class*="bold-headline"]),
    .banner.bg-pattern--brain h6:not([class*="bold-headline"]),
    .banner.bg-pattern--brain blockquote, .banner.bg-pattern--brain-reversed h2:not([class*="bold-headline"]),
    .banner.bg-pattern--brain-reversed h3:not([class*="bold-headline"]),
    .banner.bg-pattern--brain-reversed h4:not([class*="bold-headline"]),
    .banner.bg-pattern--brain-reversed h5:not([class*="bold-headline"]),
    .banner.bg-pattern--brain-reversed h6:not([class*="bold-headline"]),
    .banner.bg-pattern--brain-reversed blockquote, .banner.bg--gold h2:not([class*="bold-headline"]),
    .banner.bg--gold h3:not([class*="bold-headline"]),
    .banner.bg--gold h4:not([class*="bold-headline"]),
    .banner.bg--gold h5:not([class*="bold-headline"]),
    .banner.bg--gold h6:not([class*="bold-headline"]),
    .banner.bg--gold blockquote, .banner.bg--light h2:not([class*="bold-headline"]),
    .banner.bg--light h3:not([class*="bold-headline"]),
    .banner.bg--light h4:not([class*="bold-headline"]),
    .banner.bg--light h5:not([class*="bold-headline"]),
    .banner.bg--light h6:not([class*="bold-headline"]),
    .banner.bg--light blockquote, .banner.bg--white h2:not([class*="bold-headline"]),
    .banner.bg--white h3:not([class*="bold-headline"]),
    .banner.bg--white h4:not([class*="bold-headline"]),
    .banner.bg--white h5:not([class*="bold-headline"]),
    .banner.bg--white h6:not([class*="bold-headline"]),
    .banner.bg--white blockquote, .banner.bg--gray h2:not([class*="bold-headline"]),
    .banner.bg--gray h3:not([class*="bold-headline"]),
    .banner.bg--gray h4:not([class*="bold-headline"]),
    .banner.bg--gray h5:not([class*="bold-headline"]),
    .banner.bg--gray h6:not([class*="bold-headline"]),
    .banner.bg--gray blockquote {
      color: #151515; }
      .banner.bg-pattern--brain h2:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain h3:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain h4:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain h5:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain h6:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain blockquote a, .banner.bg-pattern--brain-reversed h2:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain-reversed h3:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain-reversed h4:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain-reversed h5:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain-reversed h6:not([class*="bold-headline"]) a,
      .banner.bg-pattern--brain-reversed blockquote a, .banner.bg--gold h2:not([class*="bold-headline"]) a,
      .banner.bg--gold h3:not([class*="bold-headline"]) a,
      .banner.bg--gold h4:not([class*="bold-headline"]) a,
      .banner.bg--gold h5:not([class*="bold-headline"]) a,
      .banner.bg--gold h6:not([class*="bold-headline"]) a,
      .banner.bg--gold blockquote a, .banner.bg--light h2:not([class*="bold-headline"]) a,
      .banner.bg--light h3:not([class*="bold-headline"]) a,
      .banner.bg--light h4:not([class*="bold-headline"]) a,
      .banner.bg--light h5:not([class*="bold-headline"]) a,
      .banner.bg--light h6:not([class*="bold-headline"]) a,
      .banner.bg--light blockquote a, .banner.bg--white h2:not([class*="bold-headline"]) a,
      .banner.bg--white h3:not([class*="bold-headline"]) a,
      .banner.bg--white h4:not([class*="bold-headline"]) a,
      .banner.bg--white h5:not([class*="bold-headline"]) a,
      .banner.bg--white h6:not([class*="bold-headline"]) a,
      .banner.bg--white blockquote a, .banner.bg--gray h2:not([class*="bold-headline"]) a,
      .banner.bg--gray h3:not([class*="bold-headline"]) a,
      .banner.bg--gray h4:not([class*="bold-headline"]) a,
      .banner.bg--gray h5:not([class*="bold-headline"]) a,
      .banner.bg--gray h6:not([class*="bold-headline"]) a,
      .banner.bg--gray blockquote a {
        color: #151515; }
    .banner.bg-pattern--brain .bold-headline.bold-headline--negative, .banner.bg-pattern--brain-reversed .bold-headline.bold-headline--negative, .banner.bg--gold .bold-headline.bold-headline--negative, .banner.bg--light .bold-headline.bold-headline--negative, .banner.bg--white .bold-headline.bold-headline--negative, .banner.bg--gray .bold-headline.bold-headline--negative {
      color: #151515;
      text-shadow: none; }
      .banner.bg-pattern--brain .bold-headline.bold-headline--negative a, .banner.bg-pattern--brain-reversed .bold-headline.bold-headline--negative a, .banner.bg--gold .bold-headline.bold-headline--negative a, .banner.bg--light .bold-headline.bold-headline--negative a, .banner.bg--white .bold-headline.bold-headline--negative a, .banner.bg--gray .bold-headline.bold-headline--negative a {
        color: #151515; }
  .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) {
    color: #151515; }
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h2:not([class*="bold-headline"]),
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h3:not([class*="bold-headline"]),
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h4:not([class*="bold-headline"]),
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h5:not([class*="bold-headline"]),
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h6:not([class*="bold-headline"]),
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) blockquote {
      color: #151515; }
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h2:not([class*="bold-headline"]) a,
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h3:not([class*="bold-headline"]) a,
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h4:not([class*="bold-headline"]) a,
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h5:not([class*="bold-headline"]) a,
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) h6:not([class*="bold-headline"]) a,
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) blockquote a {
        color: #151515; }
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) p {
      color: #151515;
      font-weight: normal;
      text-shadow: none; }
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) p a {
        color: #151515; }
    .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) .bold-headline.bold-headline--negative {
      color: #151515;
      text-shadow: none; }
      .banner.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) .bold-headline.bold-headline--negative a {
        color: #151515; }
  .banner .bold-headline {
    z-index: 1;
    margin-top: 0;
    margin-bottom: .7rem;
    font-size: calc(100% + 4vw); }
    .banner .bold-headline a:hover {
      text-decoration: none; }
    .banner .bold-headline a:focus {
      text-decoration: underline; }
    .banner .bold-headline.bold-headline--negative {
      color: #151515;
      text-shadow: 0 1px 1px #000;
      color: #fff; }
      .banner .bold-headline.bold-headline--negative a {
        color: #fff; }
    @media (min-width: 768px) {
      .banner .bold-headline {
        font-size: calc(100% + 2.5vw); } }

.banner:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: all .5s ease-in-out;
  will-change: opacity;
  background: rgba(0, 0, 0, 0.5); }

.banner:not([class*="bg-"]) {
  background: #151515; }

.banner[class*="bg-"]:after {
  background: inherit; }

.banner--horizontal-center {
  text-align: center; }
  .banner--horizontal-center .banner__content > * {
    margin-right: auto;
    margin-left: auto; }

.media--video {
  position: relative; }
  .media--video .video-controls {
    position: absolute;
    z-index: 1;
    left: 1.25rem;
    bottom: 1.25rem; }
    @media (min-width: 84.375em) {
      .media--video .video-controls {
        left: 3rem;
        bottom: 3rem; } }
  .media--video .video-btn {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #151515;
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    padding: 0; }
    @media (min-width: 768px) {
      .media--video .video-btn {
        display: block; } }
    .media--video .video-btn::after {
      content: "\f04b";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1rem; }
    .media--video .video-btn.video-btn__play::after {
      margin-left: 3px; }
    .media--video .video-btn.video-btn__pause::after {
      content: "\f04c"; }
  @media (hover: none), (hover: on-demand) {
    .media--video .video-btn {
      display: none; } }
