

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../headline/headline.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<!-- Start: @headline--headline-antonio-with-underline -->
<h2 class="bold-headline bold-headline--underline bold-headline--caps">
        <span class="heading__heading">Headline Antonio Underline</span>
    </h2>
<!-- End: @headline--headline-antonio-with-underline -->

<!-- Start: @headline--headline-caps -->
<h2 class="bold-headline bold-headline--caps">
        <span class="heading__heading">Headline Antonio</span>
    </h2>
<!-- End: @headline--headline-caps -->

<!-- Start: @headline--headline-antonio-with-highlight -->
<h2 class="bold-headline bold-headline--caps bold-headline--highlight">
        <span class="heading__heading">Headline Antonio Highlighted</span>
    </h2>
<!-- End: @headline--headline-antonio-with-highlight -->

<!-- Start: @headline--bold-headline-serif -->
<h2 class="bold-headline bold-headline--serif">
        <span class="heading__heading">Headline Zilla Slab</span>
    </h2>
<!-- End: @headline--bold-headline-serif -->

<!-- Start: @headline--headline-zilla-with-underline -->
<h2 class="bold-headline bold-headline--serif bold-headline--underline">
        <span class="heading__heading">Headline Zilla Slab Underlined</span>
    </h2>
<!-- End: @headline--headline-zilla-with-underline -->

<!-- Start: @headline--headline-zilla-with-highlight -->
<h2 class="bold-headline bold-headline--serif bold-headline--highlight">
        <span class="heading__heading">Headline Zilla Slab Highlighted</span>
    </h2>
<!-- End: @headline--headline-zilla-with-highlight -->


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

