

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
        
            <link media="all" rel="stylesheet" href="../hero/hero.css">
                            <link media="all" rel="stylesheet" href="../hero/hero_home.css">
                      <link media="all" rel="stylesheet" href="../hero/hero_video.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="hero hero__ hero--solid-opacity hero--small bg--black hero--vertical-center hero--horizontal-center">

      
          <div class="hero__image">
        <img
  
  alt=""
            sizes="(min-width:1310px) 1310px, 100vw"    srcset="../../assets/images/widescreen__384_x_216/bg-image.jpg 384w,../../assets/images/widescreen__768_x_432/bg-image.jpg 768w,../../assets/images/widescreen__1024_x_576/bg-image.jpg 1024w,../../assets/images/widescreen__1312_x_738/bg-image.jpg 1312w,../../assets/images/widescreen__1920_x_1080/bg-image.jpg 1920w,../../assets/images/widescreen__2592_x_1458/bg-image.jpg 2592w,"    
  src=""
  typeof="foaf:Image"
>      </div>
      
      <div class="hero__container hero__container-">
      <div class="hero__content hero__content-">

        
                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
        <span class="heading__heading">We’re in this together</span>
    </h2>
                  
        <p>Every Hawkeye has a role to play in preventing the spread of COVID-19.</p><p><a class="bttn bttn--primary bttn--caps" href="/student-life/iowa-city">Read Fall 2020 guidelines <span class="fa-arrow-right fas"></span> </a></p>

      </div>
    </div>

  </div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../hero/hero.js"></script>
            </html>

