.bttn {
  border: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 1.25rem;
  padding: 1rem 2rem 1rem; }
  .bttn i,
  .bttn svg {
    margin-left: 0.625rem;
    color: #FFCD00; }

a.bttn span {
  margin-left: 0.625rem;
  color: #FFCD00; }

a.bttn.bttn--primary span {
  color: white; }

.bttn--primary {
  color: #151515;
  background: #FFCD00;
  border: 1px solid #FFCD00; }
  .bttn--primary i,
  .bttn--primary svg,
  .bttn--primary span {
    color: #fff; }
  .bttn--primary:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #FFCD00;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out; }
  .bttn--primary:focus {
    text-decoration: underline; }
  .bttn--primary:hover::after, .bttn--primary:focus::after {
    transform: translate(-50%, 0) scaleX(1); }
  .bttn--primary:after {
    background-color: #151515; }

.bttn--secondary {
  color: #fff;
  background: #151515;
  border: 1px solid #151515; }
  .bttn--secondary:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #FFCD00;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out; }
  .bttn--secondary:focus {
    text-decoration: underline; }
  .bttn--secondary:hover::after, .bttn--secondary:focus::after {
    transform: translate(-50%, 0) scaleX(1); }

.bttn--secondary__light {
  color: #fff; }

.bttn--tertiary {
  color: #151515;
  background: white;
  border: 1px solid white; }
  .bttn--tertiary:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #FFCD00;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out; }
  .bttn--tertiary:focus {
    text-decoration: underline; }
  .bttn--tertiary:hover::after, .bttn--tertiary:focus::after {
    transform: translate(-50%, 0) scaleX(1); }
  .bttn--tertiary:hover, .bttn--tertiary:focus {
    border: 1px solid #999; }

.bttn--full {
  display: flex; }

.bttn--outline {
  border: 1px solid #FFCD00;
  border: 1px solid #FFCD00; }
  .bttn--outline i,
  .bttn--outline span {
    color: #FFCD00; }
  .bttn--outline svg {
    color: #FFCD00; }
  .bttn--outline:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #FFCD00;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out; }
  .bttn--outline:focus {
    text-decoration: underline; }
  .bttn--outline:hover::after, .bttn--outline:focus::after {
    transform: translate(-50%, 0) scaleX(1); }
  .bttn--outline:hover, .bttn--outline:focus {
    background: #fff;
    color: #151515; }
    .bttn--outline:hover:after, .bttn--outline:focus:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: #FFCD00;
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out; }
    .bttn--outline:hover:focus, .bttn--outline:focus:focus {
      text-decoration: underline; }
    .bttn--outline:hover:hover::after, .bttn--outline:hover:focus::after, .bttn--outline:focus:hover::after, .bttn--outline:focus:focus::after {
      transform: translate(-50%, 0) scaleX(1); }

.bttn--transparent {
  background: transparent; }
  .bttn--transparent:hover, .bttn--transparent:focus {
    background: #fff;
    border: 1px solid white; }

.bttn--caps {
  text-transform: uppercase;
  font-family: "antoniobold", sans-serif; }

@-moz-document url-prefix() {
  .bttn--caps {
    padding: 1rem 2rem .8rem 2rem; } }

.bttn--sans-serif {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: .04rem;
  display: inline-block; }
  .bttn--sans-serif:focus {
    text-decoration: underline; }
  .bttn--sans-serif i, .bttn--sans-serif span {
    font-size: .9rem; }

.bttn--link {
  color: #000; }
  .bttn--link:hover, .bttn--link:focus {
    border: none;
    transform: none;
    background: #fff; }
    .bttn--link:hover i, .bttn--link:hover svg, .bttn--link:hover span, .bttn--link:focus i, .bttn--link:focus svg, .bttn--link:focus span {
      color: #000; }
    .bttn--link:hover:hover::after, .bttn--link:hover:focus::after, .bttn--link:focus:hover::after, .bttn--link:focus:focus::after {
      transform: none; }

.bttn__apply {
  margin-top: unset;
  padding: .7rem;
  border: 1px solid #fff;
  font-size: .95rem;
  display: none; }
  @media (min-width: 768px) {
    .bttn__apply {
      display: block; } }
