@media (min-width: 980px) {
  .grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 3rem;
    grid-template-columns: 1fr; } }

@media (min-width: 980px) {
  .grid--threecol--33-34-33 .list-container__inner {
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr)); } }

@media (min-width: 980px) {
  .grid--twocol--50-50 .list-container__inner {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 3rem;
    grid-template-columns: 1fr; } }

@media (min-width: 980px) {
  .grid--twocol--50-50 .list-container__inner {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr)); } }
