@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.media--border {
  img {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.media--circle {
  border-radius: 50%;
  margin-top: 0;
  height: auto;

  img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-top: 0;
    height: auto;
  }
}

.media--cover {
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

// Card specific styles.
.card {
  .media {

    img {
      width: 100%;
      object-fit: cover;
    }

    embed,
    iframe,
    object,
    video {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .media--square {
    img,
    iframe {
      aspect-ratio: 1 / 1;
    }
  }

  .media--widescreen {
    img,
    iframe {
      aspect-ratio: 16 / 9;
    }
  }

  .media {
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .media--1-1 {
    iframe {
      aspect-ratio: 1 / 1;
    }
  }

  .media--4-3 {
    iframe {
      aspect-ratio: 4 / 3;
    }
  }

  .media--16-9 {
    iframe {
      aspect-ratio: 16 / 9;
    }
  }

  .media--21-9 {
    iframe {
      aspect-ratio: 21 / 9;
    }
  }
}
