.media--small {
  width: 40%;
}
.media--padded {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.media--edge-to-edge {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: -2rem;
}
.media--widescreen {
}
