

	<div class="banner banner--reversed">
	
						<div class="banner__image">
				<img
  
  alt=""
            sizes="(min-width:1310px) 1310px, 100vw"    srcset="../../assets/images/drone.jpg 384w,../../assets/images/drone.jpg 768w,../../assets/images/drone.jpg 1024w,../../assets/images/drone.jpg 1312w,../../assets/images/drone.jpg 1920w,../../assets/images/drone.jpg 2592w,"    
  src=""
  typeof="foaf:Image"
>			</div>
			
	<div class="banner__container">
		<div class="banner__content">
												<h3 class="bold-headline--serif bold-headline">
        <span class="heading__heading">200+ Areas of Study</span>
    </h3>
							
							<p class="banner__summary">When it comes to your academic path, we’re flexible. You can work across disciplines and add new areas of focus as you go.</p>
										<a href="https://example.com" class="bttn bttn--primary bttn--caps">View Majors
					<i class="fas fa-arrow-right"></i>
				</a>
					</div>
	</div>
</div>

