

			
				
								
<div class="hero hero--solid-opacity hero--small bg--black hero--vertical-center hero--horizontal-center">


      
          <div class="hero__image">
        <img src="../../assets/images/widescreen__2592_x_1458/pano.jpg" alt="Alt Text">
      </div>
      
      <div class="hero__container">
      <div class="hero__content">

        
                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="heading__heading">We’re in this together</span>
        </a>
  </h2>
                  
        <p>Every Hawkeye has a role to play in preventing the spread of COVID-19.</p><p><a class="bttn bttn--primary bttn--caps" href="/student-life/iowa-city">Read Fall 2020 guidelines <span class="fa-arrow-right fas"></span> </a></p>

                            <div aria-hidden="true" class="bttn bttn--secondary bttn--caps" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

