

			
				
								
<div class="hero hero--gradient-left hero--medium bg--black hero--vertical-bottom hero--horizontal-left">


      
              <div class="hero__image">
        <img src="../../assets/images/widescreen__2592_x_1458/pano.jpg" alt="Alt Text">
      </div>
            
      <div class="hero__container">
      <div class="hero__content">

        
                              < class="headline ">
        <span class="headline__text"></span>
    </>
                  
        <p>Every Hawkeye has a role to play in <a href="https://uiowa.edu">preventing</a> the spread of COVID-19. Find out what Iowa’s doing—and what you can do—to make your return to campus safer.</p>

                            <div aria-hidden="true" class="bttn bttn--primary bttn--caps" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

