

<nav id="vertical-dots" role="navigation" aria-label="Navigation">
  <ul>
              <li>
        <a href="##" aria-labelledby="v-dot-nav-section-1" data-section=#>
          <span id="v-dot-nav-section-1">Undergraduate</span>
                      <i class="fas fa-arrow-up"></i>
                  </a>
      </li>
                <li>
        <a href="##" aria-labelledby="v-dot-nav-section-2" data-section=#>
          <span id="v-dot-nav-section-2">Graduate</span>
                  </a>
      </li>
                <li>
        <a href="##" aria-labelledby="v-dot-nav-section-3" data-section=#>
          <span id="v-dot-nav-section-3">International</span>
                  </a>
      </li>
                <li>
        <a href="##" aria-labelledby="v-dot-nav-section-4" data-section=#>
          <span id="v-dot-nav-section-4">Distance and online</span>
                  </a>
      </li>
                <li>
        <a href="##" aria-labelledby="v-dot-nav-section-5" data-section=#>
          <span id="v-dot-nav-section-5">Cost and aid</span>
                  </a>
      </li>
            </ul>
</nav>
