

<nav role="navigation" aria-label="Navigation">
  <ul id="vertical-dots">
          <li>
        <a href="#" aria-label=Undergraduate data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=Graduate data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=International data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=Distance and online data-section=#></a>
      </li>
          <li>
        <a href="#" aria-label=Cost and aid data-section=#></a>
      </li>
      </ul>
</nav>
