.bold-headline {
  padding: 0;

  &.bold-headline--negative {
    color: $white;
  }
  a {
    color: $secondary;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.bold-headline--caps {
  text-transform: uppercase;
  font-family: $font-family-caps-bold;
}

.bold-headline--serif {
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  //font-size: calc(100% + 5vw);

  @include breakpoint(sm) {
    //font-size: calc(100% + 2.5vw);
  }
}

.bold-headline--underline {
  padding-bottom: $xsm;
  text-shadow:
    -2px -2px white,
    -2px 2px white,
    2px -2px white,
    2px 2px white;
  display: inline;
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.25em $primary;
}


.bold-headline--positive {
  @extend .bold-headline;
}

.bold-headline--negative {
  color: $white;
  @extend .bold-headline;
}


h2.bold-headline {}

/*
h2.bold-headline.bold-headline--caps {
  font-size: $h1-font-size;
}

h3.bold-headline.bold-headline--caps {
  font-size: $h2-font-size;
}*/


h3.bold-headline {
  font-size: $h4-font-size;
}

h4.bold-headline {
  font-size: $h5-font-size;
}

h5.bold-headline {
  font-size: $h6-font-size;
}
