.hds-search label {
  @include element-invisible;
}

.hds-search input[type="text"] {
  padding-left: $md;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1.5rem;

  &::placeholder {
    color: #333;
  }
}

.hds-search [type="submit"] {
  width: 100%;
  margin-top: unset;
  background: #ccc;

  @include breakpoint(sm) {
    width: auto;
  }
}

.hds-search [type="search"] {
  margin: 0;
}

.hds-search .form-item,
.hds-search .form-actions {
  margin: 0;
}

.hds-search>* {
  margin: calc(0px / 2);
}

.hds-search>* {
  flex-grow: 1;
}

.hds-search> :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(66.666% - 0px);
}

.hds-search [type="text"] {
  width: 100%;
  font-size: inherit;
  margin: 0;
}

.hds-search {
  display: block;
  margin-bottom: 70px;

  @include breakpoint(sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.hds-search>* {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hds-search>*>:first-child {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 999;
  -ms-flex-positive: 999;
  flex-grow: 999;
  min-width: calc(66.666% - 0px);
}

.hds-search>*>:last-child {
  display: flex;
}

// full width for any elements not part of the form

.hds-search .search-help-link {
  width: 100%;
}
