/*


@media only screen and (min-width: 26rem) {
  .hds-search form {
    display: flex;
  }
}

.hds-search input[type="text"],
.hds-search .form-type-textfield {
  box-sizing: border-box;
  width: 100%;
  margin: 0 !important;
  border: none;
  line-height: 3rem;
}



.hds-search [type="submit"] {
  width: 100%;
  margin-top: unset;
}

@media only screen and (min-width: 26rem) {
  .hds-search [type="submit"] {
    width: auto;
  }
}

*/

/*
.view-filters,
.block,
.hds-search {

  input[type="text"] {
    padding-left: $md;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.5rem;

    &::placeholder {
      color: #333;
    }
  }

//

form {
  margin-bottom: 70px;
}

[type="submit"] {
  width: 100%;
  margin-top: unset;
}

.form-item,
.form-actions {
  margin: 0;
}

  >* {
    display: flex;
    flex-wrap: wrap;
  }



  >*>* {
    margin: calc(0px / 2);
  }

  >*>* {
    flex-grow: 1;
  }

  >*> :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(66.666% - 0px);
  }

  [type="text"] {
    width: 100%;
    font-size: inherit;
    margin: 0;
  }




}


@media only screen and (min-width: 26rem) {
  .hds-search [type="submit"],
  .block [type="submit"],
  .view-filters [type="submit"] {
    width: auto;
  }
}
*/

/*
.hds-search form {
  margin-bottom: 70px;
}

.hds-search [type="submit"] {
  width: 100%;
  margin-top: unset;
}


@media only screen and (min-width: 26rem) {
  .hds-search [type="submit"] {
    width: auto;
  }
}

.hds-search .hds-content .form-item,
.hds-search .hds-content .form-actions {
  margin: 0;
}

  .hds-search >* {
  display: flex;
  flex-wrap: wrap;
}

  .hds-search  >* {
  margin: calc(0px / 2 * -1);
}


  .hds-search>*>* {
  margin: calc(0px / 2);
}

  .hds-search>*>* {
  flex-grow: 1;
}

 .hds-search>*> :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(66.666% - 0px);
}


 .hds-search [type="text"] {
  width: 100%;
  font-size: inherit;
  margin: 0;
}
*/



.hds-search label {
  @include element-invisible;
}

.hds-search input[type="text"]{
   padding-left: $md;
   border-bottom: 1px solid #f1f1f1;
   font-size: 1.5rem;
&::placeholder {
  color: #333;
}
}

.hds-search [type="submit"] {
  width: 100%;
  margin-top: unset;
  background: #ccc;
}

.hds-search [type="search"] {
  margin: 0;
}

.hds-search .form-item,
.hds-search .form-actions {
  margin: 0;
}

.hds-search >* {
  margin: calc(0px / 2);
}

.hds-search>* {
  flex-grow: 1;
}

.hds-search> :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(66.666% - 0px);
}

.hds-search [type="text"] {
  width: 100%;
  font-size: inherit;
  margin: 0;
}

.hds-search {
  display: block;
  margin-bottom: 70px;
}

@media only screen and (min-width: 26rem) {
  .hds-search [type="submit"] {
    width: auto;
  }
  .hds-search {
    display: flex;
  }
}

.hds-search>* {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hds-search>*>:first-child {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 999;
  -ms-flex-positive: 999;
  flex-grow: 999;
  min-width: calc(66.666% - 0px);
}

.hds-search>*>:last-child {
  display: flex;
}

