.hds-search form {
  margin-bottom: 70px;
}

@media only screen and (min-width: 26rem) {
  .hds-search form {
    display: flex;
  }
}

.hds-search input[type="text"],
.hds-search .form-type-textfield {
  box-sizing: border-box;
  width: 100%;
  margin: 0 !important;
  border: none;
  line-height: 3rem;
}

.hds-search input[type="text"] {
  padding-left: $md;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1.5rem;
  &::placeholder {
    color: #333;
  }
}

.hds-search [type="submit"] {
  width: 100%;
  margin-top: unset;
}

@media only screen and (min-width: 26rem) {
  .hds-search [type="submit"] {
    width: auto;
  }
}
