<div>
<form class="hds-content hds-search" aria-label="site search" role="search">
<input placeholder="Search this Site" type="text" name="search"/>
<button type="submit">Search</button>
</form>
</div>
