<div>
<form class="hds-content hds-search" aria-label="site search" role="search">
<input placeholder="Search this Site" type="text" id="search-input" name="search"/>
<button type="submit"><span>Search</span></button>

</form>
</div>
