
<div class="hds-search">
<form class="hds-content " aria-label="site search" role="search" data-drupal-selector="uiowa-bar-search-form" action="https://uiowa.edu/google-search" method="post" id="search-form" accept-charset="UTF-8" data-drupal-form-fields="edit-search-terms,edit-submit-search">



	<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-search-terms form-item-search-terms">
		<label class="sr-only" for="edit-search-terms">Search</label>
		<input placeholder="Search this Site" class="form-control form-control-sm mt-0 form-text" data-drupal-selector="edit-search-terms" type="text" id="search-text" name="search-terms" value="" size="15" maxlength="256">
	</div>

	<div>
	<input class="mx-0 form-control-sm btn-sm btn-dark button js-form-submit btn form-submit" data-drupal-selector="edit-submit-search" type="submit" id="search-submit" name="btnG" value="Search">
	<input autocomplete="off" data-drupal-selector="form-wwapt2pnelnvvvf6jg0zatqo2o1jdqpfmcnviqdhpq0" type="hidden" name="form_build_id" value="form-WwAPt2PnElnvvvf6jg0ZaTQo2o1jDqPFmCnVIqDHPq0">
	<input data-drupal-selector="edit-uiowa-bar-search-form-form-token" type="hidden" name="form_token" value="ZeoM7GSaKfuhVPstwmtubp-LvC3SA4rlizajpv8FT1M">
	<input data-drupal-selector="edit-uiowa-bar-search-form" type="hidden" name="form_id" value="uiowa_bar_search_form">
</div>
</form>

</div>




<div class="view-filters">


	<!-- THEME DEBUG -->
	<!-- THEME HOOK: 'form' -->
	<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form.html.twig' -->
		<form class="hds-content views-exposed-form" data-drupal-selector="views-exposed-form-book-toc-page-book-atoz" action="/a-z" method="get" id="views-exposed-form-book-toc-page-book-atoz" accept-charset="UTF-8"> <!-- THEME DEBUG -->
		<!-- THEME HOOK: 'views_exposed_form' -->
		<!-- BEGIN OUTPUT from 'core/themes/classy/templates/views/views-exposed-form.html.twig' -->
			<div class="form--inline clearfix"> <!-- THEME DEBUG -->
			<!-- THEME HOOK: 'form_element' -->
			<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->
				<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-title form-item-title"> <!-- THEME DEBUG -->
				<!-- THEME HOOK: 'form_element_label' -->
				<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' --><label for="edit-title"> Search</label>
				<!-- END OUTPUT from 'core/themes/classy/templates/form/form-element-label.html.twig' -->


				<!-- THEME DEBUG -->
				<!-- THEME HOOK: 'input__textfield' -->
				<!-- FILE NAME SUGGESTIONS:
				   * input--textfield.html.twig
				   x input.html.twig
				-->
				<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
			<input
				data-drupal-selector="edit-title" type="text" id="edit-title" name="title" value="" size="30" maxlength="128" class="form-text"> <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->


			</div>

			<!-- END OUTPUT from 'core/themes/classy/templates/form/form-element.html.twig' -->


			<!-- THEME DEBUG -->
			<!-- THEME HOOK: 'container' -->
			<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->
				<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"> <!-- THEME DEBUG -->
				<!-- THEME HOOK: 'input__submit' -->
				<!-- FILE NAME SUGGESTIONS:
				   * input--submit.html.twig
				   x input.html.twig
				-->
				<!-- BEGIN OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->
			<input
				data-drupal-selector="edit-submit-book-toc" type="submit" id="edit-submit-book-toc" value="Search" class="button js-form-submit form-submit"> <!-- END OUTPUT from 'core/themes/classy/templates/form/input.html.twig' -->

			</div>

			<!-- END OUTPUT from 'core/themes/classy/templates/form/container.html.twig' -->


		</div>

		<!-- END OUTPUT from 'core/themes/classy/templates/views/views-exposed-form.html.twig' -->


	</form>

	<!-- END OUTPUT from 'core/themes/classy/templates/form/form.html.twig' -->


</div>
