@media (min-width: 855px) {
  .grid--threecol--33-34-33 .list-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr; } }

@media (min-width: 855px) {
  .grid--threecol--33-34-33 .list-container {
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr)); } }

@media (min-width: 855px) {
  .grid--twocol--50-50 .list-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr; } }

@media (min-width: 855px) {
  .grid--twocol--50-50 .list-container {
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr)); } }
