{% embed '@background' %}
  {% block content %}
    {% include '@button--row' with { 'items': buttons } %}
    {% for headline in headlines %}
      {% set example_headline = {
        'headline_level': 'h2',
        'headline_class': headline.headline_class,
        'headline_url': headline.headline_url,
        'headline_text': headline.headline_text,
      } %}
      {% include '@headline' with example_headline only %}
    {% endfor %}
    <p>Iowa's <em>leadership</em> in both the <sub>arts and sciences</sub> fosters unique <u>resources</u>, like the <a href="https://uiowa.edu">College of Medicine's Arts and Humanities Program</a>, that will help <strong>you stand out.</strong></p>
    <blockquote><p>Blockquote Text</p></blockquote>
    {% include '@card--row' with { 'items': cards } %}
    {% include '@card--row-horizontal-collection' with { 'items': horizontal_cards } %}
  {% endblock %}
{% endembed %}
