@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

.page__container {
  @extend %container;

  &--mixed {
    @extend %container;
  }
}

.flex__wrapper {
  @include breakpoint(sm) {
    flex-wrap: wrap;
    @include flexbox;
  }
}


// footer cta

// cta

.cta-row {
  &__wrapper {
    @include breakpoint(container) {
      position: fixed;
      bottom: 0;
      z-index: 100;
      width: 100%;
      box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);
    }

    background: $primary;
    padding: $lg 0;
    margin: 0;

    nav {
      width: 100%;
    }

    .menu {
      @include breakpoint(sm) {
        display: flex;
      }

      li {
        flex: 1;
        display: block;
      }
    }

    .bttn--outline {
      border: 1px solid $secondary;
      display: block;

      @include breakpoint(sm) {
        flex: 1;
        display: block;
      }
    }
  }

  &__container {
    @extend %container;
    justify-content: space-between;

    @include breakpoint(sm) {
      display: flex;
    }

    @include breakpoint(container) {
      padding: 0;
    }
  }
}

.cta-row__container .menu {
  @extend %no-ul-list;

  a {
    margin: $md 0;

    @include breakpoint(sm) {
      margin: 0 $md;
      height: 100%;
    }

    padding-top: $xsm;

    &:before {
      content: ' ';
      background-repeat: no-repeat;
      background-size: 90%;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-bottom: -5px;
      margin-right: 5px;

      @include breakpoint(sm) {
        display: block;
        margin: 0 auto;
      }

      @include breakpoint(container) {
        display: inline-block;
        margin: 0 5px -5px 0;
      }
    }

    &.bttn--apply:before {
      background-image: url(../#{$imgpath}/viewbook/apply-01.svg);
    }

    &.bttn--visit:before {
      background-image: url(../#{$imgpath}/viewbook/location-01.svg);
    }

    &.bttn--ask:before {
      background-image: url(../#{$imgpath}/viewbook/ask-01-01.svg);
    }

    &.bttn--connect:before {
      background-image: url(../#{$imgpath}/viewbook/connect-01-01.svg);
    }
  }
}

.cta-row__container>a:first-child {
  margin-left: 0;
}

.cta-row__container>a:last-child {
  margin-right: 0;
}

// Card row

.card__wrapper {
  @include breakpoint(menu) {
    display: flex;
    flex-wrap: wrap;
  }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body {
    flex: auto !important;
  }
}


.card__row {
  flex: 0 0 50%;

  @include breakpoint(menu) {
    flex: 0 0 33.3%;
  }

  margin-bottom: 0rem;
}

// Grid sections


.image-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  @include breakpoint(container) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: -20px;
  }

  &__section {
    flex-basis: 100%;
  }

  .grid__content {
    padding: 0 3rem;
  }

  &__section:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    order: 1;
  }

  &__section:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5;
    order: 2;
  }

  &__section:nth-child(3) {
    grid-area: 2 / 1 / 5 / 5;
    order: 3;
  }

  &__section:nth-child(4) {
    grid-area: 1 / 5 / 3 / 9;
    align-items: center;
    display: flex;
    order: 0;
    padding: 3rem;
  }

  &__section:nth-child(5) {
    grid-area: 3 / 5 / 5 / 7;
    order: 4;
  }

  &__section:nth-child(6) {
    grid-area: 3 / 7 / 5 / 9;
  }
}

.image-grid__section.grid__content h2.bold-headline .heading__heading span {
  color: #fff;
  font-family: $font-family-script;
  background: none;
  text-transform: lowercase;

  display: contents;

  @include breakpoint(container) {
    font-size: 11rem;
  }
}

.image-grid__section.grid__content h2.bold-headline {
  width: 100%;

  @include breakpoint(menu) {
    font-size: calc(4em + 2.5vw);
    width: 100%;
  }

  @include breakpoint(container) {
    font-size: calc(4em + 3vw);
  }

  @include breakpoint(xlg) {
    font-size: calc(4em + 3vw);
  }

  text-align: center;
}


.asymmetrical-grid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  @include breakpoint(container) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &__image-left {
    order: 1;
    flex-basis: 100%;

    @include breakpoint(container) {
      grid-area: 1 / 1 / 4 / 5;
    }
  }

  &__content-right {
    flex-basis: 100%;

    @include breakpoint(container) {
      grid-area: 1 / 5 / 4 / 7;
    }

  }

  &__image-right {
    grid-area: 1 / 3 / 4 / 7;
  }

  &__content-left {
    grid-area: 1 / 1 / 4 / 3;
    align-items: center;
    //padding: 3rem 3rem 0 3rem;

    h2.bold-headline,
    h2.bold-headline--positive,
    h2.bold-headline--negative {
      font-size: calc(4em + 1vw)
    }
  }
}

.aerial__content-grid {
  margin: 0 3rem;
}

// styles for content within grid panel

.grid__content {
  padding: 3rem;
  text-align: center;
  width: 100%;

  @include breakpoint(container) {
    padding: 3rem 3rem 0 3rem;
    text-align: left;
  }

  h2.bold-headline,
  h2.bold-headline--positive,
  h2.bold-headline--negative {
    font-size: calc(4em + 1vw);
  }
}

// How to apply section

.split-grid {
  padding-top: 3rem;

  @include breakpoint(container) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .grid__content {
    text-align: left;
    padding: 0 3rem;
  }

  &__column:nth-child(1) {
    grid-area: 1 / 1 / 4 / 4;
  }

  &__column:nth-child(2) {
    grid-area: 1 / 4 / 4 / 7;
  }
}



// stats

.stat__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem;

  @include breakpoint(menu) {
    padding: 0 3rem;
  }
}

.stat__title {
  @include breakpoint(container) {
    font-size: calc(100% + 2vw);
    flex-basis: 50%;
    border-bottom: none;
  }
}

.stat__content {
  color: #ccc;
  flex-basis: 80%;

  @include breakpoint(menu) {
    font-size: 1.1rem;
    opacity: 0;
    transition: 1s;
    @include element-invisible;
  }

  @include breakpoint(container) {
    padding-top: .5rem;
    margin-top: .75rem;
    border-top: 6px solid $primary;
    opacity: 0;
    transition: 1s;
    @include element-invisible;
  }
}

.stat__description {
  @include breakpoint(container) {
    flex-basis: 50%;
    font-size: 1.3rem;
    margin: 0;
    opacity: .7;
  }
}

.heading__prefix,
.heading__suffix {
  @include breakpoint(container) {
    font-size: calc(100% + -1vw);
  }
}

.stat__grid {
  flex: 0 0 50%;

  @include breakpoint(sm) {
    flex: 0 0 25%;
    padding: 2rem 0;
  }

  margin-bottom: 0rem;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all 225ms ease;
  transition: all .45s cubic-bezier(.32, 1.25, .375, 1.15);

  &:hover {
    transform: translateY(-10px) scale(1.02);
  }

  &:hover .stat__content {
    @include breakpoint(menu) {
      @include element-invisible-off;
      cursor: pointer;
      opacity: 1;
    }
  }
}


// How to apply section

.element--circle-list>li {
  display: block;
  align-items: start;
}

.element--circle-list>li {
  margin-bottom: $desktop-width-gutter;
}

.element--circle-list li p {
  margin-top: 1em;
}

.element--circle-list li a.bttn {
  display: inline-block;
}

.element--circle-list.counter-increment {
  counter-reset: circle-counter 3;
}

@media (max-width:93.750em) and (min-width:84.375em) {
  .grid__content .bold-headline--caps.bold-headline {
    font-size: calc(3em + .3vw) !important;
  }
}
