@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

.page__container {
  @extend %container;
  &--mixed {
    @extend %container;
  }
}

.flex__wrapper {
  @include breakpoint(sm) {
    flex-wrap: wrap;
    @include flexbox;
  }
}


// footer cta

.cta-row {
  &__wrapper {
    background: $primary;
    padding: $lg 0;
    margin: 0;

    nav {
      width: 100%;
    }

    .menu {
      @include breakpoint(sm) {
        display: flex;
      }

      li {
        flex: 1;
        display: block;
      }
    }

    .bttn--outline {
      border: 1px solid $secondary;
      display: block;

      @include breakpoint(sm) {
        flex: 1;
        display: block;
      }
    }
  }

  &__container {
    @extend %container;
    justify-content: space-between;

    @include breakpoint(sm) {
      display: flex;
    }

    @include breakpoint(container) {
      padding: 0;
    }
  }
}

.cta-row__container .menu {
  @extend %no-ul-list;

  a {
    margin: $md 0;

    @include breakpoint(sm) {
      margin: 0 $md;
    }

    padding-top: $xsm;

    &:before {
      content: ' ';
      background-repeat: no-repeat;
      background-size: 90%;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-bottom: -5px;
      margin-right: 5px;
    }

    &.bttn--apply:before {
      background-image: url(/#{$imgpath}/apply-01.svg);
    }

    &.bttn--visit:before {
      background-image: url(/#{$imgpath}/location-01.svg);
    }

    &.bttn--request:before {
      background-image: url(/#{$imgpath}/request-01.svg);
    }
  }
}

.cta-row__container>a:first-child {
  margin-left: 0;
}

.cta-row__container>a:last-child {
  margin-right: 0;
}


// Card row

.card__wrapper {
  margin: 1.25rem 1.25rem;
}

@media (min-width: 855px) {
  .card__wrapper {
    //margin: 1.25rem 3rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body {
    flex: auto !important;
  }
}


.card {
  flex: 0 0 calc(25% - 3rem);
  margin-bottom: 3rem;
}
