.logo {
  display: block; }

.logo--tab {
  height: 70px;
  width: 109px;
  padding: 25px 1.25rem;
  background: #151515; }
  .logo--tab a:focus svg {
    opacity: .5; }
  .search-is-open .logo--tab {
    visibility: none;
    opacity: 0; }
    @media (min-width: 980px) {
      .search-is-open .logo--tab {
        display: block;
        opacity: 1;
        visibility: visible; } }
  @media (min-width: 980px) {
    .logo--tab {
      width: 154px;
      height: 80px;
      padding: 25px; } }
  @media (min-width: 84.375em) {
    .logo--tab {
      width: 188px;
      height: 90px;
      padding: 23px 20px; } }

.logo-icon {
  fill: var(--brand-gold);
  height: 20px; }
  @media (min-width: 980px) {
    .logo-icon {
      height: 30px; } }
  @media (min-width: 84.375em) {
    .logo-icon {
      height: 43px; } }
  .logo-icon:hover, .logo-icon:focus {
    opacity: 0.7; }
  .header--tertiary .logo-icon {
    margin-left: 0; }
    @media (min-width: 84.375em) {
      .header--tertiary .logo-icon {
        margin-top: 0; } }
