
html{
  font-size: 16px;
}

body{
  border-top: none;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.uids{
  box-sizing: border-box;
}

main{
  display: flex;
  flex: 1;
}

.uids header{
    margin-bottom:10px;
}


#main {
  margin-top: 25px;
}







