@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.card {
  @include card;

  &--enclosed {
    @include card-enclosed;

    &.card--centered {
    margin-top: 100px;

      .card__media--circle {
        img {
          margin-top: -80px;
        }
      }
    }
  }

  &__title {
    @include card-header;

    &:focus-within~.bttn {
      background-position: 0px;
      background-size: 200% 100%;

      i,
      svg {
        color: $secondary;
      }
    }
  }

  .bttn {
    background-image: linear-gradient(to bottom, #ffffff00 0%, #ffffff00 90%, #ffcd00 90%, #ffcd00 100%);
    background-position: 0px -20px;
    background-size: 200% 200%;
    transition: all .25s ease-in;
  }

  p+.bttn,
  p+.btn {
    margin-top: $md;
  }

  &__author+p,
  &__author+.bttn,
  &__author+.btn {
    margin-top: $sm;
  }

  &--centered {
    text-align: center;

    &[class*="bg-"] {
      padding: 2rem;
    }
  }

  &--media-right {
    flex-direction: row-reverse;
  }

  &__media {
    @include card-media;

    &--large {
      @include card-media-large;
    }

    &--small {
      @include card-media-small;
    }

    &--circle {
      @include breakpoint(sm) {
        display: flex;
        justify-content: center;
        //flex: 0 1 50%;
        margin: 0 auto;
        max-width: 160px;
      }

      img {
        align-self: start;

        @include breakpoint(sm) {
          border-radius: 50%;
          margin-top: 0;
          height: auto;
          padding: 8px;
          border: 1px solid $grey;
        }

        background: #fff;

        .bg--gold & {
          @include breakpoint(sm) {
            border: 1px solid white;
          }

          background: $primary;
        }

        .bg--gray & {
          background: $light;
        }

        .bg--black & {
          background: $secondary;
          border: 1px solid $primary;
        }
      }
    }
  }

  &__img {
    align-self: start;
    width: 100%;
  }

  &__body {
    @include card-body;
  }

  &__details {
    margin: 0 0 $sm;
  }

  p {
    @include card-paragraph;
  }

  &__author {
    @include card-subtitle;
  }

  &__date {
    font-family: $font-family-sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: $font-weight-normal;

    .bg--black & {
      color: $primary;
    }
  }

  &__label {
    font-family: "Zilla Slab", serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 20px;
    line-height: 1.3;
    margin-top: $xsm;

    .fas,
    .svg-inline--fa {
      color: $grey;
      padding-right: $xsm;
      font-size: 1rem;
      line-height: 1.2;
      position: absolute;
      margin-left: -20px;


      .bg--gold & {
        color: white;
      }
    }

    .svg-inline--fa {
      width: 17px;
    }
  }

  &--horizontal {
    .card__media+.card__body {
      @include breakpoint(sm) {
        padding: 0 0 $md 2rem;
      }
    }

    .card__media--circle {
      flex: 0 1 50%;

      +.card__body {
        @include breakpoint(sm) {
          padding: 0 0 0 $gutter;
        }
      }
    }

    .card__body {
      flex: 0 1 100%;
      padding: 2rem;

      @include breakpoint(sm) {
        padding: 0;
      }

      min-height: 1px;
    }


    &.card--enclosed,
    &[class*="bg-"] {
      padding: 2rem;

      .card__media+.card__body {
        @include breakpoint(sm) {
          padding: 0 0 0 2rem;
        }
      }

      .card__media--circle+.card__body {
        @include breakpoint(sm) {
          padding: 0 0 0 $gutter;
        }
      }

      .card__body {
        @include breakpoint(sm) {
          padding: 0;
        }
      }
    }

    @include breakpoint(sm) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: unset;
      width: 100%;
      margin-bottom: 1.6rem;
    }

    .card__title {
      font-family: $font-family-serif;
      font-weight: $font-weight-bold;

      @include breakpoint(sm) {
        padding: 0;
        margin: 0 0 $xsm;
      }
    }

    .bttn--outline {
      display: table;
      width: max-content;

      &:after {
        width: auto;
      }
    }
  }

  // @todo move card header to separate component
  &__head {
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    @include center(horizontal);

    @include breakpoint(sm) {
      padding: 0 0 2rem 0;
    }

    @include breakpoint(menu) {
      margin: 0;
      display: block;
    }

    p {
      @include brand-cool-gray;
      margin: 0;
    }

    .bold-headline {
      display: block;
    }

    .bttn {
      flex-basis: 100%;
      padding-top: $sm;

      @include breakpoint(sm) {
        padding-top: $md;
      }

      &.bttn--link:hover,
      &.bttn--link:focus {
        background: transparent;
        text-decoration: underline;
      }
    }

    h2 {
      margin: 0;
      padding: 0;
    }
  }
}