table {
  width: 100%;
  font-size: 1.2rem; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

table td,
table th {
  padding: 1.05rem;
  vertical-align: top;
  padding: 1.05rem; }

table th {
  color: #151515; }

table th:not([align]) {
  text-align: left; }

table thead td,
table thead th {
  color: #737373;
  border-width: 0 0 2px; }

table tfoot td,
table tfoot th {
  color: #737373;
  border-width: 2px 0 0; }

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom-width: 0; }

table {
  color: #151515;
  background-color: #fff; }

table th {
  color: #151515; }

table th:not([align]) {
  text-align: left; }

table thead {
  background-color: transparent; }

table thead {
  border-bottom: 1px solid black; }

table thead td,
table thead th {
  color: #151515; }

table.is-striped {
  border: 1px solid #eee; }

table.is-striped thead {
  background: #FFCD00;
  text-transform: uppercase;
  border: none; }

/*
table thead td,
table thead th {
  color: $secondary;
  border-width: 0 0 2px;
}

table tfoot {
  background-color: transparent;
}

table tfoot td,
table tfoot th {
  color: $grey;
  border-width: 2px 0 0;
}

table tbody {
  background-color: transparent;
}

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom-width: 0;
}

table.is-bordered td,
table.is-bordered th {
  border-width: 1px;
}

table.is-bordered tr:last-child td,
table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

table.is-fullwidth {
  width: 100%;
}



table.is-narrow td,
table.is-narrow th {
  padding: 0.25em 0.5em;
  @include padding($top: $xsm, $right: $sm, $bottom: $xsm, $left: $sm);
}
*/
table.is-striped tbody tr:not(.is-selected):nth-child(even) {
  background-color: #f3f3f3; }

table-container {
  overflow: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 100%; }
