.cta {
  &__wrapper {
    padding: $xlg 0;
    background: $primary;

    @include breakpoint(container) {
      padding: $md 0;
    }

    .bold-headline {
      margin: 0;
      padding: 0;
    }

    .bttn--outline {
      flex: 1;
      border: 1px solid $secondary;
    }
  }


  &__summary {
    text-align: center;
  }

  &__container {
    justify-content: space-between;
    margin: 0 $mobile-width-gutter;

    @include breakpoint(container) {
      margin: 0 $desktop-width-gutter;
    }

    @include breakpoint(container) {
      display: flex;
    }

    @include breakpoint(container) {
      padding: 0;
    }
  }
}

.cta__container>div {
  @include breakpoint(container) {
    margin: 0 $md;
  }

  @include breakpoint(container) {
    flex: 1 1 33%;
  }

  @include center(both);

  &:first-child {
    text-align: center;
    h2 {
      font-size: 3.2rem;
    }
  }

  &:nth-child(2) {
    margin: 0 auto;

    @include breakpoint(sm) {
      width: 60%;
    }

    @include breakpoint(container) {
      width: auto;
      margin: auto;
    }
  }
}

.cta__container>div:first-child {
  margin-left: 0;
}

.cta__container>div:nth-child(2) {
  @include breakpoint(container) {
    flex: 1 1 45%;
  }
}

.cta__container>div:last-child {
  margin-right: 0;
}
