.cta {
  &__wrapper {
    .bold-headline {
      margin: 0;
    }

    background: $primary;
    padding: $md 0;
    margin: -10px 0 0;

    .bttn--outline {
      border: 1px solid $secondary;
      flex: 1;
    }
  }

  &__container {
    margin: 0 $mobile-width-gutter;

    @include breakpoint(sm) {
      margin: 0 $desktop-width-gutter;
    }

    justify-content: space-between;

    @include breakpoint(sm) {
      display: flex;
    }

    @include breakpoint(container) {
      padding: 0;
    }
  }
}

.cta__container>div {
  @include breakpoint(sm) {
    margin: 0 $md;
  }
  padding-top: $xsm;

  @include breakpoint(sm) {
    flex: 1 1 33%;
  }

  @include center(both);
}

.cta__container>div:first-child {
  margin-left: 0;
}

.cta__container>div:nth-child(2) {
  @include breakpoint(sm) {
    flex: 1 1 45%;
  }
}

.cta__container>div:last-child {
  margin-right: 0;
}
