
      <div class="cta">


  <div class="cta__container">

    {% block cta %}
      {% if cta_title is not empty %}
        {% include "@heading" with {
          "heading_level" : 'h2',
          "heading_class" : 'bold-headline bold-headline--caps',
          "heading" : cta_title
        } %}
      {% endif %}
    {% endblock %}

    {% if cta_summary is not empty %}
      <p class="cta__summary">{{ cta_summary }}</p>
    {% endif %}
    {% if cta_link_url is not empty %}
      <a href="{{ cta_link_url }}" class="bttn bttn--tertiary">{{ cta_link_title }}</a>
    {% endif %}
  </div>
</div>
