.hero {
  position: relative;
  overflow: hidden;
  background: #151515; }
  .hero img {
    width: 100%; }
  .hero__image img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.hero__image {
  overflow: hidden;
  contain: paint; }

@media (min-width: 768px) {
  .hero__content-center .bold-headline.bold-headline--serif {
    display: block; } }

.hero p {
  color: #000;
  line-height: 1.5;
  margin-top: 0; }
  @media (min-width: 768px) {
    .hero p {
      color: #fff;
      max-width: 50em; } }

.hero .bold-headline {
  margin-top: 0;
  padding: 0;
  margin-bottom: .7rem;
  font-size: calc(100% + 4vw); }
  .hero .bold-headline.bold-headline--negative {
    line-height: 1;
    color: #000; }
    @media (min-width: 768px) {
      .hero .bold-headline.bold-headline--negative {
        text-shadow: 0 1px 1px #000;
        color: #fff; } }
  @media (min-width: 768px) {
    .hero .bold-headline {
      font-size: calc(100% + 2.5vw); } }
  @media (min-width: 855px) {
    .hero .bold-headline {
      margin-bottom: 0.325rem; } }
  @media (min-width: 992px) {
    .hero .bold-headline {
      font-size: calc(100% + 3.5vw); } }

.hero__container {
  max-width: 81.875em;
  margin: 0 auto; }
  .hero__container.hero__container-center {
    max-width: 100%; }

@media (min-width: 768px) {
  .hero__container-center {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; } }

.hero__content-center {
  display: grid;
  width: 100%;
  background: #fff;
  padding: 1.25rem; }
  @media (min-width: 768px) {
    .hero__content-center {
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      background: transparent; }
      .hero__content-center > * {
        flex-basis: 100%; } }
  @media (min-width: 84.375em) {
    .hero__content-center {
      padding: 1.25rem 0; } }

.hero__content-bottom {
  position: relative;
  z-index: 1;
  display: grid;
  width: 100%;
  background: white;
  padding: 1.25rem; }
  @media (min-width: 768px) {
    .hero__content-bottom {
      bottom: 0;
      position: absolute;
      background: transparent;
      padding: 1.25rem;
      max-width: 81.875em; } }
  @media (min-width: 84.375em) {
    .hero__content-bottom {
      padding: 1.25rem 0; } }

.hero__content-center {
  text-align: center; }
  @media (min-width: 768px) {
    .hero__content-center {
      width: 100%;
      height: 100%; } }

@media (min-width: 768px) {
  .hero--banner {
    align-content: center;
    height: 100%; } }

.hero--banner .bold-headline {
  font-size: 3rem; }

@media (min-width: 768px) {
  .hero--banner img {
    height: 33rem; } }

@media (min-width: 768px) {
  .hero--banner.hero--thin img {
    height: 18rem; } }

.hero--banner p {
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.7; }

@media (min-width: 768px) {
  .hero--banner .hero__content-bottom {
    width: 60%; } }

@media (min-width: 855px) {
  .hero--banner .hero__content-bottom {
    width: 50%; } }

@media (min-width: 84.375em) {
  .hero--banner .hero__content-bottom {
    width: 40%; } }

@media (min-width: 768px) {
  .hero--gradient-center-left::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: all .5s ease-in-out;
    opacity: .75;
    background: linear-gradient(180deg, transparent, black);
    will-change: opacity; } }

@media (min-width: 768px) {
  .hero--gradient-center::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: all .5s ease-in-out;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 70%);
    will-change: opacity; } }

@media (min-width: 768px) {
  .hero--solid-opacity::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    will-change: opacity; } }

@media (min-width: 768px) {
  .hero--gradient-left:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: all .5s ease-in-out;
    will-change: opacity;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0.23) 65%, rgba(0, 0, 0, 0) 100%); } }
