.events-card__heading {
  margin-bottom: 30px;
  padding: 11px 0 0px;
  background: $secondary;

  @include breakpoint(menu) {
    width: 100px;
    margin-bottom: 0;
    padding: 60px 0;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
  }

  @include breakpoint(container) {
    margin-right: 30px;
  }

  @include center(both);

  h2 {
    @include breakpoint(menu) {
      margin: 0 0 0 -13px;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-family: $font-family-caps-bold;
      font-size: $h4-font-size;

      @include breakpoint(sm) {
        font-size: $h3-font-size;
      }
    }
  }
}

@-moz-document url-prefix() {
  .events-card__heading {
    padding: 3px 0 0px;
  }
}

.events-card {
  position: relative;
  transition: transform .35s, z-index .5s;
  @include flexbox;
  @include flex-direction($value: column);
  @include flex($fg: 1, $fs: 1, $fb: 0%);

  &__body {
    padding: 0 $mobile-width-gutter $mobile-width-gutter $mobile-width-gutter;

    @include breakpoint(menu) {
      width: auto;
      padding: $mobile-width-gutter 0;
    }

    @include breakpoint(menu) {
      margin-top: -30px;
    }

    @include breakpoint(xlg) {
      width: 70%;
      padding: 0;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    //margin-bottom: 15px;
    //padding-top: $md;
    flex-wrap: wrap;
    @include breakpoint(sm) {
    padding: 0 1.5rem;
    }
    @include breakpoint(xlg) {
      flex-wrap: nowrap;
    }

    //min-height: 270px;
    .fas,
    .svg-inline--fa {
      color: $grey;
      padding-right: $xsm;

      .uids-component--gold & {
        color: white;
      }
    }

    .svg-inline--fa {
      width: 17px;
    }



    @include breakpoint(container) {
      padding: 0 1.5rem;
      min-height: 270px;
      @include center(both);
    }

    @include breakpoint(menu) {
      padding-top: 30px;
      margin: 0;

      &:first-of-type {
        //@include margin($left: 0);
      }

      &:last-of-type {
        //@include margin($right: 0);
      }
    }
  }

  &__wrapper {
    padding-bottom: 20px;

    @include breakpoint(menu) {
      padding-bottom: 0;
      padding: 0 3rem;
      @include flexbox;
    }
  }

  &__image {
    overflow: hidden;
    contain: paint;
    @include breakpoint(menu) {
      height: 150px;
      margin-bottom: 20px;
    }

    @include breakpoint(xlg) {
      height: auto;
      margin-bottom: 0;
    }
  }

  &__image img {
    align-self: start;
    @include breakpoint(menu) {
    margin-top: -50px;
    }
    width: 100%;

    @include breakpoint(xlg) {
      border-radius: 50%;
      margin-top: 0;
      height: auto;
      padding: 8px;
      border: 1px solid $grey;
    }

    background: #fff;
    //@include margin($bottom: $md);

    .uids-component--gold & {
      @include breakpoint(xlg) {
      border: 1px solid white;
      }
      background: $primary;
    }

    .uids-component--gray & {
      background: $light;
    }

    .uids-component--black & {
      background: $secondary;
      border: 1px solid $primary;
    }
  }

  .bttn {
    padding: $xsm;
    margin-top: $md;
    background: transparent;
    border: none;
    //border-bottom: 1px solid $secondary;
    font-size: .8rem;

    &:after {
      .uids-component--gold & {
        background-color: #fff;
      }
    }

    .uids-component--black &,
    .uids-component--gold &,
    .uids-component--gray & {
      padding: 0 0 .4rem 0;
    }

    .uids-component--gray & {
      border-color: $grey;
    }

    .uids-component--black & {
      color: $primary;
    }
  }

  &__image {
    //display: none;
    //margin-right: 10px;
    // margin-left: 10px;

    @include breakpoint(sm) {
      //display: none;
    }

    @include breakpoint(menu) {
      display: block;
      width: 100%;
      margin-right: 0px;
      margin-left: 0;
    }

    @include breakpoint(xlg) {
      display: block;
      width: 40%;
      margin-right: 30px;
      margin-left: 0;
    }
  }

  &__label {
    letter-spacing: .09rem;
    text-transform: uppercase;
    font-size: .95rem;

    .uids-component--black & {
      color: $light;
    }
  }

  &__title {
    font-family: $font-family-serif;
    font-size: $h6-font-size;
    font-weight: $font-weight-bold;
    @include margin($top: $sm, $bottom: $sm);

    a {
      text-decoration: none;
      color: $secondary;

      .uids-component--black & {
        color: white;
      }
    }
  }

  &__date {
    margin-bottom: 10px;
    font-family: $font-family-serif;
    font-size: 1.2rem;
    font-weight: $font-weight-light;
    font-style: italic;

    .uids-component--black & {
      color: $primary;
    }
  }

  &__text {
    @include margin($top: $sm, $bottom: $sm);
  }

  &__link {
    text-decoration: none;
    letter-spacing: .06rem;
    text-transform: uppercase;
    color: $secondary;
    font-weight: $font-weight-light;

    &:after {
      content: "\f0da";
      @include padding($left: $sm);
      @include fas();
    }
  }
}


@media only screen and (min-width: 400px) {
  .events-card__image {
    //display: flex;
  }
}
