

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../colors/colors.css">
        
            <link media="all" rel="stylesheet" href="../event/event.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="events-card__wrapper bg--gold">

	
				<div class="events-card events-card__row">
							<div class="events-card__image">
				<img class="events-card__img" src="../../assets/images/events-01.jpg" alt="Alt Text">
			</div>
				<div class="events-card__body">

									<h2 class="events-card__title">
  <a href="https://uiowa.edu/" >
        <span class="heading__heading">College of Liberal Arts and Sciences 9 a.m. Commencement Ceremony</span>
        </a>
  </h2>
					
		<div class="events-card__details">
			<div class="events-card__date">
				May 16, 2020, 9:00 AM</div>
			<div class="events-card__label">
				<i class="fas fa-map-marker-alt"></i>
				Carver-Hawkeye Arena</div>
		</div>

	</div>
</div>

						<div class="events-card events-card__row">
							<div class="events-card__image">
				<img class="events-card__img" src="../../assets/images/events-02.jpg" alt="Alt Text">
			</div>
				<div class="events-card__body">

									<h2 class="events-card__title">
  <a href="https://uiowa.edu/" >
        <span class="heading__heading">College of Engineering 9 a.m. Commencement Ceremony</span>
        </a>
  </h2>
					
		<div class="events-card__details">
			<div class="events-card__date">
				May 17, 2020, 9:00 AM</div>
			<div class="events-card__label">
				<i class="fas fa-map-marker-alt"></i>
				Carver-Hawkeye Arena</div>
		</div>

	</div>
</div>

						<div class="events-card events-card__row">
						<div class="events-card__body">

									<h2 class="events-card__title">
  <a href="https://uiowa.edu/" >
        <span class="heading__heading">College of Education 9 a.m. Commencement Ceremony</span>
        </a>
  </h2>
					
		<div class="events-card__details">
			<div class="events-card__date">
				May 18, 2020, 9:00 AM</div>
			<div class="events-card__label">
				<i class="fas fa-map-marker-alt"></i>
				Carver-Hawkeye Arena</div>
		</div>

	</div>
</div>

			
</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

