@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';
@import '../../assets/scss/border';

:root {
  --callout-spacing-lg: var(--space-lg-width-gutter);
  --callout-spacing-sm: var(--space-sm-width-gutter);
}

// === Callout === //
.callout {
  padding: var(--callout-spacing-sm);
  margin-block: var(--callout-spacing-sm);
  @include breakpoint(sm) {
    padding: var(--callout-spacing-sm);
    &[class*="bg-"] {
      padding: var(--callout-spacing-lg);
    }
  }
}
// === End: Callout === //
