@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';
@import '../../assets/scss/border';

:root {
  --callout-spacing-lg: var(--space-lg-width-gutter);
  --callout-spacing-sm: var(--space-sm-width-gutter);
}

// === Callout === //
.callout {
  padding: var(--callout-spacing-sm);
  @include breakpoint(sm) {
    &[class*="bg-"] {
      padding: var(--callout-spacing-lg);
    }
  }
}

// === Modifiers === //

// === Callout alignment === //
.callout--left {
  @include breakpoint(sm) {
    float: left;
    margin-block: var(--callout-spacing-sm);
    &[class*="bg-"] {
      margin-inline-end: var(--callout-spacing-lg);
    }
  }
}

.callout--center {
  @include breakpoint(sm) {
    margin: 0 auto;
    &[class*="bg-"] {
      margin-block: var(--callout-spacing-sm);
    }
  }
}

.callout--right {
  @include breakpoint(sm) {
    float: right;
    margin-block: var(--callout-spacing-sm);
    &[class*="bg-"] {
      margin-inline-start: var(--callout-spacing-lg);
    }
  }
}
// === End: Callout alignment === //
// === End: Callout === //


