

<div class="card__events-wrapper bg--gold">

              
<div class="card card--horizontal card__row card__row">
            <div class="card__media card__media--circle">
                  <img class="card__img" src="../../assets/images/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
        <span class="headline__headline">Getting to know Iowa's fall 2018 graduates</span>
    </h2>
          
                  <div class="card__details">
                                                                    <div class="card__date">
                June 14, 1984
              </div>
                                                          <div class="card__label">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                </div>
</div>
              
<div class="card card--horizontal card__row card__row">
            <div class="card__media card__media--circle">
                  <img class="card__img" src="../../assets/images/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
        <span class="headline__headline">Getting to know Iowa's fall 2018 graduates</span>
    </h2>
          
                  <div class="card__details">
                                                                    <div class="card__date">
                June 14, 1984
              </div>
                                                          <div class="card__label">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                </div>
</div>
              
<div class="card card--horizontal card__row card__row">
            <div class="card__media card__media--circle">
                  <img class="card__img" src="../../assets/images/events-01.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
        <span class="headline__headline">Getting to know Iowa's fall 2018 graduates</span>
    </h2>
          
                  <div class="card__details">
                                                                    <div class="card__date">
                June 14, 1984
              </div>
                                                          <div class="card__label">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                </div>
</div>
  
</div>

<style>
@media (min-width: 855px) {
    .card__row {
        margin-right: 1.6rem;
        margin-bottom: 0;
        margin-left: 1.6rem
    }
    .card__row:first-of-type {
        margin-left: 0
    }
    .card__row:last-of-type {
        margin-right: 0
    }
}

.card__wrapper {
    margin: 1.25rem 1.25rem
}

@media (min-width: 855px) {
    .card__wrapper {
        margin: 1.25rem 3rem 10rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body {
    flex: auto !important;
  }
}

</style>

