

      
        
      
<div class="card ">
            <div class="card__media ">
                  <img class="card__img" src="../../assets/images/examples/feature1.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
              
                  <div class="card__details">
                                    <div class="card__subtitle">By Lee Hermiston</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                                    <a class="bttn bttn--outline bttn--tertiary bttn--sans-serif bttn--full" href="https://uiowa.edu/">
            View Story
            <i class="fas fa-arrow-right"></i>
          </a>
                    </div>
</div>

