


<div class="card card--centered card--enclosed">
            <div class="card__media card__media--circle">
                  <img class="media--border media--circle" src="../../assets/images/icon-square.png" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
        <span class="headline__headline">Getting to know Iowa's fall 2018 graduates</span>
    </h2>
          
                  <div class="card__details">
                                                                    <div class="card__date">
                June 14, 1984
              </div>
                                                          <div class="card__label">
                <i class="fas fa-map-marker-alt"></i>
                Carver-Hawkeye Arena
              </div>
                              </div>
          
          <p>Applications can be submitted via Iowa’s web application portal, the Common Application, and Coalition App. Once submitted, <a href="/">you</a> can track the status of your application through MyUI, a one-stop resource for current and prospective Iowa students.</p>
    
                </div>
</div>

