

      
        
                
<div class="card card--enclosed">
            <div class="card__media">
                  <img class="card__img" src="../../assets/images/examples/feature1.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="heading__heading">Dedicated to having an impact on human health</span>
        </a>
  </h2>
          
                  <div class="card__details">
                                    <div class="card__author">By Lee Hermiston</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                                    <div aria-hidden="true" class="bttn bttn--outline bttn--tertiary bttn--sans-serif" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                    </div>
</div>

