

<div class="">
  <img
    
    alt=""
            class="media--border"          sizes="(min-width:1310px) 1310px, 100vw"      srcset="../../assets/images/widescreen__384_x_216/bg-image-square.jpg 384w,../../assets/images/widescreen__768_x_432/bg-image-square.jpg 768w,../../assets/images/widescreen__1024_x_576/bg-image-square.jpg 1024w,../../assets/images/widescreen__1312_x_738/bg-image-square.jpg 1312w,../../assets/images/widescreen__1920_x_1080/bg-image-square.jpg 1920w,../../assets/images/widescreen__2592_x_1458/bg-image-square.jpg 2592w,"        
    src=""
    typeof="foaf:Image"
  >
</div>

