// duplicate styles from superfish.css

.menu--reversed {
  .menu {
    margin-top: 0;
    margin-bottom: $lg;
    li {
      //border: 1px solid $secondary;
      border: 1px solid #000;
      border-right: none;
      &:last-child {
       border-right: 1px solid #000;
      }
      &:last-child a {
        border-right: none;
      }
      a {
        //background: #E35205;
        //color: $white;
        //padding-top: 0;
        //padding-bottom: 0;
        //text-transform: uppercase;
        //font-size: $small-font-size;
        font-weight: $font-weight-bold;
        &:hover {
          //background: $secondary;
          //color: $white;
          color: $secondary;
        }
      }
    }
  }
}

.region-primary-menu {
  .menu,
  .menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu li {
    position: relative;
  }
  .menu li.menu-item:first-child a {
    .site-header__left & {
      padding-left: 0;
    }
  }
  .menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  .menu>li {
    float: left;
  }
  .menu li:hover>ul,
  .sf-menu li.sfHover>ul {
    display: block;
  }
  .menu a {
    display: block;
    position: relative;
  }
  .menu ul ul {
    top: 0;
    left: 100%;
  }
}

