// duplicate styles from superfish.css

.menu--reversed {
  .menu {
    margin-top: 0;
    margin-bottom: $lg;
    li {
      //border: 1px solid $secondary;
      border-right: none;
      &:last-child {
      }
      &:last-child a {

      }
      a {
        //background: #E35205;
        //color: $white;
        //padding-top: 0;
        //padding-bottom: 0;
        //text-transform: uppercase;
        //font-size: $small-font-size;
        font-weight: $font-weight-bold;
        &:hover {
          //background: $secondary;
          //color: $white;
          color: $secondary;
        }
      }
    }
  }
}

.uids-menu {
  .menu,
  .menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu li {
    position: relative;
    display: block;
    width: 100%;
    @include breakpoint(sm) {
      width: auto;
    }
  }
  .menu li.menu-item:first-child a {
    .site-header__left & {
      padding-left: 0;
    }
  }
  .menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  .menu>li {
    float: left;
  }
  .menu li:hover>ul,
  .sf-menu li.sfHover>ul {
    display: block;
  }
  .menu a {
    display: block;
    position: relative;
  }
  .menu ul ul {
    top: 0;
    left: 100%;
  }
}

.main--secondary--horizontal {
  .uids-menu {
    position: relative;
    background-color: $light;
    right: 0;
    .menu li a {
      position: relative;
      text-transform: uppercase;
      @include breakpoint(sm) {
        &:hover, &:focus {
          &:after {
            width: 1px;
          }
        }
      }
    }
    .menu li a:after {
      position: absolute;
      @include breakpoint(sm) {
        content: "";
        background: $primary;
        bottom: 35%;
        right: 0;
        height: 25%;
        width: 1px;
      }
    }
    .menu li:first-of-type a {
      @include breakpoint(sm) {
        &:after {
          width: 0;
        }
      }
    }
  }
}

