// duplicate styles from superfish.css

.menu--reversed {
  .menu {
    margin-top: 0;
    margin-bottom: $lg;
    li {
      //border: 1px solid $secondary;
      border-right: none;
      &:last-child {
      }
      &:last-child a {

      }
      a {
        //background: #E35205;
        //color: $white;
        //padding-top: 0;
        //padding-bottom: 0;
        //text-transform: uppercase;
        //font-size: $small-font-size;
        font-weight: $font-weight-bold;
        &:hover {
          //background: $secondary;
          //color: $white;
          color: $secondary;
        }
      }
    }
  }
}

.uids-menu {
  .menu,
  .menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .menu li {
    position: relative;
    display: block;
    width: 100%;
    @include breakpoint(sm) {
      width: auto;
    }
  }
  .menu li.menu-item:first-child a {
    .site-header__left & {
      padding-left: 0;
    }
  }
  .menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  .menu>li {
    float: left;
  }
  .menu li:hover>ul,
  .sf-menu li.sfHover>ul {
    display: block;
  }
  .menu a {
    display: block;
    position: relative;
  }
  .menu ul ul {
    top: 0;
    left: 100%;
  }
}

.main--secondary--vertical,
.main--secondary--horizontal {
  padding: 0;
  display: block;
  .uids-menu {
    position: relative;
    .menu-item {
      display: block;
      text-decoration: none;
      background-color: transparent;
    }
    .menu-item a {
      position: relative;
      display: block;
      width: 100%;
      background-color: $white;
      border: 1px solid $secondary;
      @include padding($top: $sm, $right: $sm, $bottom: $sm, $left:$sm);
      border-right-width: 0;
      border-left-width: 0;
      text-transform: uppercase;
      &:hover, &:focus {
        background-color: $primary;
        color: $secondary;
      }
    }
    .menu-item:first-of-type a,
    .menu-item:last-of-type a {
      border-top-width: 0;
      border-bottom-width: 0;
    }
  }
}

.main--secondary--vertical {
  ul.menu {
    @include flexbox;
    @include flex-direction(column);
    @extend %no-ul-list;
    width: 100%;
  }
}

.main--secondary--horizontal {
  .uids-menu {
    @include breakpoint(sm) {
      background-color: $light;
      right: 0;
    }
    .menu li a {
      @include breakpoint(sm) {
        width: auto;
        background-color: transparent;
        border: 0px;
        &:hover, &:focus {
          &:after {
            width: 1px;
          }
        }
      }
    }
    .menu li a:after {
      @include breakpoint(sm) {
        position: absolute;
        content: "";
        background: $primary;
        bottom: 35%;
        right: 0;
        height: 25%;
        width: 1px;
      }
    }
    .menu li:first-of-type a {
      @include breakpoint(sm) {
        &:after {
          width: 0;
        }
      }
    }
  }
}

