.content li+li {
  @include margin($top: $xsm);
}

.content .tabs li+li {
  margin-top: 0;
}

.content ol {
  list-style-position: outside;
  @include margin($left: $lg, $top: $md);
}

.content ol:not([type]) {
  list-style-type: decimal;
}

.content ol:not([type]).is-lower-alpha {
  list-style-type: lower-alpha;
}

.content ol:not([type]).is-lower-roman {
  list-style-type: lower-roman;
}

.content ol:not([type]).is-upper-alpha {
  list-style-type: upper-alpha;
}

.content ol:not([type]).is-upper-roman {
  list-style-type: upper-roman;
}

.content ul {
  list-style: disc outside;
  @include margin($left: $lg, $top: $md);
}

.content ul li {
  list-style: disc outside;
}

.content ul ul {
  list-style-type: circle;
  @include margin($top: $xsm);
}

.content ul ul ul {
  list-style-type: square;
}

.content dd {
  @include margin($left: $lg);
}

