{% embed '@iowa-bar--parent_site_name' %}

  {% block top_links %}
    {% render '@top' %}
  {% endblock %}

{% endembed %}

{% include "@hero--default" with {
  "hero_type": 'image',
  "hero_size": 'large',
  "hero_vertical_alignment": 'hero--vertical-center',
  "hero_horizontal_alignment": 'hero--horizontal-center',
  "hero_title": 'Be a Hawkeye',
  "hero_text": '<p>Iowa is where great stories begin. <br />Its time to start yours. Find out how.</p>',
  "hero_title_classes": 'bold-headline--caps bold-headline bold-headline--highlight',
  "hero_classes": 'bg--black',
  "hero_overlay": 'solid-opacity',
} %}

<div data-uids-cta="data-uids-cta" role="region" class="cta-row__wrapper">
  <div class="cta-row__container">
    {% include "@menu" with {
      items : link_bttn.items | slice(0, 4)
    } %}
  </div>
</div>


<div class="viewbook">
  <div class="viewbook__section areas__content bg-pattern--brain">
    {% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline--caps bold-headline',
              "heading" : '200+ <span>Areas</span> of Study'
            } %}
    <p>Iowa offers over 200 majors, minors and certificates. Students are encouraged to work across disciplines to find their passion</p>

    <a href="https://ADMISSIONS.UIOWA.EDU/ACADEMICS" class="bttn bttn--secondary bttn--caps">
      View Areas of Study
      <i class="fas fa-arrow-right"></i>
    </a>
  </div>

  <div class="viewbook__section">
    <div class="card__wrapper">
{% for item in row.items | slice(0, 12) %}
	{% set card_classes = item.card_classes ?: '' %}
	{% set card_classes = card_classes|split(' ')|merge(['card__row'])|join(' ') %}
	{% include '@card' with {
      'card_classes': card_classes,
      'card_image': item.card_image,
      'card_link_url': item.card_link_url,
      'card_link_title': item.card_link_title,
      'card_title': item.card_title,
      'card_text': item.card_text,
      'card_author': item.card_author,
      'card_aria': item.card_aria,
      'card_title_class': item.card_title_class
    } %}
{% endfor %}

    </div>
  </div>
</div>

<div class="areas">
  <div class="areas__column">
    <img class="card__img" src="../../assets/images/viewbook/sections/0315.jpg" alt="Alt Text">
  </div>

  <div class="areas__column areas__content bg-pattern--brain">
    {% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline--caps bold-headline',
              "heading" : 'We Work <span>Together</span>'
            } %}
    <p>The University of Iowa blends big-school opportunities with close, personal support to help you excel. We remove the barriers between arts and science, between students and faculty—but most of all, between you and anything you’d like to explore</p>
  </p>

  <a href="https://ADMISSIONS.UIOWA.EDU/ACADEMICS" class="bttn bttn--secondary bttn--caps">
    View Academic Opportunities
    <i class="fas fa-arrow-right"></i>
  </a>

</div>
</div>


<div class="stat__wrapper">

		{% for item in stat_row_1.items | slice(0, 4) %}
			{% include "@stat" with {
        "stat_classes" : item.stat_classes,
        "stat_image" : item.stat_image,
        "stat_image_position" : item.stat_image_position,
        "stat_pattern" : item.stat_pattern,
        "stat_title" : item.stat_title,
        "stat_prefix" : item.stat_prefix,
        "stat_suffix" : item.stat_suffix,
        "stat_summary" : item.stat_summary,
        "stat_content" : item.stat_content
      } %}
		{% endfor %}

</div>

{% render '@aerial' %}

<div class="viewbook">
<div class="viewbook__section areas__content bg-pattern--brain">
  {% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline--caps bold-headline',
              "heading" : 'MAKE <span>30,000</span> NEW FRIENDS'
            } %}

  <p>Big Ten athletics, theaters, music venues, 500+ student groups, community organizations, student philanthropy, hiking trails, bike paths, workout facilities, hundreds of restaurants and coffee shops and food carts and—you get the idea.</p>

  <a href="https://ADMISSIONS.UIOWA.EDU/STUDENT-LIFE" class="bttn bttn--secondary bttn--caps">
    View Student Life

    <i class="fas fa-arrow-right"></i>
  </a>

</div>

<div class="viewbook__section">
  <img class="card__img" src="../../assets/images/viewbook/sections/1304.jpg" alt="Alt Text">
</div>
</div>


<div class="stat__wrapper">
		{% for item in stat_row_2.items | slice(0, 4) %}
			{% include "@stat" with {
        "stat_classes" : item.stat_classes,
        "stat_image" : item.stat_image,
        "stat_image_position" : item.stat_image_position,
        "stat_pattern" : item.stat_pattern,
        "stat_title" : item.stat_title,
        "stat_prefix" : item.stat_prefix,
        "stat_suffix" : item.stat_suffix,
        "stat_summary" : item.stat_summary,
        "stat_content" : item.stat_content
      } %}
		{% endfor %}
</div>




<div class="areas">
<div class="areas__column">
  <img class="card__img" src="../../assets/images/viewbook/sections/1961.jpg" alt="Alt Text">
</div>

<div class="areas__column areas__content bg-pattern--brain">
  {% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline--caps bold-headline',
              "heading" : 'Make an <span>Impact</span>'
            } %}
  <p>Having big ideas isn’t enough—to excel in any career, you need to know how to share them and make them real. Iowa’s leadership in the study and craft of writing helps every Hawkeye learn communication skills that give them an edge. Dedicated
    career advising, thousands of on-campus job interviews, and countless opportunities for hands-on learning make Iowa grads stand out.</p>
</p>

<a href="https://STORIES.UIOWA.EDU/STUDENT-OUTCOMES" class="bttn bttn--secondary bttn--caps">
  View Student Outcomes
  <i class="fas fa-arrow-right"></i>
</a>
</div>
</div>


<div class="stat__wrapper">
	{% for item in stat_row_3.items | slice(0, 4) %}
		{% include "@stat" with {
        "stat_classes" : item.stat_classes,
        "stat_image" : item.stat_image,
        "stat_image_position" : item.stat_image_position,
        "stat_pattern" : item.stat_pattern,
        "stat_title" : item.stat_title,
        "stat_prefix" : item.stat_prefix,
        "stat_suffix" : item.stat_suffix,
        "stat_summary" : item.stat_summary,
        "stat_content" : item.stat_content
      } %}
	{% endfor %}
</div>


<div class="split bg--gray">
<div class="split__column areas__content">

{% include "@headline" with {
              "heading_level" : 'h2',
              "heading_class" : 'bold-headline--caps bold-headline',
              "heading" : 'How to Apply'
            } %}
<hr class="element--spacer-separator" />

<ol class="element--circle-list">
  <li>
    <h3 class="bold-headline bold-headline--serif bold-headline--underline">
      <span class="heading__heading">Complete the required high school courses.</span>
    </h3>

    <p>Students can also apply via the Common Application or the Coalition Application.
    </p>
    <p>
      <a href="https://" class="bttn bttn--secondary bttn--caps">
        View Requirements
        <i class="fas fa-arrow-right"></i>
      </a>
    </p>

  </li>
  <li>

    <h3 class="bold-headline bold-headline--serif bold-headline--underline">
      <span class="heading__heading">Achieve a score of 255 or higher on the Regent Admission Index.</span>
    </h3>

    <p>The Regent Admission Index (RAI) is a formula used by all Iowa public universities to make admission a simpler, more streamlined process. To calculate your RAI score, use the applicable formula below.</p>

  </p>
  <ul>
    <li>3 x ACT composite score or SAT equivalent</li>
    <li>+ 30 x cumulative GPA</li>
    <li>+ 5 x years of high school core courses complete</li>
  </ul>

  <p>
    <a href="https://" class="bttn bttn--secondary bttn--caps">
      Calculate your RAI score
      <i class="fas fa-arrow-right"></i>
    </a>
  </p>

</li>

<li>

  <h3 class="bold-headline bold-headline--serif bold-headline--underline">
    <span class="heading__heading">Meet the admission requirements for your college of choice.</span>

  </h3>

  <p>Admission requirements vary for each college that accepts first-year students.</p>

  <ul>
    <li>College of Liberal Arts and Sciences</li>
    <li>College of Engineering
      <em>(direct admission)</em>
    </li>
    <li>Tippie College of Business
      <em>(direct admission)</em>
    </li>
    <li>College of Nursing
      <em>(early admission)</em>
    </li>
    <li>College of Education
      <em>(direct admission to the Elementary Teacher Education Program)</em>
    </li>
    <li>College of Public Health
      <em>(direct admission)</em>
    </li>
  </ul>

  <p>
    <small>
      <em>Students who do not meet all direct admission requirements for their specific college will be carefully considered on a case-by-case basis. Those who are not directly admitted to their desired college begin school as a CLAS student, applying to
        their college of choice after completing prerequisite courses and earning a minimum GPA.</em>
    </small>
  </p>
  <p>
    <small>
      <em>Colleges that do not accept first-year students directly include: Dentistry, Law, Pharmacy, Medicine, and the Graduate College.</em>
    </small>
  </p>

  <p>
    <a href="https://" class="bttn bttn--primary bttn--caps">
      View Requirements
      <i class="fas fa-arrow-right"></i>
    </a>
  </p>

</li>

</ol>

</div>

<div class="split__column areas__content">

<ol class="element--circle-list counter-increment">
<li>
  <h3 class="bold-headline bold-headline--serif bold-headline--underline">
    <span class="heading__heading">Submit your FAFSA and explore financial aid.</span>
  </h3>

  <table class="table is-striped">
    <caption class="element-invisible">Finances</caption>
    <thead>
      <tr>
        <th>Finances</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Iowa residents</td>
        <td>
          <strong>$9,830*</strong>
        </td>
      </td>
    </tr>
    <tr>
      <td>Nonresidents</td>
      <td>
        <strong>$31,793*</strong>
      </td>
    </td>
  </tr>
  <tr>
    <td>Standard housing and meal plans</td>
    <td>
      <strong>$11,400 **</strong>
    </td>
  </tr>
</tbody>
</table>

<p>
<small>* Tuition and fees vary by academic program. Tuition and fees listed include a one-time University Records and Documents Fee of $225 for new students.<br/>** Based on a double room with meal plan</small>
</p>

<p>
<a href="https://" class="bttn bttn--primary bttn--caps">
  Financial Aid
  <i class="fas fa-arrow-right"></i>
</a>
</p>
<p>Submit the
<strong>Free Application for Federal Student Aid (FAFSA)</strong>
early to maximize your available assistance.</p>

<p>
<a href="https://" class="bttn bttn--secondary bttn--caps">
  Scholarships
  <i class="fas fa-arrow-right"></i>
</a>
</p>
<p>We offer a wide variety of scholarships and grants.</p>

</li>

<li>

<h3 class="bold-headline bold-headline--serif bold-headline--underline">
<span class="heading__heading">Apply for housing and dining.</span>
</h3>

<p>Access the housing application through your admissions profile on
<a data-cke-saved-href="https://myui.uiowa.edu" href="https://myui.uiowa.edu">myui.uiowa.edu</a>
and pay the nonrefundable $75 housing application fee.
<br></p>
<p>We have a number of housing options available to suit your ideal student experience. We strongly recommend applying for housing early. Assignments are made on a first-come, first-served basis. The earlier you apply, the better your chances of
being assigned to one of your preferred communities. Roommate requests and community changes may be made until May 31, 2020</p>

<p>
<a href="https://" class="bttn bttn--primary bttn--caps">
  Housing Information
  <i class="fas fa-arrow-right"></i>
</a>
</p>

<p>
<a href="https://" class="bttn bttn--secondary bttn--caps">
  Dining Information
  <i class="fas fa-arrow-right"></i>
</a>
</p>

</li>

</ol>

</div>
</div>

<main></main>

{% render '@footer' %}
