@media (min-width: 768px) {
  .media--border {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: #fff; }
    .bg--black .media--border,
    .bg-pattern--brain--black .media--border,
    .bg--light .bg--black .media--border,
    .bg-pattern--brain .bg--black .media--border,
    .bg--light .bg-pattern--brain--black .media--border,
    .bg-pattern--brain .bg-pattern--brain--black .media--border,
    .bg--gold .bg--black .media--border,
    .bg--gold .bg-pattern--brain--black .media--border,
    .bg-pattern--brain--gold .bg--black .media--border,
    .bg-pattern--brain--gold .bg-pattern--brain--black .media--border {
      background: #151515;
      border: 1px solid #FFCD00; } }

.bg--gray .media--border,
.bg--gold .bg--gray .media--border,
.bg-pattern--brain--gold .bg--gray .media--border,
.bg--light .bg--gray .media--border,
.bg-pattern--brain .bg--gray .media--border {
  background: #f3f3f3;
  border: 1px solid #63666A; }

.bg--light .media--border,
.bg-pattern--brain .media--border,
.bg--gold .bg--light .media--border,
.bg--gold .bg-pattern--brain .media--border,
.bg-pattern--brain--gold .bg--light .media--border,
.bg-pattern--brain--gold .bg-pattern--brain .media--border {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #fff; }

.bg--gold .media--border,
.bg-pattern--brain--gold .media--border {
  background: #FFCD00;
  border: 1px solid white; }

@media (min-width: 768px) {
  .media--circle {
    border-radius: 50%;
    margin-top: 0;
    height: auto; } }
