

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../colors/colors.css">
        
        
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  	<div class="events-card ">
						<div class="events-card__body">

							
		<div class="events-card__details">
			<div class="events-card__date">
				</div>
			<div class="events-card__label">
				<i class="fas fa-map-marker-alt"></i>
				</div>
		</div>

	</div>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


  </html>

