

<div class="events-card__wrapper bg--gold">

	
				<div class="events-card events-card__row">
							<div class="events-card__image">
				<img class="events-card__img" src="../../assets/images/events-01.jpg" alt="Alt Text">
			</div>
				<div class="events-card__body">

														
		<div class="events-card__details">
			<div class="events-card__date">
				May 16, 2020, 9:00 AM</div>
			<div class="events-card__label">
				<i class="fas fa-map-marker-alt"></i>
				Carver-Hawkeye Arena</div>
		</div>

	</div>
</div>

						<div class="events-card events-card__row">
							<div class="events-card__image">
				<img class="events-card__img" src="../../assets/images/events-02.jpg" alt="Alt Text">
			</div>
				<div class="events-card__body">

														
		<div class="events-card__details">
			<div class="events-card__date">
				May 17, 2020, 9:00 AM</div>
			<div class="events-card__label">
				<i class="fas fa-map-marker-alt"></i>
				Carver-Hawkeye Arena</div>
		</div>

	</div>
</div>

						<div class="events-card events-card__row">
							<div class="events-card__image">
				<img class="events-card__img" src="../../assets/images/events-03.jpg" alt="Alt Text">
			</div>
				<div class="events-card__body">

														
		<div class="events-card__details">
			<div class="events-card__date">
				May 18, 2020, 9:00 AM</div>
			<div class="events-card__label">
				<i class="fas fa-map-marker-alt"></i>
				Carver-Hawkeye Arena</div>
		</div>

	</div>
</div>

			
</div>

