

  <div class="bg--black container--padded">
      <h2 class="bold-headline bold-headline--caps">
      <span class="headline__headline">Headline Antonio</span>
      </h2>
  </div>
  </div>
  <div class="bg--gold container--padded">
      <h2 class="bold-headline bold-headline--caps">
      <span class="headline__headline">Headline Antonio</span>
      </h2>
  </div>
  </div>
  <div class="bg--gray container--padded">
      <h2 class="bold-headline bold-headline--caps">
      <span class="headline__headline">Headline Antonio</span>
      </h2>
  </div>
  </div>
  <div class="bg-pattern--brain--black container--padded">
      <h2 class="bold-headline bold-headline--caps">
      <span class="headline__headline">Headline Antonio</span>
      </h2>
  </div>
  </div>
  <div class="bg-pattern--brain--gold container--padded">
      <h2 class="bold-headline bold-headline--caps">
      <span class="headline__headline">Headline Antonio</span>
      </h2>
  </div>
  </div>
  <div class="bg-pattern--brain container--padded">
      <h2 class="bold-headline bold-headline--caps">
      <span class="headline__headline">Headline Antonio</span>
      </h2>
  </div>
  </div>

