

  <div class="hero hero__center">

    
              <video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="../../assets/images/hero-image.jpg">
          <source src="../../assets/video/home.mp4" type="video/mp4">
        </video>
        <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
        <!--[if lt IE 9]> <img src="../../assets/images/hero-image.jpg" alt="View of University of Iowa Campus" class=" ie8-poster"> <![endif]-->
      </video>
    
  

<div class="hero__container hero__container-center">

  <div class="hero__content hero__content-center">




				




          <div class="hero__links">
                  <a href="https://uiowa.edu/" class="bttn bttn--secondary bttn--sans-serif bttn--outline">Schedule a Visit</a>
                  <a href="https://uiowa.edu/" class="bttn bttn--secondary bttn--sans-serif bttn--outline">Areas of Study</a>
                  <a href="https://uiowa.edu/" class="bttn bttn--secondary bttn--sans-serif bttn--outline">Cost and Aid</a>
              </div>
    
  </div>

      <div class="video-controls video">
      <button class="video-btn video-btn__pause" id="video-btn">
        <span class="element-invisible">Pause</span>
      </button>
    </div>
  
</div>

</div>

