.stat__grid {
  margin: 0;
}


.stat {
  color: $blk;
  position: relative;
  &__title {
    position: relative;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: $font-family-caps-bold;
    font-size: calc(100% + 4vw);
    display: inline-table;
    border-bottom: 8px solid $primary;
    padding: $md $lg $sm;
    @include breakpoint(menu) {
      padding: 0 $lg 0 0;
      .uids-component--center & {
        padding: 0 $lg;
      }
    }
  }

  &__description {
    position: relative;
    font-family: $font-family-caps-bold;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.4;
    width: 70%;
    margin: $sm 0;
    @include breakpoint(menu) {
      font-size: calc(100% + .7vw);
    }
  }
}


.heading__prefix,
.heading__suffix {
  font-size: 4vw;
  vertical-align: super;

  @include breakpoint(sm) {
    font-size: calc(100% + -2vw);
  }
}
