{% if stat_pattern %}{% set stat_classes = stat_classes ~ ' has-pattern' %}{% endif %}
{% if stat_image %}{% set stat_classes = stat_classes ~ ' has-image' %}{% endif %}

{% block stat_wrapper_start %}
    <div class="stat stat__row {{ stat_classes }}"
      {% if stat_pattern %} style="background-image: url('{% spaceless %}{{ stat_pattern }}{% endspaceless %}'); background-size: fill; background-repeat: repeat;" {% endif %}
      {% if stat_image %} style="background-image: url('{% spaceless %}{{ stat_image }}{% endspaceless %}'); background-size: cover; background-position: center;" {% endif %}
    >
  {% endblock %}

  {% block heading %}
    {% if stat_title is not empty %}
      {% include "@heading" with {
        "heading_level" : 'h2',
        "heading_class" : 'stat__title',
        "heading" : stat_title,
        "heading_prefix" : stat_prefix,
        "heading_suffix" : stat_suffix
      } %}
    {% endif %}
  {% endblock %}

  <p class="stat__description">{{ stat_summary }}</p>
</div>
