<div class="stat__wrapper">
<div class="grid--3-2 grid--3-2-stacked">



<div class="stat__grid uids-component--center uids-component--brain">
	<img class="stat__img" src="../../images/stat-1.jpg" alt="Alt Text">
</div>


  {% for item in stat.items | slice(0,1) %}
    {% include "@stat-block--basic" with {
      "stat_classes": item.stat_classes,
      "stat_image": item.stat_image,
      "stat_image_position": item.stat_image_position,
      "stat_pattern": item.stat_pattern,
      "stat_title": item.stat_title,
      "stat_prefix": item.stat_prefix,
      "stat_suffix": item.stat_suffix,
      "stat_summary": item.stat_summary
    } %}
  {% endfor %}

<div class="stat__grid uids-component--center uids-component--brain">
	<img class="stat__img" src="../../images/stat-2.jpg" alt="Alt Text">
</div>


{% for item in stat.items | slice(1, 1) %}
	{% include "@stat-block--basic" with {
      "stat_classes": item.stat_classes,
      "stat_image": item.stat_image,
      "stat_image_position": item.stat_image_position,
      "stat_pattern": item.stat_pattern,
      "stat_title": item.stat_title,
      "stat_prefix": item.stat_prefix,
      "stat_suffix": item.stat_suffix,
      "stat_summary": item.stat_summary
    } %}
{% endfor %}




<div class="stat__grid uids-component--center uids-component--brain">

	<img class="stat__img" src="../../images/stat-3.jpg" alt="Alt Text">
</div>


{% for item in stat.items | slice(2, 1) %}
	{% include "@stat-block--basic" with {
      "stat_classes": item.stat_classes,
      "stat_image": item.stat_image,
      "stat_image_position": item.stat_image_position,
      "stat_pattern": item.stat_pattern,
      "stat_title": item.stat_title,
      "stat_prefix": item.stat_prefix,
      "stat_suffix": item.stat_suffix,
      "stat_summary": item.stat_summary
    } %}
{% endfor %}



</div>
</div>


<style>

.stat__grid {
    margin: 0;
}

.grid--3-2 img {
    height: 100%;
  }



</style>
