<div class="stat__wrapper {{ stat_direction }}">

  {% for item in stat.items | slice(0, stat_items) %}
    {% include "@stat-block--basic" with {
      "stat_classes": item.stat_classes,
      "stat_image": item.stat_image,
      "stat_pattern": item.stat_pattern,
      "stat_title": item.stat_title,
      "stat_prefix": item.stat_prefix,
      "stat_suffix": item.stat_suffix,
      "stat_summary": item.stat_summary
    } %}
  {% endfor %}

</div>
