

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
        
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<nav role="navigation" aria-label="External Links" class="menu--group">
  <ul class="menu">
          <li class="menu-item"><a href="#" target="_blank" class="sf-depth-1 ">Alumni</a></li>

          <li class="menu-item"><a href="#" target="_blank" class="sf-depth-1 menuparent">Athletics</a></li>

          <li class="menu-item"><a href="#" target="_blank" class="sf-depth-1 menuparent">Health Care</a></li>

      </ul>
</nav>


</body>

<script src="/assets/vendor/js/jquery.js"></script>
<script src="../../assets/js/events.js"></script>


  </html>

