

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../headline/headline.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<!-- Start: @headline--bold-headline-caps -->
<h2 class="bold-headline bold-headline--caps">
        <span class="heading__heading">Bold Headline</span>
    </h2>
<!-- End: @headline--bold-headline-caps -->

<!-- Start: @headline--bold-headline-serif -->
<h2 class="bold-headline bold-headline--serif">
        <span class="heading__heading">Bold Headline Serif</span>
    </h2>
<!-- End: @headline--bold-headline-serif -->

<!-- Start: @headline--bold-headline-serif-with-underlined -->
<h2 class="bold-headline bold-headline--serif bold-headline--underline">
        <span class="heading__heading">Bold Headline Serif Underlined</span>
    </h2>
<!-- End: @headline--bold-headline-serif-with-underlined -->


</body>

<script src="/assets/vendor/js/jquery.js"></script>
<script src="../../assets/js/events.js"></script>


    </html>

