

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
        
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">Lorem ipsum dolor sit amet, consectetur</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</span>
			</div>
		
	</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>
<script src="../../assets/js/events.js"></script>


  </html>

