

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../menus/off-canvas/off-canvas.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<button id="bttnav" type="button" class="bttn bttn--drawer bttn--menu inactive" tabindex="0" role="button" aria-expanded="false">
<span>Menu</span>
</button>


</body>

<script src="/assets/vendor/js/jquery.js"></script>
<script src="../../assets/js/events.js"></script>


        <script src="../menus/off-canvas/off-canvas.js"></script>
    </html>

