

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<button type="button" class="search-button" role="button" aria-expanded="false" aria-controls="search-overlay" aria-labelledby="search-button-label">
	<span id="search-button-label">Search</span>
</button>





</body>

<script src="/assets/vendor/js/jquery.js"></script>
<script src="../../assets/js/events.js"></script>


        <script src="../search-toggle/search-toggle.js"></script>
  </html>

