

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="portrait__bg">
	<div class="portrait__wrapper">
		<ul class="portrait__container">
			<li class="portrait">
				<div class="portrait__item">
					<h2 class="bold-headline bold-headline--serif bold-headline--underline">
        <span class="heading__heading">Hear from Hawkeyes</span>
    </h2>
					<p class="portrait__body">High rankings and cool buildings don’t make Iowa exceptional. Hawkeyes do. Meet just a few of the Hawkeyes making an impact.</p>
				</div>
			</li>

							<li class="portrait">
	<div class="portrait__item">

		<div class="embed-responsive embed-responsive-9by16">
			<button class="vidbttn">
				<span>Play</span>
			</button>

			<video class="player" preload="metadata" poster="../../video/kelly.png">
				<source src="../../video/kelly.mp4" type="video/mp4">
				<track label="English" kind="subtitles" srclang="en" src="../../video/kelly.vtt" default="default"/>
				<p>Video is not Supporting</p>
			</video>

		</div>

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">I WOULDN'T HAVE GOTTEN THAT ANYWHERE ELSE.</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Rockwell Collins</span>
			</div>
		
	</div>

	</div>
</li>
							<li class="portrait">
	<div class="portrait__item">

		<div class="embed-responsive embed-responsive-9by16">
			<button class="vidbttn">
				<span>Play</span>
			</button>

			<video class="player" preload="metadata" poster="../../video/study.png">
				<source src="../../video/kelly.mp4" type="video/mp4">
				<track label="English" kind="subtitles" srclang="en" src="../../video/kelly.vtt" default="default"/>
				<p>Video is not Supporting</p>
			</video>

		</div>

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">Best Study Spots on Campus</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Take a Tour</span>
			</div>
		
	</div>

	</div>
</li>
							<li class="portrait">
	<div class="portrait__item">

		<div class="embed-responsive embed-responsive-9by16">
			<button class="vidbttn">
				<span>Play</span>
			</button>

			<video class="player" preload="metadata" poster="../../video/vikings.png">
				<source src="../../video/kelly.mp4" type="video/mp4">
				<track label="English" kind="subtitles" srclang="en" src="../../video/kelly.vtt" default="default"/>
				<p>Video is not Supporting</p>
			</video>

		</div>

		<div class="highlight__wrapper">

						<h3 class="highlight__title">
        <span class="heading__heading">From Hawkeyes to Vikings</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>University of Iowa graduates in MN</span>
			</div>
		
	</div>

	</div>
</li>
			
		</ul>
	</div>
</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>
<script src="../../assets/js/events.js"></script>


        <script src="../video/vertical/vertical.js"></script>
  </html>

