table[border] {
  border-style: solid;
  border-color: #eee; }
  table[border] td,
  table[border] th {
    border-color: #eee; }

table {
  font-size: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
  color: #151515;
  background-color: #fff; }
  table td,
  table th {
    padding: 1.05rem;
    vertical-align: bottom;
    font-size: 1rem; }
  table th {
    color: #151515; }
    table th:not([align]) {
      text-align: left; }
  table thead th {
    background-color: #fff;
    border-bottom: 1px solid #cccccc; }
  table tbody th {
    background-color: #fff;
    border-right: 1px solid #cccccc;
    position: static;
    left: 0;
    padding-left: 1.05rem; }
  table.hover-highlight tbody tr:not(.is-selected):hover,
  table.hover-highlight tbody tr:not(.is-selected):nth-child(even):hover {
    background-color: #fff3c3; }
    table.hover-highlight tbody tr:not(.is-selected):hover th,
    table.hover-highlight tbody tr:not(.is-selected):nth-child(even):hover th {
      background-color: #fff3c3; }
  table:not(.table__responsive) caption {
    width: 100%;
    padding: 1.05rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    font-weight: bold; }
  table tbody tr:last-child td,
  table tbody tr:last-child th {
    border-bottom-width: 0; }
  table thead td,
  table thead th {
    color: #151515; }
  table.is-striped {
    border: 1px solid #eee; }
    table.is-striped thead th {
      background: #FFCD00;
      text-transform: uppercase;
      border: none; }
    table.is-striped tbody th {
      border: none; }
    table.is-striped tbody tr:not(.is-selected):nth-child(even),
    table.is-striped tbody tr:not(.is-selected):nth-child(even) th {
      background-color: #f3f3f3; }

table.gray-borders {
  border: #ddd 1px solid; }
  table.gray-borders > tr > td,
  table.gray-borders > tr > th,
  table.gray-borders > tbody > tr > td,
  table.gray-borders > tbody > tr > th,
  table.gray-borders > tfoot > tr > td,
  table.gray-borders > tfoot > tr > th {
    border: #ddd 1px solid; }
  table.gray-borders > thead > tr > td,
  table.gray-borders > thead > tr > th,
  table.gray-borders > caption > td,
  table.gray-borders > caption > th {
    border: #7c7c7c 1px solid; }

.table__responsive-container {
  width: 100%;
  position: relative; }
  .table__responsive-container.table__row-headers--true .table__sticky-heading:first-child {
    left: 0; }
  .table__responsive-container.table__row-headers--true.table--left-sticky-minwidth .table__sticky-heading:first-child {
    position: -webkit-sticky;
    position: sticky; }
  .table__responsive-container.table--striped {
    border: 1px solid #eee; }
    .table__responsive-container.table--striped.table--is-sticky-left.table--left-sticky-minwidth table.is-striped tbody th {
      -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
              filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); }
    .table__responsive-container.table--striped.table--is-sticky-left.table--left-sticky-minwidth .table__sticky-heading:first-child {
      -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
              filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2)); }
    .table__responsive-container.table--striped.table--is-sticky-top .table__responsive-header {
      transition: -webkit-filter 0.3s ease-in-out;
      transition: filter 0.3s ease-in-out;
      transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
      -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2));
              filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)); }
  .table__responsive-container.table--gray-borders .table__visual-caption {
    border: #7c7c7c 1px solid;
    border-bottom: none; }
  .table__responsive-container.table--gray-borders .table__responsive-header .table__sticky-heading {
    border-left: #7c7c7c 1px solid;
    border-top: #7c7c7c 1px solid;
    border-bottom: #7c7c7c 1px solid; }
  .table__responsive-container table {
    width: 100%; }
    .table__responsive-container table.is-striped {
      border: none; }
    .table__responsive-container table caption {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px); }
  .table__responsive-container.table--is-sticky-left.table--left-sticky-minwidth .table__sticky-heading:first-child {
    border-right: 1px solid #ccc; }
  .table__responsive-container .table__responsive-header__sticky-heading:first-child {
    border-right: 1px solid #fff;
    transition: border-right 0.3s ease-in-out; }
  .table__responsive-container.table--is-sticky-left.table--striped.table--left-sticky-minwidth .table__sticky-heading:first-child {
    border-right: none; }
  .table__responsive-container.table--left-sticky-minwidth table tbody th {
    position: -webkit-sticky;
    position: sticky; }
  .text-formatted .table__responsive-container div {
    line-height: inherit;
    font-size: 1rem;
    margin-bottom: 0; }

.table__visual-caption {
  width: 100%;
  padding: 1.05rem;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #333;
  font-weight: bold; }

.table__responsive-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0; }
  .table__responsive-header__scroller {
    white-space: nowrap;
    overflow-x: hidden; }
  .table--striped .table__responsive-header .table__sticky-heading {
    background: #FFCD00;
    text-transform: uppercase;
    border: none; }

.table__sticky-heading {
  display: inline-block;
  padding: 1.05rem;
  vertical-align: bottom;
  font-size: 1rem;
  color: #151515;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  text-align: left; }
  .table__sticky-heading .text-positioner {
    white-space: break-spaces;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-weight: bold; }

.table__container {
  overflow-x: auto; }

.table.table--static tbody th,
.table.table--static thead th {
  position: static; }
