@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';


.footer {
  position: relative;
  background: $secondary;
  @include padding($top: $xlg, $right: 0, $bottom: $xlg, $left: 0);

  @include breakpoint(md) {
    @include padding($top: $xlg, $right: 0, $bottom: 0, $left: 0);
  }

  a {
    color: $primary;
    text-decoration: none;
    font-weight: $font-weight-normal;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    color: #ccc;
    line-height: 1.5;
    font-weight: 100;
    margin-top: $sm-md;

    a {
      color: $primary;
      text-decoration: none;
      font-weight: $font-weight-normal;
      &:hover,
      &:focus {
        text-decoration: underline;
      }

      i, svg, span {
        margin-right: $sm;
        font-size: $small-font-size;
        color: #999;
      }

    }
  }

  // Override site-name when it is displayed in the footer.
  .site-name {
    color: #fff;
    font-size: 1.7rem;
    margin-top: $md;
    font-weight: $font-weight-heavy;
    margin-bottom: $xsm;
    a {
      color: #fff;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  // Override parent-site-name when it is displayed in the footer.
  .parent-site-name {
    color: #ccc;
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: .625rem;
    display: block;
    background: $secondary;
    padding: 0;
    a {
      color: #ccc;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }


  &__container {
    @include container-width;;

    //padding: 0 $gutter;
    @include breakpoint(page-container) {
      padding: 0;
    }
  }

  &__container--flex {
    @include breakpoint(md) {
      @include flexbox;
      flex-wrap: wrap;
      column-gap: $md;
    }
  }

  &__links {
    @include margin($top: 0, $right: 0, $bottom: $lg);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    .menu {
      margin: 0;
      @extend %no-ul-list;

      li {
        /*
         * %no-ul-list sets display: inline-block; for li,
         *  which doesn't work for this menu.
         */
        display: block;
      }

      a {
        font-weight: $font-weight-light;
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      ul {
        margin: 0;

        li {
          @extend %no-ul-list;

        }
      }
    }
  }

  &__links--nav {
    margin-bottom: $xlg;

    @include breakpoint(md) {
      display: flex;
    }
  }

  &__links--contact {
    @include breakpoint(md) {
      flex-grow: 2;
    }
  }

  &__links--icon {
    /*
     * Display icon menu as flex since the icons sit
     *  side-by-side.
     */
    .menu {
      flex-wrap: wrap;
      @include flexbox;
      line-height: 2;
      @include breakpoint(md) {
        line-height: 1;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    i {
      color: #fff;
      font-size: $h4-font-size;
      @include margin($right: $md);
    }

    .link-text {
      @include element-invisible;
    }

    ul,
    li {
      @extend %no-ul-list;
    }
  }
}

.socket {
  &__container {
    @include container-width;;

    @include breakpoint(page-container) {
      padding: 0;
    }
  }

  &__menu {
    @extend %no-ul-list;
    display: flex;
    flex-wrap: wrap;

    li {
      color: white;
      font-size: $small-font-size;
      border-right: 1px solid #5d5656;
      margin-bottom: $xsm;
      @include padding($top: 0, $right: $sm, $left: $sm);

      &:first-child {
        flex-basis: 100%;
        border-right: none;
      }
      &:nth-child(2) {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        @include padding($right: 0);
      }

      &:first-child {
        @include padding($left: 0);
      }

      a {
        text-decoration: none;
        color: $primary;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-cta {
  &__wrapper {
    background: $primary;
    padding: $lg 0;
    margin: 0;

    .menu {
      @include breakpoint(sm) {
        display: flex;
      }
      li {
        flex: 1;
        display: block;
      }
    }

    .bttn--outline {
      border: 1px solid $secondary;
      display: block;

      @include breakpoint(sm) {
        flex: 1;
        display: block;
      }
    }
  }

  &__container {
    @include container-width;;
    justify-content: space-between;

    div:first-of-type,
    nav:first-of-type {
      flex-basis: 100%;
    }

    @include breakpoint(sm) {
      display: flex;
    }

    @include breakpoint(page-container) {
      padding: 0;
    }
  }
}

.footer-cta__container .menu {
  @extend %no-ul-list;
  li {
    @include breakpoint(sm) {
      &:first-child a {
        margin: 0 $md 0 0;
      }

      &:last-child a {
        margin: 0 0 0 $md;
      }
    }
  }

  a {
    margin: $md 0;

    @include breakpoint(sm) {
      margin: 0 $md;
    }

    padding-top: $xsm;

    &:before {
      content: ' ';
      background-repeat: no-repeat;
      background-size: 90%;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin-bottom: -5px;
      margin-right: 5px;
    }

    &.bttn--apply:before {
      background-image: url("#{$imgpath}/apply-01.svg");
    }

    &.bttn--visit:before {
      background-image: url("#{$imgpath}/location-01.svg");
    }

    &.bttn--request:before {
      background-image: url("#{$imgpath}/request-01.svg");
    }
  }
}

.footer-cta__container>a:first-child {
  margin-left: 0;
}

.footer-cta__container>a:last-child {
  margin-right: 0;
}

// Logo in footer.
.logo--footer {
  padding: 0 40px 0 0;
  width: 128px;

  @include breakpoint(md) {
    width: 145px
  }

  @include breakpoint(page-container) {
    width: 176px
  }
}
