/**
 * @tokens SCSS Colors
 * @presenter Color
 */

$primary: #FFCD00;
$secondary: #000000;
$light: #f3f3f3;
$grey: #737373;
$grey-light: #cacaca;
$brand-cool-gray: #63666A;

/**
  * @tokens SCSS Fonts
  * @presenter FontFamily
  */
$base: system-ui, sans-serif;
