@forward 'base/reset';
@forward 'abstracts/variables';
@forward 'abstracts/utilities';
@use 'abstracts/layout-main';
@forward 'abstracts/utility-classes';
@use 'abstracts/local-fonts';
@forward 'base/headings';
@forward 'base/lists';
@forward 'base/paragraph';
@forward 'layout/grid';
@forward 'layout/flexbox';

:root {
  // Colors
  --uiowa-gold: #FFCD00;
  --uiowa-black: #000000;
  --brand-primary: var(--uiowa-gold);
  --brand-secondary: var(--uiowa-black);
  --uids-grey: #737373;
  --uids-grey-light: #CACACA;
  --uids-grey-cool: #63666A;
  --uids-white: #F3F3F3;
  --link-color: #00558C;

  // Margin/Padding
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

:focus:not(:focus-visible) {
  outline: none
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  :after, :before {
    transition-duration: 0.01ms !important;
  }
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
