.banner {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15rem; }
  .banner--large::before {
    float: left;
    padding-top: 45.25%;
    content: ''; }
  .banner--medium::before {
    float: left;
    padding-top: 32.25%;
    content: ''; }
  @media (min-width: 84.375em) {
    .banner--full.banner--large {
      height: 100vh; } }
  .banner::after {
    display: block;
    content: '';
    clear: both; }
    @media (min-width: 84.375em) {
      .banner::after {
        display: block;
        content: '';
        clear: both; } }

.banner {
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .banner {
      flex-basis: 100%;
      display: flex;
      align-items: center;
      justify-content: center; } }
  .banner.banner--vertical-bottom {
    align-items: flex-end; }
  .banner.banner--horizontal-center {
    text-align: center; }
    .banner.banner--horizontal-center blockquote {
      border-left: none; }
    .banner.banner--horizontal-center .banner__content > * {
      margin-right: auto;
      margin-left: auto; }

.banner:focus-within .headline a:focus {
  text-decoration: underline; }

.banner__container {
  margin: 0 auto;
  width: 100%;
  z-index: 1; }
  @media (min-width: 768px) {
    .banner__container {
      z-index: 1;
      max-width: 81.875em;
      top: 0; } }

.banner .headline + .banner__action {
  margin-top: 1.5rem; }

.banner .banner__action .bttn {
  margin: 0 1rem 1rem 0; }
  @media (min-width: 768px) {
    .banner .banner__action .bttn + .bttn {
      margin: 0 1rem 1rem 0; } }

@media (min-width: 768px) {
  [class*="bg--black"] .banner.banner--gradient-light:not([class*="bg-"]) .banner__pre-title.headline.headline--highlight span {
    color: #151515; } }

.banner__pre-title {
  background: none;
  line-height: 1.1; }
  .banner__pre-title.headline.headline--serif {
    margin-bottom: 0; }
  .banner__pre-title.headline.headline--uppercase {
    margin-bottom: 0.7rem; }
  .banner__pre-title.headline.headline--highlight {
    margin-bottom: -.1rem; }
  .banner__pre-title.headline.headline--highlight span {
    background: none; }
    [class*="bg--"] [class*="bg--black"] .banner__pre-title.headline.headline--highlight span,
    [class*="bg--black"] .banner__pre-title.headline.headline--highlight span,
    [class*="bg--black"] [class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__pre-title.headline.headline--highlight span,
    [class*="bg--gold"] [class*="banner--gradient-dark"][class*="bg--black"] .banner__pre-title.headline.headline--highlight span,
    [class*="banner--gradient-dark"]:not([class*="bg--"]):not([class*="banner--stacked"]) .banner__pre-title.headline.headline--highlight span,
    [class*="bg--black"] [class*="banner--gradient-light"][class*="bg--black"]:not([class*="banner--stacked"]) .banner__pre-title.headline.headline--highlight span {
      color: #fff; }
    @media (min-width: 768px) {
      [class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__pre-title.headline.headline--highlight span {
        color: #fff; } }
    [class*="bg--gold"] [class*="banner--gradient-dark"] .banner__pre-title.headline.headline--highlight span {
      color: #151515; }
      @media (min-width: 768px) {
        [class*="bg--gold"] [class*="banner--gradient-dark"] .banner__pre-title.headline.headline--highlight span {
          color: #fff; } }
    [class*="bg--gold"] .banner__pre-title.headline.headline--highlight span,
    [class*="bg--gold"] [class*="banner--gradient-dark"][class*="bg--gold"] .banner__pre-title.headline.headline--highlight span,
    [class*="bg--gold"] [class*="banner--gradient-dark"][class*="bg--gray"] .banner__pre-title.headline.headline--highlight span,
    [class*="bg--gold"] [class*="banner--gradient-dark"][class*="bg--white"] .banner__pre-title.headline.headline--highlight span,
    [class*="bg--black"] [class*="banner--gradient-light"]:not([class*="banner--stacked"]) .banner__pre-title.headline.headline--highlight span,
    [class*="bg--white"] .banner__pre-title.headline.headline--highlight span,
    [class*="bg--gray"] .banner__pre-title.headline.headline--highlight span {
      color: #151515; }
  .banner__pre-title.headline--large {
    font-size: 1.6rem;
    font-size: clamp(1.2rem, calc(0.9014vw + 0.862rem), 1.6rem); }
  .banner__pre-title.headline--medium {
    font-size: 1.4rem;
    font-size: clamp(1.2rem, calc(0.4507vw + 1.031rem), 1.4rem); }
  .banner__pre-title.headline--small {
    font-size: 1.4rem; }

.banner__stacked[class*="banner--gradient-dark"] .banner__pre-title.headline--highlight span {
  color: #151515; }
  [class*="bg--black"] .banner__stacked[class*="banner--gradient-dark"] .banner__pre-title.headline--highlight span {
    color: #fff; }
  @media (min-width: 768px) {
    .banner__stacked[class*="banner--gradient-dark"] .banner__pre-title.headline--highlight span {
      color: #fff;
      text-shadow: 0 1px 1px #000; } }

.banner__content {
  padding: 1.25rem; }
  @media (min-width: 768px) {
    .banner__content {
      padding: 2rem 0; } }
  .banner__content > * {
    flex-basis: 100%; }
  @media (min-width: 84.375em) {
    .banner__content {
      padding: 2rem 0 1.25rem; } }

.banner__text {
  z-index: 1;
  color: #fff; }
  .banner__text a {
    color: #fff; }
  .banner__text p {
    line-height: 1.5;
    margin-top: 0;
    color: #fff;
    text-shadow: 0 1px 1px #000; }
    @media (min-width: 768px) {
      .banner__text p {
        color: #fff;
        text-shadow: 0 1px 1px #000; } }
    .banner__text p a {
      position: relative;
      z-index: 1;
      color: #fff; }

[class*="bg--gray"] .banner[class*="banner--gradient-dark"]:not([class*="bg-"]):not([class*="banner--stacked"]) .banner__text a,
[class*="bg--gold"] .banner[class*="banner--gradient-dark"]:not([class*="bg-"]):not([class*="banner--stacked"]) .banner__text a,
[class*="bg--white"] .banner[class*="banner--gradient-dark"]:not([class*="bg-"]):not([class*="banner--stacked"]) .banner__text a {
  color: #fff; }

.banner[class*="bg--black"] .banner__text p, .banner[class*="bg-pattern--brain-black"] .banner__text p {
  color: #fff; }

.banner[class*="bg--gray"] .banner__text {
  color: #151515; }
  .banner[class*="bg--gray"] .banner__text a {
    color: #151515; }
  .banner[class*="bg--gray"] .banner__text p {
    color: #151515;
    font-weight: normal;
    text-shadow: none; }
    .banner[class*="bg--gray"] .banner__text p a {
      color: #151515; }

.banner[class*="bg--gold"] .banner__text, .banner[class*="bg--white"] .banner__text, .banner[class*="banner--gradient-light"]:not([class*="bg-"]) .banner__text {
  color: #151515; }
  .banner[class*="bg--gold"] .banner__text p, .banner[class*="bg--white"] .banner__text p, .banner[class*="banner--gradient-light"]:not([class*="bg-"]) .banner__text p {
    color: #151515;
    font-weight: normal;
    text-shadow: none; }
    .banner[class*="bg--gold"] .banner__text p a, .banner[class*="bg--white"] .banner__text p a, .banner[class*="banner--gradient-light"]:not([class*="bg-"]) .banner__text p a {
      color: #151515; }
  .banner[class*="bg--gold"] .banner__text a, .banner[class*="bg--white"] .banner__text a, .banner[class*="banner--gradient-light"]:not([class*="bg-"]) .banner__text a {
    color: #151515; }

[class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text {
  color: #fff; }
  @media (min-width: 768px) {
    [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text {
      color: #151515; } }
  [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text a, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text a, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text a {
    color: #fff; }
    @media (min-width: 768px) {
      [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text a, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text a, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text a {
        color: #151515; } }
  [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text p, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text p, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text p {
    color: #fff; }
    @media (min-width: 768px) {
      [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text p, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text p, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text p {
        color: #151515; } }
    [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text p a, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text p a, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text p a {
      color: #fff; }
      @media (min-width: 768px) {
        [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .banner__text p a, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .banner__text p a, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .banner__text p a {
          color: #151515; } }

.banner--stacked[class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__text p {
  color: #151515;
  text-shadow: none; }
  [class*="bg--black"] .banner--stacked[class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__text p {
    color: #fff; }
  @media (min-width: 768px) {
    .banner--stacked[class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__text p {
      color: #fff;
      text-shadow: 0 1px 1px #000; } }
  .banner--stacked[class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__text p a {
    color: #151515; }
    @media (min-width: 768px) {
      .banner--stacked[class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__text p a {
        color: #fff; } }
    [class*="bg--black"] .banner--stacked[class*="banner--gradient-dark"]:not([class*="bg--"]) .banner__text p a {
      color: #fff; }

[class*="bg--gold"] .banner--stacked[class*="banner--gradient-light"]:not([class*="bg--black"]) .banner__text p {
  color: #151515; }
  [class*="bg--gold"] .banner--stacked[class*="banner--gradient-light"]:not([class*="bg--black"]) .banner__text p a {
    color: #151515; }

.banner--stacked[class*="bg--black"], .banner--stacked[class*="bg-pattern--brain-black"] {
  display: flex; }
  .banner--stacked[class*="bg--black"] .banner__text, .banner--stacked[class*="bg-pattern--brain-black"] .banner__text {
    color: #fff; }
    .banner--stacked[class*="bg--black"] .banner__text a, .banner--stacked[class*="bg-pattern--brain-black"] .banner__text a {
      color: #fff; }
    .banner--stacked[class*="bg--black"] .banner__text p, .banner--stacked[class*="bg-pattern--brain-black"] .banner__text p {
      color: #fff; }
      .banner--stacked[class*="bg--black"] .banner__text p a, .banner--stacked[class*="bg-pattern--brain-black"] .banner__text p a {
        color: #fff; }

.banner--stacked .banner__text {
  color: #151515; }
  @media (min-width: 768px) {
    .banner--stacked .banner__text {
      color: #fff; } }
  .banner--stacked .banner__text a {
    color: #151515; }
    @media (min-width: 768px) {
      .banner--stacked .banner__text a {
        color: #fff; } }

[class*="bg--black"] .banner--stacked .banner__text {
  color: #fff; }
  [class*="bg--black"] .banner--stacked .banner__text a {
    color: #fff; }

[class*="bg--black"] .banner--stacked[class*="bg--white"] .banner__text, [class*="bg--black"] .banner--stacked[class*="bg--gray"] .banner__text, [class*="bg--black"] .banner--stacked[class*="bg--gold"] .banner__text {
  color: #151515; }
  [class*="bg--black"] .banner--stacked[class*="bg--white"] .banner__text a, [class*="bg--black"] .banner--stacked[class*="bg--gray"] .banner__text a, [class*="bg--black"] .banner--stacked[class*="bg--gold"] .banner__text a {
    color: #151515; }
  [class*="bg--black"] .banner--stacked[class*="bg--white"] .banner__text p, [class*="bg--black"] .banner--stacked[class*="bg--gray"] .banner__text p, [class*="bg--black"] .banner--stacked[class*="bg--gold"] .banner__text p {
    color: #151515; }
    [class*="bg--black"] .banner--stacked[class*="bg--white"] .banner__text p a, [class*="bg--black"] .banner--stacked[class*="bg--gray"] .banner__text p a, [class*="bg--black"] .banner--stacked[class*="bg--gold"] .banner__text p a {
      color: #151515; }

.banner__image {
  overflow: visible; }
  .banner__image img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    height: 100%;
    top: 0; }

.banner--stacked .banner__image img {
  position: relative; }
  @media (min-width: 768px) {
    .banner--stacked .banner__image img {
      position: absolute; } }

.banner .media--video .video-controls {
  z-index: 2; }

.banner .media--video {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute; }
  .banner .media--video video {
    overflow: visible;
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    top: 0; }
    @media (min-width: 768px) {
      .banner .media--video video {
        position: absolute; } }

.banner .media--video .video-controls {
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem; }
  @media (min-width: 84.375em) {
    .banner .media--video .video-controls {
      left: 3rem;
      bottom: 3rem; } }
  @media (min-width: 84.375em) {
    .banner--horizontal-left.banner--vertical-bottom .banner .media--video .video-controls {
      bottom: 1.5rem;
      left: 1.5rem; } }

.banner .media--video .video-btn {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #151515;
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  font-size: 1rem;
  padding: 0; }
  @media (min-width: 768px) {
    .banner .media--video .video-btn {
      display: block; } }
  .banner .media--video .video-btn::after {
    content: "\f04b";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem; }
  .banner .media--video .video-btn.video-btn__play::after {
    margin-left: 3px; }
  .banner .media--video .video-btn.video-btn__pause::after {
    content: "\f04c"; }

@media (hover: none), (hover: on-demand) {
  .banner .media--video .video-btn {
    display: none; } }

.banner[class*="light"] .media--video .video-btn {
  border: 1px solid #151515; }

.banner--stacked .media--video {
  position: relative; }
  @media (min-width: 768px) {
    .banner--stacked .media--video {
      position: absolute; } }
  .banner--stacked .media--video .video-btn {
    display: block; }

@media (min-width: 768px) {
  .banner.banner--horizontal-left.banner--vertical-bottom .media--video + .banner__container .banner__content {
    padding-bottom: 4.25rem; } }

.banner--stacked {
  display: block; }
  @media (min-width: 768px) {
    .banner--stacked {
      display: flex; } }

.banner:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  transition: all 0.5s ease-in-out;
  will-change: opacity; }

@media (min-width: 768px) {
  .banner.banner--gradient-dark:not([class*="bg-"]) {
    background: #151515; } }

.banner--gradient-left[class*="banner--stacked"]:after {
  background: none;
  width: auto;
  height: auto; }
  @media (min-width: 768px) {
    .banner--gradient-left[class*="banner--stacked"]:after {
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.86) 0, rgba(0, 0, 0, 0.23) 65%, transparent); } }

.banner--gradient-left:after {
  background: rgba(0, 0, 0, 0.5); }
  @media (min-width: 768px) {
    .banner--gradient-left:after {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.86) 0, rgba(0, 0, 0, 0.23) 65%, transparent); } }

.banner--gradient-left.banner--gradient-light[class*="banner--stacked"]:after {
  background: none;
  width: auto;
  height: auto; }
  @media (min-width: 768px) {
    .banner--gradient-left.banner--gradient-light[class*="banner--stacked"]:after {
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #fff 1%, rgba(255, 255, 255, 0.92) 32%, rgba(255, 255, 255, 0)); } }

.banner--gradient-left.banner--gradient-light:after {
  background: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    .banner--gradient-left.banner--gradient-light:after {
      background: linear-gradient(90deg, #fff 1%, rgba(255, 255, 255, 0.92) 32%, rgba(255, 255, 255, 0)); } }

.banner--gradient-left.banner--gradient-light[class*="bg-"]:after {
  background: none; }

.banner--gradient-left[class*="bg-"]:after {
  background: none; }

.banner--gradient-bottom[class*="banner--stacked"]:after {
  background: none;
  width: auto;
  height: auto; }
  @media (min-width: 768px) {
    .banner--gradient-bottom[class*="banner--stacked"]:after {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 70%); } }

.banner--gradient-bottom:after {
  background: rgba(0, 0, 0, 0.5); }
  @media (min-width: 768px) {
    .banner--gradient-bottom:after {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 70%); } }

.banner--gradient-bottom.banner--gradient-light[class*="banner--stacked"]:after {
  background: none;
  width: auto;
  height: auto; }
  @media (min-width: 768px) {
    .banner--gradient-bottom.banner--gradient-light[class*="banner--stacked"]:after {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, transparent 0, rgba(255, 255, 255, 0.9) 55%); } }

.banner--gradient-bottom.banner--gradient-light:after {
  background: rgba(255, 255, 255, 0.7); }
  @media (min-width: 768px) {
    .banner--gradient-bottom.banner--gradient-light:after {
      background: linear-gradient(180deg, transparent 0, rgba(255, 255, 255, 0.9) 55%); } }

.banner--gradient-bottom.banner--gradient-light[class*="bg-"]:after {
  background: none; }

.banner--transparent:after {
  background: none; }

.banner[class*="bg-"]:after {
  background: inherit; }

.banner .headline {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 1rem; }
  .banner .headline a:hover {
    text-decoration: none; }
  .banner .headline a:focus {
    text-decoration: underline; }

.banner .headline--negative {
  color: #fff;
  text-shadow: 0 1px 1px #000; }
  @media (min-width: 768px) {
    .banner .headline--negative {
      color: #fff; } }
  @media (min-width: 768px) {
    .banner .headline--negative a {
      color: #fff; } }

.banner :where(h2, h3, h4, h5, h6).headline--large, .banner :where(h2, h3, h4, h5, h6).headline--large.headline--serif {
  font-size: 4.7rem;
  font-size: clamp(2.5rem, calc(4.9577vw + 0.6408rem), 4.7rem); }

.banner :where(h2, h3, h4, h5, h6).headline--medium, .banner :where(h2, h3, h4, h5, h6).headline--medium.headline--serif {
  font-size: 3.7rem;
  font-size: clamp(2.2rem, calc(3.3803vw + 0.9324rem), 3.7rem); }

.banner :where(h2, h3, h4, h5, h6).headline--small, .banner :where(h2, h3, h4, h5, h6).headline--small.headline--serif {
  font-size: 2.7rem;
  font-size: clamp(2rem, calc(1.5775vw + 1.4085rem), 2.7rem); }

.banner--stacked[class*="dark"][class*="bg--black"] .headline--negative {
  color: #fff; }

[class*="bg--black"] .banner--stacked[class*="dark"][class*="bg--gray"] .headline--negative.headline--uppercase, [class*="bg--black"]
.banner--stacked[class*="dark"][class*="bg--gray"] .headline--negative, [class*="bg--black"] .banner--stacked[class*="dark"][class*="bg--white"] .headline--negative.headline--uppercase, [class*="bg--black"]
.banner--stacked[class*="dark"][class*="bg--white"] .headline--negative {
  color: #151515;
  text-shadow: none; }
  [class*="bg--black"] .banner--stacked[class*="dark"][class*="bg--gray"] .headline--negative.headline--uppercase a, [class*="bg--black"]
  .banner--stacked[class*="dark"][class*="bg--gray"] .headline--negative a, [class*="bg--black"] .banner--stacked[class*="dark"][class*="bg--white"] .headline--negative.headline--uppercase a, [class*="bg--black"]
  .banner--stacked[class*="dark"][class*="bg--white"] .headline--negative a {
    color: #151515;
    text-shadow: none; }

.banner--stacked[class*="dark"] .headline--negative {
  color: #151515;
  text-shadow: none; }
  @media (min-width: 768px) {
    .banner--stacked[class*="dark"] .headline--negative {
      color: #fff;
      text-shadow: 0 1px 1px #000; } }
  .banner--stacked[class*="dark"] .headline--negative a {
    color: #151515; }
    @media (min-width: 768px) {
      .banner--stacked[class*="dark"] .headline--negative a {
        color: #fff; } }
  [class*="bg--black"] .banner--stacked[class*="dark"] .headline--negative {
    color: #fff;
    text-shadow: 0 1px 1px #000; }
    @media (min-width: 768px) {
      [class*="bg--black"] .banner--stacked[class*="dark"] .headline--negative {
        color: #fff; } }
    [class*="bg--black"] .banner--stacked[class*="dark"] .headline--negative a {
      color: #fff; }
      @media (min-width: 768px) {
        [class*="bg--black"] .banner--stacked[class*="dark"] .headline--negative a {
          color: #fff; } }

.banner[class*="bg--gray"] .headline--negative {
  color: #151515;
  text-shadow: none; }
  .banner[class*="bg--gray"] .headline--negative a {
    color: #151515; }

.banner[class*="bg--black"] .headline--negative a {
  color: #fff; }

.banner[class*="bg--gold"] .headline.headline--negative, .banner[class*="bg--white"] .headline.headline--negative, .banner[class*="banner--gradient-light"]:not([class*="bg-"]) .headline.headline--negative {
  color: #151515;
  text-shadow: none; }
  .banner[class*="bg--gold"] .headline.headline--negative a, .banner[class*="bg--white"] .headline.headline--negative a, .banner[class*="banner--gradient-light"]:not([class*="bg-"]) .headline.headline--negative a {
    color: #151515; }

[class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .headline.headline--negative, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .headline.headline--negative, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .headline.headline--negative {
  color: #fff; }
  @media (min-width: 768px) {
    [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .headline.headline--negative, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .headline.headline--negative, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .headline.headline--negative {
      color: #151515; } }
  [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .headline.headline--negative a, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .headline.headline--negative a, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .headline.headline--negative a {
    color: #fff; }
    @media (min-width: 768px) {
      [class*="bg--black"] .banner[class*="bg--gold"].banner--stacked:not([class*="bg-"]) .headline.headline--negative a, [class*="bg--black"] .banner[class*="bg--white"].banner--stacked:not([class*="bg-"]) .headline.headline--negative a, [class*="bg--black"] .banner[class*="banner--gradient-light"]:not([class*="bg-"]).banner--stacked:not([class*="bg-"]) .headline.headline--negative a {
        color: #151515; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .banner__container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%; }
  .banner .media--video,
  .banner__image img {
    left: 0; }
  .banner .banner__container {
    min-height: 18rem; } }

@media all and (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  .banner.banner--large .banner__container {
    min-height: 33rem; } }

@media all and (-ms-high-contrast: none) and (min-width: 855px), (-ms-high-contrast: active) and (min-width: 855px) {
  .banner.banner--large .banner__container {
    min-height: 48rem; } }

@media all and (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  .banner.banner--medium .banner__container {
    min-height: 33rem; } }

[class*="bg--gray"] [class*="banner--gradient-dark"] :where(p, ul, ol, dl, cite, tbody, figcaption) a:not(.bttn),
[class*="bg--white"] [class*="banner--gradient-dark"] :where(p, ul, ol, dl, cite, tbody, figcaption) a:not(.bttn) {
  color: inherit; }
