.bold-headline {
  @include padding($top: $md, $right: 0, $bottom: $sm, $left: 0);

  &.bold-headline--negative {
    color: $white;
  }
}

.bold-headline--caps {
  text-transform: uppercase;
  font-family: $font-family-caps-bold;
  //font-size: $h3-font-size;
}

.bold-headline--serif {
  font-family: $font-family-serif;
  font-weight: $font-weight-bold;
  //font-size: $h3-font-size;
}


.bold-headline--positive {
  @extend .bold-headline;
}

.bold-headline--negative {
  color: $white;
  @extend .bold-headline;
}


h2.bold-headline {
  //font-size: $h3-font-size;
}

/*
h2.bold-headline.bold-headline--caps {
  font-size: $h1-font-size;
}

h3.bold-headline.bold-headline--caps {
  font-size: $h2-font-size;
}*/


h3.bold-headline {
  font-size: $h4-font-size;
}

h4.bold-headline {
  font-size: $h5-font-size;
}

h5.bold-headline {
  font-size: $h6-font-size;
}
