

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../alert/alert.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky bg-pattern--brain--black">
  <div role="alert">
  <div class="uiowa-alerts-wrapper">
    <div class="alert alert-dismissible alert-success">
      <div class="hawk-alert-message">
                <span class="hawk-alert-body">
          <p><i class="fas fa-times-circle"></i>Basic page <em class="placeholder"><a href="/student-life" hreflang="en">Student life</a></em> has been updated.</p>
        </span>
        <a class="hawk-alert-link alert-link" href=""></a>
      </div>
    </div>
  </div>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

