

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../background/background.css">
        
            <link media="all" rel="stylesheet" href="../blockquote/blockquote.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky bg-pattern--brain--black">
  <div class="blockquote-right">
	<blockquote>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry.

		<footer>
			Footer Details in Roboto

			<cite>
									<a href="https://uiowa.edu/">Link</a>
							</cite>
		</footer>
	</blockquote>
</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

