

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../colors/colors.css">
          <link media="all" rel="stylesheet" href="../image/image.css">
        
            <link media="all" rel="stylesheet" href="../card/card.css">
                  
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="card__head">
  <h2 class="bold-headline bold-headline--serif">
        <span class="headline__headline">Featured Stories</span>
    </h2>

  <a href="/" class="bttn bttn--link bttn--sans-serif">View All Stories <i class="fas fa-arrow-right"></i></a>
</div>

<div class="card__wrapper">

                    
        
                
<div class="card  card__row">
            <div class="card__media ">
                  <img class="card__img" src="../../assets/images/examples/feature1.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="headline__headline">Dedicated to having an impact on human health</span>
        </a>
  </h2>
          
                  <div class="card__details">
                                    <div class="card__subtitle">By Lee Hermiston</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                                    <div aria-hidden="true" class="bttn bttn--outline bttn--tertiary bttn--sans-serif" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                    </div>
</div>
                    
        
                
<div class="card card--enclosed card__row">
            <div class="card__media ">
                  <img class="card__img" src="../../assets/images/examples/feature4.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="headline__headline">Swinging for the fences in sports management</span>
        </a>
  </h2>
          
                  <div class="card__details">
                                    <div class="card__subtitle">By Lee Hermiston</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                                    <div aria-hidden="true" class="bttn bttn--outline bttn--tertiary bttn--sans-serif" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                    </div>
</div>
                    
        
                
<div class="card  card__row">
            <div class="card__media ">
                  <img class="card__img" src="../../assets/images/examples/feature3.jpg" alt="Alt Text">
                </div>
      
  <div class="card__body">
                          <h2 class="card__title">
  <a href="https://uiowa.edu/" aria-describedby="desc-a-card">
        <span class="headline__headline">Turning the tide for sick seals</span>
        </a>
  </h2>
          
                  <div class="card__details">
                                    <div class="card__subtitle">By Sara Epstein Moninger</div>
                                                          <div class="card__date">
                June 14, 1984
              </div>
                                                              </div>
          
          <p>Molecular <a href="https://hr.uiowa.edu">medicine PhD</a> student Jordan Kohlmeyer is researching new therapies for malignant peripheral nerve sheath tumors, which are deadly, resistant to drug therapies, and often unable to be operated upon due to their location.</p>
    
                                    <div aria-hidden="true" class="bttn bttn--outline bttn--tertiary bttn--sans-serif" id="desc-a-card">
            View Story
            <i class="fas fa-arrow-right"></i>
          </div>
                    </div>
</div>
  
</div>

<style>
@media (min-width: 855px) {
    .card__row {
        margin-right: 1.6rem;
        margin-bottom: 0;
        margin-left: 1.6rem
    }
    .card__row:first-of-type {
        margin-left: 0
    }
    .card__row:last-of-type {
        margin-right: 0
    }
}

.card__wrapper {
    margin: 1.25rem 1.25rem
}

@media (min-width: 855px) {
    .card__wrapper {
        margin: 1.25rem 3rem 10rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

// ie11
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .card__body {
    flex: auto !important;
  }
}

</style>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../card/card.js"></script>
    </html>

