

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky bg-pattern--brain--black">
  <div class="hero">

            <div class="hero__image">
        <img
  
  alt=""
          
  src=""
  typeof="foaf:Image"
>      </div>
      
      <div class="hero__content hero__content-">

          </div>
  </div>
</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../hero/hero.js"></script>
  </html>

