

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">

<div class="hero">

            <div class="hero__image">
        <div class="image--container ">
  <img
    
    alt=""
                    
    src=""
    typeof="foaf:Image"
  >
</div>

<style>
  .styles--container {
    width: 30%;
  }
</style>
      </div>
      
      <div class="hero__content hero__content-">

          </div>
  </div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../hero/hero.js"></script>
  </html>

