

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky bg-pattern--brain--black">
    <div class="hero hero__bottom">

    
              <video class="hero__video" autoplay="autoplay" muted="muted" loop="loop" id="video-container" poster="../../assets/images/hero-image.jpg">
          <source src="../../assets/video/home.mp4" type="video/mp4">
        </video>
        <!-- This picture should assume background overlay doesn't work. So it should be darker to handle contrast ratio issues. -->
        <!--[if lt IE 9]> <img src="../../assets/images/hero-image.jpg" alt="View of University of Iowa Campus" class=" ie8-poster"> <![endif]-->
      </video>
    
  

<div class="hero__container hero__container-bottom">

  <div class="hero__content hero__content-bottom">


			<div class="region region-breadcrumbs">
  <div id="block-breadcrumbs" class="contextual-region block block-system block-system-breadcrumb-block">
   <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
      <ol>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">Undergraduate Programs</a>
        </li>
        <li>
          Major and Minors</li>
      </ol>
    </nav>
</div>
</div>
	

			<h2 class="headline bold-headline--serif bold-headline">
        <span class="headline__text">Undergraduate Admissions</span>
    </h2>
	




    
  </div>

      <div class="video-controls video">
      <button class="video-btn video-btn__pause" id="video-btn">
        <span class="element-invisible">Pause</span>
      </button>
    </div>
  
</div>

</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../wip/hero-block/hero-block.js"></script>
  </html>

