

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
            <link media="all" rel="stylesheet" href="../highlight/highlight.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky bg-pattern--brain--black">
  <div class="highlight__wrapper">

						<h3 class="headline highlight__title">
        <span class="headline__text">Lorem ipsum dolor sit amet, consectetur</span>
    </h3>
			
			
			<div class="highlight__sub">
				<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</span>
			</div>
		
	</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

