

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../colors/colors.css">
        
                  <link media="all" rel="stylesheet" href="../media/media.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky bg-pattern--brain--black">
  <div class="">
  <img
    
    alt=""
            class="media--circle"          sizes="(min-width:1310px) 1310px, 100vw"      srcset="../../assets/images/widescreen__384_x_216/bg-image-square.jpg 384w,../../assets/images/widescreen__768_x_432/bg-image-square.jpg 768w,../../assets/images/widescreen__1024_x_576/bg-image-square.jpg 1024w,../../assets/images/widescreen__1312_x_738/bg-image-square.jpg 1312w,../../assets/images/widescreen__1920_x_1080/bg-image-square.jpg 1920w,../../assets/images/widescreen__2592_x_1458/bg-image-square.jpg 2592w,"        
    src=""
    typeof="foaf:Image"
  >
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


      </html>

