

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <div class="search-wrapper">
<button type="button" class="search-button" role="button" aria-expanded="false" aria-controls="search-overlay" aria-labelledby="search-button-label">
	<span id="search-button-label">Search</span>
</button>



<div id="search-overlay" class="search-overlay" aria-hidden="true" aria-label="search tools for this site">
	<div>
<form class="uids-content uids-search" aria-label="site search" role="search">
<label class="sr-only" for="edit-search-terms--2">Search</label>
<input title="Search form" aria-label="Search this site" placeholder="Search this Site" type="text" id="search-input" name="search-terms"/>
<button aria-label="Search button" type="submit">
	<span>Search</span>
</button>
</form>
</div>
						<nav aria-label="Quick Links" role="navigation" class="menu--quick-links">
  <ul>
          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
<i class="far fa-bookmark"></i>
    A-Z Search
    </a>
</li>

          
<li class="menu-item">
	<a href="#" class="sf-depth-1 menuparent">
<i class="fas fa-user"></i>
    People Directory
    </a>
</li>

      </ul>
</nav>
			</div>
</div>


</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../search-toggle/search-toggle.js"></script>
  </html>

