

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
    
              
  <title>Preview Layout</title>
</head>
<body class="header-sticky bg-pattern--brain--black">
  <li class="portrait">
	<div class="portrait__item">

		<div class="embed-responsive embed-responsive-9by16">
			<button class="vidbttn">
				<span>Play</span>
			</button>

			<video class="player" preload="metadata" poster="">
				<source src="" type="video/mp4">
				<track label="English" kind="subtitles" srclang="en" src="" default="default"/>
				<p>Video is not Supporting</p>
			</video>

		</div>

		<div class="highlight__wrapper">

				
			
	</div>

	</div>
</li>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


        <script src="../video/vertical/vertical.js"></script>
  </html>

