@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

// === Site Name === //
.site-name {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  font-family: $font-family-sans-serif;

  a {
    color: $secondary;
    text-decoration: none;
  }

  @include breakpoint(md) {
    flex-basis: content;
    margin: 1px 0 0 0;
    font-size: 2rem;
  }

  @include breakpoint(page-container) {
    margin: 5px 0 0 0;
    text-align: left;
    font-size: 2.2rem;
  }

  // @todo Move this to search or search-toggle.
  // @todo Rewrite this to reference .iowa-bar instead
  .header--secondary & {
    .search-is-open & {
      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
// === End: Site Name === //

// === Parent Site Name === //
.parent-site-name {
  font-weight: $font-weight-light;
  flex-basis: content;
  margin: 0 0 -10px 0;
  padding: $md 0 0 $gutter;
  width: 100%;
  background: $primary;

  .o-canvas--lock & {
    @include breakpoint(md) {
      background: transparent;
    }
  }

  a {
    color: $secondary;
    text-decoration: none;
  }

  @include breakpoint(md) {
    background: transparent;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1px 0 0;
    width: auto;
  }
}
// === End: Parent Site Name === //

// === Iowa Bar === //
// Settings for the default version of the IOWA bar.
.iowa-bar {
  position: relative;
  z-index: 2;
  display: block;
  min-height: auto;
  background: $secondary;

  @include breakpoint(md) {
    height: 80px;
    //min-height: 80px;
    background: $primary;
  }

  .logo--tab {
    margin-right: 20px;

    @include breakpoint(page-container) {
      margin-left: -12px;
      // More padding on top in this variation.
      padding: 27px 20px 20px;
    }
  }

  .site-name {
    width: 100%;
    padding: $gutter;
    background: $primary;

    @include breakpoint(md) {
      width: auto;
      background: transparent;
      padding: 0;
    }

    @include breakpoint(page-container) {
      margin: 5px 0 0 0;
    }
  }

  &__container {
    max-width: $container-width;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    @include breakpoint(md) {
      justify-content: flex-start;
      display: flex;
    }

    @include breakpoint(md) {
      margin-right: auto;
      margin-left: auto;
    }

    .iowa-bar--narrow.horizontal &,
    .iowa-bar--narrow.mega & {
      @include breakpoint(page-container) {
        position: relative;
      }
    }

  }

  // Styles for the narrow version of the IOWA bar.
  &--narrow {

    @include breakpoint(md) {
      height: 50px;
      min-height: 50px;
      position: relative;
    }

    // Overrides the logo tab styles when using
    // the narrow version of the IOWA bar.
    .logo--tab {
      margin-right: 10px;

      @include breakpoint(md) {
        height: 56px;
        width: 119px;
        padding: 15px;
      }

      @include breakpoint(page-container) {
        margin-bottom: -6px;
      }

      // @todo Move this to search or search-toggle?
      .search-is-open & {
        visibility: none;
        opacity: 0;

        @include breakpoint(md) {
          display: flex;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .logo-icon {
      height: 20px;

      @include breakpoint(md) {
        height: 26px;
      }
    }

    .parent-site-name {
      @include breakpoint(page-container) {
        padding: 6px 0 0 0;
      }
    }

    .site-name {
      font-size: 1rem;
      margin: 0;
      padding: $gutter;
      background: $primary;

      @include breakpoint(md) {
        background: transparent;
        font-size: 1rem;
        padding: 0;
      }

      @include breakpoint(page-container) {
        padding: 6px 0 0 0;
      }
    }
  }

  // Styles for container underneath
  &__below {
    z-index: 2;
    border-bottom: 1px solid #e6e5e5;
    background: #fff;

    & .iowa-bar__container {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 0;
      margin-left: 0;

      @include breakpoint(md) {
        display: flex;
        position: unset;
        min-height: 90px;
        justify-content: unset;
        margin-right: auto;
        padding-left: 1.25rem;
      }

      @include breakpoint(page-container) {
        margin-left: auto;
        padding-left: 0;
      }
    }

    // Override .site-name styles when
    // displayed underneath the iowa-bar.
    .site-name {
      margin: 0;
      text-align: left;
      font-size: 1.8rem;

      @include breakpoint(md) {
        width: 75%;
        padding: 25px 20px 25px 0;
        background: transparent;
        font-size: 2rem;
      }

      @include breakpoint(page-container) {
        font-size: 2.2rem;
      }

      // @todo Move to search or search-toggle?
      .search-is-open & {
        @include breakpoint(md) {
          display: none;
        }
      }
    }
  }
}

// sticky header

.header-sticky .iowa-bar {
  @include breakpoint(md) {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.4s;
  }
}


// fixed scroll bar

.header-sticky.scroll-down .iowa-bar {
  @include breakpoint(md) {
    transform: translate3d(0, -100%, 0);
    overflow: hidden;
  }

  .logo--tab {
    @include breakpoint(md) {
      margin-top: -17px;
    }
  }
}

.header-sticky.scroll-down .iowa-bar.iowa-bar--narrow {
  .toggle-nav__bttn {
    @include breakpoint(page-container) {
      top: 35px;
    }
  }
}

.header-sticky.scroll-up .iowa-bar {
  @include breakpoint(md) {
    transform: none;
  }
}

.header-sticky.scroll-up:not(.menu-open) .iowa-bar {
  @include breakpoint(md) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  }
}
// === End: Iowa Bar === //
