@import '../../../assets/scss/variables';
@import "../../../assets/scss/utilities";

.site-name {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  font-family: $font-family-sans-serif;

  a {
    color: $secondary;
    text-decoration: none;
  }

  @include breakpoint(menu) {
    flex-basis: content;
    margin: 1px 0 0 0;
    font-size: 2rem;
  }

  @include breakpoint(container) {
    margin: 5px 0 0 0;
    text-align: left;
    font-size: 2.2rem;
  }

  // @todo Move this to search or search-toggle.
  // @todo Rewrite this to reference .iowa-bar instead
  .header--secondary & {
    .search-is-open & {
      @include breakpoint(menu) {
        display: none;
      }
    }
  }
}

