@import '../../../assets/scss/variables';
@import "../../../assets/scss/breakpoint";

.site-name {
  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1;
  font-family: $font-family-sans-serif;

   .iowa-bar & {
     width: 100%;
     padding: $gutter;
     background: $primary;

     @include breakpoint(menu) {
       width: auto;
       background: transparent;
       padding: 0;
     }
   }

  a {
    color: $secondary;
    text-decoration: none;
  }

  @include breakpoint(menu) {
    flex-basis: content;
    margin: 1px 0 0 20px;
    font-size: 2rem;
  }

  @include breakpoint(container) {
    margin: 5px 0 0 20px;
    text-align: left;
    font-size: 2.2rem;
  }

  // @todo Rewrite this to reference .iowa-bar instead
  .header--secondary & {
    .search-is-open & {
      @include breakpoint(menu) {
        display: none;
      }
    }
  }

  .iowa-bar--narrow & {
    font-size: 1rem;
    margin: 0;
    padding: $gutter;
    background: $primary;

    @include breakpoint(menu) {
      background: transparent;
      font-size: 1rem;
      padding: 0;
    }
  }

  .iowa-bar--narrow .site_name--wrapper & {
    margin: 0;
    text-align: left;
    font-size: 1.8rem;

    @include breakpoint(menu) {
      width: 75%;
      padding: 25px 20px 25px 0;
      background: transparent;
      font-size: 2rem;
    }

    @include breakpoint(container) {
      font-size: 2.2rem;
    }

    .search-is-open & {
      @include breakpoint(menu) {
        display: none;
      }
    }
  }
}

