{% if site_name %}
	<link rel="stylesheet" href="{{ '/components/prototype/site-name/site-name.css'|path }}">
	<h1 class="site-name">
		{% if site_name_link %}
			<a href="{{ site_name_link }}">
			{% endif %}
			{{ site_name }}
		{% if site_name_link %}
		</a>
	</h1>
	{% endif %}
{% endif %}
