ol {
  list-style-position: outside;
  font-size: 1.2rem;
  margin-top: 1.05rem;
  margin-bottom: 1.05rem;
  margin-left: 1.875rem; }

ol:not([type]) {
  list-style-type: decimal; }

ol:not([type]).is-lower-alpha {
  list-style-type: lower-alpha; }

ol:not([type]).is-lower-roman {
  list-style-type: lower-roman; }

ol:not([type]).is-upper-alpha {
  list-style-type: upper-alpha; }

ol:not([type]).is-upper-roman {
  list-style-type: upper-roman; }

ol li {
  line-height: 1.7; }

ul {
  list-style: disc outside;
  font-size: 1.2rem;
  margin-top: 1.05rem;
  margin-bottom: 1.05rem;
  margin-left: 1.875rem; }

ul li {
  line-height: 1.7; }

ul ul {
  list-style-type: circle; }

ul ul ul {
  list-style-type: square; }

ol ol, ol ul, ul ol, ul ul {
  margin-top: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin-bottom: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0; }

.element--list-none {
  list-style: none; }
  .element--list-none li {
    list-style: none; }

dd {
  margin-left: 1.875rem; }

.uids-component--circle-list,
.element--circle-list {
  margin: 0 0 0 -13px;
  padding-left: 0;
  list-style: none;
  counter-reset: circle-counter; }
  .uids-component--circle-list li li,
  .element--circle-list li li {
    list-style-type: disc;
    display: list-item; }
  .uids-component--circle-list > li,
  .element--circle-list > li {
    position: relative;
    min-height: 90px;
    margin-bottom: 0.25rem;
    list-style: none;
    counter-increment: circle-counter;
    line-height: 1.7;
    display: flex;
    align-items: center; }
    @media (min-width: 768px) {
      .uids-component--circle-list > li,
      .element--circle-list > li {
        margin-left: 115px; } }
    .uids-component--circle-list > li a,
    .element--circle-list > li a {
      display: contents; }
    .uids-component--circle-list > li:before,
    .element--circle-list > li:before {
      display: block;
      margin: 0 auto;
      top: 0px;
      left: -100px;
      width: 5rem;
      height: 5rem;
      padding-top: 39px;
      content: counter(circle-counter);
      text-align: center;
      text-transform: uppercase;
      color: black;
      border: 1px solid #FFCD00;
      border-radius: 50%;
      background-color: #FFCD00;
      box-shadow: inset 0px 0px 0px 10px white;
      text-transform: uppercase;
      font-family: "Antonio", "Antonio-fallback", sans-serif;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
      font-weight: bold;
      font-size: 2.4rem;
      line-height: 0; }
      @media (min-width: 768px) {
        .uids-component--circle-list > li:before,
        .element--circle-list > li:before {
          position: absolute;
          display: inline-block;
          margin: 0 0.5rem 0; } }
      .uids-component--gray .uids-component--circle-list > li:before,
      .bg--gray .uids-component--circle-list > li:before, .uids-component--gray
      .element--circle-list > li:before,
      .bg--gray
      .element--circle-list > li:before {
        box-shadow: inset 0px 0px 0px 10px #f3f3f3; }

.element--circle-list > li,
.uids-component--circle-list > li {
  display: block;
  align-items: start;
  padding-top: 1.275rem; }

.element--circle-list h2,
.uids-component--circle-list h2,
.element--circle-list h3,
.uids-component--circle-list h3,
.element--circle-list h4,
.uids-component--circle-list h4,
.element--circle-list h5,
.uids-component--circle-list h5,
.element--circle-list h6,
.uids-component--circle-list h6 {
  margin-bottom: 1.2rem; }

.element--circle-list li a.bttn,
.uids-component--circle-list li a.bttn {
  display: inline-block; }

/*
@-moz-document url-prefix() {

  .uids-component--circle-list li::before,
  .element--circle-list li::before {
    line-height: .2;
  }
}
*/
