

        
        
      
<div class="banner gradient-center-left banner--large  banner--vertical-bottom banner--horizontal-left click-container">
                    <div class="banner__image">
          <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/pano.jpg" alt="Alt Text">
        </div>
            
      <div class="banner__container">
      <div class="banner__content">

                              <div class="headline headline--serif headline headline--negative headline--large banner__pre-title h4">
        <span class="headline__text">Pre-title</span>
    </div>
                                <h2 class="headline headline--serif headline headline--negative headline--large">
        <span class="headline__text">We’re in this together</span>
    </h2>
                  
        <div class="banner__text"><p>A member of the Association of American Universities since 1909 and the Big Ten Conference<br /> since 1899, the University of Iowa is home to one of the most acclaimed academic medical centers<br /> in the country, as well as globally recognized leadership in the study and craft of writing.</p></div>

                            <div class="banner__action">
                                                              </div>
                  
      </div>
    </div>

  </div>

