{% if name %}
	<link rel="stylesheet" href="{{ '/components/prototype/parent-site-name/parent-site-name.css'|path }}">
	<div class="iowa-bar__parent-site-name">
		{% if url %}
			<a href="{{ url }}">
			{% endif %}
			{{ name }}
			{% if url %}
			</a>
		{% endif %}
	</div>
{% endif %}
