

<div class="menu-container bg-pattern--brain-black">
	<nav role="navigation" aria-labelledby="main-menu" class="nav main--secondary--horizontal">

    <h2 id="main-menu" class="element-invisible">Additional Navigation</h2>
    <ul class="menu">
            <li class="">
    <a href="#" class="">Admissions</a>
    </li>
            <li class="">
    <a href="#" class="">Academics</a>
    </li>
            <li class="">
    <a href="#" class="">Research</a>
    </li>
            <li class="">
    <a href="#" class="">About</a>
    </li>
        </ul>
 </nav>
</div>
<style>
  .menu-container {
    container: inline-size / layout;
  }
</style>
<script>
  const supportsContainerQueries = "container" in document.documentElement.style;
  if (!supportsContainerQueries) {
    import("https://cdn.skypack.dev/container-query-polyfill");
  }

</script>

