

<div class="menu-container ">
	<nav role="navigation" aria-labelledby="main-menu" class="nav main--sidebar">

    <h2 id="main-menu" class="element-invisible">Additional Navigation</h2>
    <ul class="menu">
            <li class="item--first">
    <a href="#" class="">Admissions</a>
    </li>
            <li class="menuparent--active is-active">
    <a href="#" class="">Academics</a>
    	<ul class="">
					<li class="">
				<a href="#" class="">Undergraduate</a>
            </li>
					<li class="">
				<a href="#" class="">Graduate</a>
            </li>
					<li class="">
				<a href="#" class="">International</a>
            </li>
					<li class="">
				<a href="#" class="">Distance and online</a>
            </li>
					<li class="">
				<a href="#" class="">Cost and aid</a>
            </li>
			</ul>
    </li>
            <li class="">
    <a href="#" class="">Research</a>
    </li>
            <li class="">
    <a href="#" class="">About</a>
    </li>
        </ul>
</nav>
</div>

