


<div class="banner gradient-center banner--large  banner--vertical-center banner--horizontal-center">
                    <div class="banner__image">
          <img src="https://sandbox.prod.drupal.uiowa.edu/sites/sandbox.uiowa.edu/files/2021-03/pano.jpg" alt="Alt Text">
        </div>
            
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="headline headline--uppercase">
        <span class="headline__text"><span>Welcome</span> to Iowa</span>
    </h2>
                  
        <div class="banner__text"></div>

                          
      </div>
    </div>

  </div>

<div class="menu-container ">
	<nav role="navigation" aria-labelledby="main-menu" class="nav main--secondary--horizontal">

    <h2 id="main-menu" class="element-invisible">Additional Navigation</h2>
    <ul class="menu">
            <li class="">
    <a href="#" class="">Admissions</a>
    </li>
            <li class="">
    <a href="#" class="">Academics</a>
    </li>
            <li class="">
    <a href="#" class="">Research</a>
    </li>
            <li class="">
    <a href="#" class="">About</a>
    </li>
        </ul>
 </nav>
</div>

