[class*="bg-"] a,
[class*="bg-"] [class*="bg-"] a,
[class*="bg-"] [class*="bg--"] a,
[class*="bg--"] a,
[class*="bg--"] [class*="bg-"] a,
[class*="bg--"] [class*="bg--"] a {
  color: inherit; }

[class*="bg-pattern"],
[class*="bg--"][class*="--pattern--"] {
  background-size: auto auto;
  background-position: center center; }

[class*="--pattern--particle"],
[class*="bg--"][class*="--pattern--particle"] {
  background-size: 1400px; }

[class*="--pattern--community"],
[class*="bg--"][class*="--pattern--community"] {
  background-size: 1000px; }

.bg--black--pattern--brain {
  background-color: #151515;
  background-image: url("../../assets/images/brain-pattern-black.svg"); }

.bg--black--pattern--brain {
  color: #fff; }
  .bg--black--pattern--brain a {
    color: #FFCD00; }

.bg-pattern--brain-black {
  background-color: #151515;
  background-image: url("../../assets/images/brain-pattern-black.svg"); }

.bg-pattern--brain-black {
  color: #fff; }
  .bg-pattern--brain-black a {
    color: #FFCD00; }

.bg--black--pattern--community {
  background-color: #151515;
  background-image: url("../../assets/images/community-pattern--black.png"); }

.bg--black--pattern--community {
  color: #fff; }
  .bg--black--pattern--community a {
    color: #FFCD00; }

.bg--black--pattern--particle {
  background-color: #151515;
  background-image: url("../../assets/images/particle-pattern--black.png"); }

.bg--black--pattern--particle {
  color: #fff; }
  .bg--black--pattern--particle a {
    color: #FFCD00; }

.bg--black {
  background-color: #151515; }

.bg--black {
  color: #fff; }
  .bg--black a {
    color: #FFCD00; }

.bg--gold--pattern--brain {
  background-color: #FFCD00;
  background-image: url("../../assets/images/brain-pattern-reversed.svg"); }

.bg--gold--pattern--brain {
  color: #151515; }
  .bg--gold--pattern--brain a {
    color: #151515; }

.bg-pattern--brain-reversed {
  background-color: #FFCD00;
  background-image: url("../../assets/images/brain-pattern-reversed.svg"); }

.bg-pattern--brain-reversed {
  color: #151515; }
  .bg-pattern--brain-reversed a {
    color: #151515; }

.bg--gold--pattern--community {
  background-color: #FFCD00;
  background-image: url("../../assets/images/community-pattern--white.png"); }

.bg--gold--pattern--community {
  color: #151515; }
  .bg--gold--pattern--community a {
    color: #151515; }

.bg--gold--pattern--particle {
  background-color: #FFCD00;
  background-image: url("../../assets/images/particle-pattern.png"); }

.bg--gold--pattern--particle {
  color: #151515; }
  .bg--gold--pattern--particle a {
    color: #151515; }

.bg--gold {
  background-color: #FFCD00; }

.bg--gold {
  color: #151515; }
  .bg--gold a {
    color: #151515; }

.bg--gray--pattern--brain {
  background-color: #f3f3f3;
  background-image: url("../../assets/images/brain-pattern-white.svg"); }

.bg--gray--pattern--brain {
  color: #151515; }
  .bg--gray--pattern--brain a {
    color: #151515; }

.bg--gray--pattern--community {
  background-color: #f3f3f3;
  background-image: url("../../assets/images/community-pattern--gray.png"); }

.bg--gray--pattern--community {
  color: #151515; }
  .bg--gray--pattern--community a {
    color: #151515; }

.bg--gray--pattern--particle {
  background-color: #f3f3f3;
  background-image: url("../../assets/images/particle-pattern--white.png"); }

.bg--gray--pattern--particle {
  color: #151515; }
  .bg--gray--pattern--particle a {
    color: #151515; }

.bg--gray {
  background-color: #f3f3f3; }

.bg--gray {
  color: #151515; }
  .bg--gray a {
    color: #151515; }

.bg--white--pattern--brain {
  background-color: #fff;
  background-image: url("../../assets/images/brain-pattern.svg"); }

.bg--white--pattern--brain {
  color: #151515; }
  .bg--white--pattern--brain a {
    color: #151515; }

.bg-pattern--brain {
  background-color: #fff;
  background-image: url("../../assets/images/brain-pattern.svg"); }

.bg-pattern--brain {
  color: #151515; }
  .bg-pattern--brain a {
    color: #151515; }

.bg--white--pattern--community {
  background-color: #fff;
  background-image: url("../../assets/images/community-pattern--gray.png"); }

.bg--white--pattern--community {
  color: #151515; }
  .bg--white--pattern--community a {
    color: #151515; }

.bg--white--pattern--particle {
  background-color: #fff;
  background-image: url("../../assets/images/particle-pattern--gold.png"); }

.bg--white--pattern--particle {
  color: #151515; }
  .bg--white--pattern--particle a {
    color: #151515; }

.bg--white {
  background-color: #fff; }

.bg--white {
  color: #151515; }
  .bg--white a {
    color: #151515; }

[class*="bg--"] *,
[class*="bg--"] [class*="bg--"] * {
  border-color: inherit; }
  [class*="bg--"] *:before, [class*="bg--"] *:after,
  [class*="bg--"] [class*="bg--"] *:before,
  [class*="bg--"] [class*="bg--"] *:after {
    color: inherit;
    border-color: inherit; }

[class*="bg--gray"],
[class*="bg--white"],
[class*="bg--gray"],
[class*="bg--gold"],
.bg-pattern--brain-reversed,
.bg-pattern--brain {
  border-color: rgba(0, 0, 0, 0.125); }

.bg--black--pattern--brain,
.bg-pattern--brain-black,
[class*="bg--black"] {
  border-color: rgba(255, 255, 255, 0.325); }

[class*="bg--white"] :is(p, ul, ol, dl, cite) a,
[class*="bg-"] [class*="bg--white"] :is(p, ul, ol, dl, cite) a,
[class*="bg--gray"] :is(p, ul, ol, dl, cite) a,
[class*="bg-"] [class*="bg--gray"] :is(p, ul, ol, dl, cite) a {
  color: #00558C; }
