@import 'background-mixins';

[class*="bg-"] {
  a,
  [class*="bg-"] a {
    color: inherit;
  }
}

[class*="bg-pattern"] {
  background-size: auto auto;
}

// Add background rules
@include add-backgrounds();
//@each $size in ('h1', 'h2', 'h3', 'h4', 'h5', 'h6') {
//  @include add-color-for-bgs($after: ' #{$size}');
//}

// @todo Move this somewhere else.
.container--padded {
  padding: 10px;
}
