

  
  
<div class="accordion
  "
  role="tablist"
  aria-multiselectable="true"
>
        <!-- Use the accurate heading level to maintain the document outline -->
    <h2 id="chocolate_chip"
      class="accordion__heading"
    >
      <button class="accordion__button"
        role="tab"
        aria-selected="true"
        aria-expanded="true"
        aria-controls="single-select-"
      >
        Chocolate Chip Cookie
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </h2>
    <div id="single-select-"
      aria-labelledby="chocolate_chip"
      class="accordion__content"
    >
      <p>Among the most popular of all cookie types, the chocolate chip cookie's invention was a happy accident. In 1930, Ruth Graves Wakefield, who ran the Toll House Inn in Whitman, Massachusetts, ran out of baker's chocolate and substituted for it with pieces of Nestle's® semi-sweet chocolate. </p>

    </div>
          <!-- Use the accurate heading level to maintain the document outline -->
    <h2 id="sugar"
      class="accordion__heading"
    >
      <button class="accordion__button"
        role="tab"
        aria-selected="false"
        aria-expanded="false"
        aria-controls="single-select-"
      >
        Sugar Cookie
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </h2>
    <div id="single-select-"
      aria-labelledby="sugar"
      class="accordion__content"
    >
      <p>The sugar cookie is like the vanilla ice cream of cookies—everyone likes it but few claim it as their favorite. Basic ingredients like sugar, flour, butter, eggs, and vanilla make up this popular cookie type.</p>

    </div>
          <!-- Use the accurate heading level to maintain the document outline -->
    <h2 id="snickerdoodle"
      class="accordion__heading"
    >
      <button class="accordion__button"
        role="tab"
        aria-selected="false"
        aria-expanded="false"
        aria-controls="single-select-"
      >
        Snickerdoodle Cookies
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </h2>
    <div id="single-select-"
      aria-labelledby="snickerdoodle"
      class="accordion__content"
    >
      <p>Although the origin of this beloved cookie is up for debate, there's no doubt it's a favorite during the holidays. Snickerdoodles are a type of drop cookie (any cookie that is formed by dropping spoonfuls of dough directly onto a baking sheet) that is coated in cinnamon and sugar. </p>

    </div>
          <!-- Use the accurate heading level to maintain the document outline -->
    <h2 id="oatmeal"
      class="accordion__heading"
    >
      <button class="accordion__button"
        role="tab"
        aria-selected="false"
        aria-expanded="false"
        aria-controls="single-select-"
      >
        Oatmeal Raisin
        <i aria-hidden="true" focusable="false" class="fas fa-chevron-up"></i>
      </button>
    </h2>
    <div id="single-select-"
      aria-labelledby="oatmeal"
      class="accordion__content"
    >
      <p>A seriously underrated cookie, oatmeal raisin is another type of drop cookie. Its dough is oatmeal based, and contains raisins and brown sugar. They're warm and comforting—a reminder of simpler times and grandma's house.</p>

    </div>
      </div>

