.alert-danger {
  background: $danger;
  padding: $lg 0;
}

.alert-success {
  background: $success;
  padding: $lg 0;
}

.alert-warning {
  background: $warning;
  padding: $lg 0;
}

.alert-info {
  background: $info;
  padding: $lg 0;
}


.hawk-alert-message,
.alert {
  @include clearfix;
  clear: both;
  color: #fff;
  font-family: $font-family-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  text-align: center;

  .close {
    background: none;
    border: none;

    span {
      @include element-invisible;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      &:before {
        color: #fff;
        border-radius: 50%;
        background: $secondary;
      }
    }

    &:before {
      width: 35px;
      margin-right: 5px;
      color: #151515;
      border-radius: 50%;
      background: #fff;
      line-height: 1.2;
      padding: 7px;
      content: "\f00d";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
  }

  p {
    width: 70%;
    color: #fff;
    text-align: center;
  }

  a {
    text-decoration: underline;
    font-weight: $font-weight-bold;
    color: $secondary;
    color: #fff;
  }

  p,
  >* {
    color: #fff;
    font-family: $font-family-serif;
    text-align: center;
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 0 auto;

    i,
    span,
    svg {
      margin-right: $sm;
    }

    a {
      text-decoration: underline;
      font-weight: $font-weight-bold;


      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.uiowa-alerts-wrapper {

  .hawk-alert-heading,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    display: block;
    padding: 0 $lg;

    @include breakpoint(menu) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .hawk-alert-label,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 2rem;
  }

  .hawk-alert-date {
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
    color: $secondary;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $font-weight-bold;
    font-size: .9rem;
    display: block;
    margin: 0;

    @include breakpoint(sm) {
      display: inline;
    }
  }

  .hawk-alert-body,
  .hawk-alert-link {
    display: block;
  }
}
