.alert {
  padding: $md 0;
}

.alert-danger {
  background: $danger-light;
  border-bottom: 2px solid $danger;

  .close:before {
    background: $danger;
  }
}

.alert-success {
  background: $success-light;
  border-bottom: 2px solid $success;

  .close:before {
    background: $success;
  }
}

.alert-warning {
  background: $warning-light;
  border-bottom: 2px solid $warning;

  .close:before {
    background: $brand-cool-gray;
  }
}

.alert-info {
  background: $info-light;
  border-bottom: 2px solid $info;

  .close:before {
    background: $info;
  }
}

.hawk-alert.alert {
  text-align: left;
  display: flex;
  @include center(vertical);

  >* {
    text-align: left;
    display: flex;
  }

  .hawk-alert-message {
    @extend %container;

    .hawk-alert-heading {
      border-right: 1px solid $brand-cool-gray;
    }

    .hawk-alert-body {
      @include center(vertical);

      p {
        width: 100%;
        padding-left: $md;
      }

      //padding: 0 0 0 $lg;
    }
  }
}

.alert {
  text-align: center;
}

.hawk-alert-message,
.alert {
  @include clearfix;
  clear: both;
  color: $secondary;
  font-family: $font-family-sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;

  .close {
    background: none;
    border: none;

    span {
      @include element-invisible;
    }

    &:hover,
    &:focus {
      cursor: pointer;

      &:before {
        color: #fff;
        border-radius: 50%;
        background: $secondary;
      }
    }

    &:before {
      width: 35px;
      margin-right: 5px;
      color: #fff;
      border-radius: 50%;
      line-height: 1.2;
      padding: 7px;
      content: "\f00d";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
  }

  p {
    width: 70%;
    color: #fff;
    text-align: center;
  }

  a {
    text-decoration: underline;
    font-weight: $font-weight-bold;
    color: $secondary;
    color: #fff;
  }

  p,
  >* {
    color: $secondary;
    font-family: $font-family-sans-serif;
    text-align: center;
    line-height: 1.4;
    font-size: 1.2rem;
    margin: 0 auto;

    i,
    span,
    svg {
      margin-right: $sm;
    }

    a {
      text-decoration: underline;
      font-weight: $font-weight-bold;
      color: $secondary;


      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.hawk-alert-label,
h2,
h3,
h4,
h5,
h6 {

  .alert-danger & {
    &:before {
      color: $danger;
    }
  }

  .alert-warning & {
    &:before {
      color: $warning;
    }
  }

  .alert-success & {
    &:before {
      color: $success;
    }
  }

  .alert-info & {
    &:before {
      color: $info;
    }
  }
}


.uiowa-alerts-wrapper {

  .hawk-alert-heading {
    text-align: left;
    padding-right: $lg;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    font-size: 1.7rem;
    display: block;
    padding: 0 $xsm 0 $lg;

    @include breakpoint(menu) {
      //display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .hawk-alert-label {
    &:before {
      padding-right: $sm;
    }
  }

  .hawk-alert-label,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 1.7rem;

    &:before {
      content: "\f06a";
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
  }

  .hawk-alert-date {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
    font-size: 1.2rem;
    display: block;
    margin: 0 0 $md 0;
    //padding: $xsm $sm;
    //background: $warning-light;

    @include breakpoint(menu) {
      //display: block;
      //margin: 0;

    }
  }

  .hawk-alert-body,
  .hawk-alert-link {
    display: block;
  }
}
