@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.banner {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    will-change: opacity;
    background: rgba(0, 0, 0, .5);
  }
  // @todo Replace with https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio
  min-height: 15rem;
  // Banner Heights for large and medium
  &--large {
    &::before {
      float: left;
      padding-top: 45.25%;
      content: '';
    }
  }

  &--medium {
    &::before {
      float: left;
      padding-top: 32.25%;
      content: '';
    }
  }
  // Full screen 100vh option
  &--full {
    &.banner--large {
      @include breakpoint(page-container) {
        height: 100vh;
      }
    }
  }

  &::after {
    display: block;
    content: '';
    clear: both;
    @include breakpoint(page-container) {
      display: block;
      content: '';
      clear: both;
    }
  }
  // Override background color if button is within a gold container
  &.bg-pattern--brain-reversed,
  &[class*="bg--gold"] {
    .bttn--primary {
      color: #fff;
      background: $secondary;
      border: 1px solid $secondary;

      svg {
        color: $primary;
      }
    }
  }
}
// Banner styles

.banner {
  position: relative;
  overflow: hidden;
  @include breakpoint(sm) {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headline {
    z-index: 1;

    a {
      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: underline;
      }
    }

    &.headline--negative {
      color: #fff;
      text-shadow: 0 1px 1px #000;
      @include breakpoint(sm) {
        color: #fff;
      }

      a {
        color: $secondary;
        @include breakpoint(sm) {
          color: #fff;
        }
      }
    }
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &.banner--vertical-bottom {
    align-items: flex-end;
  }

  &:focus-within .headline a:focus {
    text-decoration: underline;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    @include breakpoint(sm) {
      z-index: 1;
      max-width: 81.875em;
      top: 0;
    }
  }

  .media--video .video-controls {
    z-index: 2;
  }

  img {
    width: 100%;
  }

  &__image {
    overflow: visible;

    img {
      display: block;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      height: 100%;
      top: 0;
    }
  }

  .headline + .banner__action {
    margin-top: 1.5rem;
  }

  .banner__action .bttn {
    margin: 0 1rem 1rem 0;

    + .bttn {
      @include breakpoint(sm) {
        margin: 0 1rem 1rem 0;
      }
    }
  }

  .media--video {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;

    video {
      overflow: visible;
      display: block;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      top: 0;
      @include breakpoint(sm) {
        position: absolute;
      }
    }
  }

  &__text {
    z-index: 1;
  }

  &__pre-title {
    background: none;
    line-height: 1.1;

    &.headline--serif {
      margin-bottom: 0;
    }

    &.headline--uppercase {
      margin-bottom: 0.7rem;
    }

    &.headline--highlight {
      margin-bottom: -.1rem;
    }

    &.headline--highlight {
      span {
        background: none;

        [class*="bg--black"] &,
        [class*="banner--gradient"] & {
          color: #fff;
        }

        [class*="bg--gold"] & {
          color: $secondary;
        }
      }
    }
    // Set large heading size
    &.headline--large {
      font-size: $h4-font-size;
      font-size: containerClamp(1.2rem, 1.6rem);
    }
    // Set medium heading size
    &.headline--medium {
      font-size: 1.4rem;
      font-size: containerClamp(1.2rem, 1.4rem);
    }
    // Set small heading size
    &.headline--small {
      font-size: $h5-font-size;
    }
  }

  &__content {
    padding: $gutter;
    @include breakpoint(sm) {
      padding: 1.25rem 0 2rem;
    }

    > * {
      flex-basis: 100%;
    }

    .bttn {
      margin-right: auto;
      margin-left: 0;
      z-index: 1;
    }
    @include breakpoint(page-container) {
      padding: $gutter 0;
    }
  }

  h2:not([class*="headline"]),
  h3:not([class*="headline"]),
  h4:not([class*="headline"]),
  h5:not([class*="headline"]),
  h6:not([class*="headline"]),
  blockquote {
    @include breakpoint(sm) {
      color: #fff;
    }
  }

  p {
    line-height: 1.5;
    margin-top: 0;
    @include breakpoint(sm) {
      color: #fff;
      text-shadow: 0 1px 1px #000;
    }

    a {
      position: relative;
      z-index: 1;
    }
  }

  p {
    color: #fff;
    text-shadow: 0 1px 1px #000;

    a {
      color: #fff;
    }
  }

  .headline.headline--negative {
    color: #fff;
    text-shadow: 0 1px 1px #000;

    a {
      color: #fff;
    }
  }

  h2:not([class*="headline"]),
  h3:not([class*="headline"]),
  h4:not([class*="headline"]),
  h5:not([class*="headline"]),
  h6:not([class*="headline"]),
  blockquote {
    color: #fff;

    a {
      color: #fff;
    }
  }

  &--stacked {
    &:after {
      background: none;
    }
    display: block;
    @include breakpoint(sm) {
      display: flex;
    }

    &[class*="bg"] {
      display: flex;
    }

    &[class*="bg--black"] {

    }

    &[class*="bg--black"],
    &[class*="bg-pattern--brain-black"] {
      display: flex;

      a:not([class*="bttn"]) {
        color: #fff;
      }

      .headline.headline--negative {
        color: #fff;
      }
    }

    .media--video {
      position: relative;
      @include breakpoint(sm) {
        position: absolute;
      }

      .video-btn {
        display: block;
      }
    }

    .banner__image {
      img {
        position: relative;
        @include breakpoint(sm) {
          position: absolute;
        }
      }
    }

    .banner__text {
      p {
        color: $secondary;
        text-shadow: none;
        @include breakpoint(sm) {
          color: #fff;
          text-shadow: 0 1px 1px #000;
        }

        a {
          color: $secondary;
          @include breakpoint(sm) {
            color: #fff;
          }
        }
      }
    }


    .headline.headline--negative {
      color: $secondary;
      text-shadow: none;
      @include breakpoint(sm) {
        color: #fff;
        text-shadow: 0 1px 1px #000;
      }

      a {
        color: $secondary;
        text-shadow: none;
        @include breakpoint(sm) {
          color: #fff;
          text-shadow: 0 1px 1px #000;
        }
      }
    }

    h2:not([class*="headline"]),
    h3:not([class*="headline"]),
    h4:not([class*="headline"]),
    h5:not([class*="headline"]),
    h6:not([class*="headline"]),
    blockquote {
      color: $secondary;
      @include breakpoint(sm) {
        color: #fff;
      }

      a {
        color: $secondary;
        @include breakpoint(sm) {
          color: #fff;
        }
      }
    }
  }
  //Patterns
  &[class*="bg--black--pattern"],
  &[class*="bg-pattern--brain-black"] {
    p {
      color: #fff;
    }
  }
  // bg variants
  // @todo This should probably be resolved with https://sass-lang.com/documentation/values/maps#using-maps
  &.bg-pattern--brain,
  &.bg-pattern--brain-reversed,
  &[class*="bg--gold"],
  &[class*="bg--white"],
  &[class*="bg--gray"] {
    color: $secondary;

    p {
      color: $secondary;
      font-weight: normal;
      text-shadow: none;

      a {
        color: $secondary;
      }
    }

    h2:not([class*="headline"]),
    h3:not([class*="headline"]),
    h4:not([class*="headline"]),
    h5:not([class*="headline"]),
    h6:not([class*="headline"]),
    blockquote {
      color: $secondary;

      a {
        color: $secondary;
      }
    }

    .headline.headline--negative {
      color: $secondary;
      text-shadow: none;

      a {
        color: $secondary;
      }
    }
  }

  &.banner--gradient-light:not([class*="bg--black"]):not([class*="bg-pattern--brain-black"]) {
    color: $secondary;

    h2:not([class*="headline"]),
    h3:not([class*="headline"]),
    h4:not([class*="headline"]),
    h5:not([class*="headline"]),
    h6:not([class*="headline"]),
    blockquote {
      color: $secondary;

      a {
        color: $secondary;
      }
    }

    p {
      color: $secondary;
      font-weight: normal;
      text-shadow: none;

      a {
        color: $secondary;
      }
    }

    .headline.headline--negative {
      color: $secondary;
      text-shadow: none;

      a {
        color: $secondary;
      }
    }
  }
}
// Set large heading size
// Overriding the serif font size set in typography/headings.scss

:where(h2, h3, h4, h5, h6) {
  &.headline--large,
  &.headline--large.headline--serif {
    font-size: 4.7rem;
    font-size: containerClamp(2.5rem, 4.7rem);
  }
  // Set medium heading size
  &.headline--medium,
  &.headline--medium.headline--serif {
    font-size: 3.7rem;
    font-size: containerClamp(2.2rem, 3.7rem);
  }
  // Set small heading size
  &.headline--small,
  &.headline--small.headline--serif {
    font-size: 2.7rem;
    font-size: containerClamp(2rem, 2.7rem);
  }
}
// Alignment Variants

.banner--horizontal-center {
  text-align: center;

  .banner__content {
    > * {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
// Bottom/Left Video button alignment

.banner--horizontal-left.banner--vertical-bottom {
  .banner__content {
    @include breakpoint(sm) {
      padding-bottom: 4.25rem;
    }
  }
}

.media--video {
  //position: relative;
  .video-controls {
    position: absolute;
    z-index: 1;
    left: 1.25rem;
    bottom: 1.25rem;
    @include breakpoint(page-container) {
      left: 3rem;
      bottom: 3rem;
    }

    .banner--horizontal-left.banner--vertical-bottom & {
      @include breakpoint(page-container) {
        bottom: 1.5rem;
        left: 1.5rem;
      }
    }
  }

  .video-btn {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: $secondary;
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    padding: 0;
    @include breakpoint(sm) {
      display: block;
    }

    &::after {
      content: "\f04b";
      @include fas();
      font-size: 1rem;
    }

    &.video-btn__play::after {
      margin-left: 3px;
    }

    &.video-btn__pause::after {
      content: "\f04c";
    }
  }
  @media (hover:none), (hover:on-demand) {
    .video-btn {
      display: none;
    }
  }
}
// ie11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .banner__container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .banner .media--video,
  .banner__image img {
    left: 0;
  }

  .banner .banner__container {
    min-height: 18rem;
  }

  .banner.banner--large .banner__container {
    @include breakpoint(sm) {
      min-height: 33rem;
    }
    @include breakpoint(md) {
      min-height: 48rem;
    }
  }

  .banner.banner--medium .banner__container {
    @include breakpoint(sm) {
      min-height: 33rem;
    }
  }
}
// Gradient overlays

.banner {
  // Default overlay
  &:after {
    @include breakpoint(sm) {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      will-change: opacity;
      background: rgba(0, 0, 0, .5);
    }
  }

  &:not([class*="bg-"]) {
    @include breakpoint(sm) {
      background: $secondary;
    }
  }

  &[class*="bg-"]:after {
    background: inherit;
  }

  &--gradient-left {
    &:after {
      @include breakpoint(sm) {
        background: linear-gradient(90deg, rgba(0, 0, 0, .86) 0, rgba(0, 0, 0, .23) 65%, transparent);
      }
    }

    &.banner--gradient-light {
      &:after {
        background: rgba(255, 255, 255, .7);
        @include breakpoint(sm) {
          background: linear-gradient(90deg, #fff 1%, hsla(0, 0%, 100%, .92) 32%, hsla(0, 0%, 100%, 0));
        }
      }

      &[class*="bg-"]:after {
        background: none;
      }
    }

    &[class*="bg-"]:after {
      background: none;
    }
  }

  &--gradient-bottom {
    &:after {
      @include breakpoint(sm) {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 70%);
      }
    }

    &.banner--gradient-light {
      &:after {
        background: rgba(255, 255, 255, .7);
        @include breakpoint(sm) {
          background: linear-gradient(180deg, transparent 0, hsla(0, 0%, 100%, .9) 55%);
        }
      }

      &[class*="bg-"]:after {
        background: none;
      }
    }
  }

  &--transparent {
    &:after {
      background: none;
    }
  }
}
