blockquote {
  font-weight: 400;
  font-style: none;
  font-family: "Zilla Slab", serif;
  border-left: 8px solid #FFCD00;
  padding: 1.875rem;
  font-size: 1.4rem;
  line-height: 1.7;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: 1.875rem; }
  blockquote p {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4rem; }
  blockquote footer {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 1.05rem;
    font-size: 1.2rem; }
  blockquote p + footer {
    margin-top: 0; }
  .blockquote-center blockquote {
    text-align: center;
    border: none;
    padding-top: 2.5rem;
    padding-right: 0.325rem;
    padding-bottom: 0.325rem;
    padding-left: 0.325rem; }
    .blockquote-center blockquote:before {
      position: absolute;
      content: '';
      height: 10px;
      top: 40px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 15%;
      background: #FFCD00;
      transition: 0.5s; }
  .blockquote-right blockquote {
    text-align: right;
    border-left: none;
    border-right: 8px solid #FFCD00;
    padding-top: 0.325rem;
    padding-right: 1.875rem;
    padding-bottom: 0.325rem;
    padding-left: 0; }
  .uids-component--gold blockquote,
  .uids-component--brain-reversed blockquote,
  .bg-yellow blockquote {
    color: #151515;
    border-color: #fff; }
    .uids-component--gold blockquote p,
    .uids-component--gold blockquote a,
    .uids-component--gold blockquote footer,
    .uids-component--brain-reversed blockquote p,
    .uids-component--brain-reversed blockquote a,
    .uids-component--brain-reversed blockquote footer,
    .bg-yellow blockquote p,
    .bg-yellow blockquote a,
    .bg-yellow blockquote footer {
      color: #151515; }
  .uids-component--black blockquote,
  .uids-component--brain-black blockquote,
  .bg-black blockquote,
  .bg-dark blockquote {
    color: #fff; }
    .uids-component--black blockquote a,
    .uids-component--brain-black blockquote a,
    .bg-black blockquote a,
    .bg-dark blockquote a {
      color: #FFCD00; }
  .uids-component--brain blockquote {
    color: #151515;
    border-color: #151515; }
    .uids-component--brain blockquote p,
    .uids-component--brain blockquote a,
    .uids-component--brain blockquote footer {
      color: #151515; }
