@import '../../assets/scss/variables';
@import '../../assets/scss/utilities';

.slider {
  flex-wrap: wrap;
  @include flexbox;

  @include breakpoint(sm) {
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__slide {
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    //transition: all 0.4s cubic-bezier(0.61, -0.44, 0.33, 1.39);
    color: $white;
    @include flex(1, 0, 100%);

    @include breakpoint(md) {
      align-self: auto;
      flex: unset;
      order: 0;
      min-height: 500px;
      //transition: all 0.6s ease;
      transition-timing-function: linear;
      transition: 0.7s;
      width: 20%;
    }

    // banner overrides
    .banner:after {
      background: none;
    }

    .banner__content {
      position: absolute;
      bottom: 0;
      top: unset;
     // transition: opacity .3s linear;
      opacity: 0;
      @include padding($top: $xlg, $right: $xlg, $bottom: $xlg, $left: $xlg);
      width: 100%;
    }

    .banner__content .bold-headline--serif {
      font-family: "Zilla Slab", serif;
      font-weight: 700;
      margin: 0;
    }

    .banner__summary {
      margin-bottom: 1.3rem;
      margin-top: .5rem;
    }

    // Expanded overrides.
    &[aria-expanded="true"] {
      @include breakpoint(sm) {
        flex-grow: 1;
      }

      .banner__content {
        opacity: 1;
      }

      .slider__teaser {
        opacity: 0;
      }

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: linear-gradient(transparent 1%, transparent 29%, rgba(0, 0, 0, .7));
      }
    }
  }

  &__teaser {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: $md;
    //transition: opacity .4s linear;
    opacity: 1;
    color: $white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
  }

  &__teaser-heading {
    display: inline;
    margin: 0;
    color: $white;
    font-size: $h6-font-size;
    font-weight: $font-weight-medium-bold;
    font-style: normal;
    line-height: 1;

    i {
      padding-left: $sm;

      &.fa-plus:before {
        padding: $xsm;
        color: $primary;
        border: 1px solid $white;
        border-radius: 50%;
        font-size: $small-font-size;
      }
    }
  }
}
