<div id="slider1" class="slider slider__container slider__container-expanded">
  {% for slide in slides | slice(0, 3) %}
    {% include '@slider--slide' %}
  {% endfor %}
</div>

<div style="display: flex">
  <div id="slider2" class="slider slider__container slider__container-expanded">
    {% for slide in slides | slice(0, 3) %}
      {% include '@slider--slide' %}
    {% endfor %}
  </div>
</div>

