

<div id="slider1" class="slider slider__container slider__container-expanded">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

  
<div class="banner banner-- banner-- banner--reversed  ">


  
      
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="">
        <span class="heading__heading">Having an Impact</span>
    </h2>
                  
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="banner banner-- banner-- banner--reversed  ">


  
      
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="">
        <span class="heading__heading">2019 Graduates</span>
    </h2>
                  
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  			
				
								
<div class="banner banner-- banner-- banner--reversed  ">


  
      
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="">
  <a href="https://example3.com" >
        <span class="heading__heading">Turning the Tide</span>
        </a>
  </h2>
                  
        

                            <div aria-hidden="true" class="">
            Read More
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Turning the Tide
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>

<div id="slider2" class="slider slider__container slider__container-expanded">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

  
<div class="banner banner-- banner-- banner--reversed  ">


  
      
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="">
        <span class="heading__heading">Having an Impact</span>
    </h2>
                  
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="banner banner-- banner-- banner--reversed  ">


  
      
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="">
        <span class="heading__heading">2019 Graduates</span>
    </h2>
                  
        

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  			
				
								
<div class="banner banner-- banner-- banner--reversed  ">


  
      
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="">
  <a href="https://example3.com" >
        <span class="heading__heading">Turning the Tide</span>
        </a>
  </h2>
                  
        

                            <div aria-hidden="true" class="">
            Read More
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Turning the Tide
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>


