

<div id="slider1" class="slider slider__container slider__container-expanded">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

  
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature1.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
        <span class="heading__heading">Having an Impact</span>
    </h2>
                  
        Jordan Kohlmeyer is researching new therapies for tumors

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature2.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
        <span class="heading__heading">2019 Graduates</span>
    </h2>
                  
        Receiving a diploma signals both an ending and a beginning

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  			
				
								
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature3.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://example3.com" >
        <span class="heading__heading">Turning the Tide</span>
        </a>
  </h2>
                  
        Alumna Lauren Palmer aims to rehabilitate animals

                            <div aria-hidden="true" class="bttn bttn--primary bttn--caps">
            Read More
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Turning the Tide
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>

<div id="slider2" class="slider slider__container slider__container-expanded">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

  
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature1.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
        <span class="heading__heading">Having an Impact</span>
    </h2>
                  
        Jordan Kohlmeyer is researching new therapies for tumors

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature2.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
        <span class="heading__heading">2019 Graduates</span>
    </h2>
                  
        Receiving a diploma signals both an ending and a beginning

              
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

  			
				
								
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature3.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://example3.com" >
        <span class="heading__heading">Turning the Tide</span>
        </a>
  </h2>
                  
        Alumna Lauren Palmer aims to rehabilitate animals

                            <div aria-hidden="true" class="bttn bttn--primary bttn--caps">
            Read More
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Turning the Tide
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>


