

<div class="slider">
      <div tabindex="0" class="slider__slide"  aria-expanded="true" >

        
        
                
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature1.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://example.com" >
        <span class="headline__headline">Having an Impact</span>
        </a>
  </h2>
                  
        <div class="banner__text"><p>Jordan Kohlmeyer is researching new therapies for tumors</p></div>

                            <div aria-hidden="true" class="bttn bttn--primary bttn--caps">
            Read More
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

<style>
@media (min-width: 768px) {
  .banner--medium,
  .banner--medium.banner--vertical-center:not([class*="bg-"])  {
    height: 33rem;
  }

  .banner--small,
  .banner--small.banner--vertical-center:not([class*="bg-"]) {
    height: 18rem;
  }

  .banner--large .bold-headline {
    font-size: calc(100% + 3.5vw);
  }
}
</style>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">Having an Impact
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
      <div tabindex="0" class="slider__slide" >

        
        
                
<div class="banner banner-- banner--medium banner--reversed vertical-bottom horizontal-left">


                <div class="banner__image">
          <img src="../../../assets/images/examples/feature2.jpg">
        </div>
          
      <div class="banner__container">
      <div class="banner__content">

                              <h2 class="bold-headline--serif bold-headline bold-headline--negative">
  <a href="https://example.com" >
        <span class="headline__headline">2019 Graduates</span>
        </a>
  </h2>
                  
        <div class="banner__text"><p>Receiving a diploma signals both an ending and a beginning</p></div>

                            <div aria-hidden="true" class="bttn bttn--primary bttn--caps">
            Read More
            <i class="fas fa-arrow-right"></i>
          </div>
                  
      </div>
    </div>

  </div>

<style>
@media (min-width: 768px) {
  .banner--medium,
  .banner--medium.banner--vertical-center:not([class*="bg-"])  {
    height: 33rem;
  }

  .banner--small,
  .banner--small.banner--vertical-center:not([class*="bg-"]) {
    height: 18rem;
  }

  .banner--large .bold-headline {
    font-size: calc(100% + 3.5vw);
  }
}
</style>

  <div class="slider__teaser">
    <p class="slider__teaser-heading">2019 Graduates
      <span aria-hidden="true" class="fas fa-plus"></span>
    </p>
  </div>

</div>
  </div>


