{% render '@header' %}

<main>
{% render '@hero-block' %}
{% render '@cta-block--gold' %}
{% render '@stat-block' %}

{% render '@card-block' %}
{% render '@hero-block--grid' %}

{% render '@portraits-block' %}
</main>
{% render '@footer' %}
