{% render '@header' %}
<main>
{% render '@hero-block' %}
{% render '@cta-block' %}
{% render '@stat-block--horizontal3' %}

{% render '@card-block' %}
{% render '@events-block' %}
{% render '@hero-block--grid' %}

{% render '@portraits-block' %}
</main>
{% render '@footer' %}
