<li class="{{ link.link_nav_classes }}"> <a href="#" class="">{{link.link_nav_text}}</a>
  {% if link.links %}
    <ul class="menu">
    {% for child in link.links %}
    <li class="{{ child.link_nav_classes }}"><a href="#" class="">{{child.link_nav_text}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
</li>
