

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link media="all" rel="stylesheet" href="../../assets/css/uids-base.css">

  
            <link media="all" rel="stylesheet" href="../typography/headings/headings.css">
          <link media="all" rel="stylesheet" href="../banner/banner.css">
          <link media="all" rel="stylesheet" href="../headline/headline.css">
          <link media="all" rel="stylesheet" href="../button/button.css">
          <link media="all" rel="stylesheet" href="../background/background.css">
          <link media="all" rel="stylesheet" href="../typography/lists/lists.css">
        
            <link media="all" rel="stylesheet" href="../menus/main-menu/main-menu.css">
            
  <title>Preview Layout</title>
</head>
<body class="header-sticky">
  <div class="menu-container ">
	<nav role="navigation" aria-labelledby="main-menu" class="nav ">

    <h2 id="main-menu" class="element-invisible">Additional Navigation</h2>
    <ul class="menu">
            <li class="">
    <a href="#" class="">Admissions</a>
    </li>
            <li class="">
    <a href="#" class="">Academics</a>
    </li>
            <li class="">
    <a href="#" class="">Research</a>
    </li>
            <li class="">
    <a href="#" class="">About</a>
    </li>
        </ul>
 </nav>
</div>

</body>

<script src="/assets/vendor/js/jquery.js"></script>


    </html>

