:root {
  --brand-primary: #FFCD00;
  --brand-secondary: #000000; }

table[border] {
  border-style: solid;
  border-color: #eee; }
  table[border] td,
  table[border] th {
    border-color: #eee; }

table {
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--brand-secondary);
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.15;
  max-width: 100%;
  overflow-x: auto;
  width: 100%; }
  [class*="bg--gray"] table tbody a,
  [class*="bg--white"] table tbody a,
  [class*="bg--black"] table tbody a,
  [class*="bg--gold"] table tbody a,
  .bg-pattern--brain-reversed table tbody a,
  .bg--gold--pattern--brain table tbody a,
  .bg-pattern--brain table tbody a,
  .bg--white--pattern--brain table tbody a,
  .bg--black--pattern--brain table tbody a,
  .bg-pattern--brain-black table tbody a {
    color: #00558C; }
  @media (min-width: 768px) {
    table {
      display: table; } }
  table p, table ul, table ol {
    font-size: 1rem; }
  table ul p, table ol p {
    margin-bottom: 0; }
  table td,
  table th {
    padding: 1.05rem;
    font-size: 1rem; }
  table th {
    color: var(--brand-secondary); }
    table th:not([align]) {
      text-align: left; }
  table thead th {
    background-color: var(--brand-primary);
    border: none;
    text-transform: uppercase; }
    table thead th a {
      color: var(--brand-secondary); }
      [class*="bg--"] table thead th a {
        color: var(--brand-secondary); }
  table tbody th {
    background-color: #fff;
    border: none;
    position: static;
    left: 0;
    padding-left: 1.05rem; }
  table tbody tr:not(.is-selected):nth-child(even),
  table tbody tr:not(.is-selected):nth-child(even) th {
    background-color: #f3f3f3; }
  table.table--hover-highlight tbody tr:not(.is-selected):hover,
  table.table--hover-highlight tbody tr:not(.is-selected):nth-child(even):hover {
    background-color: #fff3c3; }
    table.table--hover-highlight tbody tr:not(.is-selected):hover th,
    table.table--hover-highlight tbody tr:not(.is-selected):nth-child(even):hover th {
      background-color: #fff3c3; }
  table caption {
    width: 100%;
    padding: 1.05rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    font-weight: bold; }
    table caption a,
    table caption :where(p) a:not(.bttn) {
      color: var(--brand-primary); }
      [class*="bg--"] table caption a,
      [class*="bg--"] [class*="bg--"] table caption a, [class*="bg--"]
      table caption :where(p) a:not(.bttn),
      [class*="bg--"] [class*="bg--"]
      table caption :where(p) a:not(.bttn) {
        color: var(--brand-primary); }
  table tbody tr:last-child td,
  table tbody tr:last-child th {
    border-bottom-width: 0; }
  table thead td,
  table thead th {
    color: var(--brand-secondary); }
  table.table--width-default {
    width: unset; }
    table.table--width-default caption {
      width: unset; }

.table-responsive {
  overflow: auto; }
  .table-responsive caption {
    text-align: left; }
    @media (min-width: 768px) {
      .table-responsive caption {
        text-align: center; } }
  .table-responsive.table-sticky {
    height: 80vh; }
    .table-responsive.table-sticky thead {
      position: sticky;
      top: 0;
      border-top: 0; }
    .table-responsive.table-sticky .table--gray-borders thead th {
      position: relative; }
      .table-responsive.table-sticky .table--gray-borders thead th::before {
        content: '';
        position: absolute;
        left: -1px;
        top: 0;
        width: calc(100% + 2px);
        height: calc(100% + 1px);
        border-left: #7c7c7c 1px solid;
        border-bottom: #ddd 1px solid; }
      .table-responsive.table-sticky .table--gray-borders thead th:first-child:before {
        border-left: none; }
  .table-responsive table {
    display: table; }

table.table--gray-borders > tr > td,
table.table--gray-borders > tr > th,
table.table--gray-borders > tbody > tr > td,
table.table--gray-borders > tbody > tr > th,
table.table--gray-borders > tfoot > tr > td,
table.table--gray-borders > tfoot > tr > th {
  border: #ddd 1px solid; }

table.table--gray-borders > thead > tr > td,
table.table--gray-borders > thead > tr > th,
table.table--gray-borders > caption > td,
table.table--gray-borders > caption > th {
  border: #7c7c7c 1px solid; }

table.table--gray-borders > thead > tr > td,
table.table--gray-borders > thead > tr > th {
  border-bottom: #ddd 1px solid;
  border-top: #ddd 1px solid; }
  table.table--gray-borders > thead > tr > td:first-child,
  table.table--gray-borders > thead > tr > th:first-child {
    border-left: #ddd 1px solid; }
  table.table--gray-borders > thead > tr > td:last-child,
  table.table--gray-borders > thead > tr > th:last-child {
    border-right: #ddd 1px solid; }
