.hero {
  position: relative;
  overflow: hidden;
  flex-basis: 100%; }
  .hero img {
    width: 100%; }
  .hero__image {
    overflow: hidden;
    contain: paint; }
  .hero__image img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

@media (min-width: 768px) {
  .hero.hero--medium {
    height: 33rem; } }

@media (min-width: 768px) {
  .hero.hero--small {
    height: 18rem; } }

.hero:not(.hero--large) .bold-headline {
  font-size: 3rem; }

.hero:not(.hero--large) p {
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 1.7; }

.hero.bg-pattern--brain p, .hero.bg-pattern--brain-reversed p {
  color: #151515;
  font-weight: normal; }

.hero p {
  color: #000;
  line-height: 1.5;
  margin-top: 0; }
  @media (min-width: 768px) {
    .hero p {
      color: #fff;
      max-width: 50em; } }

.hero .bold-headline {
  margin-top: 0;
  padding: 0;
  margin-bottom: .7rem;
  font-size: calc(100% + 4vw); }
  .hero .bold-headline.bold-headline--negative {
    color: #000; }
    @media (min-width: 768px) {
      .hero .bold-headline.bold-headline--negative {
        text-shadow: 0 1px 1px #000;
        color: #fff; } }
  @media (min-width: 768px) {
    .hero .bold-headline {
      font-size: calc(100% + 2.5vw); } }
  @media (min-width: 855px) {
    .hero .bold-headline {
      margin-bottom: 0.325rem; } }
  @media (min-width: 992px) {
    .hero .bold-headline {
      font-size: calc(100% + 3.5vw); } }

.hero__container {
  max-width: 81.875em;
  margin: 0 auto; }

@media (min-width: 768px) {
  .hero:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    transition: all .5s ease-in-out;
    will-change: opacity; } }

@media (min-width: 768px) {
  .hero.hero--gradient-center-left::after {
    opacity: .75;
    background: linear-gradient(180deg, transparent, black); } }

@media (min-width: 768px) {
  .hero.hero--gradient-center::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 70%); } }

@media (min-width: 768px) {
  .hero.hero--solid-opacity::after {
    background: rgba(0, 0, 0, 0.5); } }

@media (min-width: 768px) {
  .hero.hero--solid-opacity-reversed::after {
    background: rgba(255, 255, 255, 0.1); } }

@media (min-width: 768px) {
  .hero.hero--gradient-left:after {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0.23) 65%, rgba(0, 0, 0, 0) 100%); } }

.hero--horizontal-center {
  text-align: center;
  max-width: 100%; }
  @media (min-width: 768px) {
    .hero--horizontal-center .hero__container {
      max-width: 100%; } }
  .hero--horizontal-center .hero__content {
    text-align: center; }
    @media (min-width: 768px) {
      .hero--horizontal-center .hero__content {
        justify-content: center; } }

.hero--vertical-center {
  width: 100%;
  height: 100%; }
  .hero--vertical-center .bttn {
    margin-right: auto;
    margin-left: auto; }
  .hero--vertical-center .hero__content {
    display: grid;
    width: 100%;
    background: #fff;
    padding: 1.25rem; }
    @media (min-width: 768px) {
      .hero--vertical-center .hero__content {
        z-index: 1;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        background: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        background: transparent;
        padding: 1.25rem; }
        .hero--vertical-center .hero__content > * {
          flex-basis: 100%; } }
    @media (min-width: 84.375em) {
      .hero--vertical-center .hero__content {
        padding: 1.25rem 0; } }
  @media (min-width: 768px) {
    .hero--vertical-center .hero__container {
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0; } }

@media (min-width: 768px) {
  .hero--vertical-bottom.hero--horizontal-center .hero__content {
    max-width: 100%; }
    .hero--vertical-bottom.hero--horizontal-center .hero__content > * {
      margin-right: auto;
      margin-left: auto; } }

.hero--vertical-center.hero--horizontal-left .bttn {
  margin-right: auto;
  margin-left: 0; }

.hero--vertical-bottom .hero__content {
  position: relative;
  z-index: 1;
  display: grid;
  width: 100%;
  background: white;
  padding: 1.25rem; }
  @media (min-width: 768px) {
    .hero--vertical-bottom .hero__content {
      bottom: 0;
      position: absolute;
      background: transparent;
      padding: 1.25rem;
      max-width: 81.875em; } }
  @media (min-width: 84.375em) {
    .hero--vertical-bottom .hero__content {
      padding: 1.25rem 0; } }

@media (min-width: 768px) {
  .hero--horizontal-left {
    justify-content: left; } }

@media (min-width: 768px) {
  .hero--horizontal-left .hero__content {
    max-width: 81.875em; } }

.hero--horizontal-left .bttn {
  margin-right: auto; }

.hero:focus-within .bold-headline a:focus {
  text-decoration: underline; }

.hero .bold-headline a:hover, .hero .bold-headline a:focus {
  text-decoration: underline; }

.hero__content p a {
  position: relative;
  z-index: 1;
  color: #fff; }
  .bg-pattern--brain .hero__content p a {
    color: #151515; }
