@import '../../../assets/scss/variables';
@import '../../../assets/scss/utilities';

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

#vertical-dots ul li span {
  position: relative;
}

#vertical-dots ul li span:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: $primary;
  border-width: 8px;
  margin-top: -8px;
}

#vertical-dots {
  z-index: 2;
  position: fixed;
  right: -20px;
  display: none;
  height: 100vh;
  top: 0;
  padding-right: 20px;
  align-items: center;
  pointer-events: none;

  @include breakpoint(md) {
    display: flex;
  }

  ul {
    pointer-events: all;
    list-style: none;
    margin: 0 10px 0 0;
    background-color: $secondary;
    position: relative;
    padding: 0px;
    border-radius: 21px;

    li {
      list-style: none;
      padding: 4px 0px;

      span {
        padding: 0.25rem 1.2rem 0.15rem;
        background-color: $primary;
        box-decoration-break: clone;
        line-height: 1.4;
        text-transform: uppercase;
        font-family: $font-family-caps;
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        right: calc(100% - 12px);
        position: absolute;
        white-space: nowrap;
        top: calc(50% - 16px);
        transform: translateX(calc(100% + 20px));
        transition: all 0.3s ease-in-out;
        transition-property: transform;
      }

      a {
        position: relative;
        color: #151515;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 12px solid $secondary;
        background-color: $primary;
        display: block;
        transition: all 0.3s ease-in-out;
        transition-property: background-color;
        text-decoration: none;

        &:before {
          content: '';
          position: absolute;
          border-radius: 20px;
          width: 10px;
          height: 10px;
          left: -1px;
          top: -1px;
          background-color: transparent;
          border: 1px solid $primary;
          transition: all 0.3s ease-in-out;
          transform: scale(0.2);
          transition-property: transform, background-color;
        }

        &:hover {
          span {
            transform: translateX(-21px);
          }
        }

        &:focus {
          span {
            text-decoration: underline;
            transform: translateX(-11px);
          }
        }

        &.current {
          &:before {
            transform: scale(2.2);
          }
        }
      }

      &:first-child {
        position: fixed;
        position: fixed;
        bottom: 14%;
        right: -14px;

        span {
          top: 0;
          z-index: 4;
          right: calc(100% - 40px);
        }

        li {
          padding: 0px;

        }

        a {
          background-color: transparent;
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          height: unset;
          width: unset;
          border: none;
          padding-right: 3px;

          &:before {
            content: unset;
          }

          i {
            height: 32px;
            width: 32px;
            background-color: $secondary;
            z-index: 3;
            text-align: center;
            display: flex;
            color: $primary;
            align-items: center;
            justify-content: center;
            border-radius: 21px;
            margin-right: 20px;
            padding-right: 1px;
          }
        }

        &:hover span {
          transform: translateX(-48px);
        }
      }
    }
  }
}

.v-dots-scroll-spacer,
.vertical-dots--section {
  position: relative;

  .v-dots-scroll-target,
  .vertical-dots--target {
    position: relative;
    top: 0px;

    @include breakpoint(md) {
      top: -49px;
    }
  }
}
